openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.2.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Account Management
paths:
  /v2/accounts/{accountId}/inquirePlan:
    get:
      tags:
      - Account Management
      summary: Inquire Account Plan
      description: This service will retrieve the plan detail as per the input given
        in request.
      operationId: InquireAccountPlan
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: x-client-correlation-id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-fiserv-unique-message-id
        in: header
        description: Any unique message text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Any client trace text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Any client source channel text client's may want to send in the
          request for mapping the response on their side. Any value passed in the
          request message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Any client user text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: accountId
        in: path
        description: Unique identification number for cardholder billing account.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0002000010000400044'
      - name: recordNumber
        in: query
        description: Record number that identifies each Credit Plan Segment entity
          assigned to the account. The values are 0–999. The value 0 indicates a “phantom”
          plan used to disclose interest rates when no cash or retail plan exists
          for an account.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '1'
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '200'
      responses:
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireAccountPlanResponseModel'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Account Plan
      x-group-name: Account Management
  /v2/accounts/{accountId}/details:
    get:
      tags:
      - Account Management
      summary: Inquire Account
      description: The service provides account details for a given account identification.
      operationId: InquireAccount
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: x-client-correlation-id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-fiserv-unique-message-id
        in: header
        description: Any unique message text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Any client trace text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Any client source channel text client's may want to send in the
          request for mapping the response on their side. Any value passed in the
          request message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Any client user text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '200'
      - name: accountId
        in: path
        description: Unique identification number for cardholder billing account.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0002000010000403266'
      responses:
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireAccountResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Account
      x-group-name: Account Management
components:
  schemas:
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        detail:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
        source:
          type: string
          example: ''
        status:
          type: integer
          example: '0'
        invalid-params:
          type: array
          items:
            type: string
    InquireAccountResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '200'
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0002000010000403266'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 1-998.
          example: '0'
        billingAcctInd:
          maxLength: 1
          type: string
          description: Code that indicates whether the account being added is a transaction
            (cardholder), billing, control, or diversion account. Default value is
            ‘0’ and values ‘1’ or ‘2’ or ‘3’ can be given only when HCS is active
            (COMMERCIALCARD MANAGEMENT on System Control -> 04-System Level Switch
            is 1).<br/>The values are:<br/>&nbsp; '0' - Account is a transaction account
            (Default) <br/>&nbsp; '1' - Account is a billing account <br/>&nbsp; '2'
            - Account is a control account <br/>&nbsp; '3' - Account is a diversion
            account
          example: '0'
        shortName:
          maxLength: 20
          type: string
          description: This is the short name of the account holder.
          example: Dhruv
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0002000002000007799'
        alternateCustomerIdDetails:
          type: object
          properties:
            customerIdFlag:
              maxLength: 1
              type: string
              description: Code that indicates how CMS generates statements and other
                correspondence when an alternate Customer Name and Address entity
                exists for the account. <br/>The values are:<br/> &nbsp; ' ' - No
                action; disregard alternate customer (Default) <br/> &nbsp; 'A' -
                Alternate customer active; send statement and other correspondence
                to alternate address until expiration date <br/> &nbsp; 'B' - Alternate
                customer active; send statement and other correspondence to both addresses
                until expiration date <br/> &nbsp; 'C' - Relationship customer active;
                send statement and other correspondence to alternate address
              example: A
            customerIdExpiryDate:
              maxLength: 10
              type: string
              description: Expiration date of the alternate customer address, The
                format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on
                System Control.
              example: 15/04/2022
            customerId:
              maxLength: 19
              type: string
              description: Number that identifies the alternate Customer Name/Address
                entity containing an alternate address for statements and other correspondence.
              example: '0000000001000000065'
            customerIdEffectiveDate:
              maxLength: 10
              type: string
              description: This field is the effective date of the alternate customer
                address. The default is zeros. The value entered must be a date greater
                than or equal to the next processing date of the business unit associated
                with the account. The format is MM/DD/YYYY or DD/MM/YYYY depending
                on the DATE FORMAT on System Control.
              example: 14/01/2021
        blockCodeDetails:
          type: object
          properties:
            blockCode1:
              maxLength: 1
              type: string
              description: This field identifies the block code assigned to this account.
                Block codes control specific processing options at the account level.
                Valid block codes are the letters A to Z and blank (or space).
              example: A
            blockCode2:
              maxLength: 1
              type: string
              description: This field identifies the block code assigned to this account.
                Block codes control specific processing options at the account level.
                Valid block codes are the letters A to Z and blank (or space).
              example: ' '
            blockCode1Date:
              maxLength: 10
              type: string
              description: Date on which block code 1 was entered. The value in this
                field is system-generated; you cannot change it. The format is MM/DD/YYYY
                or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 10/01/2021
            blockCode2Date:
              maxLength: 10
              type: string
              description: Date on which block code 2 was entered. The value in this
                field is system-generated; you cannot change it. The format is MM/DD/YYYY
                or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 00/00/0000
        dateFieldsDetails:
          type: object
          properties:
            accountOpenDate:
              maxLength: 10
              type: string
              description: Date on which the account was opened. You can enter a date
                that is earlier than today’s processing date (backdate). However,
                you cannot enter a date that is later than today’s processing date
                (future-date). The format is MM/DD/YYYY or DD/MM/YYYY depending on
                the DATE FORMAT on System Control.
              example: 10/06/2006
            accountClosedDate:
              maxLength: 10
              type: string
              description: Date the account was closed. The format is MM/DD/YYYY or
                DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            nextStatementDate:
              maxLength: 10
              type: string
              description: Date on which the next statement is due to be generated
                for the account. This date is system-generated; you cannot change
                it. The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT
                on System Control.
              example: 26/05/2022
            cardFeeDate:
              maxLength: 10
              type: string
              description: Date on which CMS assesses the membership fee (also called
                an annual fee). The format is MM/DD/YYYY or DD/MM/YYYY depending on
                the DATE FORMAT on System Control.
              example: 26/05/2021
            notificationReceivedDate:
              maxLength: 10
              type: string
              description: Date on which a bankruptcy notification was received or
                date on which a fraudulent loan was discovered. This date is also
                used if you are required to charge off an account within a specific
                time period for bankruptcies and fraudulent loans. The format is MM/DD/YYYY
                or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            lastDayToAuthorizeDate:
              maxLength: 10
              type: string
              description: Date that represents the last day authorizations are allowed
                on an old (“transfer from”) account that is undergoing a product transfer,
                smart card transfer, or product graduation transfer. The format is
                MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            paymentDueDate:
              maxLength: 10
              type: string
              description: Date when the next payment is due. The format is MM/DD/YYYY
                or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 06/06/2022
            lastPaymentDate:
              maxLength: 10
              type: string
              description: Date on which the last payment was made on the account.
                The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT
                on System Control.
              example: 00/00/0000
            lastDebitDate:
              maxLength: 10
              type: string
              description: Date on which the last debit was made on the account. The
                format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on
                System Control.
              example: 10/04/2022
            lastCreditDate:
              maxLength: 10
              type: string
              description: Date on which the last credit was made on the account.
                The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT
                on System Control.
              example: 00/00/0000
            firstPurchaseDate:
              maxLength: 10
              type: string
              description: Date on which the first purchase was made on the account.
                The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT
                on System Control.
              example: 20/02/2007
            greatestExpiryDate:
              maxLength: 10
              type: string
              description: Date on which the last card associated with the account
                expires. The date is system-generated; you cannot change it. The format
                is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
                Control.
              example: 31/12/2030
            nextCreditIntPaymentDate:
              maxLength: 10
              type: string
              description: Date next for credit interest payment. The format is MM/DD/YYYY
                or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            lastStatementDate:
              maxLength: 10
              type: string
              description: Date on which the account last cycled. This date is systemgenerated;
                you cannot change it. The format is MM/DD/YYYY or DD/MM/YYYY depending
                on the DATE FORMAT on System Control.
              example: 26/04/2022
            lastPurchaseDate:
              maxLength: 10
              type: string
              description: Effective date of the last purchase that posted to the
                account. The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE
                FORMAT on System Control.
              example: 10/05/2022
            graceDayExpireDate:
              maxLength: 10
              type: string
              description: Date on which the grace day period expires for the current
                cycle, also called the grace day expiration date. The format is MM/DD/YYYY
                or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            lastCashAdvancedDate:
              maxLength: 10
              type: string
              description: Date on which the last cash advance was made on the account.
                The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT
                on System Control.
              example: 00/00/0000
        amountDetails:
          type: object
          properties:
            creditLimit:
              maxLength: 24
              type: string
              description: Credit limit of the account.
              example: $10000.00
            openToBuy:
              maxLength: 24
              type: string
              description: Current open-to-buy amount of the account.
              example: $10000.00
            currentBalance:
              maxLength: 24
              type: string
              description: Current balance of the account.
              example: $0.00
            currentDueAmount:
              maxLength: 24
              type: string
              description: Total current due amount for the account.
              example: $120.00
            totalDueAmount:
              maxLength: 24
              type: string
              description: Total amount due for the account.
              example: $0.00
            immediateDueAmount:
              maxLength: 24
              type: string
              description: 'Amount now due. CMS calculates this amount as the greater
                of one of the following amounts: Overlimit amount: This amount equals
                the account balance minus the credit limit when the account balance
                is greater than the credit limit. Past due amount: This amount equals
                the total amount due minus the current amount due when the account
                balance is greater than zero.'
              example: $0.00
            memoCreditAmount:
              maxLength: 24
              type: string
              description: Amount of outstanding memo credits for the account.
              example: $0.00
            memoDebitAmount:
              maxLength: 24
              type: string
              description: Amount of outstanding memo debits for the account.
              example: $0.00
            cashCreditLimit:
              maxLength: 24
              type: string
              description: Amount of the cash credit limit for the account.
              example: $0.00
            cashBalance:
              maxLength: 24
              type: string
              description: Current outstanding amount of the cash portion of the current
                balance. A minus sign (–) after this amount indicates a credit balance.
              example: $0.00
            cashAvailable:
              maxLength: 24
              type: string
              description: Amount of the cash credit limit available for cash transaction
                authorizations.
              example: $0.00
            firstPurchaseAmount:
              maxLength: 24
              type: string
              description: Amount of the first purchase made on the account.
              example: $0.00
            lastPaymentAmount:
              maxLength: 24
              type: string
              description: Amount of the last payment made on the account.
              example: $0.00
            cycleToDatePaymentAmount:
              maxLength: 24
              type: string
              description: This field is the total monetary amount of the payments.
                During after-hours processing, this field does not include today’s
                processing activity.
              example: $2000.00
            loanCreditLimit:
              maxLength: 24
              type: string
              description: Amount of the loan credit limit for the account.
              example: $0.00
            loanBalance:
              maxLength: 24
              type: string
              description: Total balance of all loan credit plans on this account.
              example: $0.00
            loanAvailable:
              maxLength: 24
              type: string
              description: Amount of the loan credit limit available for loans on
                this account.
              example: $0.00
            projectedDdAmount:
              maxLength: 24
              type: string
              description: Projected payment amount of the direct debit calculated
                on cycle date. By entering an amount in this field, you can override
                the direct debit amount that CMS calculated for a particular cycle.
              example: $0.00
            actualDirectDebitPaymentAmount:
              maxLength: 24
              type: string
              description: Actual amount of the direct debit transaction generated
                for the account.
              example: $0.00
            highBalanceAmount:
              maxLength: 24
              type: string
              description: Highest balance of the account in whole monetary units
                life-to-date.
              example: $1450.00
            incomeAmount:
              maxLength: 24
              type: string
              description: Income of the account holder in thousands of monetary units.
              example: $5000.00
            pastDueAmount:
              maxLength: 24
              type: string
              description: This field indicates the amount delinquent for the account
                that has been delinquent for 1 to 29 days (also called “X” days).
              example: $0.00
            lastPurchaseAmount:
              maxLength: 24
              type: string
              description: Amount of the last purchase made on the account. This amount
                is the total of all transactions that were made on the same day.
              example: $100.00
            lastCashAdvancedAmount:
              maxLength: 24
              type: string
              description: Amount of the last cash advance made on the account.
              example: $0.00
        userAccountId:
          maxLength: 19
          type: string
          description: User-defined information for the account.
          example: ' '
        status:
          maxLength: 1
          type: string
          description: Code that identifies the status of the account. This field
            is not editable during add mode; it displays during maintenance mode and
            inquiry mode only.<br/>The values are:<br/>&nbsp; 'A' - Active <br/>&nbsp;
            'B' - Conversion fraud <br/>&nbsp; 'C' - Conversion transfer <br/>&nbsp;
            'D' - Dormant <br/>&nbsp; 'F' - Fraud transfer <br/>&nbsp; 'H' - Closed/conversion
            <br/>&nbsp; 'I' - Inactive <br/>&nbsp; 'J' - Transfer in, migrated from
            inactive <br/>&nbsp; 'K' - Transfer out, migrated from inactive <br/>&nbsp;
            'M' - Migrated <br/>&nbsp; 'N' - New <br/>&nbsp; 'P' - To be purged in
            next reload <br/>&nbsp; 'Q' - Transfer in today <br/>&nbsp; 'R' - Transfer
            out today <br/>&nbsp; 'T' - Transfer <br/>&nbsp; 'V' - Conversion <br/>&nbsp;
            'X' - Charge-off/conversion <br/>&nbsp; 'Z' - Charge-off <br/>&nbsp; '8'
            - Closed <br/>&nbsp; '9' - To be purged after reload
          example: A
        billingCycle:
          maximum: 99
          maxLength: 2
          type: integer
          description: Cycle code that indicates the day of the month that system
            performs cycle processing for the account. The values are 01–31.
          example: '26'
        isRestructureEnabled:
          maxLength: 1
          type: string
          description: Flag that forces an account to restructure. The account must
            be assigned to the VisionPLUS Collections, Tracking, and Analysis system
            (CTA) for collections related activity.<br/>The values are:<br/>&nbsp;
            'Y' - Yes, force the restructure <br/>&nbsp; 'N' - No, do not force the
            restructure (Default)
          example: Y
        numberOfUnblockedCards:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Number of unblocked outstanding cards (plastic) for this account.
            The value in this field is system-generated; you cannot change it.
          example: '2'
        relationshipId:
          maxLength: 19
          type: string
          description: Unique identification number of the Relationship entity to
            which account identification is assigned.
          example: ' '
        billingLevel:
          maxLength: 1
          type: string
          description: This is the Code which indicates whether billing occurs for
            the account at the relationship level or subordinate account level. <br/>The
            values are:<br/> &nbsp; '0' - Relationship level <br/> &nbsp; '1' - Subordinate
            account level (Default)
          example: '1'
        isVipEnabled:
          maxLength: 1
          type: string
          description: User-defined code that indicates this account holder is an
            important or influential customer.<br/>The values are:<br/>&nbsp; '0'
            - Regular customer <br/>&nbsp; '1' - VIP customer.
          example: '0'
        liabilityIndicator:
          maxLength: 1
          type: string
          description: Code that indicates the type of liability for the account.
            This value defaults from HCS and is used for collection purposes.<br/>The
            values are:<br/>&nbsp; '0' - Company liability (CL). The company is responsible
            for the balance generated by subordinate accounts <br/>&nbsp; '1' - Individual
            liability (IL). Individual account holders are responsible for the account
            balances <br/>&nbsp; '2' - Individual liability with company indemnity
            (ILCI). Individual cardholders are responsible for account balances. If
            the account is delinquent a specified number of months, the balance is
            moved to a company billing account
          example: '0'
        employeeCode:
          maxLength: 2
          type: string
          description: User-defined employee code.
          example: ' '
        returnMailCount:
          maximum: 99
          maxLength: 2
          type: integer
          description: This field indicates the number of times mail has been returned.
            The values are 00–99. If this field is greater than zero, CMS produces
            statements only online.
          example: '0'
        returnMailUser:
          maxLength: 3
          type: string
          description: This field is a user-defined code that identifies the type
            of mail previously returned, such as a statement.
          example: ' '
        returnMailDate:
          maxLength: 10
          type: string
          description: This field is the date of the previously returned mail. The
            format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
            Control.
          example: 00/00/0000
        permanentCollector:
          maxLength: 3
          type: string
          description: Code or initials used to identify the permanent collector assigned
            to the account.
          example: ' '
        correspondenceCustomerId:
          maxLength: 19
          type: string
          description: Number that identifies the Customer Name/Address entity that
            contains the correspondence customer address for statements and other
            correspondence.
          example: ' '
        letterRequest:
          maxLength: 3
          type: string
          description: User-defined code that identifies a letter to be generated
            during the next CMS daily run. CMS clears this field (resets the field
            to a blank) each CMS daily run.
          example: ' '
        isFraudulentReportEnabled:
          maxLength: 1
          type: string
          description: Code that determines whether fraud reporting is active for
            the account.<br/>The values are:<br/>&nbsp; 'N' - Do not report potentially
            fraudulent activity <br/>&nbsp; 'Y' - Report potentially fraudulent activity
          example: N
        chargeOffDetails:
          type: object
          properties:
            chargeOffStatus:
              maxLength: 1
              type: string
              description: Code that identifies the charge-off status of this account.
                Values 1–3 indicate charge-offs in progress. Values 5–6 indicate charge-offs
                completed.<br/>The values are:<br/>&nbsp; '0' - Not charged off (Default)
                <br/>&nbsp; '1' - Potential (within 60 days of automatic chargeoff)
                <br/>&nbsp; '2' - Pending (within 30 days of automatic chargeoff)
                <br/>&nbsp; '3' - Manual <br/>&nbsp; '4' - Blocked <br/>&nbsp; '5'
                - Automatically completed <br/>&nbsp; '6' - Manually completed <br/>&nbsp;
                '9' - Account abandoned
              example: '0'
            chargeOffReason:
              maxLength: 1
              type: string
              description: Code that identifies the charge-off reason for the account.<br/>The
                values are:<br/>&nbsp; ' ' - No reason applied (Default) <br/>&nbsp;
                'C' - Credit loss <br/>&nbsp; 'B' - Bankruptcy <br/>&nbsp; 'F' - Fraud
                loss <br/>&nbsp; 'T' - Counterfeit
              example: ' '
            resetChargeoffDaysSwitch:
              maxLength: 1
              type: string
              description: Code that indicates whether CMS automatically resets the
                charge-off block code and the charge-off days (NUMBER OF CHARGEOFF
                DAYS) when the System defined/User defined charge-off reason code
                is changed.<br/>The values are:<br/>&nbsp; '0' - Do not reset the
                charge-off block code or the number of charge-off days (Default) <br/>&nbsp;
                '1' - Reset the number of charge-off days <br/>&nbsp; '2' - Reset
                the charge-off block code and the number of charge-off days
              example: '0'
            additionalChargeOffReason:
              maxLength: 1
              type: string
              description: 'This field is user-defined and further describes the charge-off
                reason, ex: C1 in above two fields (CHARGE OFF REASON and ADDITIONAL
                CHARGE OFF REASON) could indicate credit loss due to death. C2 could
                indicate credit loss due to another reason.'
              example: ' '
            chargeOffDaysCount:
              maximum: 999
              maxLength: 3
              type: integer
              description: Number of days until charge-off.
              example: '0'
        disputedDetails:
          type: object
          properties:
            disputedItemsCount:
              maximum: 99999
              maxLength: 5
              type: integer
              description: This field identifies the total number of outstanding disputed
                items on the account.
              example: '0'
            totalCashDisputedItemsAmount:
              maxLength: 24
              type: string
              description: This field identifies the total amount of outstanding disputed
                items on the account.
              example: $0.00
            cashDisputedAmount:
              maxLength: 24
              type: string
              description: This field identifies the total amount of disputed cash
                items on the account.
              example: $0.00
            cashDisputedItemsCount:
              maximum: 99999
              maxLength: 5
              type: integer
              description: This field identifies the total number of cash plans with
                a disputed balance on the account.
              example: '0'
        deferMembershipFeeDate:
          maxLength: 10
          type: string
          description: Expiration date of the deferral period for the initial membership
            fee. The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT
            on System Control.
          example: 00/00/0000
        residenceId:
          maxLength: 3
          type: string
          description: This flag identifies the state, province or country in which
            the  account holder resides.
          example: SX1
        issuanceId:
          maxLength: 3
          type: string
          description: This is the flag which identifies the state, province or country
            in which the account was issued.
          example: SX1
        currencyCode:
          maxLength: 3
          type: string
          description: ISO currency code that identifies the currency of this account.
            This code defaults from the Organization entity (CURRENCY CODE on Business
            Units -> 01-Demographics); you cannot change it at the account level.
          example: '036'
        primaryAccountFlag:
          maxLength: 1
          type: string
          description: This is a flag that indicates whether the account is the primary
            account in a relationship. <br/>The values are:<br/> &nbsp; ' ' - Not
            the primary account <br/> &nbsp; 'P' - Primary account in a relationship
          example: P
        externalContractId:
          maxLength: 14
          type: string
          description: Unique identification number assigned to a customer from external
            system.
          example: '000012672379'
        addressId:
          maxLength: 15
          type: string
          description: 'Address identifier to determine the type of address. Ex: Home,
            Office, etc.'
          example: HOME
        sourceCode:
          maxLength: 20
          type: string
          description: Code to determine the source of account boarding.
          example: ' '
        pctOverrideDetails:
          type: object
          properties:
            pctExpiryDate:
              maxLength: 10
              type: string
              description: Date on which the special pricing controls expire for the
                account. The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE
                FORMAT on System Control.
              example: 31/12/2025
            pctStartDate:
              maxLength: 10
              type: string
              description: Date on which the special pricing controls start for the
                account. The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE
                FORMAT on System Control.
              example: 29/01/2022
            pctOverride:
              maxLength: 3
              type: string
              description: Code that identifies an existing Processing Control Table
                (PCT ID) used to establish special pricing controls for the account.
              example: HCS
        statementDeliveryMode:
          maxLength: 1
          type: string
          description: This field signifies the statement delivery mode. <br/>The
            values are:<br/> &nbsp; 'E' - e-Statement <br/> &nbsp; 'P' - Hardcopy
          example: E
    InquireAccountPlanResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '200'
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0002000010000400044'
        recordNumber:
          maximum: 999
          maxLength: 3
          type: integer
          description: Record number that identifies each Credit Plan Segment entity
            assigned to the account. The values are 0–999. The value 0 indicates a
            “phantom” plan used to disclose interest rates when no cash or retail
            plan exists for an account.
          example: '1'
        beginningBalance:
          maxLength: 24
          type: string
          description: Beginning balance of the Credit Plan Segment entity for the
            current billing cycle.
          example: $0.00
        disputedAmount:
          maxLength: 24
          type: string
          description: Total amount of transactions in dispute.
          example: $0.00
        billedNotPaidDetails:
          type: object
          properties:
            interestAmount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding interest balance
                for the Credit Plan Segment entity.
              example: $0.00
            serviceFeeAmount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding service charges
                for the Credit Plan Segment entity.
              example: $0.00
            lateFeeAmount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding late charges
                for the Credit Plan Segment entity.
              example: $0.00
            annualFeeAmount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding annual fees
                (also called membership fees)for the Credit Plan Segment entity.
              example: $0.00
            overlimitFeeAmount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding overlimit fees
                for the Credit Plan Segment entity.
              example: $0.00
            insuranceAmount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding overlimit fees
                for the Credit Plan Segment entity.
              example: $0.00
            recoveryFeeAmount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding amount of recovery
                fees for the Credit Plan Segment entity.
              example: $0.00
            collectionFeeAmount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding amount of recovery
                fees for the Credit Plan Segment entity.
              example: $0.00
            nsfFeeAmount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding fees for checks
                returned for nonsufficient fundsfor the Credit Plan Segment entity.
              example: $0.00
            userFee1Amount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding amount of user-defined
                fees 1 for the Credit Plan Segment entity.
              example: $0.00
            userFee2Amount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding amount of user-defined
                fees 2 for the Credit Plan Segment entity.
              example: $0.00
            userFee3Amount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding amount of user-defined
                fees 3 for the Credit Plan Segment entity.
              example: $0.00
            userFee4Amount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding amount of user-defined
                fees 4 for the Credit Plan Segment entity.
              example: $0.00
            userFee5Amount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding amount of user-defined
                fees 5 for the Credit Plan Segment entity.
              example: $0.00
            userFee6Amount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding amount of user-defined
                fees 6 for the Credit Plan Segment entity.
              example: $0.00
            principalAmount:
              maxLength: 24
              type: string
              description: Field that displays the current outstanding principal balance
                for the Credit Plan Segment entity.
              example: $0.00
        dateFieldsDetails:
          type: object
          properties:
            planDate:
              maxLength: 10
              type: string
              description: Date on which the Credit Plan Segment entity was opened,
                or generated, for the account. The format is MM/DD/YYYY or DD/MM/YYYY
                depending on the DATE FORMAT on System Control.
              example: 01/03/2021
            interestAssessmentStartDate:
              maxLength: 10
              type: string
              description: Date on which the interest deferment period ends and interest
                assessment begins. The format is MM/DD/YYYY or DD/MM/YYYY depending
                on the DATE FORMAT on System Control.
              example: 00/00/0000
            insuranceAssessmentStartDate:
              maxLength: 10
              type: string
              description: Date on which the insurance deferment period ends. Assessment
                of insurance premiums begins on the first cycle date that falls on
                or after this date. The format is MM/DD/YYYY or DD/MM/YYYY depending
                on the DATE FORMAT on System Control.
              example: 00/00/0000
            accruedThroughDate:
              maxLength: 10
              type: string
              description: Date through which intrest accrued for account.
              example: 31/12/2020
            billingBeginningDate:
              maxLength: 10
              type: string
              description: Date on which the billing deferment period ends and billing
                begins. CMS bills and lists purchases on the billing statement for
                the cycle that includes this date. The format is MM/DD/YYYY or DD/MM/YYYY
                depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            paymentBeginningDate:
              maxLength: 10
              type: string
              description: Date on which the payment deferment period ends and payments
                begin. CMS begins requesting payments on the first cycle date that
                falls on or after this date. The format is MM/DD/YYYY or DD/MM/YYYY
                depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            paidOutDate:
              maxLength: 10
              type: string
              description: Date on which the Credit Plan Segment entity was paid out
                to a zero balance. The format is MM/DD/YYYY or DD/MM/YYYY depending
                on the DATE FORMAT on System Control.
              example: 00/00/0000
            effectiveRateChangeDate:
              maxLength: 10
              type: string
              description: Date on which disclosure days will be met and the interest
                rate will be eligible for change. The rate change will occur after
                the first billing cycle following this date.The date in this field
                is system-generated. The format is MM/DD/YYYY or DD/MM/YYYY depending
                on the DATE FORMAT on System Control.
              example: 00/00/0000
            effectiveDate:
              maxLength: 10
              type: string
              description: Effective date of transaction. The format is MM/DD/YYYY
                or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 01/03/2021
            paymentTypeIndicatorMaintenanceDate:
              maxLength: 10
              type: string
              description: Date at which payment type indicator is updated. The format
                is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
                Control.
              example: 00/00/0000
            lastPaymentDate:
              maxLength: 10
              type: string
              description: Date on which the last payment was made on the account.
                The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT
                on System Control.
              example: 00/00/0000
            userFee1assessmentDate:
              maxLength: 10
              type: string
              description: Date on which CMS assesses user-defined fees 1 for a deferred
                credit plan. The format is MM/DD/YYYY or DD/MM/YYYY depending on the
                DATE FORMAT on System Control.
              example: 00/00/0000
            userFee2assessmentDate:
              maxLength: 10
              type: string
              description: Date on which CMS assesses user-defined fees 2 for a deferred
                credit plan. The format is MM/DD/YYYY or DD/MM/YYYY depending on the
                DATE FORMAT on System Control.
              example: 00/00/0000
            userFee3assessmentDate:
              maxLength: 10
              type: string
              description: Date on which CMS assesses user-defined fees 3 for a deferred
                credit plan. The format is MM/DD/YYYY or DD/MM/YYYY depending on the
                DATE FORMAT on System Control.
              example: 00/00/0000
        generalDetails:
          type: object
          properties:
            planDescription:
              maxLength: 40
              type: string
              description: The plan description is defined in the Credit Plan Master
                entity is available.
              example: ''
            referenceNumber:
              maxLength: 23
              type: string
              description: User-defined reference number assigned to each Credit Plan
                Segment entity used to match incoming transactions to the correct
                credit plan.
              example: ''
            multipleSales:
              maxLength: 1
              type: string
              description: Code that indicates whether CMS adds additional sales transactions
                to the Credit Plan Segment entity. <br/>The values are:<br/>&nbsp;
                'I' - Generate a new Credit Plan Segment entity for each sale that
                posts on any date <br/>&nbsp; 'N' - No, add-on sales are not allowed.
                Do not add additional sales to the Credit Plan Segment entity. If
                multiple sales post on the same effective date, generate one Credit
                Plan Segment entity that includes all sales that post on the same
                effective date <br/>&nbsp; 'Y' - Yes, add-on sales are allowed. Add
                subsequent sales to the same Credit Plan Segment entity
              example: Y
            consolidatedPayment:
              maxLength: 1
              type: string
              description: Field that indicates whether CMS consolidates payments
                for the Credit Plan Segment entity. Consolidate Payment Indicator
                is a code that indicates whether CMS calculates a single (consolidated)
                payment amount for similar Credit Plan Segment entitys on the account.
                <br/>The values are:<br/>&nbsp; 'N' - No, do not consolidate for minimum
                payment calculation <br/>&nbsp; 'B' - Yes, consolidate only regular
                revolving and special credit plans for minimum payment calculation
                <br/>&nbsp; 'R' - Yes, consolidate regular revolving credit plans
                for minimum payment calculation <br/>&nbsp; 'Y' - Yes, consolidate
                different credit plans for minimum payment calculation
              example: N
            consolidatedStatement:
              maxLength: 1
              type: string
              description: Field that indicates whether CMS consolidates statements
                for the Credit Plan Segment entity. This field (CONSOLIDATE STATEMENTS
                INDICATOR) is a code that indicates whether CMS consolidates statements
                for Credit Plan Segment entitys with the same plan number. <br/>The
                values are:<br/>&nbsp; ' ' or 'N' - No, do not consolidate statements
                <br/>&nbsp; 'Y' - Yes, consolidate statements
              example: Y
            limitIndicator:
              maxLength: 1
              type: string
              description: Code that indicates how to handle tier limits. <br/>The
                values are:<br/>&nbsp; '0' - Charge separate rate for balances within
                each limit <br/>&nbsp; '1' - Charge rate at highest limit in which
                balance falls (Default)
              example: '0'
            rateType:
              maxLength: 1
              type: string
              description: Code that indicates the type of interest rate. <br/>The
                values are:<br/>&nbsp; F - Fixed rate. The interest rate is the base
                rate  <br/>&nbsp; T - Tiered rate. The rate is determined based upon
                the balance limit <br/>&nbsp; V - Variable rate. The interest rate
                may have a variance applied <br/>&nbsp; U - Tiered variable rate.
                The interest rate is determined by tiers with a variance applied  <br/>&nbsp;
                Z - Interest free
              example: ''
        interestTableOverrideDetails:
          type: object
          properties:
            tableId:
              maximum: 999
              maxLength: 3
              type: integer
              description: Field  is the identification number of the Interest table
                used for the Interest Table Override (ITO). The value in this field
                defaults from the Credit Plan Master entity. If this field contains
                an Interest table, the ITO EXPIRATION DATE field is required.
              example: '0'
            expiryDate:
              maxLength: 10
              type: string
              description: Date on which the Interest Table Override expires. This
                is the last date for which the ITO OVERRIDE is in effect. The date
                displayed in this field is determined by the Credit Plan Master entity
                or you can enter a specific date.
              example: 00/00/0000
            status:
              maxLength: 1
              type: string
              description: Field indicates the status of the Interest Table Override
                (ITO). <br/>The values are:<br/>&nbsp; ' ' - ITO is not in effect.
                No Interest table has been entered as an override <br/>&nbsp; 'A'
                - Active. ITO is in effect. The second part of this field identifies
                the Interest table in use as an override <br/>&nbsp; 'B' - Active,
                to be canceled. ITO is active but will be canceled during the next
                CMS daily run due to delinquency <br/>&nbsp; 'E' - Expired. ITO has
                passed its expiration date. The second part of this field identifies
                the Interest table in use as an override. This Interest table remains
                in effect until ratification of the normal Interest table takes effect
                <br/>&nbsp; 'I' - Inactive. An Interest table number has been entered
                as an ITO but is not yet active. CMS activates the ITO during the
                next Posting run <br/>&nbsp; 'P' - Pending. ITO has been activated
                and is waiting for ratification to occur before it becomes effective
                <br/>&nbsp; 'X' - Canceled. ITO has been canceled due to delinquency.
                CMS automatically changes this value from B to X when an ITO is canceled
                for delinquency
              example: ''
        miscellenousDetails:
          type: object
          properties:
            rateTableOccurrenceIndicator:
              maximum: 99
              maxLength: 2
              type: integer
              description: This field identifies which one of the 12 interest tables
                on the Processing Control Table is assigned to this Credit Plan Segment
                entity. The values are 01–12. The value in this field is set in the
                Credit Plan Master entity.
              example: '2'
            lastInterestRateTableUsed:
              maximum: 999
              maxLength: 3
              type: integer
              description: Field is the identification number of the previous Interest
                table. A value of 000 in this field indicates that the plan segment
                is interest free.
              example: '0'
            balanceTransferMonthsRemaining:
              maximum: 999
              maxLength: 3
              type: integer
              description: Field contains the number of months a balance transfer
                uses the Interest Table Override before the plan reverts to a normal
                interest rate method. CMS decreases the value in this field by 1 each
                cycle.
              example: '0'
            disclosureDays:
              maximum: 999
              maxLength: 3
              type: integer
              description: Number of disclosure days required before a variable rate
                change can take effect. If this value is zero, disclosure is not in
                use. The value in this field is set in the Account Control table ,
                which is assigned to the account via the Processing Control Table.
              example: '0'
            userdefinedProductCode:
              maxLength: 5
              type: string
              description: User-defined product code of this Credit Plan Segment entity.
                The default value for this field is set in the Credit Plan Master
                entity. You can change this value at the credit plan segment level.
              example: '10002'
            userdefinedPromotionalProductId:
              maxLength: 3
              type: string
              description: User-defined identification number of the promotional product
                associated with this Credit Plan Segment entity. This field defaults
                from the Credit Plan Master entity.
              example: ''
            lastPurchaseBalanceAmount:
              maxLength: 24
              type: string
              description: Plan balance as of the previous purchase made for this
                plan. For non-prepaid card accounts, a minus sign (–) after this amount
                indicates a credit balance.For prepaid card accounts, a C after this
                amount indicates a credit balance and a D after this amount indicates
                a debit balance.
              example: $1.00
            lifeToDateReturnAmount:
              maxLength: 24
              type: string
              description: Amount of life-to-date returns on the plan.
              example: $0.00
            lifeToDateRequestedPaymentAmount:
              maxLength: 24
              type: string
              description: Total amount of payments requested for the plan segment
                life-to-date.
              example: $0.00
            lifeToDateAppliedPaymentAmount:
              maxLength: 24
              type: string
              description: Total amount of payments applied to the plan segment life-to-date.
              example: $0.00
            previousFixedPaymentAmount:
              maxLength: 24
              type: string
              description: Amount of the fixed payment defined for this Credit Plan
                Segment entity. This field is used by CMS if the PYMT TYP is A, D,
                E, F, G, H, P, or X.
              example: $0.00
            interestExpiryDisclosureIndicator:
              maxLength: 1
              type: string
              description: Code that specifies whether the pending expiration of an
                interest table override (ITO) or interest deferral period must be
                disclosed on the customer statement. The value in this field defaults
                from the Credit Plan Master entity. <br/>The values are:<br/>&nbsp;
                '0' - Disclosure is not required (Default) <br/>&nbsp; '1' - Disclosure
                is required as defined on the Account Base Segment entity
              example: '0'
            cycleToDatePostedPaymentAmount:
              maxLength: 24
              type: string
              description: Payments posted cycle-to-date.
              example: $0.00
            paymentType:
              maxLength: 1
              type: string
              description: Field that indicates the payment type in effect for the
                Credit Plan Segment entity. <br/>The values are:<br/>&nbsp; 'A' -
                Bill the fixed payment amount each month, regardless of the outstanding
                balance of the account <br/>&nbsp; 'B' - Bill the account balance
                (Default) <br/>&nbsp; 'C' - Calculate a new minimum payment each cycle
                based on the repayment table and the current balance <br/>&nbsp; 'D'
                - Calculate a new minimum payment for any cycle in which a user-generated
                debit is posted <br/>&nbsp; 'E' - Calculate a fixed payment amount
                <br/>&nbsp; 'F' - Bill a fixed payment computed from the repayment
                table during the first statement cycle <br/>&nbsp; 'G' - Bill a fixed
                principal amount as computed using payment type F plus interest and
                insurance <br/>&nbsp; 'H' - Bill based on the highest balance <br/>&nbsp;
                'I' - Bill the current month’s interest only <br/>&nbsp; 'L' - Calculate
                the payment using the loan schedule <br/>&nbsp; 'M' - Bill a fixed
                principal amount calculated by dividing principal balance by LOAN
                TERM FOR SYSTEM-GENERATED PLAN on Credit Plans–>01–Credit Plan Specification.
                Add to this any unbilled interest. Amount will be recalculated each
                cycle after a new debit has posted. This value is valid only if the
                POSTING INDICATOR on Credit Plans–>01–Credit Plan Specification is
                3 <br/>&nbsp; 'P' - Bill a fixed principal amount as computed using
                payment type F plus interest, fees, and insurance <br/>&nbsp; 'Q'
                - Bill based on the highest principal balance <br/>&nbsp; 'R' - Bill
                based on the highest revolving balance <br/>&nbsp; 'S' - Bill based
                on the highest cycle ending balance <br/>&nbsp; 'T' - Term payment.
                Calculate the payment due using the percentage in the first entry
                of the repayment table <br/>&nbsp; 'U' - User-defined calculation
                via a user exit <br/>&nbsp; 'W' - Bill based on the previous purchase
                balance
              example: T
            fixedPaymentAmount:
              maxLength: 24
              type: string
              description: Amount of the fixed payment defined for this Credit Plan
                Segment entity. This field is used by CMS if the PYMT TYP is A, D,
                E, F, G, H, P, or X.
              example: $0.00
            lastRequestedPaymentAmount:
              maxLength: 24
              type: string
              description: Last Payment amount requested.
              example: $0.00
            lastPaymentAmount:
              maxLength: 24
              type: string
              description: Amount of the last payment made on this Credit Plan Segment
                entity.
              example: $0.00
            planNumberForConsolidatedPayments:
              maximum: 99999
              maxLength: 5
              type: integer
              description: Plan number that identifies the Credit Plan Master entity
                used to control consolidated payment calculations for this Credit
                Plan Segment entity.
              example: '10002'
        lastInterestRate:
          maxLength: 10
          type: string
          description: Last intrest rate used to calculate interest for this Credit
            Plan Segment entity.
          example: 0.00000%
        planType:
          maxLength: 1
          type: string
          description: Code that identifies the type of credit plan defined by the
            Credit Plan Master entity. <br/>The values are:<br/>&nbsp; 'A' - Access
            checks (cash plan) <br/>&nbsp; 'B' - Balance transfers (retail plan) <br/>&nbsp;
            'C' - Cash plan <br/>&nbsp; 'K' - Access checks (retail plan) <br/>&nbsp;
            'L' - Closed-end installment loan (loan plan) <br/>&nbsp; 'R' - Retail
            plan (Default) <br/>&nbsp; 'T' - Balance transfers (cash plan) <br/>&nbsp;
            'Y' - Prepaid (retail plan)
          example: R
        planStatus:
          maximum: 99
          maxLength: 2
          type: integer
          description: Code that indicates the status of the Credit Plan Segment entity.
          example: '1'
        previousPlanStatus:
          maximum: 99
          maxLength: 2
          type: integer
          description: Previous status code of the plan. The values for this field
            are the same as the STATUS field.
          example: '0'
        planStatusChangeDate:
          maxLength: 10
          type: string
          description: Date on which the plan status code was last changed. The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        planTotalDueAmount:
          maxLength: 24
          type: string
          description: 'Total amount due on the Credit Plan Segment entity. '
          example: $0.00
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer