openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.3.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Security Management
paths:
  /v1/api/oauth/validateToken:
    post:
      tags:
      - Security Management
      summary: Validate Oauth Token
      description: This service is used to validate if the given oauth token is valid/
        invalid
      operationId: validateOauthToken
      parameters:
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateTokenRequest'
        required: true
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ValidateTokenResponse'
        '400':
          description: " \nThe request cannot be validated"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Check Token Validation
      x-group-name: Security
  /v1/api/oauth/token:
    post:
      tags:
      - Security Management
      summary: Get Access Token
      description: This service is used to get Access Token to authenticate other
        Api
      operationId: GetAccessToken
      parameters:
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequest'
        required: true
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: " \nThe request cannot be validated"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Get Access Token
      x-group-name: Security
components:
  schemas:
    ValidateTokenRequest:
      required:
      - client_id
      - client_secret
      - token
      type: object
      properties:
        token:
          type: string
          description: JWT Authorization Token specific to the environment
          example: bearerTkn
        client_id:
          type: string
          description: 'An identifier associated with an application that assists
            with client  '
          example: vision-api-user
        client_secret:
          type: string
          description: a secret known only to your Vision10 API application and the
            authorization server
          example: abcdefghizklmnopponommnshfghzxxs
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        detail:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
        source:
          type: string
          example: ''
        status:
          type: integer
          example: '0'
        invalid-params:
          type: array
          items:
            type: string
    ValidateTokenResponse:
      type: object
      properties:
        valid:
          type: boolean
          description: Tells whether token is valid or invalid
          example: 'false'
    OAuthTokenRequest:
      required:
      - client_id
      - client_secret
      - grant_type
      - scope
      type: object
      properties:
        grant_type:
          type: string
          description: It refers to the way an application gets an access token
          example: client_credentials
        scope:
          type: string
          description: Limit the amount of access that is granted to an access token
          example: all
        client_id:
          type: string
          description: 'An identifier associated with an application that assists
            with client  '
          example: vision-api-user
        client_secret:
          type: string
          description: a secret known only to your Vision10 API application and the
            authorization server
          example: abcdefghizklmnopponommnshfghzxxs
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: 'Unique Bearer token neeed to be passed for all Vision10 API '
          example: ''
        token_type:
          type: string
          description: Type of token to be authenticated
          example: Bearer
        expires_in:
          type: integer
          description: Time after which token will be expired
          example: '0'
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
