openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.2.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Security Management
paths:
  /v1/api/oauth/validateToken:
    post:
      tags:
      - Security Management
      summary: Validate Oauth Token
      description: This service is used to validate if the given oauth token is valid/
        invalid
      operationId: validateOauthToken
      parameters:
      - name: correlationId
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: Authorization
        in: header
        description: Authorization Token once authenticated to the First Vision application
        required: true
        schema:
          type: string
          example: Basic UE9DX05BQl9EZXY6YkhXTVR6Y0VPQ3I3cXU2WWN5M21jUnV1eXdaRzdmT3VobXNiZWNaNGFOYlVRYU5HYWNqeFY0SkM5c0s5WkR6RQ==
      - name: token
        in: query
        description: JWT Authorization Token specific to the environment
        required: true
        schema:
          type: string
          example: eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ValidateTokenResponse'
        '400':
          description: " \nThe request cannot be validated"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Check Token Validation
      x-group-name: Security
  /v1/api/oauth/token:
    post:
      tags:
      - Security Management
      summary: Get Access Token
      description: This service is used to get Access Token to authenticate other
        Api
      operationId: GetAccessToken
      parameters:
      - name: correlationId
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequest'
        required: true
      responses:
        '200':
          description: " \nSuccess"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Get Access Token
      x-group-name: Security
components:
  schemas:
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        detail:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
        source:
          type: string
          example: ''
        status:
          type: integer
          example: '0'
        invalid-params:
          type: array
          items:
            type: string
    ValidateTokenResponse:
      type: object
      properties:
        valid:
          type: boolean
          description: Tells whether token is valid or invalid
          example: 'false'
    OAuthTokenRequest:
      required:
      - client_id
      - client_secret
      - grant_type
      - scope
      type: object
      properties:
        grant_type:
          type: string
          description: It refers to the way an application gets an access token
          example: client_credentials
        scope:
          type: string
          description: Limit the amount of access that is granted to an access token
          example: all
        client_id:
          type: string
          description: 'An identifier associated with an application that assists
            with client  '
          example: vision-api-user
        client_secret:
          type: string
          description: a secret known only to your Vision10 API application and the
            authorization server
          example: abcdefghizklmnopponommnshfghzxxs
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: 'Unique Bearer token neeed to be passed for all Vision10 API '
          example: ''
        token_type:
          type: string
          description: Type of token to be authenticated
          example: Bearer
        expires_in:
          type: integer
          description: Time after which token will be expired
          example: '0'
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
