openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.7.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Customer Management
paths:
  /v1/customers/{customerId}/nameAddress:
    get:
      tags:
      - Customer Management
      summary: Inquire Customer
      description: This API used to fetch the customer demographic details such as
        Name / Address / Phone Number / Email ID/ Date of Birth of the given customer
        Id.
      operationId: InquireCustomer
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values are 1-998. Business Unit is mandatory when customer Id is built
          outside First Vision.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '200'
      - name: customerId
        in: path
        description: Unique identification number assigned to a customer.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000065439605'
      responses:
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCustomerV1ResponseModel'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Customer
      x-group-name: Customer Management
    put:
      tags:
      - Customer Management
      summary: Update Customer
      description: This API is used to update the customer demographic details such
        as Name / Address / Phone Number / Email ID/ Date of Birth of the given customer
        Id.
      operationId: UpdateCustomer
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values are 1-998. Business Unit is mandatory when customer Id is built
          outside First Vision.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '200'
      - name: customerId
        in: path
        description: Unique identification number assigned to a customer.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000065439605'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerV1ReqModel'
        required: true
      responses:
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerV1ResponseModel'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Customer
      x-group-name: Customer Management
  /v1/customers/searchCustomer:
    post:
      tags:
      - Customer Management
      summary: Search Customer
      description: This API is used to fetch customer's information based on primary
        and optional search values like last name, identification number, phone number
        etc.
      operationId: SearchCustomer
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: Idempotency-Key
        in: header
        description: Client specified identifier to recognize subsequent retries of
          the same request.
        required: false
        schema:
          maxLength: 50
          type: string
          example: 123456789-5e72-403c-b9c1-8deb25e06f8a
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCustomerV1ReqModel'
        required: true
      responses:
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCustomerV1ResponseModel'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Search Customer
      x-group-name: Customer Management
  /v1/customers/boardCustomer:
    post:
      tags:
      - Customer Management
      summary: Board Customer
      description: This API is used to create a new customer Id with customer's demographic
        details.
      operationId: BoardCustomer
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: Idempotency-Key
        in: header
        description: Client specified identifier to recognize subsequent retries of
          the same request.
        required: false
        schema:
          maxLength: 50
          type: string
          example: 123456789-5e72-403c-b9c1-8deb25e06f8a
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCustomerV1ReqModel'
        required: true
      responses:
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '201':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCustomerV1ResponseModel'
      security:
      - Authorization: [
          ]
      x-proxy-name: Board Customer
      x-group-name: Customer Management
  /v1/customers/{externalContractId}/listExternalCustomersCardsAndAccounts:
    get:
      tags:
      - Customer Management
      summary: List External Customers' Cards and Accounts
      description: This API is used to fetch the list of accounts, list of cards and
        it's details associated with an external contract Id.
      operationId: ListExternalCustomersCardsAndAccounts
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: externalContractId
        in: path
        description: Unique identification number assigned to a customer from external
          system.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000000000012672379'
      responses:
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExternalCustomersCardsAndAccountV1ResponseModel'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: List External Customers' Cards and Accounts
      x-group-name: Customer Management
  /v1/customers/{customerId}/listCustomersCardsAndAccounts:
    get:
      tags:
      - Customer Management
      summary: List Customers' Cards And Accounts
      description: This API is used to fetch the list of accounts, list of cards and
        its details associated with a customer Id along with demographic details.
      operationId: ListCustomersCardsAndAccounts
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: customerId
        in: path
        description: Unique identification number assigned to a customer.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000707'
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values are 1-998. Business Unit is mandatory when customer Id is built
          outside First Vision.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersCardsAndAccountV1ResponseModel'
      security:
      - Authorization: [
          ]
      x-proxy-name: List Customers' Cards And Accounts
      x-group-name: Customer Management
  /v1/customers/{customerId}/cardList:
    get:
      tags:
      - Customer Management
      summary: List Customer's Cards
      description: This API is used to fetch the list of cards and its details associated
        with a customer Id along with customer demographic information.
      operationId: ListCustomersCards
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: customerId
        in: path
        description: Unique identification number assigned to a customer.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000707'
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values are 1-998. Business Unit is mandatory when customer Id is built
          outside First Vision.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersCardV1ResponseModel'
      security:
      - Authorization: [
          ]
      x-proxy-name: List Customers' Cards
      x-group-name: Customer Management
  /v1/customers/{customerId}/accountList:
    get:
      tags:
      - Customer Management
      summary: List Customer's Accounts
      description: This API is used to fetch list of accounts and its details associated
        with a customer Id along with customer demographic information.
      operationId: ListCustomersAccounts
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: customerId
        in: path
        description: Unique identification number assigned to a customer.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000707'
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values are 1-998. Business Unit is mandatory when customer Id is built
          outside First Vision.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersAccountV1ResponseModel'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: List Customers' Accounts
      x-group-name: Customer Management
components:
  schemas:
    UpdateCustomerV1ReqModel:
      type: object
      properties:
        namesData:
          type: object
          properties:
            birthName:
              maxLength: 40
              type: string
              description: This field indicates the Last name of the owner.
              example: ''
            givenName:
              maxLength: 40
              type: string
              description: This field indicates the First name of the owner.
              example: ABC
            middleName:
              maxLength: 40
              type: string
              description: This field indicates the Middle name of the owner.
              example: ''
            nameLine1:
              maxLength: 40
              type: string
              description: This field indicates the owner personal name, business
                name, or  a generic name.
              example: M S SWAMY
            nameLine2:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: KK
            nameLine3:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: ' '
        languageIndicator:
          maxLength: 3
          type: string
          description: This is User-defined code that indicates the language spoken
            by the owner.
          example: AUS
        homePhoneNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s home telephone number.
          example: '9241800756'
        homePhoneFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
          enum:
          - 0
          - 1
          - 2
        faxNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s fax number.
          example: '82364782'
        faxPhoneFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
          enum:
          - 0
          - 1
          - 2
        mobileNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s mobile number.
          example: '112233'
        smsFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not send
            <br/> &nbsp; '1' - May be send
          example: '0'
          enum:
          - 0
          - 1
        mobilePhoneFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates that whether you have the owner’s permission
            to use this number.  <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
          enum:
          - 0
          - 1
          - 2
        emailAddress:
          maxLength: 60
          type: string
          description: This field indicates e-mail address of the owner.
          example: SAM@FISERV.COM
        birthDate:
          maxLength: 10
          type: string
          description: Date Of Birth of the owner, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 06/04/1986
        isReturnMailEnabled:
          maxLength: 1
          type: string
          description: User-defined fields to indicates return mail delivery is enabled
            or not. <br/>The values are:<br/> &nbsp; 'Y' - Return mail <br/> &nbsp;
            'N' - No return mail
          example: Y
          enum:
          - Y
          - N
        employerData:
          type: object
          properties:
            nameOfEmployer:
              maxLength: 40
              type: string
              description: This field indicates name of the employer of the owner.
              example: Y
            addressLine1:
              maxLength: 40
              type: string
              description: This field indicates the part of the mailing address of
                the employer of the owner.
              example: Y
            addressLine2:
              maxLength: 40
              type: string
              description: This field indicates the part of the mailing address of
                the employer of the owner.
              example: Y
            phoneNumber:
              maxLength: 20
              type: string
              description: The second part of this field is the work telephone number.
              example: Y
            phoneFlag:
              maximum: 9
              maxLength: 1
              type: integer
              description: This field indicates a flag that indicates whether you
                have the owner’s permission to call this number.<br/>The values are:<br/>
                &nbsp; '0' - No, owner may not be contacted using this number (Default)
                <br/> &nbsp; '1' - Yes, owner may be contacted using this number <br/>
                &nbsp; '2' - Preferred contact method
              example: '0'
              enum:
              - 0
              - 1
              - 2
            jobTitle:
              maxLength: 4
              type: string
              description: This is User-defined code to indicate the position or job
                title of the owner.
              example: Y
            phoneExtension:
              maxLength: 6
              type: string
              description: This field indicates the extension number of the Work phone.
              example: '801'
        addressData:
          type: object
          properties:
            addressLine3:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: CHITRAPURI
            addressLine4:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: DELHI
            addressLine1:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: FLAT NO:404
            addressLine2:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: RAINBOW APTS
            city:
              maxLength: 30
              type: string
              description: This field indicates the City portion of the mailing address
                of  the owner.
              example: DELHI
            stateProvince:
              maxLength: 3
              type: string
              description: This field indicates the City portion of the mailing address
                of  the owner.
              example: DL
            countryCode:
              maxLength: 3
              type: string
              description: The field is the country code. The value entered must be
                a valid country code previously defined in the Security Subsystem
                and Common Routines (SSC) system via the Country Code Definitions
                service.
              example: IND
            postalCode:
              maxLength: 10
              type: string
              description: This is the Postal code portion of the mailing address
                of the owner.
              example: '110004'
            houseNumber:
              maxLength: 20
              type: string
              description: This field indicates the House number of the owner.
              example: ''
            county:
              maxLength: 30
              type: string
              description: This field indicates the County portion of the mailing
                address of the owner.
              example: EMEA
        externalId:
          maxLength: 25
          type: string
          description: This field identifies the Social Security number or tax identification
            number.
          example: ANKCC2330F
        typeOfExternalId:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field indicates if the IDENTIFICATION NUMBER given is
            a Social Security number or other tax identification number. When Social
            Security number masking is activated on the Field Security record and
            the first part of this field is 0 (Social Security number). <br/>The values
            are:<br/> &nbsp; '0' - Social Security number (Default) <br/> &nbsp; '1'
            - Tax identification number <br/> &nbsp; '2' - Other identification number
          example: '1'
          enum:
          - 0
          - 1
          - 2
        vacationData:
          type: object
          properties:
            startDate:
              maxLength: 10
              type: string
              description: Date on which vacation starts for the customer.
              example: 01/01/2019
            endDate:
              maxLength: 10
              type: string
              description: Date on which vacation ends for the customer.
              example: 01/01/2023
            countryCode:
              maxLength: 3
              type: string
              description: Country where the customer is on vacation.
              example: AUS
            phoneNumber:
              maxLength: 20
              type: string
              description: Phone number on which the customer can be contacted during
                vacation.
              example: '8946274878'
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        detail:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
        source:
          type: string
          example: ''
        status:
          type: integer
          example: '0'
        invalid-params:
          type: array
          items:
            type: string
    UpdateCustomerV1ResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values are 1-998. Business Unit is mandatory when customer Id is
            built outside First Vision.
          example: '200'
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0000020000065439605'
        namesData:
          type: object
          properties:
            birthName:
              maxLength: 40
              type: string
              description: This field indicates the Last name of the owner.
              example: ''
            givenName:
              maxLength: 40
              type: string
              description: This field indicates the First name of the owner.
              example: ABC
            middleName:
              maxLength: 40
              type: string
              description: This field indicates the Middle name of the owner.
              example: ''
            nameLine1:
              maxLength: 40
              type: string
              description: This field indicates the owner personal name, business
                name, or  a generic name.
              example: M S SWAMY
            nameLine2:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: KK
            nameLine3:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: ' '
        languageIndicator:
          maxLength: 3
          type: string
          description: This is User-defined code that indicates the language spoken
            by the owner.
          example: AUS
        homePhoneNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s home telephone number.
          example: '9241800756'
        homePhoneFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
        faxNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s fax number.
          example: '82364782'
        faxPhoneFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
        mobileNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s mobile number.
          example: '112233'
        smsFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not send
            <br/> &nbsp; '1' - May be send
          example: '0'
        mobilePhoneFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates that whether you have the owner’s permission
            to use this number.  <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
        emailAddress:
          maxLength: 60
          type: string
          description: This field indicates e-mail address of the owner.
          example: SAM@FISERV.COM
        birthDate:
          maxLength: 10
          type: string
          description: Date Of Birth of the owner, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 06/04/1986
        isReturnMailEnabled:
          maxLength: 1
          type: string
          description: User-defined fields to indicates return mail delivery is enabled
            or not. <br/>The values are:<br/> &nbsp; 'Y' - Return mail <br/> &nbsp;
            'N' - No return mail
          example: Y
        employerData:
          type: object
          properties:
            nameOfEmployer:
              maxLength: 40
              type: string
              description: This field indicates name of the employer of the owner.
              example: Y
            addressLine1:
              maxLength: 40
              type: string
              description: This field indicates the part of the mailing address of
                the employer of the owner.
              example: Y
            addressLine2:
              maxLength: 40
              type: string
              description: This field indicates the part of the mailing address of
                the employer of the owner.
              example: Y
            phoneNumber:
              maxLength: 20
              type: string
              description: The second part of this field is the work telephone number.
              example: Y
            phoneFlag:
              maximum: 9
              maxLength: 1
              type: integer
              description: This field indicates a flag that indicates whether you
                have the owner’s permission to call this number.<br/>The values are:<br/>
                &nbsp; '0' - No, owner may not be contacted using this number (Default)
                <br/> &nbsp; '1' - Yes, owner may be contacted using this number <br/>
                &nbsp; '2' - Preferred contact method
              example: '0'
            jobTitle:
              maxLength: 4
              type: string
              description: This is User-defined code to indicate the position or job
                title of the owner.
              example: Y
            phoneExtension:
              maxLength: 6
              type: string
              description: This field indicates the extension number of the Work phone.
              example: '801'
        addressData:
          type: object
          properties:
            addressLine3:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: CHITRAPURI
            addressLine4:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: DELHI
            addressLine1:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: FLAT NO:404
            addressLine2:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: RAINBOW APTS
            city:
              maxLength: 30
              type: string
              description: This field indicates the City portion of the mailing address
                of  the owner.
              example: DELHI
            stateProvince:
              maxLength: 3
              type: string
              description: This field indicates the City portion of the mailing address
                of  the owner.
              example: DL
            countryCode:
              maxLength: 3
              type: string
              description: The field is the country code. The value entered must be
                a valid country code previously defined in the Security Subsystem
                and Common Routines (SSC) system via the Country Code Definitions
                service.
              example: IND
            postalCode:
              maxLength: 10
              type: string
              description: This is the Postal code portion of the mailing address
                of the owner.
              example: '110004'
            houseNumber:
              maxLength: 20
              type: string
              description: This field indicates the House number of the owner.
              example: ''
            county:
              maxLength: 30
              type: string
              description: This field indicates the County portion of the mailing
                address of the owner.
              example: EMEA
        externalId:
          maxLength: 25
          type: string
          description: This field identifies the Social Security number or tax identification
            number.
          example: ANKCC2330F
        typeOfExternalId:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field indicates if the IDENTIFICATION NUMBER given is
            a Social Security number or other tax identification number. When Social
            Security number masking is activated on the Field Security record and
            the first part of this field is 0 (Social Security number). <br/>The values
            are:<br/> &nbsp; '0' - Social Security number (Default) <br/> &nbsp; '1'
            - Tax identification number <br/> &nbsp; '2' - Other identification number
          example: '1'
        vacationData:
          type: object
          properties:
            startDate:
              maxLength: 10
              type: string
              description: Date on which vacation starts for the customer.
              example: 01/01/2019
            endDate:
              maxLength: 10
              type: string
              description: Date on which vacation ends for the customer.
              example: 01/01/2023
            countryCode:
              maxLength: 3
              type: string
              description: Country where the customer is on vacation.
              example: AUS
            phoneNumber:
              maxLength: 20
              type: string
              description: Phone number on which the customer can be contacted during
                vacation.
              example: '8946274878'
    SearchCustomerV1ReqModel:
      type: object
      properties:
        customerSearch:
          required:
          - optionalDataMatch
          - primaryData
          - primaryDataSwitch
          type: object
          properties:
            primaryDataSwitch:
              maxLength: 1
              type: string
              description: A primary search value must be supplied. <br/>The values
                are:<br/> &nbsp; '0' - Last/Business/Store/Generic Name <br/> &nbsp;
                '1' - Identification Number <br/> &nbsp; '2' - Phone Number <br/>
                &nbsp; '3' - Postal Code <br/> &nbsp; '4' - Mobile Device ID
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
              - '4'
            primaryData:
              maxLength: 40
              type: string
              description: Search field as per Primary data switch
              example: Test*
            optionalDataMatch:
              maxLength: 1
              type: string
              description: Code that indicates the degree of matching required for
                optional data fields. When an optional field contains a value greater
                than spaces, this field defines whether the resulting search data
                should match on all optional fields or on any optional field. <br/>The
                values are:<br/> &nbsp; '0' - Display any optional field match (Default)
                <br/> &nbsp; '1' - Display only those entitys that match all requested
                optional fields
              example: '1'
              enum:
              - '1'
              - '0'
        optionalData:
          type: object
          properties:
            givenName:
              maxLength: 40
              type: string
              description: First name of the customer
              example: ''
            middleName:
              maxLength: 40
              type: string
              description: Middle name of the customer.
              example: ''
            birthName:
              maxLength: 40
              type: string
              description: 'Last name of the Customer. '
              example: ''
            externalId:
              maxLength: 25
              type: string
              description: This field identifies the Social Security number or tax
                identification number.
              example: ''
            phoneNumber:
              maxLength: 20
              type: string
              description: Phone Number of Customer
              example: ''
            postalcode:
              maxLength: 10
              type: string
              description: Postal code portion of the mailing address of the owner
              example: ''
            mobileDeviceID:
              maxLength: 20
              type: string
              description: 'Identification of a mobile device associated with a mobile
                payment instrument (PI) embosser. CMS does not validate this field;
                it is stored only. '
              example: ''
            birthDate:
              maxLength: 10
              type: string
              description: Date Of Birth of the owner, The format is MM/DD/YYYY or
                DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            title:
              maxLength: 20
              type: string
              description: Professional or honorary title of the customer
              example: ''
            suffixName:
              maxLength: 20
              type: string
              description: Suffix for the customer. Examples include Jr., Sr., etc.
              example: ''
            countryCode:
              maxLength: 3
              type: string
              description: Country for the customer. If you use this field, enter
                the exact country code
              example: ''
            user14:
              maxLength: 20
              type: string
              description: User-defined field for the search. This field literal displays
                as User 14 unless changed on the Organization entity.
              example: ''
            user15:
              maxLength: 20
              type: string
              description: User-defined field for the search. This field literal displays
                as USER 15 unless changed on the Organization entity.
              example: ''
            businessUnit:
              maximum: 999
              maxLength: 3
              type: integer
              description: Unique identification number associated with the organization.
                Valid values from 1-998.
              example: '0'
    Customerlist_SearchCustomerV1ResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '200'
        cust/Store/Merchant:
          maxLength: 19
          type: string
          description: Number of the customer, store, or merchant entity that was
            found to contain the name information.
          example: '0002000000050623496'
        last/Business/Store/GenericName:
          maxLength: 40
          type: string
          description: Last/Busines/Store/Genric Name.
          example: Test 01
        postalCode:
          maxLength: 10
          type: string
          description: Postal code portion of the mailing address of the owner.
          example: '6430'
        user14:
          maxLength: 20
          type: string
          description: User-defined field for the search. This field literal displays
            as User 14 unless changed on the Organization entity.
          example: ''
        user15:
          maxLength: 20
          type: string
          description: User-defined field for the search. This field literal displays
            as USER 15 unless changed on the Organization entity.
          example: ''
        givenName:
          maxLength: 40
          type: string
          description: First name of the customer.
          example: CMS Fiserv
        middleName:
          maxLength: 40
          type: string
          description: Middle name of the customer.
          example: ' '
        identificationNumber:
          maxLength: 25
          type: string
          description: Code that indicates if this number is a Social Security number
            or other tax identification number.
          example: '0050623496'
        phoneNumber:
          maxLength: 20
          type: string
          description: Phone Number of Customer
          example: '0000000000000'
        birthDate:
          maxLength: 10
          type: string
          description: The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE
            FORMAT on System Control.
          example: 09/01/1985
        suffix:
          maxLength: 20
          type: string
          description: Suffix for the customer. Examples include Jr., Sr., etc.
          example: ' '
        country:
          maxLength: 3
          type: string
          description: The value entered must be a valid country code previously definedin
            the Security Subsystem and Common Routines (SSC) system.
          example: ' '
        title:
          maxLength: 20
          type: string
          description: Professional or honorary title of the customer.
          example: ' '
        sourceCode:
          maxLength: 2
          type: string
          description: Source Code.
          example: O1
        nameField:
          maxLength: 30
          type: string
          description: 'Name Field '
          example: Ms CMS Test 01
        nameAndOtherDetails:
          maxLength: 76
          type: string
          description: Name and Other Details
          example: Test/CMS//0050623496/             /9011985 ////6430///
    SearchCustomerV1ResponseModel:
      type: object
      properties:
        customerlist:
          type: array
          items:
            $ref: '#/components/schemas/Customerlist_SearchCustomerV1ResponseModel'
    BoardCustomerV1ReqModel:
      required:
      - businessUnit
      - customerId
      - productId
      type: object
      properties:
        customerId:
          maxLength: 19
          type: string
          description: This is the identification number to assign to the new Customer
            Name/Address entity. <br/>The values are:<br/> &nbsp; Alphanumeric - Predetermined
            customer number <br/> &nbsp; / (slash) - CMS uses the account number assigned
            to the Account Base Segment entity
          example: '0000000993456711108'
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 1-998.
          example: '2'
        dualFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: 'This field indicates whether CMS adds a duplicate customer
            entity in the associated business unit for dual currency processing. <br/>The
            values are: <br/> &nbsp; ''0'' - Do not duplicate the customer entity
            in the associated business unit (Default) <br/> &nbsp; ''1'' - Duplicate
            the customer entity in the associated business unit'
          example: '0'
          enum:
          - 0
          - 1
        title:
          maxLength: 20
          type: string
          description: Professional or honorary title associated with the owner name
            entered in the NAME LINE 1 field.
          example: Mr
        nameTypeIndicator1:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field identifies the type of the customer. <br/>The values
            are:<br/> &nbsp; '0' - Customer entity Associated With Personal Account
            (Default) <br/> &nbsp; '1' - Customer entity Is Associated With Business<br/>
            &nbsp; '3' - Customer entity Is A Generic Customer
          example: '0'
          enum:
          - 0
          - 1
          - 3
        nameTypeIndicator2:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field identifies the type of the customer. <br/>The values
            are:<br/> &nbsp; '0' - Customer entity Associated With Personal Account
            (Default) <br/> &nbsp; '1' - Customer entity Is Associated With Business<br/>
            &nbsp; '3' - Customer entity Is A Generic Customer
          example: '0'
          enum:
          - 0
          - 1
          - 3
        nameTypeIndicator3:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field identifies the type of the customer. <br/>The values
            are:<br/> &nbsp; '0' - Customer entity Associated With Personal Account
            (Default) <br/> &nbsp; '1' - Customer entity Is Associated With Business<br/>
            &nbsp; '3' - Customer entity Is A Generic Customer
          example: '0'
          enum:
          - 0
          - 1
          - 3
        residentialFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This code indicates whether the owner owns or rents their primary
            residence. <br/>The values are:<br/> &nbsp; '0' - Unknown or unused (Default)
            <br/> &nbsp; '1' - Owns or is buying a home <br/> &nbsp; '2' - Rents or
            leases a home <br/> &nbsp; '3' - Neither owns nor rents primary residence
          example: '1'
          enum:
          - 0
          - 1
          - 2
          - 3
        homePhone:
          maxLength: 20
          type: string
          description: This field is the owner’s home telephone number.
          example: '11230342'
        employeePhone:
          maxLength: 20
          type: string
          description: This field is the work telephone number.
          example: '67894'
        birthDate:
          maxLength: 10
          type: string
          description: Date Of Birth of the owner, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 01/02/2010
        externalId:
          maxLength: 25
          type: string
          description: This field identifies the Social Security number or tax identification
            number.
          example: 2363-12-2839-1
        gender:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates the onwer's gender. <br/>The values are:<br/>
            &nbsp; '0' - Unspecified (Default) <br/> &nbsp; '1' - Male <br/> &nbsp;
            '2' - Female
          example: '1'
          enum:
          - 0
          - 1
          - 2
        emailAddress:
          maxLength: 60
          type: string
          description: This field indicates e-mail address of the owner.
          example: abc@goole.com
        alternateEmailAddress:
          maxLength: 50
          type: string
          description: This field indicates alternate e-mail address of the owner.
          example: abc1@google.com
        mobileNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s mobile number.
          example: '11231232'
        emailAddressFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field indicates whether you have the owner’s permission
            to use this e-mail address. <br/>The values are:<br/> &nbsp; '0' - No,
            owner may not be contacted using this e-mail address (Default) <br/> &nbsp;
            '1' - Yes, owner may be contacted using this e-mail address <br/> &nbsp;
            '2' - Preferred contact method
          example: '1'
          enum:
          - 0
          - 1
          - 2
        addressData:
          type: object
          properties:
            addressLine1:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: House No. 12
            addressLine2:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: S.H. Qo
            addressLine3:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: California
            addressLine4:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: USA
            city:
              maxLength: 30
              type: string
              description: City portion of the mailing address of the owner.
              example: La Vegas
            state:
              maxLength: 3
              type: string
              description: Name of state portion of the mailinga ddress of the owner.
              example: CL
            postalCode:
              maxLength: 10
              type: string
              description: Postal code portion of the mailing address of the owner.
              example: '112345'
            countryCode:
              maxLength: 3
              type: string
              description: The value entered must be a valid country code previously
                defined in the Security Subsystem and Common Routines (SSC) system.
              example: USA
        namesData:
          required:
          - givenName
          type: object
          properties:
            nameLine1:
              maxLength: 40
              type: string
              description: This field indicates the owner personal name, business
                name, or a generic name.
              example: John
            nameLine2:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: 'Jacob '
            nameLine3:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: Samuel
            birthName:
              maxLength: 40
              type: string
              description: This field indicates the last name of the owner.
              example: Christopher
            middleName:
              maxLength: 40
              type: string
              description: This field indicates the middle name of the owner.
              example: ' '
            givenName:
              maxLength: 40
              type: string
              description: This field indicates the first name of the owner.
              example: Samuel
    BoardCustomerV1ResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0000000001000000007'
    AccountList_ListExternalCustomersCardsAndAccountV1ResponseModel:
      type: object
      properties:
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0006000012000000256'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values from 1-998.
          example: '1'
        status:
          maxLength: 1
          type: string
          description: Code that identifies the status of the account. This field
            is not editable during add mode; it displays during maintenance mode and
            inquiry mode only.<br/>The values are:<br/>&nbsp; 'A' - Active <br/>&nbsp;
            'B' - Conversion fraud <br/>&nbsp; 'C' - Conversion transfer <br/>&nbsp;
            'D' - Dormant <br/>&nbsp; 'F' - Fraud transfer <br/>&nbsp; 'H' - Closed/conversion
            <br/>&nbsp; 'I' - Inactive <br/>&nbsp; 'J' - Transfer in, migrated from
            inactive <br/>&nbsp; 'K' - Transfer out, migrated from inactive <br/>&nbsp;
            'M' - Migrated <br/>&nbsp; 'N' - New <br/>&nbsp; 'P' - To be purged in
            next reload <br/>&nbsp; 'Q' - Transfer in today <br/>&nbsp; 'R' - Transfer
            out today <br/>&nbsp; 'T' - Transfer <br/>&nbsp; 'V' - Conversion <br/>&nbsp;
            'X' - Charge-off/conversion <br/>&nbsp; 'Z' - Charge-off <br/>&nbsp; '8'
            - Closed <br/>&nbsp; '9' - To be purged after reload
          example: A
        transferFromOrTransferToAccountId:
          maxLength: 19
          type: string
          description: Associated transfer from or transfer to account.
          example: '0006000012000000123'
        addressId:
          maxLength: 15
          type: string
          description: 'Address identifier to determine the type of address. Ex: Home,
            Office, etc.'
          example: RESIDENTIAL
        blockCode1:
          maxLength: 1
          type: string
          description: This field identifies the block code assigned to this account.
            Block codes control specific processing options at the account level.
            Valid block codes are the letters A to Z and blank (or space).
          example: A
        blockCode2:
          maxLength: 1
          type: string
          description: This field identifies the block code assigned to this account.
            Block codes control specific processing options at the account level.
            Valid block codes are the letters A to Z and blank (or space).
          example: ' '
        shortName:
          maxLength: 20
          type: string
          description: This is the short name of the account holder.
          example: Dhruv
        residenceId:
          maxLength: 3
          type: string
          description: This flag identifies the state, province or country in which
            the  account holder resides.
          example: SX1
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0000020000065439605'
    CardList_ListExternalCustomersCardsAndAccountV1ResponseModel:
      type: object
      properties:
        paymentInstrumentId:
          maxLength: 19
          type: string
          description: Unique alternate identification number associated with Payment
            Card Number.
          example: '0009544410000000047'
        blockCode:
          maxLength: 1
          type: string
          description: Block Code assigned to the cardholder.
          example: ' '
        embossedName:
          maxLength: 26
          type: string
          description: Name to be embossed on the first embossing line of the card.
            Enter the name exactly as it is to appear on the card.
          example: DAVID TEST 2
        addressId:
          maxLength: 15
          type: string
          description: 'Address identifier to determine the type of address. Ex: Home,
            Office, etc.'
          example: RESIDENTIAL
        plasticId:
          maxLength: 10
          type: string
          description: 'User-defined code that identifies the plastic stock used to
            create a card for this Embosser record. For HCS-associated accounts, this
            value defaults from the Company Product record '
          example: ' '
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0006000012000000256'
        expiryDate:
          maxLength: 10
          type: string
          description: Date on which the most recently issued card expires, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 16/08/2024
        transferFromPaymentInstrumentId:
          maxLength: 19
          type: string
          description: Transfer from payment instrument Id associated with Payment
            card number.
          example: '0009543161000134358'
        transferToPaymentInstrumentId:
          maxLength: 19
          type: string
          description: 'Transfer to payment instrument Id associated with Payment
            card number. '
          example: '0009543160010000062'
        maskedPaymentCardNumber:
          maxLength: 19
          type: string
          description: Unique identification number that appears on the front of the
            card (PAN) with masked format.
          example: 000431683XXXXXX0959
    ListExternalCustomersCardsAndAccountV1ResponseModel:
      type: object
      properties:
        externalContractId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer from external
            system.
          example: '0000000000012672379'
        totalAccountsCount:
          maximum: 99
          maxLength: 2
          type: integer
          description: Total number of accounts for a given external customer ID.
          example: '2'
        totalCardsCount:
          maximum: 99
          maxLength: 2
          type: integer
          description: Total number of cards for a given external customer ID.
          example: '2'
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        accountList:
          type: array
          items:
            $ref: '#/components/schemas/AccountList_ListExternalCustomersCardsAndAccountV1ResponseModel'
        cardList:
          type: array
          items:
            $ref: '#/components/schemas/CardList_ListExternalCustomersCardsAndAccountV1ResponseModel'
    InquireCustomerV1ResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values are 1-998. Business Unit is mandatory when customer Id is
            built outside First Vision.
          example: '200'
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0000020000065439605'
        namesDetails:
          type: object
          properties:
            birthName:
              maxLength: 40
              type: string
              description: This field indicates the Last name of the owner.
              example: ''
            givenName:
              maxLength: 40
              type: string
              description: This field indicates the First name of the owner.
              example: ABC
            middleName:
              maxLength: 40
              type: string
              description: This field indicates the Middle name of the owner.
              example: ''
            nameLine1:
              maxLength: 40
              type: string
              description: This field indicates the owner personal name, business
                name, or  a generic name.
              example: M S SWAMY
            nameLine2:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: KK
            nameLine3:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: ' '
        languageIndicator:
          maxLength: 3
          type: string
          description: This is User-defined code that indicates the language spoken
            by the owner.
          example: AUS
        homePhoneNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s home telephone number.
          example: '9241800756'
        faxNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s fax number.
          example: '82364782'
        faxPhoneFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
        mobileNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s mobile number.
          example: '112233'
        smsFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not send
            <br/> &nbsp; '1' - May be send
          example: '0'
        mobilePhoneFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
        emailAddress:
          maxLength: 60
          type: string
          description: This field indicates e-mail address of the owner.
          example: SAM@FISERV.COM
        birthDate:
          maxLength: 10
          type: string
          description: Date Of Birth of the owner, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 06/04/1986
        isReturnMailEnabled:
          maxLength: 1
          type: string
          description: User-defined fields to indicates return mail delivery is enabled
            or not. <br/>The values are:<br/> &nbsp; 'Y' - Return mail <br/> &nbsp;
            'N' - No return mail
          example: Y
        employerDetails:
          type: object
          properties:
            nameOfEmployer:
              maxLength: 40
              type: string
              description: This field indicates name of the employer of the owner.
              example: Y
            addressLine1:
              maxLength: 40
              type: string
              description: This field indicates the part of the mailing address of
                the employer of the owner.
              example: Y
            addressLine2:
              maxLength: 40
              type: string
              description: This field indicates the part of the mailing address of
                the employer of the owner.
              example: Y
            phoneNumber:
              maxLength: 20
              type: string
              description: The second part of this field is the work telephone number.
              example: Y
            phoneFlag:
              maximum: 9
              maxLength: 1
              type: integer
              description: This field indicates a flag that indicates whether you
                have the owner’s permission to call this number.<br/>The values are:<br/>
                &nbsp; '0' - No, owner may not be contacted using this number (Default)
                <br/> &nbsp; '1' - Yes, owner may be contacted using this number <br/>
                &nbsp; '2' - Preferred contact method
              example: '0'
            jobTitle:
              maxLength: 4
              type: string
              description: This is User-defined code to indicate the position or job
                title of the owner.
              example: Y
            phoneExtension:
              maxLength: 6
              type: string
              description: This field indicates the extension number of the Work phone.
              example: '801'
        addressDetails:
          type: object
          properties:
            addressLine3:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: CHITRAPURI
            addressLine4:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: DELHI
[...]
