openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.3.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Card Management
paths:
  /v1/cards/{paymentInstrumentId}/tokenStatus:
    put:
      tags:
      - Card Management
      summary: Update Token Status
      description: This API is used to update the token status (Deactivate/Resume/Suspend)
        for a given payment instrument Id.
      operationId: UpdateVisaTokenStatus
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273613'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVisaTokenstatusV1ReqModel'
        required: true
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateVisaTokenstatusV1ResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Visa Token Status
      x-group-name: Card Management
  /v1/cards/{paymentInstrumentId}/spendLimits:
    get:
      tags:
      - Card Management
      summary: Inquire Spend Limits
      description: This API is used to fetch the spending limits to control the card
        usage. These limits are set to individual card level like maximum ATM, OTC,
        Retail etc authorization amount and count.
      operationId: InquireSpendLimit
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010434272'
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireSpendLimitV1ResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Spend Limits
      x-group-name: Card Management
    put:
      tags:
      - Card Management
      summary: Update Spend Limits
      description: This API is used to update the spending limits to control the card
        usage. These limits are updated at individual card level.
      operationId: UpdateSpendLimit
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010434272'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpendLimitV1ReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSpendLimitV1ResponseModel'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Spend Limits
      x-group-name: Card Management
  /v1/cards/{paymentInstrumentId}/profile:
    put:
      tags:
      - Card Management
      summary: Update Card Type
      description: This API is used to update type of card for a given payment instrument
        Id.
      operationId: UpdateCardType
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273613'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardTypeV1ReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardTypeV1ResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Card Type
      x-group-name: Card Management
  /v1/cards/{paymentInstrumentId}/preference:
    get:
      tags:
      - Card Management
      summary: Inquire Card Preference
      description: This API is used to fetch various details like cardholder type,
        issue/reissue delivery options, address, Dynamic CVV2 method and address Id
        etc for a given payment instrument Id.
      operationId: InquireCardPreference
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273613'
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCardPreferenceV1ResponseModel'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Card Preference
      x-group-name: Card Management
    put:
      tags:
      - Card Management
      summary: Update Card Preference
      description: This API is used to update cardholder type, issue/reissue delivery
        options, card address detail and Dynamic CVV2 method, address Id etc. for
        a given payment instrument Id.
      operationId: UpdateCardPreference
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273613'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardPreferenceV1ReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardPreferenceV1ResponseModel'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Card Preference
      x-group-name: Card Management
  /v1/cards/{paymentInstrumentId}/pinBlockChange:
    put:
      tags:
      - Card Management
      summary: Change PIN
      description: This API is used to update the PIN Block with the prerequisite
        that the existing PIN block must be supplied and validated before the new
        PIN block is replaced. This API could be triggered from the ATM or other digital
        channels such as online (WEB) or mobile banking.
      operationId: ChangePIN
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          card number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009544410000000047'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePINV1ReqModel'
        required: true
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangePINV1ResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Change PIN
      x-group-name: Card Management
  /v1/cards/{paymentInstrumentId}/issueReissueDeliveryOption:
    put:
      tags:
      - Card Management
      summary: Issue Reissue Delivery Option
      description: This API is used to update the issue and re-issue delivery options
        for a given Payment instrument Id.
      operationId: UpdateIssueReissueDeliveryOption
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009544410000000047'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIssueReissueDeliveryOptionV1ReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateIssueReissueDeliveryOptionV1ResponseModel'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Issue Reissue Delivery Option
      x-group-name: Card Management
  /v1/cards/{paymentInstrumentId}/controls:
    put:
      tags:
      - Card Management
      summary: Update Card Controls
      description: This API is used to update the card control restriction flags for
        a given payment instrument Id and provide details whether the ATM, POS, ECOM
        etc transitions are enabled or disabled.
      operationId: UpdateCardControls
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010434751'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardControlV1ReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardControlV1ResponseModel'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Card Controls
      x-group-name: Card Management
  /v1/cards/{paymentInstrumentId}/blockUnblock:
    put:
      tags:
      - Card Management
      summary: Block Unblock Card
      description: This API is used to block or unblock the given payment instrument
        Id.
      operationId: BlockUnblockCard
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          card number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273605'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUnblockCardV1ReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockUnblockCardV1ResponseModel'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Block Unblock Card
      x-group-name: Card Management
  /v1/cards/{paymentInstrumentId}/addressId:
    put:
      tags:
      - Card Management
      summary: Update Cards' Address ID
      description: This API is used to update address ID field at card level for given
        payment instrument Id upon successful validation of customer ID, if given
        in the request.
      operationId: UpdateCardAddressId
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: customerId
        in: query
        description: Unique identification number assigned to a customer.
        required: false
        schema:
          maxLength: 19
          type: string
          example: '0000000001000000032'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0004440010000000017'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardAddressIdV1ReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardAddressIdV1ResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Cards' Address ID
      x-group-name: Card Management
  /v1/cards/{paymentInstrumentId}/activate:
    put:
      tags:
      - Card Management
      summary: Activate Card
      description: This API is used to activate the card after successful verification
        of the cardholder for a given payment instrument Id.
      operationId: ActivateCard
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273613'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateCardV1ReqModel'
        required: true
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateCardV1ResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Activate Card
      x-group-name: Card Management
  /v1/cards/{paymentInstrumentId}/action:
    put:
      tags:
      - Card Management
      summary: Update Card Action
      description: This API is used to update the card action for a given payment
        instrument Id.
      operationId: UpdateCardAction
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009544410000000021'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardActionV1ReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardActionV1ResponseModel'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Card Action
      x-group-name: Card Management
  /v1/cards/{paymentInstrumentId}/generateDynamicCVV2:
    post:
      tags:
      - Card Management
      summary: Generate dynamic CVV2
      description: This API is used to generate encrypted dynamic CVV2 and provide
        other additional details like encrypted payment card number, encrypted expiry
        date, embossed name 1, embossed name 2, dynamic CVV2 expire date and time
        for a given payment instrument Id.
      operationId: GenerateDynamicCVV2
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: paymentInstrumentId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010065787'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateDynamicCVV2V1ReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateDynamicCVV2V1ResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Generate Dynamic CVV2
      x-group-name: Card Management
  /v1/cards/validateCVV2:
    post:
      tags:
      - Card Management
      summary: Validate CVV2
      description: This API is used to validate the CVV2 for a given payment instrument
        Id along with expiry date.
      operationId: CardSecureCode
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardSecureCodeV1ReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '201':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardSecureCodeV1ResponseModel'
      security:
      - Authorization: [
          ]
      x-proxy-name: Validate CVV2
      x-group-name: Card Management
  /v1/cards/lostStolenCardTransfer:
    post:
      tags:
      - Card Management
      summary: Transfer Lost Stolen Card
      description: This API is used to block the lost or stolen card and request for
        the replacement card. Based on the input field values the corresponding actions
        will be taken like creating new card number and updating the existing card
        with block codes etc.
      operationId: TransferLostStolenCard
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferLostStolenCardV1ReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '201':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferLostStolenCardV1ResponseModel'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Transfer Lost Stolen Card
      x-group-name: Card Management
  /v1/cards/googlePaySamsungPayPushProvisioning:
    post:
      tags:
      - Card Management
      summary: GooglePay – SamsungPay VTS Push Provisioning
      description: This API is used for push provisioning of Visa Card. Card push
        provisioning refers to the creation of a secure digital copy of a preexisting
        card (either physical or virtual). The copy is then added to a Google Pay
        or Samsung Pay wallet.
      operationId: GooglePaySamsungPayPushProvisioning
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GooglePaySamsungPayPushProvisioningV1ReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GooglePayEncResponseModel'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
[...]
