openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Card Management
paths:
  /v1/cards/{tokenPan}/spendLimits:
    put:
      tags:
      - Card Management
      summary: Update Spend Limits
      description: This service is used to update the spending limits to control the
        card usage. These limits are set at individual card level.
      operationId: UpdateSpendLimit
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit -  Identification number of the business unit associated
          with the card, valid values are 001-998.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '100'
      - name: tokenPan
        in: path
        description: Token PAN - Token Number associated with the clear PAN.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010434272'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpendLimitReqModel'
        required: true
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSpendLimitResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Update Spend Limits
      x-group-name: Card Management
  /v1/cards/{cardNumber}/profile:
    put:
      tags:
      - Card Management
      summary: Update Card Type
      description: This service is used to update the type of cardholder between primary
        and supplementary (Joint Cardholder).
      operationId: UpdateCardType
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit -  Identification number associated with the cardholder
          embosser record.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '100'
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273613'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardTypeReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardTypeResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Update Card Type
      x-group-name: Card Management
  /v1/cards/{cardNumber}/pinBlockChange:
    put:
      tags:
      - Card Management
      summary: Change PIN
      description: The PIN Block Change Service is used to update the PIN Block with
        the prerequisite that the existing PIN block must be supplied and validated.
      operationId: ChangePIN
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with the cardholder
          embosser record.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '600'
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009544410000000047'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePINReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangePINResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Change PIN
      x-group-name: Card Management
  /v1/cards/{cardNumber}/issueReissueDeliveryOption:
    put:
      tags:
      - Card Management
      summary: Issue Reissue Delivery Option
      description: This service is used to update the issue and re-issue delivery
        options.
      operationId: UpdateIssueReissueDeliveryOption
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with the cardholder
          embosser record.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '600'
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009544410000000047'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIssueReissueDeliveryOptionReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateIssueReissueDeliveryOptionResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Update Issue Reissue Delivery Option
      x-group-name: Card Management
  /v1/cards/{cardNumber}/controls:
    put:
      tags:
      - Card Management
      summary: Update Card Controls
      description: This service updates the card controls for a given card number
      operationId: UpdateCardControls
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with the cardholder
          embosser record.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '100'
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010434751'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardControlReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardControlResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Update Card Controls
      x-group-name: Card Management
  /v1/cards/{cardNumber}/blockUnblock:
    put:
      tags:
      - Card Management
      summary: Block-Unblock Card
      description: This service is used to update the block codes and the reason codes
        for the block codes for cards and accounts. Same service can be used to unblock
        the card by passing spaces in the block-code field of the request body.
      operationId: BlockUnblockCard
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with the cardholder
          embosser record.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '100'
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273605'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUnblockCardReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockUnblockCardResponseModel'
      x-proxy-name: Block Unblock Card
      x-group-name: Card Management
  /v1/cards/{cardNumber}/activate:
    put:
      tags:
      - Card Management
      summary: Activate Card
      description: This service is used to activate the card after successful verification
        of the cardholder.
      operationId: ActivateCard
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit -  Identification number associated with the cardholder
          embosser record.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '100'
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273613'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateCardReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateCardResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Activate Card
      x-group-name: Card Management
  /v1/cards/{cardNumber}/action:
    put:
      tags:
      - Card Management
      summary: Update Card Action
      description: The Card Action Update service enables a user to update the card
        action field on the embosser record.
      operationId: UpdateCardAction
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit -  Identification number associated with the cardholder
          embosser record.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '600'
      - name: cardNumber
        in: path
        description: Card Number - Token Number associated with the clear PAN.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009544410000000021'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardActionReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardActionResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Update Card Action
      x-group-name: Card Management
  /v1/cards/{cardNumber}/validateCVV2:
    post:
      tags:
      - Card Management
      summary: Validate CVV2
      description: The Card Secure Code Validation service is used to validate the
        CVV2 and optionally the expiry date of a given card. This service is typically
        called before the card activation or PIN reset service to validate the cardholder.
      operationId: CardSecureCode
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit -  Identification number associated with the cardholder
          embosser record.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '100'
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010065787'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardSecureCodeReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardSecureCodeResponseModel'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Validate CVV2
      x-group-name: Card Management
  /v1/cards/lostStolenCardTransfer:
    post:
      tags:
      - Card Management
      summary: Transfer Lost Stolen Card
      description: This Lost or Stolen service is used to block the lost card and
        request for the replacement card.
      operationId: TransferLostStolenCard
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferLostStolenCardReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferLostStolenCardResponseModel'
      x-proxy-name: Transfer Lost Stolen Card
      x-group-name: Card Management
  /v1/cards/boardCard:
    post:
      tags:
      - Card Management
      summary: Board Card
      description: This service is used to board the new card
      operationId: BoardCard
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCardReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCardResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Board Card
      x-group-name: Card Management
  /v1/cards/{cardNumber}/details:
    get:
      tags:
      - Card Management
      summary: Inquire Card
      description: This service is used to fetch card details for a given card number
      operationId: InquireCard
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit -  Identification number associated with the cardholder
          embosser record.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '600'
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009544410000000047'
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCardResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Inquire Card
      x-group-name: Card Management
  /v1/cards/{cardNumber}/controlDetails:
    get:
      tags:
      - Card Management
      summary: Inquire Card Controls
      description: This service fetches the card controls for a given card number
      operationId: InquireCardControls
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit -  Identification number associated with the cardholder
          embosser record
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '100'
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010434751'
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCardControlResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Inquire Card Controls
      x-group-name: Card Management
  /v1/cards/{cardNumber}/clearPan:
    get:
      tags:
      - Card Management
      summary: Fetch Clear PAN from Token
      description: This service is used to fetch the clear pan for the requested First
        Vision's Token PAN.
      operationId: FetchClearPan
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with the cardholder
          embosser record.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '100'
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273605'
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchClearPanResponseModel'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Fetch Clear PAN from Token
      x-group-name: Card Management
components:
  schemas:
    SpendLimitControlsReq:
      type: object
      properties:
        maximumAuthorizationsFrequency:
          maxLength: 1
          type: string
          description: "Maximum authorization frequency - Code that indicates the\
            \ frequency for the maximum authorization parameters. The values are:\
            \ \n\n  0=Not used(default) \n\n\t  1=Daily \n\n\t\t  2=Cycle-to-date\
            \ \n\n  3=Year-to-date \n\n  Spaces=Check1 \n\n  ' '=Check2"
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        maximumAtmCashAuthorizationsAmount:
          maxLength: 17
          type: string
          description: Maximum amount ATM cash authorization - Maximum amount in monetary
            units and subunits of ATM cash authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          example: '10000'
        maximumAtmCashAuthorizationsCount:
          maxLength: 1
          type: integer
          description: Maximum number ATM cash authorization - Maximum number of ATM
            cash authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          format: int32
          example: '1'
        maximumSingleAtmTransactionAmount:
          maxLength: 17
          type: string
          description: ' Maximum amount single ATM Transaction - Maximum authorization
            amount in monetary units and subunits of a single ATM transaction allowed
            for this Embosser record for the frequency defined in the FREQ field'
          example: '10000'
        maximumOtcCashAuthorizationsAmount:
          maxLength: 17
          type: string
          description: Maximum amount OTC cash authorization - Maximum amount in monetary
            units and subunits of OTC cash authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          example: '20000'
        maximumOtcAuthorizationsCount:
          maxLength: 1
          type: integer
          description: Maximum number OTC authorization - Maximum number of OTC authorizations
            allowed for this Embosser record for the frequency defined in the FREQ
            field
          format: int32
          example: '1'
        maximumSingleOtcCashAuthorizationAmount:
          maxLength: 17
          type: string
          description: Maximum Amount Single OTC cash authorization allowed - Maximum
            amount in monetary units and subunits of OTC authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field
          example: '10000'
        maximumRetailAuthorizationsAmount:
          maxLength: 17
          type: string
          description: Maximum amount retail authorization - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          example: '10000'
        maximumRetailAuthorizationsCount:
          maxLength: 1
          type: integer
          description: Maximum number retail authorization - Maximum number of retail
            authorizations allowed for this Embosser record for the frequency defined
            in the FREQ field
          format: int32
          example: '1'
        maximumSingleRetailAuthorizationAmount:
          maxLength: 17
          type: string
          description: Maximum Amount Single retail authorization allowed - Maximum
            amount in monetary units and subunits of OTC authorizations allowed for
            'this Embosser record for the frequency defined in the FREQ field
          example: '0000'
    UpdateSpendLimitReqModel:
      type: object
      properties:
        spendLimitControlsReq:
          $ref: '#/components/schemas/SpendLimitControlsReq'
    SpendLimitControlsRes:
      type: object
      properties:
        maximumAuthorizationsFrequency:
          maxLength: 1
          type: string
          description: "Maximum authorization frequency - Code that indicates the\
            \ frequency for the maximum authorization parameters. The values are:\
            \ \n\n  0=Not used(default) \n\n  1=Daily \n\n  2=Cycle-to-date \n\n \
            \ 3=Year-to-date \n\n  Spaces=Check1 \n\n  ' '=Check2"
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        maximumAtmCashAuthorizationsAmount:
          maxLength: 17
          type: string
          description: Maximum amount ATM cash authorization - Maximum amount in monetary
            units and subunits of ATM cash authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          example: '10000'
        maximumAtmCashAuthorizationsCount:
          maxLength: 1
          type: integer
          description: Maximum number ATM cash authorization - Maximum number of ATM
            cash authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          format: int32
          example: '1'
        maximumSingleAtmTransactionAmount:
          maxLength: 17
          type: string
          description: ' Maximum amount single ATM Transaction - Maximum authorization
            amount in monetary units and subunits of a single ATM transaction allowed
            for this Embosser record for the frequency defined in the FREQ field'
          example: '10000'
        maximumOtcCashAuthorizationsAmount:
          maxLength: 17
          type: string
          description: Maximum amount OTC cash authorization - Maximum amount in monetary
            units and subunits of OTC cash authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          example: '20000'
        maximumOtcAuthorizationsCount:
          maxLength: 1
          type: integer
          description: Maximum number OTC authorization - Maximum number of OTC authorizations
            allowed for this Embosser record for the frequency defined in the FREQ
            field
          format: int32
          example: '1'
        maximumSingleOtcCashAuthorizationAmount:
          maxLength: 17
          type: string
          description: Maximum Amount Single OTC cash authorization allowed - Maximum
            amount in monetary units and subunits of OTC authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field
          example: '10000'
        maximumRetailAuthorizationsAmount:
          maxLength: 17
          type: string
          description: Maximum amount retail authorization - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          example: '10000'
        maximumRetailAuthorizationsCount:
          maxLength: 1
          type: integer
          description: Maximum number retail authorization - Maximum number of retail
            authorizations allowed for this Embosser record for the frequency defined
            in the FREQ field
          format: int32
          example: '1'
        maximumSingleRetailAuthorizationAmount:
          maxLength: 17
          type: string
          description: Maximum Amount Single retail authorization allowed - Maximum
            amount in monetary units and subunits of OTC authorizations allowed for
            'this Embosser record for the frequency defined in the FREQ field
          example: '0000'
    UpdateSpendLimitResponseModel:
      required:
      - tokenPan
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit -  Identification number of the business unit
            associated with the card, valid values are 001-998.
          format: int32
          example: '100'
        tokenPan:
          maxLength: 19
          type: string
          description: Token PAN - Token Number associated with the clear PAN.
          example: '0009846801010434272'
        spendLimitControlsRes:
          $ref: '#/components/schemas/SpendLimitControlsRes'
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        errorMessage:
          type: string
          example: ''
    UpdateCardTypeReqModel:
      type: object
      properties:
        cardholderType:
          maxLength: 1
          type: string
          description: Cardholder Type - Code that indicates whether the cardholder
            is the primary cardholder or an additional cardholder associated with
            the account
          example: '1'
          enum:
          - 0-Additional
          - 1-Primary
    UpdateCardTypeResponseModel:
      required:
      - cardNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit -  Identification number associated with the
            cardholder embosser record.
          format: int32
          example: '100'
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number assigned to the cardholder embosser
            record.
          example: '0009846801010273613'
        cardholderType:
          maxLength: 1
          type: string
          description: Cardholder Type - Code that indicates whether the cardholder
            is the primary cardholder or an additional cardholder associated with
            the account
          example: '1'
          enum:
          - 0 - Additional
          - 1 - Primary
    ChangePINReqModel:
      type: object
      properties:
        requestedPinBlock:
          maxLength: 3
          type: string
          description: Requested PIN block(New PIN block) - The new PIN block should
            be provided, This will be new PIN Enter by customer
          example: '123456'
        currentPinBlock:
          maxLength: 16
          type: string
          description: Current PIN block(Existing PIN block) - The existing PIN block
            should be provided
          example: '2673217'
        pinOffset:
          maxLength: 4
          type: integer
          description: Current PIN Offset( Old PIN Offset)- The old PIN block should
            be provided, This will be old PIN Enter by customer
          format: int32
          example: '0'
        pinChannel:
          maxLength: 1
          type: string
          description: PIN channel - This field will identifiy the channel through
            which The request has been ititialted The valid values are A-ATM,I-IVR,
            W-WEB
          example: A
          enum:
          - A
          - I
          - W
        keyAssociation:
          maxLength: 3
          type: string
          description: Key association - The value will be used to read the keys stored
            in KMS files,from input we always recive spaces
          example: ''
    ChangePINResponseModel:
      type: object
      properties:
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number assigned to the cardholder embosser
            record
          example: '0009544410000000047'
    UpdateIssueReissueDeliveryOptionReqModel:
      type: object
      properties:
        issueDeliveryOption:
          maxLength: 3
          type: string
          description: Issue Delivery Option - Delivery option for new cards.
          example: '1'
          enum:
          - 0-999
        cardReissueDeliveryOption:
          maxLength: 3
          type: string
          description: Card Reissue Delivery Option - Delivery option for reissued
            cards (all card actions except 1).
          example: '5'
          enum:
          - 0-999
    UpdateIssueReissueDeliveryOptionResponseModel:
      required:
      - cardNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number associated with the cardholder
            embosser record.
          format: int32
          example: '600'
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number assigned to the cardholder embosser
            record.
          example: '0009544410000000047'
        issueDeliveryOption:
          maxLength: 3
          type: string
          description: Issue Delivery Option - Delivery option for new cards.
          example: '1'
          enum:
          - 0-999
        cardReissueDeliveryOption:
          maxLength: 3
          type: string
          description: Card Reissue Delivery Option - Delivery option for reissued
            cards (all card actions except 1).
          example: '5'
          enum:
          - 0-999
    UpdateCardControlReqModel:
      type: object
      properties:
        posFlag:
          maxLength: 1
          type: string
          description: POS Flag - This is to enable or disable a POS based transaction
            for a cardholder
          example: N
          enum:
          - Y
          - N
          - ' '
        atmFlag:
          maxLength: 1
          type: string
          description: ATM Flag - This is to enable or disable a ATM based transaction
            for a cardholder
          example: Y
          enum:
          - Y
          - N
          - ' '
        payWaveSwitch:
          maxLength: 1
          type: string
          description: Pay Wave Switch - This is to enable or disable a Contactless
            or Paywave based transaction for a cardholder
          example: N
          enum:
          - Y
          - N
        intAtmPosFlag:
          maxLength: 1
          type: string
          description: International ATM POS Flag - This is to enable or disable an
            international ATM or POS  based transaction for a cardholder
          example: Y
          enum:
          - Y
          - N
        cashBackTranFlag:
          maxLength: 1
          type: string
          description: Cash Back Transaction Flag -  This is to enable or disable
            cashback at POS  transaction for a cardholder
          example: Y
          enum:
          - Y
          - N
        ecomActiveSwitch:
          maxLength: 1
          type: string
          description: ECOM Active switch - This is to enable or disable  ECOMM based
            transaction for a cardholder
          example: '0'
          enum:
          - '0'
          - '1'
        motoFlag:
          maxLength: 1
          type: string
          description: MOTO Flag - This is to enable or disable a Mobile based transaction
            for a cardholder
          example: Y
          enum:
          - Y
          - N
    UpdateCardControlResponseModel:
      required:
      - cardNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number associated with the cardholder
            embosser record.
          format: int32
          example: '100'
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number assigned to the cardholder embosser
            record
          example: '0009846801010434751'
        posFlag:
          maxLength: 1
          type: string
          description: POS Flag - This is to enable or disable a POS based transaction
            for a cardholder
          example: N
          enum:
          - Y
          - N
          - ' '
        atmFlag:
          maxLength: 1
          type: string
          description: ATM Flag - This is to enable or disable a ATM based transaction
            for a cardholder
          example: Y
          enum:
          - Y
          - N
          - ' '
        payWaveSwitch:
          maxLength: 1
          type: string
          description: Pay Wave Switch - This is to enable or disable a Contactless
            or Paywave based transaction for a cardholder
          example: N
          enum:
          - Y
          - N
        intAtmPosFlag:
          maxLength: 1
          type: string
          description: International ATM POS Flag - This is to enable or disable an
            international ATM or POS  based transaction for a cardholder
          example: Y
          enum:
          - Y
          - N
        cashBackTranFlag:
          maxLength: 1
          type: string
          description: Cash Back Transaction Flag -  This is to enable or disable
            cashback at POS  transaction for a cardholder
          example: Y
          enum:
          - Y
          - N
        ecomActiveSwitch:
          maxLength: 1
          type: string
          description: ECOM Active switch - This is to enable or disable  ECOMM based
            transaction for a cardholder
          example: '0'
          enum:
          - '0'
          - '1'
        motoFlag:
          maxLength: 1
          type: string
          description: MOTO Flag - This is to enable or disable a Mobile based transaction
            for a cardholder
          example: Y
          enum:
          - Y
          - N
    BlockUnblockCardReqModel:
      type: object
      properties:
        blockCode:
          maxLength: 1
          type: string
          description: Block code - The block code assigned to the Embosser record,
            Blcok code values can be be A- Z or SPACES.
          example: X
        warningCode1:
          type: string
          description: Warning Code 1 - Warning Code -This field determine whether
            to authorize or decline authorizations for this Embosser record (card).
          example: '1'
          enum:
          - '0'
          - ' '
          - '1'
          - '2'
          - '3'
          - '4'
          - '6'
          - '8'
          - '9'
    BlockUnblockCardResponseModel:
      required:
      - cardNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number associated with the cardholder
            embosser record.
          format: int32
          example: '100'
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number assigned to the cardholder embosser
            record.
          example: '0009846801010273605'
        blockCode:
          maxLength: 1
          type: string
          description: Block code - The block code assigned to the Embosser record,
            Blcok code values can be be A- Z or SPACES.
          example: X
        warningCode1:
          type: string
          description: Warning Code 1 - Warning Code -This field determine whether
            to authorize or decline authorizations for this Embosser record (card).
          example: '1'
          enum:
          - '0'
          - ' '
          - '1'
          - '2'
          - '3'
          - '4'
          - '6'
          - '8'
          - '9'
        blockDate:
          maxLength: 10
          type: string
          description: Card block date - The date on which card is blocked. The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the date format established on
            the System record (DATE FORMAT on System Control).
          example: 01/03/2020
    ActivateCardReqModel:
      type: object
      properties:
        currentCardNeedActivation:
          maxLength: 1
          type: string
          description: Current Card Required Activation - This field indicates whether
            card activation needs to occur for the most recently issued card.
          example: N
          enum:
          - Y
          - N
        lastCardActivation:
          maxLength: 1
          type: string
          description: Last Card Activation - This field indicates whether card activation
            needs to occur for the previously issued card
          example: Y
          enum:
          - Y
          - N
    ActivateCardResponseModel:
      required:
      - cardNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit -  Identification number associated with the
            cardholder embosser record.
          format: int32
          example: '100'
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number assigned to the cardholder embosser
            record.
          example: '0009846801010273613'
        currentCardNeedActivation:
          maxLength: 1
          type: string
          description: Current Card Required Activation - This field indicates whether
            card activation needs to occur for the most recently issued card.
          example: N
          enum:
          - Y
          - N
        lastCardActivation:
          maxLength: 1
          type: string
          description: Last Card Activation - This field indicates whether card activation
            needs to occur for the previously issued card
          example: Y
          enum:
          - Y
          - N
        cardActivatedDate:
          maxLength: 10
          type: string
          description: Card Activated Date - Date on which the card is activated.
            This date is systemgenerated, The format is MM/DD/YYYY or DD/MM/YYYY depending
            on the date format established on the System record (DATE FORMAT on System
            Control).
          example: 03/01/2020
    UpdateCardActionReqModel:
      type: object
      properties:
        cardAction:
          maxLength: 1
          type: string
          description: Card Action - The card issue action code that determines the
            action CMS performs during the next run of the Card Issue program.
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
    UpdateCardActionResponseModel:
      required:
      - cardNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit -  Identification number associated with the
            cardholder embosser record.
          format: int32
          example: '600'
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number associated with the clear PAN.
          example: '0009544410000000021'
        cardAction:
          maxLength: 1
          type: string
          description: Card Action - The card issue action code that determines the
            action CMS performs during the next run of the Card Issue program.
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
        lastCardAction:
          maxLength: 1
          type: integer
          description: Last Card Action - Last action performed on card
          format: int32
          example: '1'
        cardActionDate:
          maxLength: 10
          type: string
          description: Card Action Date - The date on which the card action was last
            changed. This date is system-generated, you cannot change it. The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the date format established on
            the System Control(DATE FORMAT on System Control)
          example: ''
    CardSecureCodeReqModel:
      required:
      - cvv2
      - expiryDateMmyy
      type: object
      properties:
        cvv2:
          maxLength: 3
          type: string
          description: CVV2 - Security code assigned to the embosser record
          example: '855'
        expiryDateMmyy:
          maxLength: 4
          type: string
          description: Expire Date - valid card expire date should be provided which
            is of 4 character with MMYY format
          example: '1123'
    CardSecureCodeResponseModel:
      required:
      - cardNumber
      type: object
      properties:
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number assigned to the cardholder embosser
            record.
          example: '0009846801010065787'
    TransferLostStolenCardReqModel:
      required:
      - accountNumber
      - blockCode
      - cardNumber
      - cardReplacementIndicator
      - effectiveDate
      - product
      - startDate
      - transferToAccount
      - transferToCustomer
      type: object
      properties:
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number assigned to the card-holder embosser
            record.
          example: '0009544401000009195'
        accountNumber:
          maxLength: 19
          type: string
          description: Account Number - Identification number of the Account Base
            Segment record to which CMS posts transactions received for this Embosser
            record.
          example: '0006000011000000178'
        product:
          maxLength: 3
          type: integer
          description: Product - Product associated with this Account. The values
            are 001–998
          format: int32
          example: '1'
        startDate:
          maxLength: 10
          type: string
          description: Start date - the date when the service was called.The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the date format established on
            the System record (DATE FORMAT on System Control).
          example: '0'
        transferToAccount:
          maxLength: 19
          type: string
          description: Transfer to account - Number of the account to which you want
            to transfer the cardYou can enter a specific account number or enter a
            slash (/) ifthe auto-generation functionality is active for account numbers.
          example: ''
        transferToCustomer:
          maxLength: 19
          type: string
          description: Transfer to customer - Number that identifies the Customer
            Name/Address record associated with the transfer-to accountIf you are
            transferring the card to an existing accountdo notmake an entry in the
            CUSTOMER fieldCMS uses the customernumber associated with the existing
            account.
          example: ''
        effectiveDate:
          maxLength: 10
          type: string
          description: Effective date - Date that the fraud card transfer is effective
            The value must be a date less than or equal to today’sdateThe default
            value is today’s date. If you enter a future date The system will abend.
            The format is MM/DD/YYYY or DD/MM/YYYY depending on the date format established
            on the System record (DATE FORMAT on System Control).
          example: '0'
        cardReplacementIndicator:
          maxLength: 1
          type: string
          description: Card replacement indicator - Code that indicates whether CMS
            replaces the transfer card by generating a new Embosser record on the
            original account. The values are 0=Replace lost/stolen/fraud card (Default),
            1=Do not replace lost/stolen/fraud card.
          example: '0'
          enum:
          - '0'
          - '1'
        blockCode:
          maxLength: 1
          type: string
          description: Block code - Block code to apply to the transfer card. The
            values are blank(or space) and A to Z.
          example: L
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit -  Identification number associated with the
            cardholder embosser record.
          format: int32
          example: '600'
        processType:
          maxLength: 1
          type: string
          description: Process Type - Code that indicates whether CMS processes the
            card replacement during the nightly batch processing cycle or in the same-day
            embossing processing cycle.
          example: '0'
          enum:
          - '0'
          - '1'
    TransferLostStolenCardResponseModel:
      required:
      - cardNumber
      type: object
      properties:
        maskCardNumber:
          maxLength: 19
          type: string
          description: Mask Pan Number - The clear card number will be masked with
            XXXX from 9 digit to 15th digit.
          example: 0009544401XXXXX9208
        cardNumber:
          maxLength: 19
          type: string
          description: New card number -  Token Number assigned to the cardholder
            embosser record.
          example: '0009544401000009208'
        transferToAccount:
          maxLength: 19
          type: string
          description: Transfer To Account - The account associated to the new card.
          example: ''
        transferToCustomer:
          maxLength: 19
          type: string
          description: Transfer To Customer - The customer associated to the new card.
          example: ''
        effectiveDate:
          maxLength: 10
          type: string
          description: Effective Date - Date that the fraud card transfer is effective.The
            format is MM/DD/YYYY or DD/MM/YYYY depending on the date format established
            on the System record (DATE FORMAT on System Control).
          example: 19/08/2021
    BoardCardReqModel:
      required:
      - baseAccountNumber
      - businessUnit
      - customerNumber
      - embossedName1
      - product
      type: object
      properties:
        baseAccountNumber:
          maxLength: 19
          type: string
          description: Base Account Number - This is the identification number to
            assign to the new Account Base Segment record
          example: '0006000012000000263'
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit -  Identification number associated with the
            cardholder embosser record
          format: int32
          example: '600'
        product:
          maxLength: 3
          type: integer
          description: Product - Identification number of the product associated with
            the  account or relationship
          format: int32
          example: '1'
        customerNumber:
          maxLength: 19
          type: string
          description: Customer Number -  Number that identifies the Customer Name/Address
            record of the account holder
          example: '0006000012000000256'
        cardSequence:
          maxLength: 4
          type: integer
          description: Card Sequence - Identification number assigned to an Embosser
            record to distinguish between multiple cards issued with the same card
            number.
          format: int32
          example: '1'
        cardAction:
          maxLength: 1
          type: string
          description: Card Action - This field is the card issue action code that
            determines the action CMS performs during the next run
          example: '0'
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
        numberOfCardsRequested:
          maxLength: 2
          type: integer
          description: Number Of Cards Requested - This field identifies the number
            of cards required
          format: int32
          example: '0'
        typeOfCard:
          maxLength: 2
          type: integer
          description: Type Of Card - This field is a user-defined code that indicates
            the type of plastic stock
          format: int32
          example: '0'
        requestedCardType:
          maxLength: 2
          type: integer
          description: Requested Card Type - This field is a user-defined code that
            identifies the type of card requested
          format: int32
          example: '0'
        typeCardMailer:
          maxLength: 2
          type: integer
          description: Type Card Mailer - This field is a user-defined code that identifies
            the type of card  mailer to use to mail the card
          format: int32
          example: '0'
        plasticId:
          maxLength: 10
          type: string
          description: Plastic ID - User-defined code that identifies the plastic
            stock used to create a card for this Embosser record
          example: ''
        name1TypeIndicator:
          maxLength: 1
          type: string
          description: Name 1 Type Indicator - This field identifies the type of name
            for NAME LINE 1
          example: '0'
          enum:
          - ZERO
          - '3'
        name2TypeIndicator:
          maxLength: 1
          type: string
          description: Name 2 Type Indicator - his field identifies the type of name
            for NAME LINE 2
          example: '0'
          enum:
          - ZERO
          - '3'
        embossedName1:
          maxLength: 26
          type: string
          description: Embossed Name 1 - Name to be embossed on the first embossing
            line of the card
          example: 'John Brono '
        embossedName2:
          maxLength: 26
          type: string
          description: Embossed Name 2  - This is the Additional name to be embossed
            on the second embossing line of the card
          example: Samuel Baro
        name1:
          maxLength: 40
          type: string
          description: Name 1 - This field identifies the name of the cardholder
          example: ABCD
        name2:
          maxLength: 40
          type: string
          description: Name 2 - This field identifies the name of the cardholder used
            for mailing the card and PIN mailers
          example: QWER
        posServiceCode:
          maxLength: 3
          type: integer
          description: POS Service Code - This field indicates the type of point-of-sale
            service in effect for a card.
          format: int32
          example: '0'
        cardholderFlag:
          maxLength: 1
          type: string
          description: Cardholder Flag - This is the code that indicates whether the
            card is issued as a primary or secondary card
          example: '0'
          enum:
          - '1'
          - '0'
        addressLine1:
          maxLength: 40
          type: string
          description: Address Line 1 - First line of address used for mailing the
            card and PIN mailer
          example: 'House no. 12 '
        addressLine2:
          maxLength: 40
          type: string
          description: Address Line 2 - Second line of address used for mailing the
            card and PIN mailer
          example: 'St. Paul Road '
        city:
          maxLength: 30
          type: string
          description: City - This is the city portion of the mailing address for
            cards and PIN mailers
          example: ''
        stateprovince:
          maxLength: 3
          type: string
          description: State/Province - This field that identifies the state or province
          example: Uth
        postalCode:
          maxLength: 10
          type: string
          description: Postal Code - This field identifies the postal code portions
            of the mailing address
          example: '1231'
        visaMiniIndicator:
          maxLength: 1
          type: string
          description: Visa Mini Indicator - This Flag indicates whether Visa Mini
            cards are supported in this product
          example: ''
        programId:
          maxLength: 1
          type: integer
          description: Program ID - This is the identification number of the smart
            card program
          format: int32
          example: '0'
        mobileDeviceId:
          maxLength: 20
          type: string
          description: Mobile Device ID - Identification of the mobile device associated
            with a mobile payment instrument (PI) embosser
          example: '12343'
        mobileProvisionStatus:
          maxLength: 1
          type: string
          description: Mobile Provision Status - This flag indicates whether the embosser
            is for a mobile payment instrument (PI) and the current provisioning status
            for the PI
          example: '0'
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
          - '4'
        deviceIndicator:
          maxLength: 1
          type: string
          description: Device Indicator - Code that indicates the type of device (form
            factor) written to the track data on the card
          example: '0'
        mccGroupLimits:
          maxLength: 11
          type: string
          description: MCC Group Limits - Merchat Limit
          example: ''
        chequeAccountNbr:
          maxLength: 17
          type: string
          description: Cheque account number - account cheque details
          example: ''
        savingsAccountNbr:
          maxLength: 17
          type: string
          description: Savings Account Nbr - customer Savings account number
          example: ''
        suppressLetter:
          maxLength: 1
          type: string
          description: Suppress Letter - This flag indicates whether to suppress all
            letters for the account
          example: '0'
          enum:
          - '0'
          - '1'
    BoardCardResponseModel:
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit -  Identification number associated with the
            cardholder embosser record
          format: int32
          example: '600'
        product:
          maxLength: 3
          type: integer
          description: Product - Identification number of the product associated with
            the  account or relationship
          format: int32
          example: '1'
        cardNumberFvToken:
          maxLength: 19
          type: string
          description: Card Number/FV TOKEN - Token Number assigned to the cardholder
            embosser record
          example: '0004440010057325150'
        maskedPanNumber:
          maxLength: 19
          type: string
          description: Masked PAN Number - Tokenized PAN Number
          example: '0004440010057325150'
        nameOnCard:
          maxLength: 26
          type: string
          description: Name On Card - Name to be embossed on the first embossing line
            of the card
          example: JOHN
        expiryDate:
          maxLength: 10
          type: string
          description: Expiry Date - Expiry date of the Card. Date format is DD/MM/YYYY.
          example: 01/10/2025
        cardActivationStatus:
          maxLength: 1
          type: string
          description: Card Activation Status -  This field indicates the Primary
            Card Activation status
          example: ''
    AuthorizationAccumulatorsRes:
      type: object
      properties:
        accumulatedAuthorizationNumberLTD:
          maxLength: 9
          type: integer
          description: Accumulator Auth NBR-4 - Total number of ATM/OTC/Retail cash
            authorizations for this card life-to-date.
          format: int32
          example: '12'
        accumulatedAuthorizationAmountLTD:
          maxLength: 17
          type: string
          description: Accumulator Auth Amt-4 - Total amount of ATM/OTC/Retail cash
            authorizations for this card life-to-date.
          example: $1234560.00
        accumulatedAuthorizationNumberYTD:
          maxLength: 9
          type: integer
          description: Accumulator Auth NBR-3 - Total number of ATM/OTC/Retail cash
            authorizations for this card year-to-date.
          format: int32
          example: '8'
        accumulatedAuthorizationAmountYTD:
          maxLength: 17
          type: string
          description: Accumulator Auth Amt-3 - Total amount of ATM/OTC/Retail cash
            authorizations for this card year-to-date.
          example: $123456.00
        accumulatedAuthorizationNumberCTD:
          maxLength: 9
          type: integer
          description: Accumulator Auth NBR-2 - Total number of ATM/OTC/Retail cash
            authorizations for this card cycle-to-date.
          format: int32
          example: '6'
        accumulatedAuthorizationAmountCTD:
          maxLength: 17
          type: string
          description: Accumulator Auth Amt-2 - Total amount of ATM/OTC/Retail cash
            authorizations for this card cycle-to-date.
          example: $10234.00
        accumulatedAuthorizationNumberToday:
          maxLength: 9
          type: integer
          description: Accumulator Auth NBR-1 - Total number of ATM/OTC/Retail cash
            authorizations for this card today.
          format: int32
          example: '5'
        accumulatedAuthorizationAmountToday:
          maxLength: 17
          type: string
          description: Accumulator Auth Amt-1 - Total amount of ATM/OTC/Retail cash
            authorizations for this card today.
          example: $1000.00
    AuthorizationSpendingLimitsRes:
      type: object
      properties:
        number:
          maxLength: 9
          type: integer
          description: Number - Number of transactions allowed for the frequency defined
            in the FREQ field. If this field is zero, the number of transactions is
            unlimited.
          format: int32
          example: '5'
        frequency:
          maxLength: 1
          type: string
          description: Frequency - Code that indicates the frequency for commercial
            card spending limits.
          example: '0'
        maximum:
          maxLength: 17
          type: number
          description: Maximum - Spending limit in monetary units and subunits for
            each commercial card spending category.
          example: '0.0'
    InquireCardResponseModel:
      required:
      - cardNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit -  Identification number associated with the
            cardholder embosser record.
          format: int32
          example: '600'
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number assigned to the cardholder embosser
            record.
          example: '0009544410000000047'
        postToAccountNumber:
          maxLength: 19
          type: string
          description: Post To Account Number - Code that indicates whether the account
            being added is a transaction (cardholder), billing, control, or diversion
            account. This field displays only in add mode (ARAB) and is open to input
            only.
          example: '0006000022000000076'
        product:
          maxLength: 3
          type: integer
          description: Product - Identification number of the product associated with
            the account
          format: int32
          example: '1'
        embosserRecordStatus:
          maxLength: 1
          type: string
          description: Status - Status of Embosser record.
          example: '0'
        statusDateChange:
          maxLength: 10
          type: string
          description: Status Change Date - Date on which the status was last changed,
            The format is MM/DD/YYYY or DD/MM/YYYY depending on the date format established
            on the System record (DATE FORMAT on System Control).
          example: 01/02/2020
        secureIdStatusChanged:
[...]
