openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Customer Management
paths:
  /v1/customers/{customerNumber}/nameAddress:
    get:
      tags:
      - Customer Management
      summary: Inquire Customer
      description: This service is used to inquire customer's details
      operationId: InquireCustomer
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number of the organization associated
          with thisAccount Base Segment record. The values are 001–998.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: '200'
      - name: customerNumber
        in: path
        description: Customer Number - This field is Identification number of the
          Name and Address record.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000066806355'
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCustomerResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Inquire Customer
      x-group-name: Customer Management
    put:
      tags:
      - Customer Management
      summary: Update Customer Demographics
      description: This service will be used to update the customer demographic details
        such as Name / Address / Phone Number / Email ID/ Date of Birth of the given
        customer. The customer ID will be passed in the input request to retrieve
        the demographic information.
      operationId: UpdateCustomerDemographics
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number of the Business Unit associated
          with the Name and Address record. The values are 001–998.
        required: false
        schema:
          maxLength: 3
          type: integer
          example: 200
      - name: customerNumber
        in: path
        description: Customer Number - This field is Identification number of the
          Name and Address record.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000065439605'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerDemographicReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerDemographicResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Update Customer Demographics
      x-group-name: Customer Management
  /v1/customers/searchCustomer:
    post:
      tags:
      - Customer Management
      summary: Search Customers
      description: This service is used to retrieve customer's information based on
        primary and optional search values like Last name, Indentification number,
        Phone number etc.
      operationId: SearchCustomers
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCustomerReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCustomerResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Search Customers
      x-group-name: Customer Management
  /v1/customers/boardCustomer:
    post:
      tags:
      - Customer Management
      summary: Board Customer
      description: This service is used to board the new customer
      operationId: BoardCustomer
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCustomerReqModel'
        required: true
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCustomerResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Board Customer
      x-group-name: Customer Management
  /v1/customers/{customerNumber}/cardList:
    get:
      tags:
      - Customer Management
      summary: List Customer's Cards
      description: This service retrieves the card details associated with a Customer
        number along with demographic details
      operationId: ListCustomersCards
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: customerNumber
        in: path
        description: Customer Number - This field is Identification number of the
          Name and Address record
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000067163587'
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersCardResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: List Customer's Cards
      x-group-name: Customer Management
  /v1/customers/{customerNumber}/accountList:
    get:
      tags:
      - Customer Management
      summary: List Customer's Accounts
      description: This service provides account's details associated with a Customer
        number along with demographic details
      operationId: ListCustomersAccounts
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: customerNumber
        in: path
        description: Customer Number - This field is Identification number of the
          Name and Address record
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000067163587'
      responses:
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersAccountResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: List Customer's Accounts
      x-group-name: Customer Management
components:
  schemas:
    CustomerDemograhicDetailsReq:
      type: object
      properties:
        nameLine1:
          maxLength: 40
          type: string
          description: Name Line 1 - This field indicates the owner personal name,
            business name, or  a generic name.
          example: M S SWAMY
        nameLine2:
          maxLength: 40
          type: string
          description: Name Line 2 - This field indicates the owner name.
          example: KK
        nameLine3:
          maxLength: 40
          type: string
          description: Name Line 3 - This field indicates the owner name.
          example: ''
        houseNumber:
          maxLength: 20
          type: string
          description: House Number - This field indicates the House number of the
            owner.
          example: ''
        addressLine1:
          maxLength: 40
          type: string
          description: Address Line 1 - This is mailing address for the owner.
          example: FLAT NO:404
        addressLine2:
          maxLength: 40
          type: string
          description: Address Line 2 - This is mailing address for the owner.
          example: RAINBOW APTS
        addressLine3:
          maxLength: 40
          type: string
          description: Address Line 3 - This is mailing address for the owner.
          example: CHITRAPURI
        addressLine4:
          maxLength: 40
          type: string
          description: Address Line 4 - This is mailing address for the owner.
          example: DELHI
        city:
          maxLength: 30
          type: string
          description: City - This field indicates the City portion of the mailing
            address of  the owner.
          example: DELHI
        stateProvince:
          maxLength: 3
          type: string
          description: State/Province - This field indicates the City portion of the
            mailing address of  the owner.
          example: DL
        countryCode:
          maxLength: 3
          type: string
          description: Country Code - The field is the country code. The value entered
            must be a valid country code previously defined in the Security Subsystem
            and Common Routines (SSC) system via the Country Code Definitions service.
          example: IND
        postalCode:
          maxLength: 10
          type: string
          description: Postal Code - This is the Postal code portion of the mailing
            address of the owner.
          example: '110004'
        languageIndicator:
          maxLength: 3
          type: string
          description: Language Indicator - This is User-defined code that indicates
            the language spoken by the owner.
          example: AUS
        homePhoneNumber:
          maxLength: 20
          type: string
          description: Home Phone Number - This field is the owner’s home telephone
            number.
          example: '9241800756'
        homePhoneFlag:
          maxLength: 1
          type: string
          description: Home Phone Flag - This flag indicates that whether you have
            the owner’s permission to use this number.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        faxNumber:
          maxLength: 20
          type: string
          description: Fax Number - This field is the owner’s fax number.
          example: '82364782'
        faxPhoneFlag:
          maxLength: 1
          type: string
          description: Fax Phone Flag - This flag indicates that whether you have
            the owner’s permission to use this number.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        mobileNumber:
          maxLength: 20
          type: string
          description: Mobile Number - This field is the owner’s mobile number.
          example: '112233'
        smsFlag:
          maxLength: 1
          type: string
          description: SMS Flag - This flag indicates that whether you have the owner’s
            permission to use this number.
          example: '0'
          enum:
          - '0'
          - '1'
        mobilePhoneFlag:
          maxLength: 1
          type: string
          description: Mobile Phone Flag - This flag indicates that whether you have
            the owner’s permission to use this number.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        emailAddress:
          maxLength: 60
          type: string
          description: Email Address - This field indicates e-mail address of the
            owner.
          example: SAM@FISERV.COM
        dateOfBirth:
          maxLength: 10
          type: string
          description: Date Of Birth - Date Of Birth of the owner, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 06/04/1986
        firstName:
          maxLength: 40
          type: string
          description: First Name - This field is the First name of the owner.
          example: ABC
        middleName:
          maxLength: 40
          type: string
          description: Middle Name - This field is the Middle name of the owner.
          example: ''
        lastName:
          maxLength: 40
          type: string
          description: Last Name - This field is the Last name of the owner.
          example: ''
    UpdateCustomerDemographicReqModel:
      type: object
      properties:
        customerDemograhicDetailsReq:
          $ref: '#/components/schemas/CustomerDemograhicDetailsReq'
        userDefinedField4:
          maxLength: 1
          type: string
          description: User Defined Field 4 - User-defined fields for an owner.
          example: Y
          enum:
          - Y
          - N
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        errorMessage:
          type: string
          example: ''
    CustomerDemograhicDetailsRes:
      type: object
      properties:
        addressLine1:
          maxLength: 40
          type: string
          description: Address Line 1 - Mailing address for the owner
          example: 77 30 HARVEY ISLAND
        addressLine2:
          maxLength: 40
          type: string
          description: Address Line 2 - Mailing address for the owner
          example: ''
        addressLine3:
          maxLength: 40
          type: string
          description: Address Line 3 - Mailing address for the owner
          example: ''
        addressLine4:
          maxLength: 40
          type: string
          description: Address Line 4 - This is mailing address for the owner.
          example: DELHI
        city:
          maxLength: 30
          type: string
          description: City - City portion of the mailing address of the owner
          example: SYDNEY
        stateProvince:
          maxLength: 3
          type: string
          description: State/Province - Abbreviation of the state or province portion
            of the mailingaddress of the owner
          example: NSW
        countryCode:
          maxLength: 3
          type: string
          description: Country Code - Thevalue entered must be a valid country code
            previously definedin the Security Subsystem and Common Routines (SSC)
            system
          example: AU
        postalCode:
          maxLength: 10
          type: string
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          example: '110004'
        languageIndicator:
          maxLength: 3
          type: string
          description: Language Indicator - User-defined code that indicates the language
            spoken by the owner.
          example: AUS
        homePhoneNumber:
          maxLength: 20
          type: string
          description: Home Phone Number - that indicates the home telephone number
            of the owner
          example: '+61440372725'
        homePhoneFlag:
          type: string
          description: Home Phone Flag - this field is a code that specifies whether
            theyou have the owner’s permission to call this number. The values 0 =No,
            do not contact the customer at this number,1=Yes, you can contact the
            customer at thisnumber (Default) 2=Preferred contact method
          example: '0'
        faxNumber:
          maxLength: 20
          type: string
          description: Fax Number - This field is the owner’s fax number.
          example: ''
        faxPhoneFlag:
          maxLength: 1
          type: string
          description: Fax Phone Flag - This field is a code that specifies whether
            theyou have the owner’s permission to call this number. The values 0 =No,
            do not contact the customer at this number,1=Yes, you can contact the
            customer at thisnumber (Default) 2=Preferred contact method
          example: '0'
        mobileNumber:
          maxLength: 20
          type: string
          description: Mobile Number - that indicates the mobile telephone number
            of the owner
          example: '+61440372725'
        smsFlag:
          maxLength: 1
          type: string
          description: SMS Flag - Code that indicates whether an SMS (short message
            service)message can be sent to the owner. The values are 0=No, do not
            contact the customer via SMS, 1=Yes, you can contact the customer via
            SMS(Default)
          example: '0'
        mobilePhoneFlag:
          type: string
          description: Mobile Phone Flag - this field is a code that indicates whether
            youhave the owner’s permission to call this number. The values are0 =No,
            do not contact the customer at this number,1=Yes, you can contact the
            customer at thisnumber (Default) 2=Preferred contact method
          example: '0'
        emailAddress:
          maxLength: 60
          type: string
          description: Email Address - that indicates the e-mail address of the owner
          example: QM422E7RJT@XVRAI.NET
        firstName:
          maxLength: 40
          type: string
          description: First Name - This field is the First name of the owner.
          example: ABC
        middleName:
          maxLength: 40
          type: string
          description: Middle Name - This field is the Middle name of the owner.
          example: ''
        lastName:
          maxLength: 40
          type: string
          description: Last Name - This field is the Last name of the owner.
          example: ''
        dateOfBirth:
          maxLength: 10
          type: string
          description: Date Of Birth - Date of Birth of the customer, The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control)
          example: 06/24/1986
        userDefinedField4:
          type: string
          description: User Defined Field 4 - User-defined fields for an owner.
          example: Y
        nameLine1:
          maxLength: 40
          type: string
          description: Name Line 1 - This field indicates the owner personal name,
            business name, or  a generic name.
          example: M S SWAMY
        nameLine2:
          maxLength: 40
          type: string
          description: Name Line 2 - This field indicates the owner name.
          example: KK
        nameLine3:
          maxLength: 40
          type: string
          description: Name Line 3 - This field indicates the owner name.
          example: ''
        houseNumber:
          maxLength: 20
          type: string
          description: House Number - This field indicates the House number of the
            owner.
          example: ''
        identificationType:
          maxLength: 1
          type: string
          description: Identification type - Identifies the tax identification number
            of the owner. The values are:0 = Social Security number (Default), 1 =
            Tax identification number, 2 = Other identification number.
          example: Y
          enum:
          - '0'
          - '1'
          - '2'
        identificationNumber:
          maxLength: 25
          type: string
          description: Identification Number - Number that indicates if this number
            is a Social Security number or other tax identification number.
          example: Y
    UpdateCustomerDemographicResponseModel:
      required:
      - customerNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the Business Unit
            associated with the Name and Address record. The values are 001–998.
          format: int32
          example: '200'
        customerNumber:
          maxLength: 19
          type: string
          description: Customer Number - This field is Identification number of the
            Name and Address record.
          example: '0000020000065439605'
        customerDemograhicDetailsRes:
          $ref: '#/components/schemas/CustomerDemograhicDetailsRes'
        userDefinedField4:
          maxLength: 1
          type: string
          description: User Defined Field 4 - User-defined fields for an owner.
          example: Y
          enum:
          - Y
          - N
    CustomerSearchReq:
      required:
      - optionalDataMatch
      - primaryData
      - primaryDataSwitch
      type: object
      properties:
        primaryDataSwitch:
          maxLength: 1
          type: string
          description: Primary Data Switch - A primary search value must be supplied,
            and can be based on one of four fields - last/business/generic/store name,
            identification number, phone number, postal code or mobile device id
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
        primaryData:
          maxLength: 40
          type: string
          description: Primary Data - Search field as per Primary data switch
          example: Test*
        optionalDataMatch:
          maxLength: 1
          type: string
          description: 'Optional Data Match - Code that indicates the degree of matching
            required for optional data fields. When an optional field contains a value
            greater than spaces, this field defines whether the resulting search data
            should match on all optional fields or on any optional field. The values
            are: 0 = Display any optional field match (Default) 1 = Display only those
            records that match all requested optional fields. '
          example: '1'
          enum:
          - '1'
          - '0'
    OptionalDataReq:
      type: object
      properties:
        firstNameOfCust:
          maxLength: 40
          type: string
          description: First Name - First name of the customer
          example: ''
        middleNameOfCust:
          maxLength: 40
          type: string
          description: Middle Name - Middle name of the customer.
          example: ''
        lastNameOfCust:
          maxLength: 40
          type: string
          description: 'Last Name - Last name of the Customer. '
          example: ''
        identificationNumberOfCust:
          maxLength: 25
          type: string
          description: Identification Number -  Code that indicates if this number
            is a Social Security number or other tax identification number.
          example: ''
        phoneNumberOfCust:
          maxLength: 20
          type: string
          description: Phone Number - Phone Number of Customer
          example: ''
        postalcodeOfCust:
          maxLength: 10
          type: string
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          example: ''
        mobileDeviceIDOfCust:
          maxLength: 20
          type: string
          description: 'Mobile Device ID - Identification of a mobile device associated
            with a mobile payment instrument (PI) embosser. CMS does not validate
            this field; it is stored only. '
          example: ''
        dateOfBirthOfCust:
          maxLength: 10
          type: string
          description: Date Of Birth - Date of Birth of Customer. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: '0'
        titleOfCust:
          maxLength: 20
          type: string
          description: Title - Professional or honorary title of the customer
          example: ''
        suffixNameOfCust:
          maxLength: 20
          type: string
          description: Suffix - Suffix for the customer. Examples include Jr., Sr.,
            etc.
          example: ''
        countryCodeOfCust:
          maxLength: 3
          type: string
          description: Country Code - Country for the customer. If you use this field,
            enter the exact country code
          example: ''
        user14OfCust:
          maxLength: 20
          type: string
          description: User 14 - User-defined field for the search. This field literal
            displays as User 14 unless changed on the Organization record (ARMO11).
          example: ''
        user15OfCust:
          maxLength: 20
          type: string
          description: User 15 - User-defined field for the search. This field literal
            displays as USER 15 unless changed on the Organization record (ARMO11).
          example: ''
        businessUnitOfCust:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the organization associated
            with this Customer, the values are 001–998
          format: int32
          example: '0'
    SearchCustomerReqModel:
      type: object
      properties:
        customerSearchReq:
          $ref: '#/components/schemas/CustomerSearchReq'
        optionalDataReq:
          $ref: '#/components/schemas/OptionalDataReq'
    CustomerlistRes:
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the organization associated
            with this Customer, the values are 001–998
          format: int32
          example: '200'
        cust/Store/Merchant:
          maxLength: 19
          type: string
          description: CUST#/STORE#/MERCH# - Number of the customer, store, or merchant
            record that was found to contain the name information.
          example: '0002000000050623496'
        last/Business/Store/GenericName:
          maxLength: 40
          type: string
          description: Last/Busines/Store/Genric Name
          example: Test 01
        postalCode:
          maxLength: 10
          type: string
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          example: '6430'
        user14:
          maxLength: 20
          type: string
          description: User 14 - User-defined field for the search. This field literal
            displays as User 14 unless changed on the Organization record (ARMO11).
          example: ''
        user15:
          maxLength: 20
          type: string
          description: User 15 - User-defined field for the search. This field literal
            displays as USER 15 unless changed on the Organization record (ARMO11).
          example: ''
        firstName:
          maxLength: 40
          type: string
          description: First Name - First name of the customer
          example: CMS Fiserv
        middleName:
          maxLength: 40
          type: string
          description: Middle Name - Middle name of the customer.
          example: ''
        identificationNumber:
          maxLength: 25
          type: string
          description: Identification Number - Code that indicates if this number
            is a Social Security number or other tax identification number.
          example: '0050623496'
        phoneNumber:
          maxLength: 20
          type: string
          description: Phone Number - Phone Number of Customer
          example: '0000000000000'
        dateOfBirth:
          maxLength: 10
          type: string
          description: Date of Birth - The format is MM/DD/YYYY or DD/MM/YYYY depending
            on the date format established on the System record (DATE FORMAT on System
            Control)
          example: '09011985'
        suffix:
          maxLength: 20
          type: string
          description: Suffix - Suffix for the customer. Examples include Jr., Sr.,
            etc.
          example: ''
        country:
          maxLength: 3
          type: string
          description: Country - The value entered must be a valid country code previously
            definedin the Security Subsystem and Common Routines (SSC) system
          example: ''
        title:
          maxLength: 20
          type: string
          description: Title - Professional or honorary title of the customer
          example: ''
        sourceCode:
          maxLength: 2
          type: string
          description: Source Code
          example: O1
        nameField:
          maxLength: 30
          type: string
          description: 'Name Field '
          example: Ms CMS Test 01
        nameAndOtherDetails:
          maxLength: 76
          type: string
          description: Name and Other Details
          example: Test/CMS//0050623496/             /9011985 ////6430///
    SearchCustomerResponseModel:
      type: object
      properties:
        customerlistRes:
          type: array
          items:
            $ref: '#/components/schemas/CustomerlistRes'
    BoardCustomerReqModel:
      required:
      - businessUnit
      - firstName
      - product
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the Business Unit
            associated with the Name and Address record
          format: int32
          example: '600'
        product:
          maxLength: 3
          type: integer
          description: Product - Identification number of the product associated with
            the  account or relationship
          format: int32
          example: '2'
        dualFlag:
          maxLength: 1
          type: integer
          description: Dual Flag - This field indicates whether CMS adds a duplicate
            customer  record in the associated business unit for dual currency processing
          format: int32
          example: '0'
        title:
          maxLength: 20
          type: string
          description: Title - Professional or honorary title associated with the
            owner name entered in the NAME LINE 1 field
          example: ADWSQQ
        nameTypeIndicator1:
          maxLength: 1
          type: string
          description: Name Type Indicator 1 - This field identifies the type of the
            customer
          example: '0'
          enum:
          - ZERO
          - '1'
          - '3'
        nameTypeIndicator2:
          maxLength: 1
          type: string
          description: Name Type Indicator 2 - This field identifies the type of the
            customer
          example: '0'
          enum:
          - ZERO
          - '1'
          - '3'
        nameTypeIndicator3:
          maxLength: 1
          type: string
          description: Name Type Indicator 3 - This field identifies the type of the
            customer
          example: '0'
          enum:
          - ZERO
          - '1'
          - '3'
        nameLine1:
          maxLength: 40
          type: string
          description: Name Line 1 - This field indicates the owner personal name,
            business name, or a generic name
          example: John
        nameLine2:
          maxLength: 40
          type: string
          description: Name Line 2 - This field indicates the owner name
          example: 'Jacob '
        nameLine3:
          maxLength: 40
          type: string
          description: Name Line 3 - This field indicates the owner name
          example: Samuel
        addressLine1:
          maxLength: 40
          type: string
          description: Address Line 1 - This is mailing address for the owner
          example: House No. 12
        addressLine2:
          maxLength: 40
          type: string
          description: Address Line 2 - This is mailing address for the owner
          example: S.H. Qo
        addressLine3:
          maxLength: 40
          type: string
          description: Address Line 3 -  This is mailing address for the owner
          example: California
        addressLine4:
          maxLength: 40
          type: string
          description: Address Line 4 - This is mailing address for the owner
          example: USA
        city:
          maxLength: 30
          type: string
          description: City - City portion of the mailing address of the owner
          example: La Vegas
        state:
          maxLength: 3
          type: string
          description: State - Name of state portion of the mailinga ddress of the
            owner
          example: CL
        postalCode:
          maxLength: 10
          type: string
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          example: '112345'
        countryCode:
          maxLength: 3
          type: string
          description: Country Code - The value entered must be a valid country code
            previously defined in the Security Subsystem and Common Routines (SSC)
            system
          example: USA
        residentialFlag:
          maxLength: 1
          type: string
          description: Residence Flag - This code indicates whether the owner owns
            or rents their primary residence
          example: '1'
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
        homePhone:
          maxLength: 20
          type: string
          description: Home Phone - This field is the owner’s home telephone number
          example: '11230342'
        employeePhone:
          maxLength: 20
          type: string
          description: Employee Phone -  This field is the work telephone number
          example: '67894'
        dateOfBirth:
          maxLength: 10
          type: string
          description: Date of Birth - Customer Date of Birth. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 01/02/2010
        lastName:
          maxLength: 40
          type: string
          description: Last Name - This field indicates the last name of the owner
          example: Christopher
        middleName:
          maxLength: 40
          type: string
          description: Middle Name - This field indicates the middle name of the owner
          example: ''
        firstName:
          maxLength: 40
          type: string
          description: First Name - This field indicates the first name of the owner
          example: Samuel
        nationalID:
          maxLength: 25
          type: string
          description: National ID - National ID Number of the owner
          example: 2363-12-2839-1
        gender:
          maxLength: 1
          type: string
          description: Gender - This flag indicates the onwer's gender
          example: '1'
          enum:
          - ZERO
          - '1'
          - '2'
        email:
          maxLength: 60
          type: string
          description: E-Mail -  This field indicates e-mail address of the owner
          example: abc@goole.com
        alternateEmail:
          maxLength: 50
          type: string
          description: Alternate E-Mail - This field indicates alternate e-mail address
            of the owner
          example: abc1@google.com
        mobileNumber:
          maxLength: 20
          type: string
          description: Mobile Number - Customer mobile number
          example: '11231232'
        emailFlag:
          maxLength: 1
          type: string
          description: E-Mail Flag - This field indicates whether you have the owner’s
            permission to use this e-mail address
          example: '1'
          enum:
          - ZERO
          - '1'
          - '2'
    BoardCustomerResponseModel:
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the business unit
            associated with the  account or relationship
          format: int32
          example: '600'
        customerNumber:
          maxLength: 19
          type: string
          description: Customer Number - The newly generated customer number
          example: '0000000001000000007'
    InquireCustomerResponseModel:
      required:
      - customerNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the organization associated
            with thisAccount Base Segment record. The values are 001–998.
          format: int32
          example: '200'
        customerNumber:
          maxLength: 19
          type: string
          description: Customer Number - This field is Identification number of the
            Name and Address record.
          example: '0000020000066806355'
        customerDemograhicDetailsRes:
          $ref: '#/components/schemas/CustomerDemograhicDetailsRes'
    CardListRes:
      type: object
      properties:
        dateLastWalletUsed:
          maxLength: 10
          type: string
          description: Date Last Wallet Used - Date the last wallet associated with
            card is used, The format is MM/DD/YYYY or DD/MM/YYYY depending on the
            date format established on the System record (DATE FORMAT on System Control)
          example: '0'
        dateLastPlasticSuppressed:
          maxLength: 10
          type: string
          description: Date Last Plastic Supressed - Date the last plastic usage is
            suppressed, The format is MM/DD/YYYY or DD/MM/YYYY depending on the date
            format established on the System record (DATE FORMAT on System Control)
          example: '0'
        plasticSuppressStatus:
          maxLength: 1
          type: string
          description: Plastic Suppress Status - Flag for plastic usage suppression
          example: N
        cardTechnology:
          maxLength: 1
          type: string
          description: Card Technology - This is the flag that identifies the current
            card technology (chip / magnetic / contactless) used for this account
          example: '3'
        atmFlag:
          maxLength: 1
          type: string
          description: ATM Flag - This is to enable or disable a ATM based transaction
            for a cardholder
          example: Y
        cardIssuedDate:
          maxLength: 10
          type: string
          description: Card Issue Date - The date when the most recently issued card
            was produced, The format is MM/DD/YYYY or DD/MM/YYYY depending on the
            date format established on the System record (DATE FORMAT on System Control)
          example: 28/09/2020
        posFlag:
          maxLength: 1
          type: string
          description: POS Flag - This is to enable or disable a POS based transaction
            for a cardholder
          example: Y
        warningCode:
          maxLength: 1
          type: string
          description: Warning Code 1 - Warning codes 1, which determine whether to
            authorize or decline authorizations for this Embosser record (card)
          example: '0'
        ecomActFlag:
          maxLength: 1
          type: integer
          description: ECOM Active switch - This is to enable or disable  ECOMM based
            transaction for a cardholder
          format: int32
          example: '0'
        lastCardExpiryDate:
          maxLength: 10
          type: string
          description: Last Card Expiration Date - Date on which the previously issued
            card expired, The format is MM/DD/YYYY or DD/MM/YYYY depending on the
            date format established on the System record (DATE FORMAT on System Control)
          example: 00/00/0000
        lastCardNeedActivation:
          maxLength: 1
          type: string
          description: Last Card Activation - Indicates whether card activation needs
            to occur for the previously issued card
          example: Y
        embosserName2:
          maxLength: 26
          type: string
          description: Embossed Name2 - Additional name to be embossed on the second
            embossing line of the card
          example: ''
        dateLastPlasticUsed:
          maxLength: 10
          type: string
          description: Date Last Plastic Used  - Date the last plastic is used, The
            format is MM/DD/YYYY or DD/MM/YYYY depending on the date format established
            on the System record (DATE FORMAT on System Control)
          example: 10/02/2021
        blockCodeDate:
          maxLength: 10
          type: string
          description: Block Code Date - Date the Block Code was assigned, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the date format established on
            the System record (DATE FORMAT on System Control)
          example: 00/00/0000
        chequeAccountNumber:
          maxLength: 19
          type: string
          description: Checking Account number - Checking Account associated with
            the card (Debit Card Only)
          example: ''
        currentCardNeedActivation:
          maxLength: 1
          type: string
          description: Current Card Needs Activation - Indicates whether card activation
            needs to occur for the most recently issued card
          example: Y
        savingsAccountNbr:
          maxLength: 17
          type: string
          description: Saving Account number - Saving Account associated with the
            card (Debit Card Only)
          example: ''
        currentCardAction:
          maxLength: 1
          type: string
          description: Current Card Action - Current Embossing Action requested on
            the card
          example: '0'
        lastCardAction:
          maxLength: 1
          type: string
          description: Last Card Action - Last Embossing Action requested on the card
          example: '1'
        cardExpiryDate:
          maxLength: 10
          type: string
          description: Expiration Date - Date on which the most recently issued card
            expires, The format is MM/DD/YYYY or DD/MM/YYYY depending on the date
            format established on the System record (DATE FORMAT on System Control)
          example: 16/09/2023
        cardActivatedDate:
          maxLength: 10
          type: string
          description: Card Activated Date - Date on which the card is activated,
            The format is MM/DD/YYYY or DD/MM/YYYY depending on the date format established
            on the System record (DATE FORMAT on System Control)
          example: 00/00/0000
        mccLimit4:
          maxLength: 11
          type: string
          description: MCC Limit4 - Occurence-4 of the MCC limit applied on the Card
          example: $0.00
        mccLimit5:
          maxLength: 11
          type: string
          description: MCC Limit5 - Occurence-5 of the MCC limit applied on the Card
          example: $0.00
        mccLimit6:
          maxLength: 11
          type: string
          description: MCC Limit6 - Occurence-6 of the MCC limit applied on the Card
          example: $0.00
        mccLimit7:
          maxLength: 11
          type: string
          description: MCC Limit7 - Occurence-7 of the MCC limit applied on the Card
          example: $0.00
        mccLimit8:
          maxLength: 11
          type: string
          description: MCC Limit8 - Occurence-8 of the MCC limit applied on the Card
          example: $0.00
        mccLimit9:
          maxLength: 11
          type: string
          description: MCC Limit9 - Occurence-9 of the MCC limit applied on the Card
          example: $0.00
        mccLimit10:
          maxLength: 11
          type: string
          description: MCC Limit10 - Occurence-10 of the MCC limit applied on the
            Card
          example: $0.00
        mccLimit2:
          maxLength: 11
          type: string
          description: MCC Limit2 - Occurence-2 of the MCC limit applied on the Card
          example: $0.00
        mccLimit3:
          maxLength: 11
          type: string
          description: MCC Limit3 - Occurence-3 of the MCC limit applied on the Card
          example: $0.00
        timeLastPlasticIssue:
          maxLength: 6
          type: integer
          description: Time Last Plastic Issue - Time when the last plastic was issued
          format: int32
          example: '131201'
        mccLimit1:
          maxLength: 11
          type: string
          description: MCC Limit1 - Occurence-1 of the MCC limit applied on the Card
          example: $0.01
        nameOnCard:
          maxLength: 26
          type: string
          description: Name On Card - Embossed Name On Card
          example: U T UATMLNCUST448
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number assigned to the cardholder embosser
            record
          example: '0009846801010009405'
        numberOfCards:
          maxLength: 2
          type: integer
          description: Number of Tokens - Number of wallet token associated with card
          format: int32
          example: '0'
        digitalID:
          maxLength: 10
          type: string
          description: Digital ID - Identification Code that is used in provisioning
            response.
          example: ''
        pinOffset:
          maxLength: 6
          type: integer
          description: PIN Offset - Current PIN offset of the card.
          format: int32
          example: '329861'
        motoFlag:
          maxLength: 1
          type: string
          description: MOTO Flag - This is to enable or disable a Mobile based transaction
            for a cardholder
          example: ''
        cardOpenedDate:
          maxLength: 10
          type: string
          description: Card Open Date - Date the Card is issued, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 17/09/2020
        payWaveFlag:
          maxLength: 1
          type: string
          description: Pay Wave Switch - This is to enable or disable a Contactless
            or Paywave based transaction for a cardholder
          example: Y
        statusOfCard:
          maxLength: 1
          type: string
          description: Status - Status of Embosser record
          example: '0'
        intAtmPosFlag:
          maxLength: 1
          type: string
          description: International ATM POS Flag - This is to enable or disable an
            international ATM or POS  based transaction for a cardholder
          example: Y
        blockCode:
          maxLength: 1
          type: string
          description: Block Code - Block Code assigned to the cardholder
          example: ''
        cashBackTranFlag:
          maxLength: 1
          type: string
          description: Cash Back Transaction Flag -  This is to enable or disable
            cashback at POS  transaction for a cardholder
          example: Y
        accountNumber:
          maxLength: 19
          type: string
          description: Account Number - Identification number of the Account Base
            Segment record
          example: '0001000011000052268'
        maskCardNumber:
          maxLength: 19
          type: string
          description: Mask Card Number - Masked Card number of the actual card number
            associated with the card Id
          example: 000984680XXXXXX9405
        productDescription:
          maxLength: 30
          type: string
          description: Product Description - This filed is the description of the
            Logo record. This description enables you to identify the kind of accounts/cards
            processed by this product
          example: VISA PLATINUM DEBIT
        cardHolderType:
          maxLength: 1
          type: integer
          description: Type of Cardholder - Code that indicates whether the cardholder
            is the primary cardholder or an additional cardholder associated with
            the account
          format: int32
          example: '1'
    CustomerInformationRes:
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the business unit
            associated with the  customer
          format: int32
          example: '200'
        customerNumber:
          maxLength: 19
          type: string
          description: Customer Number - This field is Identification number of the
            Name and Address record.
          example: '0000020000067163587'
        firstName:
          maxLength: 40
          type: string
          description: First Name - This field indicates the first name of the owner
          example: Andre
        identificationNumber:
          maxLength: 25
          type: string
          description: Identification Number - This field identifies the Social Security
            number or tax identification number
          example: '113902'
        gender:
          maxLength: 1
          type: string
          description: Gender - This flag indicates the owner’s gender
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        dateOfBirth:
          maxLength: 10
          type: string
          description: Date of Birth - Date of birth of the owner, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 14/11/1940
        customerName:
          maxLength: 40
          type: string
          description: Customer Name - This field indicates the owner personal name,
            business name, or a generic name
          example: Andre Reichel
        addressLine1:
          maxLength: 40
          type: string
          description: Address line 1 - This is mailing address for the owner
          example: 10 4601 Denesik Overpass
        addressLine2:
          maxLength: 40
          type: string
          description: Address line 2 - This is mailing address for the owner
          example: Lake Ofelia,QLD
        addressLine3:
          maxLength: 40
          type: string
          description: Address line 3 - This is mailing address for the owner
          example: Clayfield QLD
        addressLine4:
          maxLength: 40
          type: string
          description: Address line 4 - This is mailing address for the owner
          example: ''
        emailAddress:
          maxLength: 60
          type: string
          description: Email Address - This field indicates e-mail address of the
            owner
          example: Andre.Reichel@company1.com
        homePhoneNumber:
          maxLength: 20
          type: string
          description: Home Phone Number - This field is the owner’s home telephone
            number
          example: ++61430010348
        workPhoneNumber:
          maxLength: 20
          type: string
          description: Work Phone Number - this field indicates the work telephone
            number
          example: ++61430010348
        mobileNumber:
          maxLength: 20
          type: string
          description: Mobile Number - This field is the owner’s mobile number
          example: ++61430010348
        numberOfAccounts:
          maxLength: 3
          type: integer
          description: Number of Accounts - Number of Accounts associated with the
            Customer
          format: int32
          example: '1'
        userDefinedField4:
          maxLength: 1
          type: string
          description: User Defined Field 4 - User defined fields for owner
          example: ''
    ListCustomersCardResponseModel:
      type: object
      properties:
        customerInformationRes:
          $ref: '#/components/schemas/CustomerInformationRes'
        cardListRes:
          type: array
          items:
            $ref: '#/components/schemas/CardListRes'
    AccountListRes:
      type: object
      properties:
        accountNumber:
          maxLength: 19
          type: string
          description: Account Number - Identification number of the Account Base
            Segment record
          example: '0001000011000052268'
        product:
          maxLength: 3
          type: integer
          description: Product -Identification number of the product associated with
            this Account Base Segment record. The values are 001–998
          format: int32
          example: '1'
        statusOfAccount:
          maxLength: 1
          type: string
          description: Status of Account - Internal Status of the account
          example: D
        memoCreditAmount:
          maxLength: 17
          type: string
          description: Memo Credits - Amount of outstanding memo credits for the account
          example: $0.00
        memoDebitAmount:
          maxLength: 17
          type: string
          description: Memo Debits - Amount of outstanding memo debits for the account
          example: $0.00
        mailingIndicator:
          maxLength: 1
          type: string
          description: Mailing Indicator - Mailing Indicator indicate the mails to
            be sent to Office Address or Home Address
          example: ''
        ddaAccountNumber:
          maxLength: 17
          type: string
          description: DDA Account Number - Demand deposit account (DDA) number associated
            with direct debit processing
          example: '890005226'
        suppressToken:
          maxLength: 1
          type: string
          description: Suppress Token - Code that indicates whether the account is
            eligible for tokenization
          example: '0'
        reissueControlMethod:
          maxLength: 1
          type: string
          description: Reissue Control Method - Flag that indicates reissue method
          example: '0'
        noOfTokenizedCards:
          maxLength: 2
          type: integer
          description: Number of Tokenized Cards - Number of wallet cards associated
            with account
          format: int32
          example: '0'
        blockCode1:
          maxLength: 1
          type: string
          description: Block Code1 - Block Code 1 on the account
          example: A
        blockCode2:
          maxLength: 1
          type: string
          description: Block Code2 - Block Code 2 on the account
          example: ''
        blockCode1Date:
          maxLength: 10
          type: string
          description: Block Code1 Date - Date the Block Code 1 is applied on the
            account, The format is MM/DD/YYYY or DD/MM/YYYY depending on the date
            format established on the System record (DATE FORMAT on System Control)
          example: 19/08/2021
        blockCode2Date:
          maxLength: 10
          type: string
          description: Block Code2 Date - Date the Block Code 2 is applied on the
            account, The format is MM/DD/YYYY or DD/MM/YYYY depending on the date
            format established on the System record (DATE FORMAT on System Control)
          example: 00/00/0000
    ListCustomersAccountResponseModel:
      type: object
      properties:
        customerInformationRes:
          $ref: '#/components/schemas/CustomerInformationRes'
        accountListRes:
          type: array
          items:
            $ref: '#/components/schemas/AccountListRes'
