openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Customer Management
paths:
  /v1/customers/{customerNumber}/nameAddress:
    get:
      tags:
      - Customer Management
      summary: Inquire Customer Demographic
      description: This service is used to inquire customer's demographic details
      operationId: CustomersNameAddressInquire
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number of the organization associated
          with thisAccount Base Segment record. The values are 001–998.
        required: false
        schema:
          maxLength: 3
          type: number
          example: 200
      - name: customerNumber
        in: path
        description: Customer Number - This field is Identification number of the
          Name and Address record.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000066806355'
      responses:
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersNameAddressInquireResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Inquire Customer Demographic
      x-group-name: Customer Management
    put:
      tags:
      - Customer Management
      summary: Update Customer Demographics
      description: This service will be used to update the customer demographic details
        such as Name / Address / Phone Number / Email ID/ Date of Birth of the given
        customer. The customer ID will be passed in the input request to retrieve
        the demographic information.
      operationId: UpdateCustomerDemographics
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number of the Business Unit associated
          with the Name and Address record. The values are 001–998.
        required: false
        schema:
          maxLength: 3
          type: number
          example: 200
      - name: customerNumber
        in: path
        description: Customer Number - This field is Identification number of the
          Name and Address record.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000065439605'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerDemographicReqModel'
        required: true
      responses:
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerDemographicResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Update Customer Demographics
      x-group-name: Customer Management
  /v1/customers/searchCustomer:
    post:
      tags:
      - Customer Management
      summary: Search Customers
      description: This service is used to retrieve customer's information based on
        primary and optional search values like Last name, Indentification number,
        Phone number etc.
      operationId: SearchCustomers
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCustomerReqModel'
        required: true
      responses:
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                type: string
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Search Customers
      x-group-name: Customer Management
  /v1/customers/boardCustomer:
    post:
      tags:
      - Customer Management
      summary: Board Customer
      description: This service is used to board the new customer
      operationId: BoardCustomer
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCustomerReqModel'
        required: true
      responses:
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCustomerResponseModel'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Board Customer
      x-group-name: Customer Management
  /v1/customers/{customerNumber}/cardList:
    get:
      tags:
      - Customer Management
      summary: List Customer's Cards
      description: This service retrieves the card details associated with a Customer
        number along with demographic details
      operationId: ListCustomersCards
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: customerNumber
        in: path
        description: Customer Number - This field is Identification number of the
          Name and Address record.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000067163587'
      responses:
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersCardResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: List Customer's Cards
      x-group-name: Customer Management
  /v1/customers/{customerNumber}/accountList:
    get:
      tags:
      - Customer Management
      summary: List Customer's Accounts
      description: This service provides account's details associated with a Customer
        number along with demographic details
      operationId: ListCustomersAccounts
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: customerNumber
        in: path
        description: Customer Number - This field is Identification number of the
          Name and Address record.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000067163587'
      responses:
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersAccountResponseModel'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: List Customer's Accounts
      x-group-name: Customer Management
components:
  schemas:
    CustomerDemograhicDetailsReq:
      type: object
      properties:
        emailAddress:
          maxLength: 60
          type: string
          description: Email Address - This field indicates e-mail address of the
            owner.
          example: SAM@FISERV.COM
        middleName:
          maxLength: 40
          type: string
          description: Middle Name - This field is the Middle name of the owner.
          example: ''
        firstName:
          maxLength: 40
          type: string
          description: First Name - This field is the First name of the owner.
          example: ABC
        lastName:
          maxLength: 40
          type: string
          description: Last Name - This field is the Last name of the owner.
          example: ''
        countryCode:
          maxLength: 3
          type: string
          description: Country Code - The field is the country code. The value entered
            must be a valid country code previously defined in the Security Subsystem
            and Common Routines (SSC) system via the Country Code Definitions service.
          example: IND
        city:
          maxLength: 30
          type: string
          description: City - This field indicates the City portion of the mailing
            address of  the owner.
          example: DELHI
        stateProvince:
          maxLength: 3
          type: string
          description: State/Province - This field indicates the City portion of the
            mailing address of  the owner.
          example: DL
        addressLine1:
          maxLength: 40
          type: string
          description: Address Line 1 - This is mailing address for the owner.
          example: FLAT NO:404
        addressLine2:
          maxLength: 40
          type: string
          description: Address Line 2 - This is mailing address for the owner.
          example: RAINBOW APTS
        mobilePhoneFlag:
          maxLength: 1
          type: string
          description: Mobile Phone Flag - This flag indicates that whether you have
            the owner’s permission to use this number.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        mobileNumber:
          maxLength: 20
          type: string
          description: Mobile Number - This field is the owner’s mobile number.
          example: '112233'
        smsFlag:
          maxLength: 1
          type: string
          description: SMS Flag - This flag indicates that whether you have the owner’s
            permission to use this number.
          example: '0'
          enum:
          - '0'
          - '1'
        faxPhoneFlag:
          maxLength: 1
          type: string
          description: Fax Phone Flag - This flag indicates that whether you have
            the owner’s permission to use this number.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        postalCode:
          maxLength: 10
          type: string
          description: Postal Code - This is the Postal code portion of the mailing
            address of the owner.
          example: '110004'
        faxNumber:
          maxLength: 20
          type: string
          description: Fax Number - This field is the owner’s fax number.
          example: '82364782'
        dateOfBirth:
          maxLength: 10
          type: string
          description: Date Of Birth - Date Of Birth of the owner, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 06/04/1986
        nameLine2:
          maxLength: 40
          type: string
          description: Name Line 2 - This field indicates the owner name.
          example: KK
        houseNumber:
          maxLength: 20
          type: string
          description: House Number - This field indicates the House number of the
            owner.
          example: ''
        addressLine4:
          maxLength: 40
          type: string
          description: Address Line 4 - This is mailing address for the owner.
          example: DELHI
        nameLine3:
          maxLength: 40
          type: string
          description: Name Line 3 - This field indicates the owner name.
          example: ''
        addressLine3:
          maxLength: 40
          type: string
          description: Address Line 3 - This is mailing address for the owner.
          example: CHITRAPURI
        homePhoneNumber:
          maxLength: 20
          type: string
          description: Home Phone Number - This field is the owner’s home telephone
            number.
          example: '9241800756'
        homePhoneFlag:
          maxLength: 1
          type: string
          description: Home Phone Flag - This flag indicates that whether you have
            the owner’s permission to use this number.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        nameLine1:
          maxLength: 40
          type: string
          description: Name Line 1 - This field indicates the owner personal name,
            business name, or  a generic name.
          example: M S SWAMY
        languageIndicator:
          maxLength: 3
          type: string
          description: Language Indicator - This is User-defined code that indicates
            the language spoken by the owner.
          example: AUS
    UpdateCustomerDemographicReqModel:
      type: object
      properties:
        userDefinedField4:
          maxLength: 1
          type: string
          description: User Defined Field 4 - User-defined fields for an owner.
          example: Y
          enum:
          - Y
          - N
        customerDemograhicDetailsReq:
          $ref: '#/components/schemas/CustomerDemograhicDetailsReq'
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        errorMessage:
          type: string
          example: ''
    CustomerDemograhicDetailsRes:
      type: object
      properties:
        emailAddress:
          maxLength: 60
          type: string
          description: Email Address - that indicates the e-mail address of the owner
          example: QM422E7RJT@XVRAI.NET
        middleName:
          maxLength: 40
          type: string
          description: Middle Name - This field is the Middle name of the owner.
          example: ''
        firstName:
          maxLength: 40
          type: string
          description: First Name - This field is the First name of the owner.
          example: ABC
        lastName:
          maxLength: 40
          type: string
          description: Last Name - This field is the Last name of the owner.
          example: ''
        userDefinedField4:
          type: string
          description: User Defined Field 4 - User-defined fields for an owner.
          example: Y
        countryCode:
          maxLength: 3
          type: string
          description: Country Code - Thevalue entered must be a valid country code
            previously definedin the Security Subsystem and Common Routines (SSC)
            system
          example: AU
        city:
          maxLength: 30
          type: string
          description: City - City portion of the mailing address of the owner
          example: SYDNEY
        stateProvince:
          maxLength: 3
          type: string
          description: State/Province - Abbreviation of the state or province portion
            of the mailingaddress of the owner
          example: NSW
        addressLine1:
          maxLength: 40
          type: string
          description: Address Line 1 - Mailing address for the owner
          example: 77 30 HARVEY ISLAND
        addressLine2:
          maxLength: 40
          type: string
          description: Address Line 2 - Mailing address for the owner
          example: ''
        mobilePhoneFlag:
          type: string
          description: Mobile Phone Flag - this field is a code that indicates whether
            youhave the owner’s permission to call this number. The values are0 =No,
            do not contact the customer at this number,1=Yes, you can contact the
            customer at thisnumber (Default) 2=Preferred contact method
          example: '0'
        mobileNumber:
          maxLength: 20
          type: string
          description: Mobile Number - that indicates the mobile telephone number
            of the owner
          example: '+61440372725'
        smsFlag:
          maxLength: 1
          type: string
          description: SMS Flag - Code that indicates whether an SMS (short message
            service)message can be sent to the owner. The values are 0=No, do not
            contact the customer via SMS, 1=Yes, you can contact the customer via
            SMS(Default)
          example: '0'
        faxPhoneFlag:
          maxLength: 1
          type: string
          description: Fax Phone Flag - This field is a code that specifies whether
            theyou have the owner’s permission to call this number. The values 0 =No,
            do not contact the customer at this number,1=Yes, you can contact the
            customer at thisnumber (Default) 2=Preferred contact method
          example: '0'
        postalCode:
          maxLength: 10
          type: string
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          example: '110004'
        faxNumber:
          maxLength: 20
          type: string
          description: Fax Number - This field is the owner’s fax number.
          example: ''
        dateOfBirth:
          maxLength: 10
          type: string
          description: Date Of Birth - Date of Birth of the customer, The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control)
          example: 06/24/1986
        nameLine2:
          maxLength: 40
          type: string
          description: Name Line 2 - This field indicates the owner name.
          example: KK
        houseNumber:
          maxLength: 20
          type: string
          description: House Number - This field indicates the House number of the
            owner.
          example: ''
        addressLine4:
          maxLength: 40
          type: string
          description: Address Line 4 - This is mailing address for the owner.
          example: DELHI
        addressLine3:
          maxLength: 40
          type: string
          description: Address Line 3 - Mailing address for the owner
          example: ''
        nameLine3:
          maxLength: 40
          type: string
          description: Name Line 3 - This field indicates the owner name.
          example: ''
        homePhoneNumber:
          maxLength: 20
          type: string
          description: Home Phone Number - that indicates the home telephone number
            of the owner
          example: '+61440372725'
        homePhoneFlag:
          type: string
          description: Home Phone Flag - this field is a code that specifies whether
            theyou have the owner’s permission to call this number. The values 0 =No,
            do not contact the customer at this number,1=Yes, you can contact the
            customer at thisnumber (Default) 2=Preferred contact method
          example: '0'
        nameLine1:
          maxLength: 40
          type: string
          description: Name Line 1 - This field indicates the owner personal name,
            business name, or  a generic name.
          example: M S SWAMY
        languageIndicator:
          maxLength: 3
          type: string
          description: Language Indicator - User-defined code that indicates the language
            spoken by the owner.
          example: AUS
    UpdateCustomerDemographicResponseModel:
      required:
      - customerNumber
      type: object
      properties:
        userDefinedField4:
          maxLength: 1
          type: string
          description: User Defined Field 4 - User-defined fields for an owner.
          example: Y
          enum:
          - Y
          - N
        businessUnit:
          maxLength: 3
          type: number
          description: Business Unit - Identification number of the Business Unit
            associated with the Name and Address record. The values are 001–998.
          example: 200
        customerNumber:
          maxLength: 19
          type: string
          description: Customer Number - This field is Identification number of the
            Name and Address record.
          example: '0000020000065439605'
        customerDemograhicDetailsRes:
          $ref: '#/components/schemas/CustomerDemograhicDetailsRes'
    SearchCustomerReqModel:
      required:
      - optionalDataMatch
      - primaryData
      - primaryDataSwitch
      type: object
      properties:
        user14:
          maxLength: 20
          type: string
          description: User 14 - User-defined field for the search. This field literal
            displays as User 14 unless changed on the Organization record (ARMO11).
          example: ''
        middleName:
          maxLength: 40
          type: string
          description: Middle Name - Middle name of the customer.
          example: ''
        user15:
          maxLength: 20
          type: string
          description: User 15 - User-defined field for the search. This field literal
            displays as USER 15 unless changed on the Organization record (ARMO11).
          example: ''
        lastName:
          maxLength: 40
          type: string
          description: 'Last Name - Last name of the Customer. '
          example: ''
        businessUnit:
          maxLength: 3
          type: number
          description: Business Unit - Identification number of the organization associated
            with this Customer, the values are 001–998
          example: 0
        primaryDataSwitch:
          maxLength: 1
          type: string
          description: Primary Data Switch - A primary search value must be supplied,
            and can be based on one of four fields - last/business/generic/store name,
            identification number, phone number, postal code or mobile device id
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
        identificationNumber:
          maxLength: 25
          type: string
          description: Identification Number -  Code that indicates if this number
            is a Social Security number or other tax identification number.
          example: ''
        primaryData:
          maxLength: 40
          type: string
          description: Primary Data - Search field as per Primary data switch
          example: '390539172'
        phoneNumber:
          maxLength: 20
          type: string
          description: Phone Number - Phone Number of Customer
          example: ''
        optionalDataMatch:
          maxLength: 1
          type: string
          description: 'Optional Data Match - Code that indicates the degree of matching
            required for optional data fields. When an optional field contains a value
            greater than spaces, this field defines whether the resulting search data
            should match on all optional fields or on any optional field. The values
            are: 0 = Display any optional field match (Default) 1 = Display only those
            records that match all requested optional fields. '
          example: '1'
          enum:
          - '1'
          - '0'
        postalCode:
          maxLength: 10
          type: string
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          example: ''
        mobileDeviceId:
          maxLength: 20
          type: string
          description: 'Mobile Device ID - Identification of a mobile device associated
            with a mobile payment instrument (PI) embosser. CMS does not validate
            this field; it is stored only. '
          example: ''
        dateOfBirth:
          maxLength: 10
          type: string
          description: Date Of Birth - Date of Birth of Customer. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: '0'
        title:
          maxLength: 20
          type: string
          description: Title - Professional or honorary title of the customer
          example: ''
        suffix:
          maxLength: 20
          type: string
          description: Suffix - Suffix for the customer. Examples include Jr., Sr.,
            etc.
          example: ''
        countryCode:
          maxLength: 3
          type: string
          description: Country Code - Country for the customer. If you use this field,
            enter the exact country code
          example: ''
        firstName:
          maxLength: 40
          type: string
          description: First Name - First name of the customer
          example: ''
    BoardCustomerReqModel:
      required:
      - businessUnit
      - firstName
      - product
      type: object
      properties:
        emailFlag:
          maxLength: 1
          type: string
          description: E-Mail Flag - This field indicates whether you have the owner’s
            permission to use this e-mail address
          example: '1'
          enum:
          - ZERO
          - '1'
          - '2'
        nameLine1:
          maxLength: 40
          type: string
          description: Name Line 1 - This field indicates the owner personal name,
            business name, or a generic name
          example: John
        nameTypeIndicator3:
          maxLength: 1
          type: string
          description: Name Type Indicator 3 - This field identifies the type of the
            customer
          example: '0'
          enum:
          - ZERO
          - '1'
          - '3'
        nameTypeIndicator2:
          maxLength: 1
          type: string
          description: Name Type Indicator 2 - This field identifies the type of the
            customer
          example: '0'
          enum:
          - ZERO
          - '1'
          - '3'
        nameTypeIndicator1:
          maxLength: 1
          type: string
          description: Name Type Indicator 1 - This field identifies the type of the
            customer
          example: '0'
          enum:
          - ZERO
          - '1'
          - '3'
        nameLine2:
          maxLength: 40
          type: string
          description: Name Line 2 - This field indicates the owner name
          example: 'Jacob '
        nameLine3:
          maxLength: 40
          type: string
          description: Name Line 3 - This field indicates the owner name
          example: Samuel
        addressLine4:
          maxLength: 40
          type: string
          description: Address Line 4 - This is mailing address for the owner
          example: USA
        lastName:
          maxLength: 40
          type: string
          description: Last Name - This field indicates the last name of the owner
          example: Christopher
        middleName:
          maxLength: 40
          type: string
          description: Middle Name - This field indicates the middle name of the owner
          example: ''
        firstName:
          maxLength: 40
          type: string
          description: First Name - This field indicates the first name of the owner
          example: Samuel
        title:
          maxLength: 20
          type: string
          description: Title - Professional or honorary title associated with the
            owner name entered in the NAME LINE 1 field
          example: ADWSQQ
        mobileNumber:
          maxLength: 20
          type: string
          description: Mobile Number - Customer mobile number
          example: '11231232'
        alternateEmail:
          maxLength: 50
          type: string
          description: Alternate E-Mail - This field indicates alternate e-mail address
            of the owner
          example: abc1@google.com
        dualFlag:
          maxLength: 1
          type: number
          description: Dual Flag - This field indicates whether CMS adds a duplicate
            customer  record in the associated business unit for dual currency processing
          example: 0
        businessUnit:
          maxLength: 3
          type: number
          description: Business Unit - Identification number of the Business Unit
            associated with the Name and Address record
          example: 600
        product:
          maxLength: 3
          type: number
          description: Product - Identification number of the product associated with
            the  account or relationship
          example: 2
        nationalID:
          maxLength: 25
          type: string
          description: National ID - National ID Number of the owner
          example: 2363-12-2839-1
        gender:
          maxLength: 1
          type: string
          description: Gender - This flag indicates the onwer's gender
          example: '1'
          enum:
          - ZERO
          - '1'
          - '2'
        countryCode:
          maxLength: 3
          type: string
          description: Country Code - The value entered must be a valid country code
            previously defined in the Security Subsystem and Common Routines (SSC)
            system
          example: USA
        residentialFlag:
          maxLength: 1
          type: string
          description: Residence Flag - This code indicates whether the owner owns
            or rents their primary residence
          example: '1'
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
        homePhone:
          maxLength: 20
          type: string
          description: Home Phone - This field is the owner’s home telephone number
          example: '11230342'
        employeePhone:
          maxLength: 20
          type: string
          description: Employee Phone -  This field is the work telephone number
          example: '67894'
        dateOfBirth:
          maxLength: 10
          type: string
          description: Date of Birth - Customer Date of Birth. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 01/02/2010
        addressLine3:
          maxLength: 40
          type: string
          description: Address Line 3 -  This is mailing address for the owner
          example: California
        addressLine1:
          maxLength: 40
          type: string
          description: Address Line 1 - This is mailing address for the owner
          example: House No. 12
        addressLine2:
          maxLength: 40
          type: string
          description: Address Line 2 - This is mailing address for the owner
          example: S.H. Qo
        city:
          maxLength: 30
          type: string
          description: City - City portion of the mailing address of the owner
          example: La Vegas
        state:
          maxLength: 3
          type: string
          description: State - Name of state portion of the mailinga ddress of the
            owner
          example: CL
        email:
          maxLength: 60
          type: string
          description: E-Mail -  This field indicates e-mail address of the owner
          example: abc@goole.com
        postalCode:
          maxLength: 10
          type: string
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          example: '112345'
    BoardCustomerResponseModel:
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: number
          description: Business Unit - Identification number of the business unit
            associated with the  account or relationship
          example: 600
        customerNumber:
          maxLength: 19
          type: string
          description: Customer Number - The newly generated customer number
          example: '0000000001000000007'
    CustomersNameAddressInquireResponseModel:
      required:
      - customerNumber
      type: object
      properties:
        customerDemograhicDetailsRes:
          $ref: '#/components/schemas/CustomerDemograhicDetailsRes'
        businessUnit:
          maxLength: 3
          type: number
          description: Business Unit - Identification number of the organization associated
            with thisAccount Base Segment record. The values are 001–998.
          example: 200
        customerNumber:
          maxLength: 19
          type: string
          description: Customer Number - This field is Identification number of the
            Name and Address record.
          example: '0000020000066806355'
    CardListRes:
      type: object
      properties:
        dateLastWalletUsed:
          maxLength: 10
          type: string
          description: Date the last wallet associated with card is used, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the date format established on
            the System record (DATE FORMAT on System Control)
          example: '0'
        dateLastPlasticSupresed:
          maxLength: 10
          type: string
          description: Date the last plastic usage is suppressed, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: '0'
        plasticSuppressStatus:
          maxLength: 1
          type: string
          description: Flag for plastic usage suppression
          example: N
        cardTechnology:
          maxLength: 1
          type: string
          description: Technology (chip / magnetic / contactless) used to emboss the
            card
          example: '3'
          enum:
          - '0'
          - '1'
          - '3'
          - '5'
          - '2'
          - '4'
        atmFlag:
          maxLength: 1
          type: string
          description: Flag for ATM usage
          example: Y
        cardIssueDate:
          maxLength: 10
          type: string
          description: Date the Card is Issued, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the date format established on the System record (DATE FORMAT
            on System Control)
          example: 28/09/2020
        posFlag:
          maxLength: 1
          type: string
          description: Flag for POS usage
          example: Y
        warningCode:
          maxLength: 1
          type: string
          description: Warning Code applied to the card
          example: '0'
        ecomActFlag:
          maxLength: 1
          type: string
          description: Flag for e-commerce usage
          example: Y
        lastCardExpirationDate:
          maxLength: 10
          type: string
          description: Expiration Date of the last card issued to cardholder, The
            format is MM/DD/YYYY or DD/MM/YYYY depending on the date format established
            on the System record (DATE FORMAT on System Control)
          example: 00/00/0000
        lastCardNeedActivation:
          maxLength: 1
          type: string
          description: Last Card Need Activation
          example: Y
        embrName2:
          maxLength: 26
          type: string
          description: Embossed Name-2 on the Card
          example: ''
        dateLastPlasticUsed:
          maxLength: 10
          type: string
          description: Date the last plastic is used, The format is MM/DD/YYYY or
            DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: '13815'
        blockDate:
          maxLength: 10
          type: string
          description: Date the Block Code is assigned on the card, The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control)
          example: 00/00/0000
        chequeAccountNbr:
          maxLength: 19
          type: string
          description: Checking Account number associated with the card (Debit Card
            Only)
          example: ''
        currentCardNeedActivation:
          maxLength: 1
          type: string
          description: Current Card Activation Status
          example: Y
        savingsAccountNbr:
          maxLength: 17
          type: string
          description: Saving Account number associated with the card (Debit Card
            Only)
          example: ''
        currCardAction:
          maxLength: 1
          type: string
          description: Current Embossing Action requested on the card
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
        lastCardAction:
          maxLength: 1
          type: string
          description: Last Embossing Action requested on the card
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
        cardExpirationDate:
          maxLength: 10
          type: string
          description: Expiration Date on the card, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the date format established on the System record (DATE FORMAT
            on System Control)
          example: 16/09/2023
        cardActivatedDate:
          maxLength: 10
          type: string
          description: Date the card is activated, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the date format established on the System record (DATE FORMAT
            on System Control)
          example: 00/00/0000
        mccLimit4:
          maxLength: 11
          type: string
          description: Occurence-4 of the MCC limit applied on the Card
          example: $0.00
        mccLimit5:
          maxLength: 11
          type: string
          description: Occurence-5 of the MCC limit applied on the Card
          example: $0.00
        mccLimit6:
          maxLength: 11
          type: string
          description: Occurence-6 of the MCC limit applied on the Card
          example: $0.00
        mccLimit7:
          maxLength: 11
          type: string
          description: Occurence-7 of the MCC limit applied on the Card
          example: $0.00
        mccLimit8:
          maxLength: 11
          type: string
          description: Occurence-8 of the MCC limit applied on the Card
          example: $0.00
        mccLimit9:
          maxLength: 11
          type: string
          description: Occurence-9 of the MCC limit applied on the Card
          example: $0.00
        mccLimit10:
          maxLength: 11
          type: string
          description: Occurence-10 of the MCC limit applied on the Card
          example: $0.00
        mccLimit2:
          maxLength: 11
          type: string
          description: Occurence-2 of the MCC limit applied on the Card
          example: $0.00
        mccLimit3:
          maxLength: 11
          type: string
          description: Occurence-3 of the MCC limit applied on the Card
          example: $0.00
        timeLastPlasticIssue:
          maxLength: 6
          type: number
          description: Time Last Plastic Issue
          example: 131201
        mccLimit1:
          maxLength: 11
          type: string
          description: Occurence-1 of the MCC limit applied on the Card
          example: $0.01
        nameOnCard:
          maxLength: 26
          type: string
          description: Embossed Name On Card
          example: U T UATMLNCUST448
        businessUnit:
          maxLength: 3
          type: number
          description: Business Unit - Identification number of the business unit
            associated with the  customer
          example: 100
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number assigned to the cardholder embosser
            record
          example: '0009846801010009405'
        numberOfCards:
          maxLength: 2
          type: string
          description: Number of wallet token associated with card
          example: '0'
        digitalId:
          maxLength: 10
          type: string
          description: digital id of the wallet
          example: ''
        pinOffset:
          maxLength: 6
          type: string
          description: Pin offset
          example: '329861'
        motoFlag:
          maxLength: 1
          type: string
          description: Flag to determine MOTO transaction is allowed
          example: ''
        dateOpened:
          maxLength: 10
          type: string
          description: Date the Card is issued, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the date format established on the System record (DATE FORMAT
            on System Control)
          example: 17/09/2020
        payWaveFlag:
          maxLength: 1
          type: string
          description: Flag for Paywave usage
          example: Y
        embosserRecordStatus:
          maxLength: 1
          type: string
          description: Status of the card
          example: '0'
          enum:
          - '0'
          - '1'
          - F
          - S
          - T
          - P
          - ' '
        intAtmPosFlag:
          maxLength: 1
          type: string
          description: Flag for international ATM POS usage
          example: Y
        blockCode:
          maxLength: 1
          type: string
          description: Block Code on the card
          example: ''
        cashBackTranFlag:
          maxLength: 1
          type: string
          description: Flag for cashback usage
          example: Y
        cardSequence:
          maxLength: 4
          type: number
          description: Sequence of the card ID
          example: 1
        postToAccount:
          maxLength: 19
          type: string
          description: Account to which the card is linked
          example: '0001000011000052268'
        maskCardNumber:
          maxLength: 19
          type: string
          description: Mask Card number of the actual card number associated with
            the card Id
          example: 000984680XXXXXX9405
        product:
          maxLength: 3
          type: number
          description: Product associated with the Card
          example: 1
        productDescription:
          maxLength: 30
          type: string
          description: Description of the Card
          example: VISA PLATINUM DEBIT
        cardholderType:
          maxLength: 1
          type: number
          description: Type of Cardholder - Main or Supplementary
          example: 1
    ListCustomersCardResponseModel:
      type: object
      properties:
        object2:
          $ref: '#/components/schemas/Object2'
        workPhoneNumber:
          maxLength: 20
          type: string
          description: Work Phone Number of the Customer
          example: ++61430010348
        mobileNumber:
          maxLength: 20
          type: string
          description: Mobile Number of the Customer
          example: ++61430010348
        businessUnit:
          maxLength: 3
          type: string
          description: Business Unit - Identification number of the business unit
            associated with the  customer
          example: '200'
        customerNumber:
          maxLength: 19
          type: string
          description: Customer Number - This field is Identification number of the
            Name and Address record.
          example: '0000020000067163587'
        customerName:
          maxLength: 40
          type: string
          description: Name of the Customer
          example: UATMFNCU448
        homeDistricName:
          maxLength: 20
          type: string
          description: Home Distric Name of the Customer
          example: ''
        numberOfAccounts:
          maxLength: 3
          type: string
          description: Number of Accounts associated with the Customer
          example: '1'
        userDefinedField4:
          maxLength: 1
          type: string
          description: User Defined Field 4
          example: ''
        emailAddress:
          maxLength: 60
          type: string
          description: Email Address of the Customer
          example: UATMFNCU448@GMAIL.COM
        homePhoneNumber:
          maxLength: 20
          type: string
          description: Home Phone Number of the Customer
          example: ++61430010348
        addressLine1:
          maxLength: 40
          type: string
          description: Address line 1 of the Customer
          example: 62 CHARTERIS DR
        addressLine2:
          maxLength: 40
          type: string
          description: Address Line 2 of the Customer
          example: ''
        addressLine3:
          maxLength: 40
          type: string
          description: Address Line 3 of the Customer
          example: ''
        addressLine4:
          maxLength: 40
          type: string
          description: Address Line 4 of the Customer
          example: ''
        numberOfCards:
          maxLength: 3
          type: string
          description: Number of Cards associated with the Customer
          example: '1'
        ssnId:
          maxLength: 25
          type: string
          description: SSN ID of the Customer
          example: '113902'
        relationshipNbr:
          maxLength: 19
          type: string
          description: Relationship number associated with the customer (if relationship
            is active)
          example: ''
        gender:
          maxLength: 1
          type: string
          description: Gender of the Customer
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        relName:
          maxLength: 40
          type: string
          description: Name on the relationship Record  (if relationship is active)
          example: ''
        dateOfBirth:
          maxLength: 10
          type: string
          description: Date of Birth of the Customer, The format is MM/DD/YYYY or
            DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 14/11/1940
        creditLimit:
          maxLength: 17
          type: string
          description: Overall Credit Limit at the relationship level  (if relationship
            is active)
          example: $0.00"
        status:
          maxLength: 1
          type: string
          description: Status of the Relationship Record  (if relationship is active)
          enum:
          - '0'
          - '1'
          - '8'
          - P
          - '9'
          example: ''
        nameLine1:
          maxLength: 40
          type: string
          description: First Name of the Customer
          example: UATMFNCU448 TWOPPPUATMLNCUST448
        billingLvl:
          maxLength: 1
          type: string
          description: Flag indicating the Level of billing is at relationship level
            or at subordnate account level
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        totalAvailable:
          maxLength: 17
          type: string
          description: Total Available balance at the relationship level
          example: $0.00
    Object2:
      type: object
      properties:
        cardListRes:
          type: array
          items:
            $ref: '#/components/schemas/CardListRes'
    AccountListRes:
      type: object
      properties:
        suppressToken:
          maxLength: 1
          type: string
          description: Flag to supporess the wallet token creation
          example: '0'
          enum:
          - '0'
          - '1'
        internalStatus:
          maxLength: 1
          type: string
          description: Status of the account
          example: D
          enum:
          - N
          - A
          - F
          - D
          - I
          - M
          - Z
          - B
          - C
          - H
          - V
          - X
          - Q
          - J
          - V
          - T
          - R
          - K
          - J
          - '8'
          - '9'
          - P
          - H
        reissContolMethod:
          maxLength: 1
          type: number
          description: Flag to indicate method to reissue
          example: 0
        nbrOfTokenizedCards:
          maxLength: 2
          type: number
          description: Number of wallet cards associated with account
          example: 0
        amountMemoDebit:
          maxLength: 17
          type: string
          description: 'Amount of Debit Authorization that holds the Open to Buy '
          example: $0.00
        ddaAccountNumber:
          maxLength: 17
          type: string
          description: Debit Account number associated with the account
          example: '890005226'
        businessUnit:
          maxLength: 3
          type: string
          description: Business Unit - Identification number of the business unit
            associated with the  account
          example: '100'
        amountMemoCredit:
          maxLength: 17
          type: string
          description: Amount of Credit Authorization applied on hte account
          example: $0.00
        accountNumber:
          maxLength: 19
          type: string
          description: Account ID assigned to the customer for a given product
          example: '0001000011000052268'
        product:
          maxLength: 3
          type: string
          description: Product associated with the account
          example: '1'
        blockCode1:
          maxLength: 1
          type: string
          description: Block Code 1 on the account
          example: A
        mailingIndicator:
          maxLength: 1
          type: string
          description: Mailing Indicator for sending mails to either Office Address
            or Home Address
          example: ''
          enum:
          - H
          - O
        blockCode2:
          maxLength: 1
          type: string
          description: Block Code 2 on the account
          example: ''
        blockCode1Date:
          maxLength: 10
          type: string
          description: Date the Block Code 1 is applied, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 19/08/2021
        blockCode2Date:
          maxLength: 10
          type: string
          description: Date the Block Code 2 is applied, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 00/00/0000
    ListCustomersAccountResponseModel:
      type: object
      properties:
        workPhoneNumber:
          maxLength: 20
          type: string
          description: Work Phone Number of the Customer
          example: ++61430010348
        object1:
          $ref: '#/components/schemas/Object1'
        mobileNumber:
          maxLength: 20
          type: string
          description: Mobile Number of the Customer
          example: ++61430010348
        businessUnit:
          maxLength: 3
          type: string
          description: Business Unit - Identification number of the business unit
            associated with the  customer
          example: '200'
        customerNumber:
          maxLength: 19
          type: string
          description: Customer Number - This field is Identification number of the
            Name and Address record.
          example: '0000020000067163587'
        customerName:
          maxLength: 40
          type: string
          description: Name of the Customer
          example: UATMFNCU448
        homeDistricName:
          maxLength: 20
          type: string
          description: Home Distric Name of the Customer
          example: ''
        numberOfAccounts:
          maxLength: 3
          type: string
          description: Number of Accounts associated with the Customer
          example: '1'
        userDefinedField4:
          maxLength: 1
          type: string
          description: User Defined Field 4
          example: ''
        emailAddress:
          maxLength: 60
          type: string
          description: Email Address of the Customer
          example: UATMFNCU448@GMAIL.COM
        homePhoneNumber:
          maxLength: 20
          type: string
          description: Home Phone Number of the Customer
          example: ++61430010348
        addressLine1:
          maxLength: 40
          type: string
          description: Address line 1 of the Customer
          example: 62 CHARTERIS DR
        addressLine2:
          maxLength: 40
          type: string
          description: Address Line 2 of the Customer
          example: ''
        addressLine3:
          maxLength: 40
          type: string
          description: Address Line 3 of the Customer
          example: ''
        addressLine4:
          maxLength: 40
          type: string
          description: Address Line 4 of the Customer
          example: ''
        numberOfCards:
          maxLength: 3
          type: string
          description: Number of Cards associated with the Customer
          example: '1'
        ssnId:
          maxLength: 25
          type: string
          description: SSN ID of the Customer
          example: '113902'
        relationshipNbr:
          maxLength: 19
          type: string
          description: Relationship number associated with the customer (if relationship
            is active)
          example: ''
        gender:
          maxLength: 1
          type: string
          description: Gender of the Customer
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        relName:
          maxLength: 40
          type: string
          description: Name on the relationship Record  (if relationship is active)
          example: ''
        dateOfBirth:
          maxLength: 10
          type: string
          description: Date of Birth of the Customer, The format is MM/DD/YYYY or
            DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 14/11/1940
        creditLimit:
          maxLength: 17
          type: string
          description: Overall Credit Limit at the relationship level  (if relationship
            is active)
          example: $0.00"
        status:
          maxLength: 1
          type: string
          description: Status of the Relationship Record  (if relationship is active)
          enum:
          - '0'
          - '1'
          - '8'
          - P
          - '9'
          example: ''
        nameLine1:
          maxLength: 40
          type: string
          description: First Name of the Customer
          example: UATMFNCU448 TWOPPPUATMLNCUST448
        billingLvl:
          maxLength: 1
          type: string
          description: Flag indicating the Level of billing is at relationship level
            or at subordnate account level
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        totalAvailable:
          maxLength: 17
          type: string
          description: Total Available balance at the relationship level
          example: $0.00
    Object1:
      type: object
      properties:
        accountListRes:
          type: array
          items:
            $ref: '#/components/schemas/AccountListRes'
