openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Miscellaneous
paths:
  /v1/misc/boardEntities:
    post:
      tags:
      - Miscellaneous
      summary: Board Entities
      description: This service is used to board the new account,embosser,customer
        and relationship record.
      operationId: BoardEntities
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardEntityReqModel'
        required: true
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardEntityResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Board Entities
      x-group-name: Miscellaneous
  /v1/misc/{orgNumber}/orgDetails:
    get:
      tags:
      - Miscellaneous
      summary: Inquire Organization
      description: This service is used to view important paramter available at organization
        level.
      operationId: InquireOrganization
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: orgNumber
        in: path
        description: Business Unit - Identification number of the business unit associated
          with the  account
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireOrganizationResponseModel'
      x-proxy-name: Inquire Organization
      x-group-name: Miscellaneous
components:
  schemas:
    AccountDetailsReq:
      required:
      - billingCycle
      - creditLimit
      - issuanceId
      - owningBranchNumber
      type: object
      properties:
        corporateIdNumber:
          maxLength: 10
          type: string
          description: Corporate ID Number - Corporate identification number assigned
            to commercial card accounts
          example: ''
        primaryAccountFlag:
          maxLength: 1
          type: string
          description: Primary Account Flag - This is a flag that indicates whether
            the account is the primary account in a relationship
          enum:
          - ' '
          - P
          example: ''
        shortName:
          maxLength: 20
          type: string
          description: Short Name - This is the short name of the account holder
          example: ''
        creditLimit:
          maxLength: 17
          type: string
          description: Credit Limit - This is the Credit limit of the account
          example: '1000'
        billingCurrency:
          maxLength: 3
          type: integer
          description: Billing Currency - This is ISO currency code that identifies
            the currency of this account
          format: int32
          example: '0'
        billingLevel:
          maxLength: 1
          type: string
          description: Billing Level This is the Code which indicates whether billing
            occurs for the account at the relationship level or subordinate account
            level
          enum:
          - '1'
          - '0'
          example: ''
        dualBillingFlag:
          maxLength: 1
          type: string
          description: Dual Billing Flag - This is the flag that indicates whether
            CMS uses the foreign or local currency to request the minimum payment
          enum:
          - ZERO
          - '1'
          example: ''
        alternateCustomerNumber:
          maxLength: 19
          type: string
          description: Alternate Customer Number - This is the number that identifies
            the alternate Customer Name/ Address record containing an alternate address
            for statements and other correspondence
          example: ''
        customerSelectedDueDay:
          maxLength: 2
          type: integer
          description: Customer Selected Due Day - Customer Selected Due Day - Day
            of the month the customer has selected as the payment due date
          format: int32
          example: '0'
        cardNumberingScheme:
          maxLength: 1
          type: integer
          description: 'Card Numbering Scheme - Card numbering scheme that determines
            the card numbers that are assigned to Embosser records associated with
            the account '
          format: int32
          example: '0'
        billingCycle:
          maxLength: 2
          type: integer
          description: Billing Cycle - This flag indicates the day of the month that
            CMS performs cycle processing for the account
          format: int32
          example: '18'
        residenceId:
          maxLength: 3
          type: string
          description: 'Residence ID - This flag identifies the state, province or
            country in which the  account holder resides '
          example: ''
        issuanceId:
          maxLength: 3
          type: string
          description: 'Issuance ID - This flag identifies the state, province or
            country in which the  account holder resides '
          example: '600'
        idOfThePctOverrideTables:
          maxLength: 3
          type: string
          description: ID Of The PCT Override Tables - Code that identifies an existing
            Processing Control Table (PCT ID) used to establish special pricing controls
            for the account
          example: ''
        startDateOfTheOverride:
          maxLength: 10
          type: string
          description: Start Date Of The Override - This is the date on which the
            special pricing controls start for the account. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: ''
        expireDateOfTheOverride:
          maxLength: 10
          type: string
          description: Expire Date Of The Override - This is the date on which the
            special pricing controls expire for the account. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: ''
        processingControlLevel:
          maxLength: 1
          type: string
          description: Processing Control Level - This is a flag which indicates the
            processing control level for accounts in this product
          example: ''
        startDateOfPctOverride:
          maxLength: 10
          type: string
          description: Start Date Of PCT Override - This is the date on which the
            processing control level override starts for the account. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control).
          example: ''
        expirationDateOfPctOverride:
          maxLength: 10
          type: string
          description: Expiration Date Of PCT override - This is the date on which
            the processing control level override expires for the account. DThe format
            is MM/DD/YYYY or DD/MM/YYYY depending on the date format established on
            the System record (DATE FORMAT on System Control)
          example: ''
        cashPlanNumber:
          maxLength: 5
          type: integer
          description: Cash Plan Number - The default values for this field are set
            on the Account  Processing table assigned to the account
          format: int32
          example: '0'
        retailPlanNumber:
          maxLength: 4
          type: integer
          description: Retail Plan Number - The default values for this field are
            set on the Account Processing table assigned to the account
          format: int32
          example: '0'
        cardTechnology:
          maxLength: 1
          type: string
          description: 'Card Technology - This is the flag that identifies the current
            card technology used for this account '
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          example: ''
        temporaryCreditLimit:
          maxLength: 17
          type: string
          description: Temporary Credit Limit - This is the temporary line of credit
            for the account in whole monetary units
          example: ''
        expiryDateOfTempCreditLimit:
          maxLength: 10
          type: string
          description: Expiry Date of Temp Credit Limit - This expiry date is for
            the temporary line of credit for the account in whole monetary units.
            The format is MM/DD/YYYY or DD/MM/YYYY depending on the date format established
            on the System record (DATE FORMAT on System Control)
          example: ''
        owningBranchNumber:
          maxLength: 9
          type: integer
          description: Owning Branch Number - This field is the number of the branch
            that owns this account  and location of financial reporting for this account
          format: int32
          example: '999999998'
        mobilePiFlag:
          maxLength: 1
          type: string
          description: Mobile PI Flag - Flag that indicates whether mobile payment
            instruments (PI)  are allowed for this account
          enum:
          - ZERO
          - '1'
          example: ''
        authorizationCriteriaTable:
          maxLength: 3
          type: string
          description: Authorization Criteria Table - Identification number of the
            Authorization Criteria table assigned to the account
          example: ''
        suppressLetter:
          maxLength: 1
          type: string
          description: Suppress Letter - This flag indicates whether to suppress all
            letters for the account
          enum:
          - '0'
          - '1'
          example: ''
        waiveMembershipFees:
          maxLength: 1
          type: string
          description: Waive Membership Fees - This flag indicates whether to waive
            the annual membership fee for the account
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          example: ''
        ibsDdaRoutingNumber:
          maxLength: 1
          type: integer
          description: IBS DDA Routing Number - This is ABA-assigned routing and transit
            number that identifies the financial institution at which the checking
            account is held
          format: int32
          example: '0'
        ibsDdaAccountNumber:
          maxLength: 17
          type: string
          description: IBS DDA Account Number - Demand deposit account (DDA) number
            associated with direct debit processing
          example: ''
        ibsSavingsRoutingNumber:
          maxLength: 1
          type: integer
          description: IBS Savings Routing Number - This is ABA-assigned routing and
            transit number that identifies the financial institution at which the
            savings account is held
          format: int32
          example: '0'
        ibsSavingsAccountNumber:
          maxLength: 17
          type: string
          description: IBS Savings Account Number - This is the savings account number
          example: ''
        suppressTknAtAccntLevel:
          maxLength: 1
          type: string
          description: Suppress TKN at accnt level - Token suppression at account
            level indicator
          enum:
          - ZERO
          - '1'
          example: ''
        coreBankingIndicator:
          maxLength: 25
          type: string
          description: Core Banking Indicator - This is the code indicates type of
            bannking
          enum:
          - B
          - S
          - T
          - ' '
          example: ''
    AccountInsuranceProductDataReq:
      type: object
      properties:
        dualIndicator:
          maxLength: 1
          type: string
          description: Dual Indicator of Insurance product
          enum:
          - L
          - F
          - ' '
          example: ''
        productCode:
          maxLength: 2
          type: string
          description: Product Code of insurance product
          example: ''
        statusCode:
          maxLength: 1
          type: string
          description: Status Code of Account Insurance/Product Data
          enum:
          - F
          - I
          - ' '
          example: ''
        effectiveDate:
          maxLength: 10
          type: string
          description: Effective Date of Account Insurance/Product Data - The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the date format established on
            the System record (DATE FORMAT on System Control)
          example: ''
        enrollId:
          maxLength: 3
          type: string
          description: Enroll ID of Account Insurance/Product Data
          example: ''
        insuredPartyIndicator:
          maxLength: 1
          type: string
          description: Insured Party Indicator of Account Insurance/Product Data
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
          example: ''
        premiumRate:
          maxLength: 9
          type: integer
          description: Premium Rate of Account Insurance/Product Data
          format: int32
          example: '0'
        ficheNumber:
          maxLength: 9
          type: string
          description: Fiche Number of Account Insurance/Product Data
          example: ''
        source:
          maxLength: 2
          type: string
          description: Source of Account Insurance/Product Data
          example: ''
        cancelReason:
          maxLength: 1
          type: string
          description: Cancel Reason of Account Insurance/Product Data
          enum:
          - ' '
          - C
          - D
          - U
          - A
          - P
          - T
          - X
          - B
          - M
          - F
          - G
          - I
          - J
          - R
          example: ''
        mailLetter:
          maxLength: 1
          type: string
          description: Mail Letter of Account Insurance/Product Data
          enum:
          - ZERO
          - '1'
          example: ''
        mailLetterFee:
          maxLength: 1
          type: string
          description: Mail Letter Fee for Account Insurance/Product Data
          enum:
          - ZERO
          - '1'
          example: ''
        mailStatement:
          maxLength: 1
          type: string
          description: Mail Statement of Account Insurance/Product Data
          enum:
          - ZERO
          - '1'
          example: ''
    BoardEntityReqModel:
      required:
      - addInsuranceProduct
      - baseAccountNumber
      - businessUnit
      - createAccountRecord
      - createCustomerRecord
      - createEmbosserRecords
      - createRelationshipRecord
      - customerNumber
      - product
      - sameCustbaseNumber
      type: object
      properties:
        baseAccountNumber:
          maxLength: 19
          type: string
          description: Base Account Number - This is the identification number to
            assign to the new Account Base Segment record
          example: /
        createCustomerRecord:
          maxLength: 1
          type: string
          description: Create Customer Record - This is the code that indicates whether
            to add a new customer record
          example: Y
          enum:
          - Y
          - N
        createAccountRecord:
          maxLength: 1
          type: string
          description: Create Account Record - This is the code that indicates whether
            to add a new account record
          example: Y
          enum:
          - Y
          - N
        sameCustbaseNumber:
          maxLength: 1
          type: string
          description: Same Cust/Base Number - This is the code that indicates whether
            CUSTOMER NUMBER and BASE ACCOUNT NUMBER are to be the same number
          example: Y
          enum:
          - Y
          - N
        createRelationshipRecord:
          maxLength: 1
          type: string
          description: Create Relationship Record - This is the code that indicates
            whether to add a new Relationship record
          example: N
          enum:
          - N
          - Y
        createEmbosserRecords:
          maxLength: 1
          type: string
          description: Create Embosser Records - This is the code that indicates whether
            to add a new Embosser record
          example: Y
          enum:
          - Y
          - N
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the business unit
            associated with the  account
          format: int32
          example: '600'
        product:
          maxLength: 3
          type: integer
          description: Product - Identification number of the product associated with
            the account or relationship
          format: int32
          example: '1'
        customerNumber:
          maxLength: 19
          type: string
          description: Customer Number - Identifies the customer number of the Account
            Base Segment record
          example: ''
        relationshipNumber:
          maxLength: 19
          type: string
          description: Relationship Number - Relationship no. of customer
          example: ''
        addInsuranceProduct:
          maxLength: 1
          type: string
          description: Add Insurance Product - This is the code that indicates whether
            to add an Insurance Product record
          example: N
          enum:
          - N
          - Y
        customerDemographicDetailsReq:
          $ref: '#/components/schemas/CustomerDemographicDetailsReq'
        relationshipDetailsReq:
          $ref: '#/components/schemas/RelationshipDetailsReq'
        accountDetailsReq:
          $ref: '#/components/schemas/AccountDetailsReq'
        accountInsuranceProductDataReq:
          $ref: '#/components/schemas/AccountInsuranceProductDataReq'
        cardDetailsReq:
          $ref: '#/components/schemas/CardDetailsReq'
    CardDetailsReq:
      type: object
      properties:
        cardNumber:
          maxLength: 19
          type: string
          description: Card Number - Token Number assigned to the cardholder embosser
            record
          example: /
        cardAction:
          maxLength: 1
          type: string
          description: Card Action - This field is the card issue action code that
            determines the action CMS performs during the next run
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
          example: ''
        numberOfCardsRequested:
          maxLength: 2
          type: integer
          description: Number Of Cards Requested - This field identifies the number
            of cards required
          format: int32
          example: '0'
        typeOfCard:
          maxLength: 2
          type: integer
          description: Type Of Card - This field is a user-defined code that indicates
            the type of plastic stock
          format: int32
          example: '0'
        requestedCardType:
          maxLength: 2
          type: integer
          description: Requested Card Type - This field is a user-defined code that
            identifies the type of card requested
          format: int32
          example: '0'
        typeCardMailer:
          maxLength: 2
          type: integer
          description: Type Card Mailer - This field is a user-defined code that identifies
            the type of card  mailer to use to mail the card
          format: int32
          example: '0'
        plasticId:
          maxLength: 10
          type: string
          description: Plastic ID - User-defined code that identifies the plastic
            stock used to create a card for this Embosser record
          example: ''
        name1TypeIndicator:
          maxLength: 1
          type: string
          description: Name 1 Type Indicator - This field identifies the type of name
            for NAME LINE 1
          enum:
          - ZERO
          - '3'
          example: ''
        name2TypeIndicator:
          maxLength: 1
          type: string
          description: Name 2 Type Indicator - his field identifies the type of name
            for NAME LINE 2
          enum:
          - ZERO
          - '3'
          example: ''
        embossedName1:
          maxLength: 26
          type: string
          description: Embossed Name 1 - Name to be embossed on the first embossing
            line of the card
          example: Trump
        embossedName2:
          maxLength: 26
          type: string
          description: Embossed Name 2 - This is the Additional name to be embossed
            on the second embossing line of the card
          example: ''
        name1:
          maxLength: 40
          type: string
          description: Name 1 - This field identifies the name of the cardholder
          example: ''
        name2:
          maxLength: 40
          type: string
          description: Name 2 - This field identifies the name of the cardholder used
            for mailing the card and PIN mailers
          example: ''
        posServiceCode:
          maxLength: 3
          type: integer
          description: POS Service Code - This field indicates the type of point-of-sale
            service in effect for a card.
          format: int32
          example: '0'
        cardholderFlag:
          maxLength: 1
          type: string
          description: Cardholder Flag - This is the code that indicates whether the
            card is issued as a primary or secondary card
          example: '1'
          enum:
          - '1'
          - '0'
        addressLine1:
          maxLength: 40
          type: string
          description: Address Line 1 - First line of address used for mailing the
            card and PIN mailer
          example: ''
        addressLine2:
          maxLength: 40
          type: string
          description: Address Line 2 - Second line of address used for mailing the
            card and PIN mailer
          example: ''
        city:
          maxLength: 30
          type: string
          description: City - This is the city portion of the mailing address for
            cards and PIN mailers
          example: ''
        stateprovince:
          maxLength: 3
          type: string
          description: State/Province - This field that identifies the state or province
          example: ''
        postalCode:
          maxLength: 10
          type: string
          description: Postal Code - This field identifies the postal code portions
            of the mailing address
          example: ''
        visaMiniIndicator:
          maxLength: 1
          type: string
          description: Visa Mini Indicator - This Flag indicates whether Visa Mini
            cards are supported in this product
          example: ''
        programId:
          maxLength: 9
          type: integer
          description: Program ID - This is the identification number of the smart
            card program
          format: int32
          example: '0'
        mobileDeviceId:
          maxLength: 20
          type: string
          description: Mobile Device ID - Identification of the mobile device associated
            with a mobile payment instrument (PI) embosser
          example: ''
        mobileProvisionStatus:
          maxLength: 1
          type: string
          description: Mobile Provision Status - This flag indicates whether the embosser
            is for a mobile payment instrument (PI) and the current provisioning status
            for the PI
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
          - '4'
          example: ''
        deviceIndicator:
          maxLength: 1
          type: string
          description: Device Indicator - Code that indicates the type of device (form
            factor) written to the track data on the card
          example: '0'
        mccGroupLimits:
          maxLength: 11
          type: string
          description: 'MCC Group Limits - Merchat Limit '
          example: ''
        chequeAccountNbr:
          maxLength: 17
          type: string
          description: Cheque account nbr - Account cheque details
          example: ''
        savingsAccountNbr:
          maxLength: 17
          type: string
          description: Savings Account Nbr - Customer Savings account number
          example: ''
        tempCardNbr:
          maxLength: 19
          type: string
          description: TEMP CARD NBR - temporary card number
          example: ''
    CustomerDemographicDetailsReq:
      required:
      - firstName
      type: object
      properties:
        dualFlag:
          maxLength: 1
          type: integer
          description: Dual Flag - This field indicates whether CMS adds a duplicate
            customer  record in the associated business unit for dual currency processing
          format: int32
          example: '0'
        title:
          maxLength: 20
          type: string
          description: Title - Professional or honorary title associated with the
            owner name entered in the NAME LINE 1 field
          example: ''
        nameTypeIndicator1:
          maxLength: 1
          type: string
          description: 'Name Type Ind 1 - This field identifies the type of the customer '
          enum:
          - ZERO
          - '1'
          - '3'
          example: ''
        nameTypeIndicator2:
          maxLength: 1
          type: string
          description: ' Name Type Ind 2 - This field identifies the type of the customer'
          enum:
          - ZERO
          - '1'
          - '3'
          example: ''
        nameTypeIndicator3:
          maxLength: 1
          type: string
          description: ' Name Type Ind 3 - This field identifies the type of the customer'
          enum:
          - ZERO
          - '1'
          - '3'
          example: ''
        nameLine1:
          maxLength: 40
          type: string
          description: Name Line 1 - CThis field indicates the owner personal name,
            business name, or a generic name
          example: ''
        nameLine2:
          maxLength: 40
          type: string
          description: 'Name Line 2 - This field indicates the owner name '
          example: ''
        nameLine3:
          maxLength: 40
          type: string
          description: ' Name Line 3 - This field indicates the owner name '
          example: ''
        addressLine1:
          maxLength: 40
          type: string
          description: Address Line 1 - This is mailing address for the owner
          example: ''
        addressLine2:
          maxLength: 40
          type: string
          description: 'Address Line 2  - This is mailing address for the owner '
          example: ''
        addressLine3:
          maxLength: 40
          type: string
          description: Address Line 3 -  This is mailing address for the owner
          example: ''
        addressLine4:
          maxLength: 40
          type: string
          description: 'Address Line 4 - This is mailing address for the owner '
          example: ''
        cityOfOwner:
          maxLength: 30
          type: string
          description: City - City portion of the mailing address of the owner
          example: ''
        state:
          maxLength: 3
          type: string
          description: State - Name of state portion of the mailinga ddress of the
            owner
          example: ''
        postalCode:
          maxLength: 10
          type: string
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          example: ''
        countryCode:
          maxLength: 3
          type: string
          description: Country Code - The value entered must be a valid country code
            previously defined in the Security Subsystem and Common Routines (SSC)
            system
          example: ''
        residenceFlag:
          maxLength: 1
          type: string
          description: Residence Flag - This code indicates whether the owner owns
            or rents their primary residence
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
          example: ''
        homePhone:
          maxLength: 20
          type: string
          description: Home Phone - This field is the owner’s home telephone number
          example: '11230342'
        employeePhone:
          maxLength: 20
          type: string
          description: Employee Phone -  This field is the work telephone number
          example: '67894'
        dateOfBirth:
          maxLength: 10
          type: string
          description: Date of Birth - Customer Date of Birth. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 01/02/2010
        lastName:
          maxLength: 40
          type: string
          description: Last Name - This field indicates the last name of the owner
          example: ''
        middleName:
          maxLength: 40
          type: string
          description: Middle Name - This field indicates the middle name of the owner
          example: ''
        firstName:
          maxLength: 40
          type: string
          description: First Name - This field indicates the first name of the owner
          example: Tom
        nationalId:
          maxLength: 25
          type: string
          description: National ID - National ID Number of the owner
          example: ''
        gender:
          maxLength: 25
          type: string
          description: Gender - This flag indicates the onwer's gender
          enum:
          - ZERO
          - '1'
          - '2'
          example: ''
        email:
          maxLength: 60
          type: string
          description: Email - This field indicates e-mail address of the owner
          example: ''
        alternateEmail:
          maxLength: 50
          type: string
          description: 'Alternate E-Mail - This field indicates alternate e-mail address
            of the owner '
          example: ''
        mobileNumber:
          maxLength: 20
          type: string
          description: Mobile Number - Customer mobile number
          example: ''
        emailFlag:
          maxLength: 1
          type: string
          description: E-Mail Flag - This field indicates whether you have the owner’s
            permission to use this e-mail address
          enum:
          - ZERO
          - '1'
          - '2'
          example: ''
    RelationshipDetailsReq:
      type: object
      properties:
        relationshipCreditLimit:
          maxLength: 17
          type: string
          description: Relationship Credit Limit - Credit limit in whole monetary
            units for the Relationship record, which includes all the subordinate
            accounts in the relationship.
          example: ''
        relationshipBlockCode:
          maxLength: 1
          type: string
          description: Relationship Block Code - Block code are relationship level
          example: ''
        mailCode:
          maxLength: 1
          type: string
          description: 'Mail Code - 0: Associated to Account, 1: Associated to Account'
          enum:
          - ZERO
          - '1'
          example: ''
        reserveAmountpctFlag:
          maxLength: 1
          type: string
          description: 'Reserve Amount/PCT Flag - Reserve amount and pct flag, 0:
            Amount, 1: Percent'
          enum:
          - ZERO
          - '1'
          example: ''
        availableReserveAmountpct:
          type: string
          description: Available Reserve Amount/PCT - Available Reserve Amount/PCT
            of Relationship Record
          example: ''
        statementType:
          maxLength: 1
          type: string
          description: Statement Type - Stmt and Summary/Detailed Subordinate Accts
            stmt flag
          enum:
          - ZERO
          - '1'
          example: ''
        accountControlTableOverride:
          maxLength: 3
          type: integer
          description: Account Control Table Override at Relationship level
          format: int32
          example: '0'
        memoBillingCurrency:
          maxLength: 3
          type: integer
          description: Memo Billing Currency of relationship record
          format: int32
          example: '0'
        memoPaymentTransactionCode:
          maxLength: 4
          type: integer
          description: Memo Payment Transaction Code of relationship record
          format: int32
          example: '0'
        memoPaymentReversalTransactionCode:
          maxLength: 4
          type: integer
          description: Memo Payment Reversal Transaction Code of relationship record
          format: int32
          example: '0'
        memoBalanceIndicator:
          maxLength: 1
          type: string
          description: Memo Balance Indicator, 0 - Do Not Update Rel in Batch 1 -
            Update Rel in Batch
          enum:
          - '0'
          - '1'
          example: ''
        billingCycle:
          maxLength: 2
          type: integer
          description: Billing Cycle - Day of the month that CMS performs cycle processing
            for the account
          format: int32
          example: '0'
        billingLevel:
          maxLength: 1
          type: string
          description: 'Billing Level -  0: Bill at relationship, 1: Bill at account
            3: Combine'
          enum:
          - '1'
          - ZERO
          - '2'
          example: ''
        billingLevelmodify:
          maxLength: 1
          type: string
          description: 'Billing Level-Modify - 0: Allowed, 1: Not Allowed '
          enum:
          - '1'
          - '0'
          example: ''
        annualFeeAssessmentLevel:
          maxLength: 1
          type: string
          description: Annual Fee Assessment Level of relationshiop record
          enum:
          - ZERO
          - '1'
          - '2'
          example: ''
        annualFeeChangeAllowed:
          maxLength: 1
          type: string
          description: Annual Fee Change Allowed at relationship level
          enum:
          - ZERO
          - '1'
          example: ''
        lateFeeAssessmentLevel:
          maxLength: 1
          type: string
          description: Late Fee Assessment Level of relationship record
          enum:
          - ZERO
          - '1'
          - '2'
          example: ''
        lateFeeChangeAllowed:
          maxLength: 1
          type: string
          description: Late Fee Change Allowed of relationship record
          enum:
          - ZERO
          - '1'
          example: ''
        nsfFeeAssessmentLevel:
          maxLength: 1
          type: string
          description: NSF Fee Assessment Level at relationship record
          enum:
          - ZERO
          - '1'
          - '2'
          example: ''
        nsfFeeChangeAllowed:
          maxLength: 1
          type: string
          description: NSF Fee Change Allowed flag, 0:Subordinate Account, 1:Primary
            Account, 2:Primary Account
          enum:
          - ZERO
          - '1'
          example: ''
        defaultCreditLimit:
          maxLength: 17
          type: string
          description: Default Credit Limit at relationship level
          example: ''
        updateCreditLimit:
          maxLength: 1
          type: string
          description: 'Update Credit Limit - 0: Allowed 1: Not Allowed'
          enum:
          - ZERO
          - '1'
          example: ''
        corporateCustomerNumber:
          maxLength: 19
          type: string
          description: Corporate Customer Number
          example: ''
        customerGroupCode:
          maxLength: 3
          type: string
          description: Customer Group Code
          example: ''
        costCenterReportingNumber:
          maxLength: 16
          type: string
          description: Cost Center Reporting Number
          example: ''
        fiscalYearEnd:
          maxLength: 2
          type: integer
          description: Fiscal Year End
          format: int32
          example: '0'
        currentExpiryDate:
          maxLength: 10
          type: string
          description: Current Expiry Date. The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the date format established on the System record (DATE FORMAT
            on System Control)
          example: ''
        sourceCode:
          maxLength: 10
          type: string
          description: Source Code
          example: ''
        contactName:
          maxLength: 30
          type: string
          description: Contact  Name
          example: ''
        contactPhone:
          maxLength: 20
          type: string
          description: Contact Phone
          example: ''
        officerName:
          maxLength: 30
          type: string
          description: Officer Name
          example: ''
        userDate1:
          maxLength: 10
          type: string
          description: User Date 1 - The format is MM/DD/YYYY or DD/MM/YYYY depending
            on the date format established on the System record (DATE FORMAT on System
            Control)
          example: ''
        userDate2:
          maxLength: 10
          type: string
          description: User Date 2 - The format is MM/DD/YYYY or DD/MM/YYYY depending
            on the date format established on the System record (DATE FORMAT on System
            Control)
          example: ''
        userAmount1:
          maxLength: 17
          type: string
          description: User Amount 1
          example: ''
        userAmount2:
          maxLength: 17
          type: string
          description: User Amount 2
          example: ''
        userField5:
          maxLength: 15
          type: string
          description: User Field 5
          example: ''
        userField6:
          maxLength: 15
          type: string
          description: User Field 6
          example: ''
        commercialFlag:
          maxLength: 1
          type: string
          description: 'Commercial Flag - '
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
          - '4'
          example: ''
        authorizationCriteriaTable:
          maxLength: 3
          type: string
          description: Authorization Criteria Table - Identification number of the
            Authorization Criteria table assigned to the account
          example: ''
    BoardEntityResponseModel:
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the business unit
            associated with the  account
          format: int32
          example: '600'
        product:
          maxLength: 3
          type: integer
          description: Product - Identification number of the product associated with
            the  account or relationship
          format: int32
          example: '1'
        customerRecordCreationFlag:
          maxLength: 1
          type: string
          description: Customer Record creation flag
          example: Y
        accountRecordCreationFlag:
          maxLength: 1
          type: string
          description: Account Record creation flag
          example: Y
        embosserRecordCreationFlag:
          maxLength: 1
          type: string
          description: Embosser Record creation flag
          example: Y
        customerNumber:
          maxLength: 19
          type: string
          description: Customer Number - Identifies the customer number of the Account
            Base Segment record
          example: '0006000012000000191'
        relationshipNumber:
          maxLength: 19
          type: string
          description: Relationship Number - Relationship no. of customer
          example: ''
        accountNumber:
          maxLength: 19
          type: string
          description: Account Number - This is the identification number to assign
            to the new Account Base Segment record
          example: '0006000012000000191'
        cardDetailsRes:
          $ref: '#/components/schemas/CardDetailsRes'
    CardDetailsRes:
      type: object
      properties:
        cardNumberfvToken:
          maxLength: 19
          type: string
          description: Card Number/FV TOKEN - Token Number assigned to the cardholder
            embosser record
          example: '0004440010910990851'
        nameOnCard:
          maxLength: 26
          type: string
          description: Name On Card - Name to be embossed on the first embossing line
            of the card
          example: Trump
        expiryDate:
          maxLength: 10
          type: string
          description: Expiry Date - Expiry date of card - The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 18/01/2024
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        errorMessage:
          type: string
          example: ''
    BillingCyclAssignment10Res:
      type: object
      properties:
        dateOfLastStatement10:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  10 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay10:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 10 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment11Res:
      type: object
      properties:
        dateOfLastStatement11:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  11 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay11:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 11 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment12Res:
      type: object
      properties:
        dateOfLastStatement12:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  12 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay12:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 12 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment13Res:
      type: object
      properties:
        dateOfLastStatement13:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  13 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay13:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 13 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment14Res:
      type: object
      properties:
        dateOfLastStatement14:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  14 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay14:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 14 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment15Res:
      type: object
      properties:
        dateOfLastStatement15:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  15 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay15:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 15 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment16Res:
      type: object
      properties:
        dateOfLastStatement16:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  16 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay16:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 16 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment17Res:
      type: object
      properties:
        dateOfLastStatement17:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  17 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay17:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 17 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment18Res:
      type: object
      properties:
        dateOfLastStatement18:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  18 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay18:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 18 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment19Res:
      type: object
      properties:
        dateOfLastStatement19:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  19 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay19:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 19 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment1Res:
      type: object
      properties:
        dateOfLastStatement1:
          maxLength: 10
          type: string
          description: Date of Last Statement  1 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control).The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 18/02/2021
        nextCycleCallDay1:
          maxLength: 2
          type: string
          description: 'Next Cycle Call Day 1 -  Day of the month on which the related
            billing cycle occurs during the current month (CCC - Call Cycle Control) '
          example: '10'
    BillingCyclAssignment20Res:
      type: object
      properties:
        dateOfLastStatement20:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  20 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay20:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 20 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment21Res:
      type: object
      properties:
        dateOfLastStatement21:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  21 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay21:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 21 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment22Res:
      type: object
      properties:
        dateOfLastStatement22:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  22 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay22:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 22 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment23Res:
      type: object
      properties:
        dateOfLastStatement23:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  23 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay23:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 23 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment24Res:
      type: object
      properties:
        dateOfLastStatement24:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  24 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay24:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 24 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment25Res:
      type: object
      properties:
        dateOfLastStatement25:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  25 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay25:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 25 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment26Res:
      type: object
      properties:
        dateOfLastStatement26:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  26 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay26:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 26 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment27Res:
      type: object
      properties:
        dateOfLastStatement27:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  27 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay27:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 27 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment28Res:
      type: object
      properties:
        dateOfLastStatement28:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  28 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay28:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 28 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment29Res:
      type: object
      properties:
        dateOfLastStatement29:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  29 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay29:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 29 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment2Res:
      type: object
      properties:
        dateOfLastStatement2:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  2 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control).The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay2:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 2 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment30Res:
      type: object
      properties:
        dateOfLastStatement30:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  30 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay30:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 30 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment31Res:
      type: object
      properties:
        dateOfLastStatement31:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  31 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay31:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 31 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment3Res:
      type: object
      properties:
        dateOfLastStatement3:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  3 - Date on which the corresponding
            billing cycle was last produced during a statement run.The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay3:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 3 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment4Res:
      type: object
      properties:
        dateOfLastStatement4:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  4 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay4:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 4 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment5Res:
      type: object
      properties:
        dateOfLastStatement5:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  5 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay5:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 5 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment6Res:
      type: object
      properties:
        dateOfLastStatement6:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  6 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay6:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 6 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment7Res:
      type: object
      properties:
        dateOfLastStatement7:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  7 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay7:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 7 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment8Res:
      type: object
      properties:
        dateOfLastStatement8:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  8 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay8:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 8 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignment9Res:
      type: object
      properties:
        dateOfLastStatement9:
          maxLength: 10
          type: string
          description: 'Date of Last Statement  9 - Date on which the corresponding
            billing cycle was last produced during a statement run. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control) '
          example: 18/02/2021
        nextCycleCallDay9:
          maxLength: 2
          type: string
          description: Next Cycle Call Day 9 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: '10'
    BillingCyclAssignmentsRes:
      type: object
      properties:
        billingCyclAssignment1Res:
          $ref: '#/components/schemas/BillingCyclAssignment1Res'
        billingCyclAssignment2Res:
          $ref: '#/components/schemas/BillingCyclAssignment2Res'
        billingCyclAssignment3Res:
          $ref: '#/components/schemas/BillingCyclAssignment3Res'
        billingCyclAssignment4Res:
          $ref: '#/components/schemas/BillingCyclAssignment4Res'
        billingCyclAssignment5Res:
          $ref: '#/components/schemas/BillingCyclAssignment5Res'
        billingCyclAssignment6Res:
          $ref: '#/components/schemas/BillingCyclAssignment6Res'
        billingCyclAssignment7Res:
          $ref: '#/components/schemas/BillingCyclAssignment7Res'
        billingCyclAssignment8Res:
          $ref: '#/components/schemas/BillingCyclAssignment8Res'
        billingCyclAssignment9Res:
          $ref: '#/components/schemas/BillingCyclAssignment9Res'
        billingCyclAssignment10Res:
          $ref: '#/components/schemas/BillingCyclAssignment10Res'
        billingCyclAssignment11Res:
          $ref: '#/components/schemas/BillingCyclAssignment11Res'
        billingCyclAssignment12Res:
          $ref: '#/components/schemas/BillingCyclAssignment12Res'
        billingCyclAssignment13Res:
          $ref: '#/components/schemas/BillingCyclAssignment13Res'
        billingCyclAssignment14Res:
          $ref: '#/components/schemas/BillingCyclAssignment14Res'
        billingCyclAssignment15Res:
          $ref: '#/components/schemas/BillingCyclAssignment15Res'
        billingCyclAssignment16Res:
          $ref: '#/components/schemas/BillingCyclAssignment16Res'
        billingCyclAssignment17Res:
          $ref: '#/components/schemas/BillingCyclAssignment17Res'
        billingCyclAssignment18Res:
          $ref: '#/components/schemas/BillingCyclAssignment18Res'
        billingCyclAssignment19Res:
          $ref: '#/components/schemas/BillingCyclAssignment19Res'
        billingCyclAssignment20Res:
          $ref: '#/components/schemas/BillingCyclAssignment20Res'
        billingCyclAssignment21Res:
          $ref: '#/components/schemas/BillingCyclAssignment21Res'
        billingCyclAssignment22Res:
          $ref: '#/components/schemas/BillingCyclAssignment22Res'
        billingCyclAssignment23Res:
          $ref: '#/components/schemas/BillingCyclAssignment23Res'
        billingCyclAssignment24Res:
          $ref: '#/components/schemas/BillingCyclAssignment24Res'
        billingCyclAssignment25Res:
          $ref: '#/components/schemas/BillingCyclAssignment25Res'
        billingCyclAssignment26Res:
          $ref: '#/components/schemas/BillingCyclAssignment26Res'
        billingCyclAssignment27Res:
          $ref: '#/components/schemas/BillingCyclAssignment27Res'
        billingCyclAssignment28Res:
          $ref: '#/components/schemas/BillingCyclAssignment28Res'
        billingCyclAssignment29Res:
          $ref: '#/components/schemas/BillingCyclAssignment29Res'
        billingCyclAssignment30Res:
          $ref: '#/components/schemas/BillingCyclAssignment30Res'
        billingCyclAssignment31Res:
          $ref: '#/components/schemas/BillingCyclAssignment31Res'
    GeneralLedgerDetailsRes:
      type: object
      properties:
        businessUnitLevel:
          maxLength: 1
          type: string
          description: 'Business Unit Level - Code that determines whether CMS generates
            general ledger transactions at the business unit level '
          example: Y
          enum:
          - Y
          - N
        generateProductLevelGlReporting:
          maxLength: 1
          type: string
          description: 'Generate Product Level GL Reporting - Code that determines
            whether CMS generates general ledger transactions at the product level '
          example: Y
          enum:
          - Y
          - N
        generatePlanLevelGlReporting:
          maxLength: 1
          type: string
          description: 'Generate Plan Level GL Reporting - Code that determines whether
            CMS generates general ledger transactions at the credit plan level '
          example: Y
          enum:
          - Y
          - N
        accountingMethod:
          maxLength: 1
          type: string
          description: 'Accounting Method - Code that determines whether the business
            unit uses a cash basis or an accrual basis accounting method '
          example: A
          enum:
          - A
          - C
        nonpostedDebits:
          maxLength: 19
          type: string
          description: 'Non-Posted Debits - Default general ledger account numbers
            for nonposted debit transactions '
          example: ''
        nonpostedDebitReversals:
          maxLength: 19
          type: string
          description: 'Non-Posted Debit Reversals - Default general ledger account
            numbers for nonposted debit reversal transactions '
          example: ''
        nonpostedDebitPurges:
          maxLength: 19
          type: string
          description: 'Non-Posted Debit Purges - Default general ledger account numbers
            for nonposted debit purge transactions '
          example: ''
        batchNonpostedDebits:
          maxLength: 19
          type: string
          description: 'Batch Non-Posted Debits - Default general ledger account numbers
            for nonposted debit transactions in batch '
          example: ''
        batchNonpostDebitReversals:
          maxLength: 19
          type: string
          description: 'Batch Non-Post Debit Reversals - Default general ledger account
            numbers for nonposted debit reversal transactions in batch '
          example: ''
        defaultGlAccountForDebits:
          maxLength: 19
          type: string
          description: 'Default GL Account For Debits - Default general ledger account
            numbers for any transaction that does not have a corresponding general
            ledger account '
          example: ''
        nonpostedCredits:
          maxLength: 19
          type: string
          description: 'Non-Posted Credits - Default transaction code assigned to
            a nonposted credit record '
          example: ''
        nonpostedCreditReversals:
          maxLength: 19
          type: string
          description: 'Non-Posted Credit Reversals - Default transaction code assigned
            to a nonposted credit reversal record '
          example: ''
        nonpostedCreditPurges:
          maxLength: 19
          type: string
          description: 'Non-Posted Credit Purges - Default general ledger account
            numbers for nonposted credit purge transactions '
          example: Y
        batchNonpostedCredits:
          maxLength: 19
          type: string
          description: 'Batch Non-Posted Credits - Default transaction code assigned
            to a batch nonposted credit record '
          example: ''
        batchNonpostCreditReversals:
          maxLength: 19
          type: string
          description: 'Batch Non-Post Credit Reversals - Default transaction code
            assigned to a batch nonposted credit reversal record '
          example: ''
        defaultGlAccountForCredits:
          maxLength: 19
          type: string
          description: 'Default GL Account For Credits - Default general ledger account
            numbers for any transaction that does not have a corresponding general
            ledger account '
          example: ''
        generalLedgerReportingType:
          maxLength: 1
          type: string
          description: 'General Ledger Reporting Type -  General reporting type '
          example: D
          enum:
          - D
          - C
          - M
    InquireOrganizationResponseModel:
      required:
      - orgNumber
      type: object
      properties:
        orgNumber:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the business unit
            associated with the  account
          format: int32
          example: '600'
        businessUnitName:
          maxLength: 40
          type: string
          description: Business Unit Name - Description or name of the business unit
          example: NAB
        countryCode:
          maxLength: 3
          type: string
          description: Country Code - Code that identifies the country in which this
            business unit is located
          example: AUS
        currencyCode:
          maxLength: 3
          type: integer
          description: Currency Code - ISO Standard Currency Code that identifies
            the unit of currency for this business unit
          format: int32
          example: '36'
        businessUnitRegion:
          maxLength: 1
          type: string
          description: Business Unit Region - Code that identifies the quarterly reporting
            region for the business unit
          example: '1'
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - ' '
        todaysDate:
          maxLength: 10
          type: string
          description: Todays Date - Date when CMS last processed the business unit
          example: 18/08/2021
        dateNextProcess:
          maxLength: 10
          type: string
          description: Date Next Process - Next processing date for the business unit
          example: 19/08/2021
        dateInterestAccruedThrough:
          maxLength: 10
          type: string
          description: Date Interest Accrued Through - Date through which interest
            accrued for all accounts within this business unit
          example: 18/08/2021
        dateLastMaintenance:
          maxLength: 10
          type: string
          description: Date Last Maintenance- Date of the last maintenance on this
            Organization record
          example: 18/08/2021
        generalLedgerDetailsRes:
          $ref: '#/components/schemas/GeneralLedgerDetailsRes'
        accruedDebit:
          maxLength: 4
          type: integer
          description: 'Accrued Debit - Debit Accrual transaction code '
          format: int32
          example: '1234'
        accruedCredit:
          maxLength: 4
          type: integer
          description: 'Accrued Credit - Credit Accrual transaction code '
          format: int32
          example: '1235'
        transactionBasedOffers:
          maxLength: 1
          type: integer
          description: Transaction Based Offers - the code that indicates offers based
            on type of transaction
          format: int32
          example: '1'
        useServiceCharges:
          maxLength: 1
          type: string
          description: User Service Charges - Code that indicates whether this business
            unit uses service charges
          example: Y
          enum:
          - Y
          - N
        processingControlsRes:
          $ref: '#/components/schemas/ProcessingControlsRes'
        commercialCardsAllowed:
          maxLength: 1
          type: string
          description: Commercial Cards Allowed - Flag that indicates whether CMS
            allows commercial card accounts for this business unit
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
        relationshipAuthorisationActive:
          maxLength: 1
          type: string
          description: Relationship Authorisation Active - Flag that indicates whether
            the relationship authorization feature is active for relationship accounts
            added in this business unit
          enum:
          - '0'
          - '1'
          example: ''
        cashCreditLimitCalculationMethod:
          maxLength: 1
          type: string
          description: Cash Credit Limit Calculation Method - This field indicates
            whether the cash credit limit is a monetary amount or a percentage of
            the relationship credit limit
          example: A
          enum:
          - A
          - P
        cashCreditLimit:
          maxLength: 17
          type: string
          description: Cash Credit Limit - This field that indicates the default cash
            limit value for a relationship in this business unit
          example: $100,000.00
        loanLimitCalculationMethod:
          maxLength: 1
          type: string
          description: 'Loan Limit Calculation Method - This field indicates whether
            the loan limit is a monetary amount or a percentage of the relationship
            credit limit '
          example: A
          enum:
          - A
          - P
        loanCreditLimit:
          maxLength: 17
          type: string
          description: Loan Credit Limit - This field indicates the default loan limit
            value for a relationship in this business unit
          example: $0.00
        excludeDefaultDisputedAmounts:
          maxLength: 1
          type: string
          description: Exclude Default Disputed Amounts - The code indicates dispute
            amount to be considered while calculating OTB
          example: '0'
          enum:
          - '0'
          - '1'
        mccLimitsRes:
          $ref: '#/components/schemas/MccLimitsRes'
        earlySettlementQuotesProcess:
          maxLength: 1
          type: string
          description: Early Settlement Quotes Process - Flag that indicates whether
            CMS calculates early settlement quotes for loans during the CMS daily
            run in batch processing
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        installmentLoansActive:
          maxLength: 1
          type: string
          description: 'Installment Loans Active - Flag that indicates whether CMS
            allows installment loans for this business unit '
          example: '0'
          enum:
          - '0'
          - '1'
        billingCyclAssignmentsRes:
          $ref: '#/components/schemas/BillingCyclAssignmentsRes'
    MccLimitsRes:
      type: object
      properties:
        mccLimitAmount1:
          maxLength: 11
          type: string
          description: MCC LIMIT AMOUNT 1 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount2:
          maxLength: 11
          type: string
          description: MCC LIMIT AMOUNT 2 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount3:
          maxLength: 11
          type: string
          description: MCC LIMIT AMOUNT 3 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount4:
          maxLength: 11
          type: string
          description: MCC LIMIT AMOUNT 4 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount5:
          maxLength: 11
          type: string
          description: MCC LIMIT AMOUNT 5 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount6:
          maxLength: 11
          type: string
          description: MCC LIMIT AMOUNT 6 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount7:
          maxLength: 11
          type: string
          description: MCC LIMIT AMOUNT 7 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount8:
          maxLength: 11
          type: string
          description: MCC LIMIT AMOUNT 8 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount9:
          maxLength: 11
          type: string
          description: MCC LIMIT AMOUNT 9 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount10:
          maxLength: 11
          type: string
          description: MCC LIMIT AMOUNT 10 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
    ProcessingControlsRes:
      type: object
      properties:
        allowConsolidatedPayments:
          maxLength: 1
          type: string
          description: 'Allow Consolidated Payments - Flag that indicates whether
            CMS allows consolidated payments for relationships within this business
            unit '
          example: '0'
          enum:
          - '0'
          - '1'
        addUnpaidMinAmountDueBalances:
          maxLength: 1
          type: string
          description: Add Unpaid Min. Amount Due Balances - This field helps to identify
            how to transfer unpaid minimum amount due balances from foreign accounts
            to local accounts
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        autoChargebackActive:
          maxLength: 1
          type: string
          description: 'Auto Chargeback Active - Flag that indicates whether automatic
            chargeback processing is active for the business unit '
          example: '0'
          enum:
          - '0'
          - '1'
        actionOnLateFee:
          maxLength: 1
          type: string
          description: 'Action On Late Fee - Code that indicates whether CMS waives
            the late fee when late fee assessment is delayed into the next cycle '
          example: '0'
          enum:
          - '0'
          - '1'
        actionOnFinanceCharge:
          maxLength: 1
          type: string
          description: 'Action On Finance Charge - Code that indicates whether CMS
            waives or defers interest processing when a statement is delayed at the
            printing vendor site '
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
