openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Miscellaneous
paths:
  /v1/misc/boardEntities:
    post:
      tags:
      - Miscellaneous
      summary: Board Entities
      description: This service is used to board the new account,embosser,customer
        and relationship record.
      operationId: BoardEntities
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardEntityReqModel'
        required: true
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardEntityResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Board Entities
      x-group-name: Miscellaneous
  /v1/misc/{orgNumber}/orgDetails:
    get:
      tags:
      - Miscellaneous
      summary: Inquire Organization
      description: This service is used to view important paramter available at organization
        level.
      operationId: InquireOrganization
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: orgNumber
        in: path
        description: Business Unit - Identification number of the business unit associated
          with the  account
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireOrganizationResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Inquire Organization
      x-group-name: Miscellaneous
components:
  schemas:
    AccountDetailsReq:
      required:
      - billingCycle
      - creditLimit
      - issuanceId
      - owningBranchNumber
      type: object
      properties:
        corporateIdNumber:
          maxLength: 10
          minLength: 0
          type: string
          description: Corporate ID Number - Corporate identification number assigned
            to commercial card accounts
          example: ''
        primaryAccountFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Primary Account Flag - This is a flag that indicates whether
            the account is the primary account in a relationship
          example: ''
          enum:
          - ' '
          - P
        shortName:
          maxLength: 20
          minLength: 0
          type: string
          description: Short Name - This is the short name of the account holder
          example: ''
        creditLimit:
          maxLength: 17
          minLength: 0
          type: string
          description: Credit Limit - This is the Credit limit of the account
          example: '1000'
        billingCurrency:
          maximum: 999
          maxLength: 3
          type: integer
          description: Billing Currency - This is ISO currency code that identifies
            the currency of this account
          format: int32
          example: '0'
        billingLevel:
          maxLength: 1
          minLength: 0
          type: string
          description: Billing Level This is the Code which indicates whether billing
            occurs for the account at the relationship level or subordinate account
            level
          example: ''
          enum:
          - '1'
          - '0'
        dualBillingFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Dual Billing Flag - This is the flag that indicates whether
            CMS uses the foreign or local currency to request the minimum payment
          example: ''
          enum:
          - ZERO
          - '1'
        alternateCustomerNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: Alternate Customer Number - This is the number that identifies
            the alternate Customer Name/ Address record containing an alternate address
            for statements and other correspondence
          example: ''
        customerSelectedDueDay:
          maximum: 99
          maxLength: 2
          type: integer
          description: Customer Selected Due Day - Customer Selected Due Day - Day
            of the month the customer has selected as the payment due date
          format: int32
          example: '0'
        cardNumberingScheme:
          maximum: 9
          maxLength: 1
          type: integer
          description: 'Card Numbering Scheme - Card numbering scheme that determines
            the card numbers that are assigned to Embosser records associated with
            the account '
          format: int32
          example: '0'
        billingCycle:
          maximum: 99
          maxLength: 2
          type: integer
          description: Billing Cycle - This flag indicates the day of the month that
            CMS performs cycle processing for the account
          format: int32
          example: '18'
        residenceId:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Residence ID - This flag identifies the state, province or
            country in which the  account holder resides '
          example: ''
        issuanceId:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Issuance ID - This flag identifies the state, province or
            country in which the  account holder resides '
          example: '600'
        cashPlanNumber:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Cash Plan Number - The default values for this field are set
            on the Account  Processing table assigned to the account
          format: int32
          example: '0'
        retailPlanNumber:
          maximum: 9999
          maxLength: 4
          type: integer
          description: Retail Plan Number - The default values for this field are
            set on the Account Processing table assigned to the account
          format: int32
          example: '0'
        cardTechnology:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Card Technology - This is the flag that identifies the current
            card technology used for this account '
          example: ''
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        temporaryCreditLimit:
          maxLength: 17
          minLength: 0
          type: string
          description: Temporary Credit Limit - This is the temporary line of credit
            for the account in whole monetary units
          example: ''
        expiryDateOfTempCreditLimit:
          maxLength: 10
          minLength: 0
          type: string
          description: Expiry Date of Temp Credit Limit - This expiry date is for
            the temporary line of credit for the account in whole monetary units.
            The format is MM/DD/YYYY or DD/MM/YYYY depending on the date format established
            on the System record (DATE FORMAT on System Control)
          example: ''
        owningBranchNumber:
          maximum: 999999999
          maxLength: 9
          type: integer
          description: Owning Branch Number - This field is the number of the branch
            that owns this account  and location of financial reporting for this account
          format: int32
          example: '999999998'
        mobilePiFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Mobile PI Flag - Flag that indicates whether mobile payment
            instruments (PI)  are allowed for this account
          example: ''
          enum:
          - ZERO
          - '1'
        authorizationCriteriaTable:
          maxLength: 3
          minLength: 0
          type: string
          description: Authorization Criteria Table - Identification number of the
            Authorization Criteria table assigned to the account
          example: ''
        suppressLetter:
          maxLength: 1
          minLength: 0
          type: string
          description: Suppress Letter - This flag indicates whether to suppress all
            letters for the account
          example: ''
          enum:
          - '0'
          - '1'
        waiveMembershipFees:
          maxLength: 1
          minLength: 0
          type: string
          description: Waive Membership Fees - This flag indicates whether to waive
            the annual membership fee for the account
          example: ''
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        ibsDdaRoutingNumber:
          maximum: 9
          maxLength: 1
          type: integer
          description: IBS DDA Routing Number - This is ABA-assigned routing and transit
            number that identifies the financial institution at which the checking
            account is held
          format: int32
          example: '0'
        ibsDdaAccountNumber:
          maxLength: 17
          minLength: 0
          type: string
          description: IBS DDA Account Number - Demand deposit account (DDA) number
            associated with direct debit processing
          example: ''
        ibsSavingsRoutingNumber:
          maximum: 9
          maxLength: 1
          type: integer
          description: IBS Savings Routing Number - This is ABA-assigned routing and
            transit number that identifies the financial institution at which the
            savings account is held
          format: int32
          example: '0'
        ibsSavingsAccountNumber:
          maxLength: 17
          minLength: 0
          type: string
          description: IBS Savings Account Number - This is the savings account number
          example: ''
        suppressTknAtAccntLevel:
          maxLength: 1
          minLength: 0
          type: string
          description: Suppress TKN at accnt level - Token suppression at account
            level indicator
          example: ''
          enum:
          - ZERO
          - '1'
        coreBankingIndicator:
          maxLength: 25
          minLength: 0
          type: string
          description: Core Banking Indicator - This is the code indicates type of
            bannking
          example: ''
          enum:
          - B
          - S
          - T
          - ' '
        pctOverrideDetailsReq:
          $ref: '#/components/schemas/PctOverrideDetailsReq'
    AccountInsuranceProductDataReq:
      type: object
      properties:
        dualIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Dual Indicator of Insurance product
          example: ''
          enum:
          - L
          - F
          - ' '
        productCode:
          maxLength: 2
          minLength: 0
          type: string
          description: Product Code of insurance product
          example: ''
        statusCode:
          maxLength: 1
          minLength: 0
          type: string
          description: Status Code of Account Insurance/Product Data
          example: ''
          enum:
          - F
          - I
          - ' '
        effectiveDate:
          maxLength: 10
          minLength: 0
          type: string
          description: Effective Date of Account Insurance/Product Data - The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the date format established on
            the System record (DATE FORMAT on System Control)
          example: ''
        enrollId:
          maxLength: 3
          minLength: 0
          type: string
          description: Enroll ID of Account Insurance/Product Data
          example: ''
        insuredPartyIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Insured Party Indicator of Account Insurance/Product Data
          example: ''
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
        premiumRate:
          maximum: 999999999
          maxLength: 9
          type: integer
          description: Premium Rate of Account Insurance/Product Data
          format: int32
          example: '0'
        ficheNumber:
          maxLength: 9
          minLength: 0
          type: string
          description: Fiche Number of Account Insurance/Product Data
          example: ''
        source:
          maxLength: 2
          minLength: 0
          type: string
          description: Source of Account Insurance/Product Data
          example: ''
        cancelReason:
          maxLength: 1
          minLength: 0
          type: string
          description: Cancel Reason of Account Insurance/Product Data
          example: ''
          enum:
          - ' '
          - C
          - D
          - U
          - A
          - P
          - T
          - X
          - B
          - M
          - F
          - G
          - I
          - J
          - R
        mailLetter:
          maxLength: 1
          minLength: 0
          type: string
          description: Mail Letter of Account Insurance/Product Data
          example: ''
          enum:
          - ZERO
          - '1'
        mailLetterFee:
          maxLength: 1
          minLength: 0
          type: string
          description: Mail Letter Fee for Account Insurance/Product Data
          example: ''
          enum:
          - ZERO
          - '1'
        mailStatement:
          maxLength: 1
          minLength: 0
          type: string
          description: Mail Statement of Account Insurance/Product Data
          example: ''
          enum:
          - ZERO
          - '1'
    BoardEntityReqModel:
      required:
      - addInsuranceProduct
      - baseAccountNumber
      - businessUnit
      - createAccountRecord
      - createCustomerRecord
      - createEmbosserRecords
      - createRelationshipRecord
      - customerNumber
      - product
      - sameCustbaseNumber
      type: object
      properties:
        baseAccountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: Base Account Number - This is the identification number to
            assign to the new Account Base Segment record
          example: /
        createCustomerRecord:
          maxLength: 1
          minLength: 0
          type: string
          description: Create Customer Record - This is the code that indicates whether
            to add a new customer record
          example: Y
          enum:
          - Y
          - N
        createAccountRecord:
          maxLength: 1
          minLength: 0
          type: string
          description: Create Account Record - This is the code that indicates whether
            to add a new account record
          example: Y
          enum:
          - Y
          - N
        sameCustbaseNumber:
          maxLength: 1
          minLength: 0
          type: string
          description: Same Cust/Base Number - This is the code that indicates whether
            CUSTOMER NUMBER and BASE ACCOUNT NUMBER are to be the same number
          example: Y
          enum:
          - Y
          - N
        createRelationshipRecord:
          maxLength: 1
          minLength: 0
          type: string
          description: Create Relationship Record - This is the code that indicates
            whether to add a new Relationship record
          example: N
          enum:
          - N
          - Y
        createEmbosserRecords:
          maxLength: 1
          minLength: 0
          type: string
          description: Create Embosser Records - This is the code that indicates whether
            to add a new Embosser record
          example: Y
          enum:
          - Y
          - N
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the business unit
            associated with the  account
          format: int32
          example: '600'
        product:
          maximum: 999
          maxLength: 3
          type: integer
          description: Product - Identification number of the product associated with
            the account or relationship
          format: int32
          example: '1'
        customerNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: Customer Number - Identifies the customer number of the Account
            Base Segment record
          example: ''
        relationshipNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: Relationship Number - Relationship no. of customer
          example: ''
        addInsuranceProduct:
          maxLength: 1
          minLength: 0
          type: string
          description: Add Insurance Product - This is the code that indicates whether
            to add an Insurance Product record
          example: N
          enum:
          - N
          - Y
        customerDemographicDetailsReq:
          $ref: '#/components/schemas/CustomerDemographicDetailsReq'
        relationshipDetailsReq:
          $ref: '#/components/schemas/RelationshipDetailsReq'
        accountDetailsReq:
          $ref: '#/components/schemas/AccountDetailsReq'
        accountInsuranceProductDataReq:
          $ref: '#/components/schemas/AccountInsuranceProductDataReq'
        cardDetailsReq:
          $ref: '#/components/schemas/CardDetailsReq'
    CardDetailsReq:
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: Card Number - Token Number assigned to the cardholder embosser
            record
          example: /
        cardAction:
          maxLength: 1
          minLength: 0
          type: string
          description: Card Action - This field is the card issue action code that
            determines the action CMS performs during the next run
          example: ''
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
        numberOfCardsRequested:
          maximum: 99
          maxLength: 2
          type: integer
          description: Number Of Cards Requested - This field identifies the number
            of cards required
          format: int32
          example: '0'
        typeOfCard:
          maximum: 99
          maxLength: 2
          type: integer
          description: Type Of Card - This field is a user-defined code that indicates
            the type of plastic stock
          format: int32
          example: '0'
        requestedCardType:
          maximum: 99
          maxLength: 2
          type: integer
          description: Requested Card Type - This field is a user-defined code that
            identifies the type of card requested
          format: int32
          example: '0'
        typeCardMailer:
          maximum: 99
          maxLength: 2
          type: integer
          description: Type Card Mailer - This field is a user-defined code that identifies
            the type of card  mailer to use to mail the card
          format: int32
          example: '0'
        plasticId:
          maxLength: 10
          minLength: 0
          type: string
          description: Plastic ID - User-defined code that identifies the plastic
            stock used to create a card for this Embosser record
          example: ''
        name1TypeIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Name 1 Type Indicator - This field identifies the type of name
            for NAME LINE 1
          example: ''
          enum:
          - ZERO
          - '3'
        name2TypeIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Name 2 Type Indicator - his field identifies the type of name
            for NAME LINE 2
          example: ''
          enum:
          - ZERO
          - '3'
        embossedName1:
          maxLength: 26
          minLength: 0
          type: string
          description: Embossed Name 1 - Name to be embossed on the first embossing
            line of the card
          example: Trump
        embossedName2:
          maxLength: 26
          minLength: 0
          type: string
          description: Embossed Name 2 - This is the Additional name to be embossed
            on the second embossing line of the card
          example: ''
        name1:
          maxLength: 40
          minLength: 0
          type: string
          description: Name 1 - This field identifies the name of the cardholder
          example: ''
        name2:
          maxLength: 40
          minLength: 0
          type: string
          description: Name 2 - This field identifies the name of the cardholder used
            for mailing the card and PIN mailers
          example: ''
        posServiceCode:
          maximum: 999
          maxLength: 3
          type: integer
          description: POS Service Code - This field indicates the type of point-of-sale
            service in effect for a card.
          format: int32
          example: '0'
        cardholderFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Cardholder Flag - This is the code that indicates whether the
            card is issued as a primary or secondary card
          example: '1'
          enum:
          - '1'
          - '0'
        addressLine1:
          maxLength: 40
          minLength: 0
          type: string
          description: Address Line 1 - First line of address used for mailing the
            card and PIN mailer
          example: ''
        addressLine2:
          maxLength: 40
          minLength: 0
          type: string
          description: Address Line 2 - Second line of address used for mailing the
            card and PIN mailer
          example: ''
        city:
          maxLength: 30
          minLength: 0
          type: string
          description: City - This is the city portion of the mailing address for
            cards and PIN mailers
          example: ''
        stateprovince:
          maxLength: 3
          minLength: 0
          type: string
          description: State/Province - This field that identifies the state or province
          example: ''
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          description: Postal Code - This field identifies the postal code portions
            of the mailing address
          example: ''
        visaMiniIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Visa Mini Indicator - This Flag indicates whether Visa Mini
            cards are supported in this product
          example: ''
        programId:
          maximum: 999999999
          maxLength: 9
          type: integer
          description: Program ID - This is the identification number of the smart
            card program
          format: int32
          example: '0'
        mobileDeviceId:
          maxLength: 20
          minLength: 0
          type: string
          description: Mobile Device ID - Identification of the mobile device associated
            with a mobile payment instrument (PI) embosser
          example: ''
        mobileProvisionStatus:
          maxLength: 1
          minLength: 0
          type: string
          description: Mobile Provision Status - This flag indicates whether the embosser
            is for a mobile payment instrument (PI) and the current provisioning status
            for the PI
          example: ''
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
          - '4'
        deviceIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Device Indicator - Code that indicates the type of device (form
            factor) written to the track data on the card
          example: '0'
        mccGroupLimits:
          maxLength: 11
          minLength: 0
          type: string
          description: 'MCC Group Limits - Merchat Limit '
          example: ''
        chequeAccountNbr:
          maxLength: 17
          minLength: 0
          type: string
          description: Cheque account nbr - Account cheque details
          example: ''
        savingsAccountNbr:
          maxLength: 17
          minLength: 0
          type: string
          description: Savings Account Nbr - Customer Savings account number
          example: ''
    CustomerDemographicDetailsReq:
      required:
      - firstName
      type: object
      properties:
        dualFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: Dual Flag - This field indicates whether CMS adds a duplicate
            customer  record in the associated business unit for dual currency processing
          format: int32
          example: '0'
        title:
          maxLength: 20
          minLength: 0
          type: string
          description: Title - Professional or honorary title associated with the
            owner name entered in the NAME LINE 1 field
          example: ''
        nameTypeIndicator1:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Name Type Ind 1 - This field identifies the type of the customer '
          example: ''
          enum:
          - ZERO
          - '1'
          - '3'
        nameTypeIndicator2:
          maxLength: 1
          minLength: 0
          type: string
          description: ' Name Type Ind 2 - This field identifies the type of the customer'
          example: ''
          enum:
          - ZERO
          - '1'
          - '3'
        nameTypeIndicator3:
          maxLength: 1
          minLength: 0
          type: string
          description: ' Name Type Ind 3 - This field identifies the type of the customer'
          example: ''
          enum:
          - ZERO
          - '1'
          - '3'
        nameLine1:
          maxLength: 40
          minLength: 0
          type: string
          description: Name Line 1 - CThis field indicates the owner personal name,
            business name, or a generic name
          example: ''
        nameLine2:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Name Line 2 - This field indicates the owner name '
          example: ''
        nameLine3:
          maxLength: 40
          minLength: 0
          type: string
          description: ' Name Line 3 - This field indicates the owner name '
          example: ''
        addressLine1:
          maxLength: 40
          minLength: 0
          type: string
          description: Address Line 1 - This is mailing address for the owner
          example: ''
        addressLine2:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Address Line 2  - This is mailing address for the owner '
          example: ''
        addressLine3:
          maxLength: 40
          minLength: 0
          type: string
          description: Address Line 3 -  This is mailing address for the owner
          example: ''
        addressLine4:
          maxLength: 40
          minLength: 0
          type: string
          description: 'Address Line 4 - This is mailing address for the owner '
          example: ''
        cityOfOwner:
          maxLength: 30
          minLength: 0
          type: string
          description: City - City portion of the mailing address of the owner
          example: ''
        state:
          maxLength: 3
          minLength: 0
          type: string
          description: State - Name of state portion of the mailinga ddress of the
            owner
          example: ''
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          example: ''
        countryCode:
          maxLength: 3
          minLength: 0
          type: string
          description: Country Code - The value entered must be a valid country code
            previously defined in the Security Subsystem and Common Routines (SSC)
            system
          example: ''
        residenceFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Residence Flag - This code indicates whether the owner owns
            or rents their primary residence
          example: ''
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
        homePhone:
          maxLength: 20
          minLength: 0
          type: string
          description: Home Phone - This field is the owner’s home telephone number
          example: '11230342'
        employeePhone:
          maxLength: 20
          minLength: 0
          type: string
          description: Employee Phone -  This field is the work telephone number
          example: '67894'
        dateOfBirth:
          maxLength: 10
          minLength: 0
          type: string
          description: Date of Birth - Customer Date of Birth. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 01/02/2010
        lastName:
          maxLength: 40
          minLength: 0
          type: string
          description: Last Name - This field indicates the last name of the owner
          example: ''
        middleName:
          maxLength: 40
          minLength: 0
          type: string
          description: Middle Name - This field indicates the middle name of the owner
          example: ''
        firstName:
          maxLength: 40
          minLength: 0
          type: string
          description: First Name - This field indicates the first name of the owner
          example: Tom
        nationalId:
          maxLength: 25
          minLength: 0
          type: string
          description: National ID - National ID Number of the owner
          example: ''
        gender:
          maxLength: 25
          minLength: 0
          type: string
          description: Gender - This flag indicates the onwer's gender
          example: ''
          enum:
          - ZERO
          - '1'
          - '2'
        email:
          maxLength: 60
          minLength: 0
          type: string
          description: Email - This field indicates e-mail address of the owner
          example: ''
        alternateEmail:
          maxLength: 50
          minLength: 0
          type: string
          description: 'Alternate E-Mail - This field indicates alternate e-mail address
            of the owner '
          example: ''
        mobileNumber:
          maxLength: 20
          minLength: 0
          type: string
          description: Mobile Number - Customer mobile number
          example: ''
        emailFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: E-Mail Flag - This field indicates whether you have the owner’s
            permission to use this e-mail address
          example: ''
          enum:
          - ZERO
          - '1'
          - '2'
    PctOverrideDetailsReq:
      type: object
      properties:
        pctOverrideTableId:
          maxLength: 3
          minLength: 0
          type: string
          description: ID Of The PCT Override Tables - Code that identifies an existing
            Processing Control Table (PCT ID) used to establish special pricing controls
            for the account
          example: ''
        pctOverrideStartDate:
          maxLength: 10
          minLength: 0
          type: string
          description: Start Date Of The Override - This is the date on which the
            special pricing controls start for the account. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: ''
        pctOverrideEndDate:
          maxLength: 10
          minLength: 0
          type: string
          description: Expire Date Of The Override - This is the date on which the
            special pricing controls expire for the account. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: ''
        pctLevelOverride:
          maxLength: 1
          minLength: 0
          type: string
          description: Processing Control Level - This is a flag which indicates the
            processing control level for accounts in this product
          example: ''
        pctLevelOverrideStartDate:
          maxLength: 10
          minLength: 0
          type: string
          description: Start Date Of PCT Override - This is the date on which the
            processing control level override starts for the account. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on System Control).
          example: ''
        pctLevelOverrideEndDate:
          maxLength: 10
          minLength: 0
          type: string
          description: Expiration Date Of PCT override - This is the date on which
            the processing control level override expires for the account. DThe format
            is MM/DD/YYYY or DD/MM/YYYY depending on the date format established on
            the System record (DATE FORMAT on System Control)
          example: ''
    RelationshipDetailsReq:
      type: object
      properties:
        relationshipCreditLimit:
          maxLength: 17
          minLength: 0
          type: string
          description: Relationship Credit Limit - Credit limit in whole monetary
            units for the Relationship record, which includes all the subordinate
            accounts in the relationship.
          example: ''
        relationshipBlockCode:
          maxLength: 1
          minLength: 0
          type: string
          description: Relationship Block Code - Block code are relationship level
          example: ''
        mailCode:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Mail Code - 0: Associated to Account, 1: Associated to Account'
          example: ''
          enum:
          - ZERO
          - '1'
        reserveAmountpctFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Reserve Amount/PCT Flag - Reserve amount and pct flag, 0:
            Amount, 1: Percent'
          example: ''
          enum:
          - ZERO
          - '1'
        availableReserveAmountpct:
          type: string
          description: Available Reserve Amount/PCT - Available Reserve Amount/PCT
            of Relationship Record
          example: ''
        statementType:
          maxLength: 1
          minLength: 0
          type: string
          description: Statement Type - Stmt and Summary/Detailed Subordinate Accts
            stmt flag
          example: ''
          enum:
          - ZERO
          - '1'
        accountControlTableOverride:
          maximum: 999
          maxLength: 3
          type: integer
          description: Account Control Table Override at Relationship level
          format: int32
          example: '0'
        memoBillingCurrency:
          maximum: 999
          maxLength: 3
          type: integer
          description: Memo Billing Currency of relationship record
          format: int32
          example: '0'
        memoPaymentTransactionCode:
          maximum: 9999
          maxLength: 4
          type: integer
          description: Memo Payment Transaction Code of relationship record
          format: int32
          example: '0'
        memoPaymentReversalTransactionCode:
          maximum: 9999
          maxLength: 4
          type: integer
          description: Memo Payment Reversal Transaction Code of relationship record
          format: int32
          example: '0'
        memoBalanceIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Memo Balance Indicator, 0 - Do Not Update Rel in Batch 1 -
            Update Rel in Batch
          example: ''
          enum:
          - '0'
          - '1'
        billingCycle:
          maximum: 99
          maxLength: 2
          type: integer
          description: Billing Cycle - Day of the month that CMS performs cycle processing
            for the account
          format: int32
          example: '0'
        billingLevel:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Billing Level -  0: Bill at relationship, 1: Bill at account
            3: Combine'
          example: ''
          enum:
          - '1'
          - ZERO
          - '2'
        billingLevelmodify:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Billing Level-Modify - 0: Allowed, 1: Not Allowed '
          example: ''
          enum:
          - '1'
          - '0'
        annualFeeAssessmentLevel:
          maxLength: 1
          minLength: 0
          type: string
          description: Annual Fee Assessment Level of relationshiop record
          example: ''
          enum:
          - ZERO
          - '1'
          - '2'
        annualFeeChangeAllowed:
          maxLength: 1
          minLength: 0
          type: string
          description: Annual Fee Change Allowed at relationship level
          example: ''
          enum:
          - ZERO
          - '1'
        lateFeeAssessmentLevel:
          maxLength: 1
          minLength: 0
          type: string
          description: Late Fee Assessment Level of relationship record
          example: ''
          enum:
          - ZERO
          - '1'
          - '2'
        lateFeeChangeAllowed:
          maxLength: 1
          minLength: 0
          type: string
          description: Late Fee Change Allowed of relationship record
          example: ''
          enum:
          - ZERO
          - '1'
        nsfFeeAssessmentLevel:
          maxLength: 1
          minLength: 0
          type: string
          description: NSF Fee Assessment Level at relationship record
          example: ''
          enum:
          - ZERO
          - '1'
          - '2'
        nsfFeeChangeAllowed:
          maxLength: 1
          minLength: 0
          type: string
          description: NSF Fee Change Allowed flag, 0:Subordinate Account, 1:Primary
            Account, 2:Primary Account
          example: ''
          enum:
          - ZERO
          - '1'
        defaultCreditLimit:
          maxLength: 17
          minLength: 0
          type: string
          description: Default Credit Limit at relationship level
          example: ''
        updateCreditLimit:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Update Credit Limit - 0: Allowed 1: Not Allowed'
          example: ''
          enum:
          - ZERO
          - '1'
        corporateCustomerNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: Corporate Customer Number
          example: ''
        customerGroupCode:
          maxLength: 3
          minLength: 0
          type: string
          description: Customer Group Code
          example: ''
        costCenterReportingNumber:
          maxLength: 16
          minLength: 0
          type: string
          description: Cost Center Reporting Number
          example: ''
        fiscalYearEnd:
          maximum: 99
          maxLength: 2
          type: integer
          description: Fiscal Year End
          format: int32
          example: '0'
        currentExpiryDate:
          maxLength: 10
          minLength: 0
          type: string
          description: Current Expiry Date. The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the date format established on the System record (DATE FORMAT
            on System Control)
          example: ''
        sourceCode:
          maxLength: 10
          minLength: 0
          type: string
          description: Source Code
          example: ''
        contactName:
          maxLength: 30
          minLength: 0
          type: string
          description: Contact  Name
          example: ''
        contactPhone:
          maxLength: 20
          minLength: 0
          type: string
          description: Contact Phone
          example: ''
        officerName:
          maxLength: 30
          minLength: 0
          type: string
          description: Officer Name
          example: ''
        userDate1:
          maxLength: 10
          minLength: 0
          type: string
          description: User Date 1 - The format is MM/DD/YYYY or DD/MM/YYYY depending
            on the date format established on the System record (DATE FORMAT on System
            Control)
          example: ''
        userDate2:
          maxLength: 10
          minLength: 0
          type: string
          description: User Date 2 - The format is MM/DD/YYYY or DD/MM/YYYY depending
            on the date format established on the System record (DATE FORMAT on System
            Control)
          example: ''
        userAmount1:
          maxLength: 17
          minLength: 0
          type: string
          description: User Amount 1
          example: ''
        userAmount2:
          maxLength: 17
          minLength: 0
          type: string
          description: User Amount 2
          example: ''
        userField5:
          maxLength: 15
          minLength: 0
          type: string
          description: User Field 5
          example: ''
        userField6:
          maxLength: 15
          minLength: 0
          type: string
          description: User Field 6
          example: ''
        commercialFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Commercial Flag - '
          example: ''
          enum:
          - ZERO
          - '1'
          - '2'
          - '3'
          - '4'
        authorizationCriteriaTable:
          maxLength: 3
          minLength: 0
          type: string
          description: Authorization Criteria Table - Identification number of the
            Authorization Criteria table assigned to the account
          example: ''
    BoardEntityResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the business unit
            associated with the  account
          format: int32
          example: '600'
        product:
          maximum: 999
          maxLength: 3
          type: integer
          description: Product - Identification number of the product associated with
            the  account or relationship
          format: int32
          example: '1'
        customerRecordCreationFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Customer Record creation flag
          example: Y
        accountRecordCreationFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Account Record creation flag
          example: Y
        embosserRecordCreationFlag:
          maxLength: 1
          minLength: 0
          type: string
          description: Embosser Record creation flag
          example: Y
        customerNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: Customer Number - Identifies the customer number of the Account
            Base Segment record
          example: '0006000012000000191'
        relationshipNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: Relationship Number - Relationship no. of customer
          example: ''
        accountNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: Account Number - This is the identification number to assign
            to the new Account Base Segment record
          example: '0006000012000000191'
        cardDetailsRes:
          $ref: '#/components/schemas/CardDetailsRes'
    CardDetailsRes:
      type: object
      properties:
        cardNumberfvToken:
          maxLength: 19
          minLength: 0
          type: string
          description: Card Number/FV TOKEN - Token Number assigned to the cardholder
            embosser record
          example: '0004440010910990851'
        nameOnCard:
          maxLength: 26
          minLength: 0
          type: string
          description: Name On Card - Name to be embossed on the first embossing line
            of the card
          example: Trump
        expiryDate:
          maxLength: 10
          minLength: 0
          type: string
          description: Expiry Date - Expiry date of card - The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Control)
          example: 18/01/2024
        cardActivationStatus:
          maxLength: 1
          minLength: 0
          type: string
          description: Card Activation Status - Field that indicates the Embosser
            record status. Field values are 0 = Permanent. 1 = Temporary. F = Fraud.
            S = Smart card manually reissued due to smart card restriction. T = Permanent
            transfer out. P = Purged
          example: '0'
        maskedPanNumber:
          maxLength: 19
          minLength: 0
          type: string
          description: Masked PAN Number - Masked PAN number of card
          example: ''
    ResponseErrorMessageInfo:
      type: object
      properties:
        status:
          type: string
          example: ''
        errorMessage:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
    GeneralLedgerDetailsRes:
      type: object
      properties:
        businessUnitLevel:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Business Unit Level - Code that determines whether CMS generates
            general ledger transactions at the business unit level '
          example: Y
          enum:
          - Y
          - N
        generateProductLevelGlReporting:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Generate Product Level GL Reporting - Code that determines
            whether CMS generates general ledger transactions at the product level '
          example: Y
          enum:
          - Y
          - N
        generatePlanLevelGlReporting:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Generate Plan Level GL Reporting - Code that determines whether
            CMS generates general ledger transactions at the credit plan level '
          example: Y
          enum:
          - Y
          - N
        accountingMethod:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Accounting Method - Code that determines whether the business
            unit uses a cash basis or an accrual basis accounting method '
          example: A
          enum:
          - A
          - C
        nonpostedDebits:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Non-Posted Debits - Default general ledger account numbers
            for nonposted debit transactions '
          example: ' '
        nonpostedDebitReversals:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Non-Posted Debit Reversals - Default general ledger account
            numbers for nonposted debit reversal transactions '
          example: ' '
        nonpostedDebitPurges:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Non-Posted Debit Purges - Default general ledger account numbers
            for nonposted debit purge transactions '
          example: ' '
        batchNonpostedDebits:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Batch Non-Posted Debits - Default general ledger account numbers
            for nonposted debit transactions in batch '
          example: ' '
        batchNonpostDebitReversals:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Batch Non-Post Debit Reversals - Default general ledger account
            numbers for nonposted debit reversal transactions in batch '
          example: ' '
        defaultGlAccountForDebits:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Default GL Account For Debits - Default general ledger account
            numbers for any transaction that does not have a corresponding general
            ledger account '
          example: ' '
        nonpostedCredits:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Non-Posted Credits - Default transaction code assigned to
            a nonposted credit record '
          example: ' '
        nonpostedCreditReversals:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Non-Posted Credit Reversals - Default transaction code assigned
            to a nonposted credit reversal record '
          example: ' '
        nonpostedCreditPurges:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Non-Posted Credit Purges - Default general ledger account
            numbers for nonposted credit purge transactions '
          example: Y
        batchNonpostedCredits:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Batch Non-Posted Credits - Default transaction code assigned
            to a batch nonposted credit record '
          example: ' '
        batchNonpostCreditReversals:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Batch Non-Post Credit Reversals - Default transaction code
            assigned to a batch nonposted credit reversal record '
          example: ' '
        defaultGlAccountForCredits:
          maxLength: 19
          minLength: 0
          type: string
          description: 'Default GL Account For Credits - Default general ledger account
            numbers for any transaction that does not have a corresponding general
            ledger account '
          example: ' '
        generalLedgerReportingType:
          maxLength: 1
          minLength: 0
          type: string
          description: 'General Ledger Reporting Type -  General reporting type '
          example: D
          enum:
          - D
          - C
          - M
    InquireOrganizationResponseModel:
      required:
      - orgNumber
      type: object
      properties:
        orgNumber:
          maximum: 999
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the business unit
            associated with the  account
          format: int32
          example: '600'
        businessUnitName:
          maxLength: 40
          minLength: 0
          type: string
          description: Business Unit Name - Description or name of the business unit
          example: NAB
        countryCode:
          maxLength: 3
          minLength: 0
          type: string
          description: Country Code - Code that identifies the country in which this
            business unit is located
          example: AUS
        currencyCode:
          maximum: 999
          maxLength: 3
          type: integer
          description: Currency Code - ISO Standard Currency Code that identifies
            the unit of currency for this business unit
          format: int32
          example: '36'
        businessUnitRegion:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Region - Code that identifies the quarterly reporting
            region for the business unit
          example: '1'
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - ' '
        todaysDate:
          maxLength: 10
          minLength: 0
          type: string
          description: Todays Date - Date when CMS last processed the business unit
          example: 18/08/2021
        dateNextProcess:
          maxLength: 10
          minLength: 0
          type: string
          description: Date Next Process - Next processing date for the business unit
          example: 19/08/2021
        dateInterestAccruedThrough:
          maxLength: 10
          minLength: 0
          type: string
          description: Date Interest Accrued Through - Date through which interest
            accrued for all accounts within this business unit
          example: 18/08/2021
        dateLastMaintenance:
          maxLength: 10
          minLength: 0
          type: string
          description: Date Last Maintenance- Date of the last maintenance on this
            Organization record
          example: 18/08/2021
        generalLedgerDetailsRes:
          $ref: '#/components/schemas/GeneralLedgerDetailsRes'
        accruedDebit:
          maximum: 9999
          maxLength: 4
          type: integer
          description: 'Accrued Debit - Debit Accrual transaction code '
          format: int32
          example: '1234'
        accruedCredit:
          maximum: 9999
          maxLength: 4
          type: integer
          description: 'Accrued Credit - Credit Accrual transaction code '
          format: int32
          example: '1235'
        transactionBasedOffers:
          maximum: 9
          maxLength: 1
          type: integer
          description: Transaction Based Offers - the code that indicates offers based
            on type of transaction
          format: int32
          example: '1'
        useServiceCharges:
          maxLength: 1
          minLength: 0
          type: string
          description: User Service Charges - Code that indicates whether this business
            unit uses service charges
          example: Y
          enum:
          - Y
          - N
        processingControlsRes:
          $ref: '#/components/schemas/ProcessingControlsRes'
        commercialCardsAllowed:
          maxLength: 1
          minLength: 0
          type: string
          description: Commercial Cards Allowed - Flag that indicates whether CMS
            allows commercial card accounts for this business unit
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
        relationshipAuthorisationActive:
          maxLength: 1
          minLength: 0
          type: string
          description: Relationship Authorisation Active - Flag that indicates whether
            the relationship authorization feature is active for relationship accounts
            added in this business unit
          enum:
          - '0'
          - '1'
          example: ''
        cashCreditLimitCalculationMethod:
          maxLength: 1
          minLength: 0
          type: string
          description: Cash Credit Limit Calculation Method - This field indicates
            whether the cash credit limit is a monetary amount or a percentage of
            the relationship credit limit
          example: A
          enum:
          - A
          - P
        cashCreditLimit:
          maxLength: 17
          minLength: 0
          type: string
          description: Cash Credit Limit - This field that indicates the default cash
            limit value for a relationship in this business unit
          example: $100,000.00
        loanLimitCalculationMethod:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Loan Limit Calculation Method - This field indicates whether
            the loan limit is a monetary amount or a percentage of the relationship
            credit limit '
          example: A
          enum:
          - A
          - P
        loanCreditLimit:
          maxLength: 17
          minLength: 0
          type: string
          description: Loan Credit Limit - This field indicates the default loan limit
            value for a relationship in this business unit
          example: $0.00
        excludeDefaultDisputedAmounts:
          maxLength: 1
          minLength: 0
          type: string
          description: Exclude Default Disputed Amounts - The code indicates dispute
            amount to be considered while calculating OTB
          example: '0'
          enum:
          - '0'
          - '1'
        mccLimitsRes:
          $ref: '#/components/schemas/MccLimitsRes'
        earlySettlementQuotesProcess:
          maxLength: 1
          minLength: 0
          type: string
          description: Early Settlement Quotes Process - Flag that indicates whether
            CMS calculates early settlement quotes for loans during the CMS daily
            run in batch processing
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        installmentLoansActive:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Installment Loans Active - Flag that indicates whether CMS
            allows installment loans for this business unit '
          example: '0'
          enum:
          - '0'
          - '1'
    MccLimitsRes:
      type: object
      properties:
        mccLimitAmount1:
          maxLength: 11
          minLength: 0
          type: string
          description: MCC LIMIT AMOUNT 1 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount2:
          maxLength: 11
          minLength: 0
          type: string
          description: MCC LIMIT AMOUNT 2 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount3:
          maxLength: 11
          minLength: 0
          type: string
          description: MCC LIMIT AMOUNT 3 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount4:
          maxLength: 11
          minLength: 0
          type: string
          description: MCC LIMIT AMOUNT 4 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount5:
          maxLength: 11
          minLength: 0
          type: string
          description: MCC LIMIT AMOUNT 5 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount6:
          maxLength: 11
          minLength: 0
          type: string
          description: MCC LIMIT AMOUNT 6 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount7:
          maxLength: 11
          minLength: 0
          type: string
          description: MCC LIMIT AMOUNT 7 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount8:
          maxLength: 11
          minLength: 0
          type: string
          description: MCC LIMIT AMOUNT 8 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount9:
          maxLength: 11
          minLength: 0
          type: string
          description: MCC LIMIT AMOUNT 9 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
        mccLimitAmount10:
          maxLength: 11
          minLength: 0
          type: string
          description: MCC LIMIT AMOUNT 10 -  Day of the month on which the related
            billing cycle occurs during the current month
          example: $0.00
    ProcessingControlsRes:
      type: object
      properties:
        allowConsolidatedPayments:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Allow Consolidated Payments - Flag that indicates whether
            CMS allows consolidated payments for relationships within this business
            unit '
          example: '0'
          enum:
          - '0'
          - '1'
        addUnpaidMinAmountDueBalances:
          maxLength: 1
          minLength: 0
          type: string
          description: Add Unpaid Min. Amount Due Balances - This field helps to identify
            how to transfer unpaid minimum amount due balances from foreign accounts
            to local accounts
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        autoChargebackActive:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Auto Chargeback Active - Flag that indicates whether automatic
            chargeback processing is active for the business unit '
          example: '0'
          enum:
          - '0'
          - '1'
        actionOnLateFee:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Action On Late Fee - Code that indicates whether CMS waives
            the late fee when late fee assessment is delayed into the next cycle '
          example: '0'
          enum:
          - '0'
          - '1'
        actionOnFinanceCharge:
          maxLength: 1
          minLength: 0
          type: string
          description: 'Action On Finance Charge - Code that indicates whether CMS
            waives or defers interest processing when a statement is delayed at the
            printing vendor site '
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
