openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Product Management
paths:
  /v1/products/{productNumber}/cardControls:
    put:
      tags:
      - Product Management
      summary: Update Logo Card Controls
      description: This service is used to update the card controls at product level
        for the given product
      operationId: UpdateLogoCardControls
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record, the values are 001–998
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '600'
      - name: productNumber
        in: path
        description: Product - This field is the Identification number of the Logo
          record
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLogoCardControlReqModel'
        required: true
      responses:
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLogoCardControlResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Update Logo Card Controls
      x-group-name: Product Management
  /v1/products/{productNumber}/serviceChargeDetails:
    get:
      tags:
      - Product Management
      summary: Inquire Service Charge Table
      description: This service provides various service fee details available in
        the system for a given Org, Product and table ID combination
      operationId: InquireServiceChargeTable
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number of the business unit associated
          with this Service Charge/Fee table. The values are 000–998.
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '600'
      - name: productNumber
        in: path
        description: Product Number - Identification number of the product associated
          with this Service Charge/Fee table. The values are 000–998.
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '0'
      - name: tableNumber
        in: query
        description: Table Number - Identification number of the Service Charge/Fee
          table. The values are 001–998.
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '3'
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireServiceChargeTableResponseModel'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Inquire Service Charge Table
      x-group-name: Product Management
  /v1/products/{productNumber}/interestTable:
    get:
      tags:
      - Product Management
      summary: Inquire Interest Table
      description: This service provides details of Interest Table. An Interest table
        identifies a set of parameters that system uses to calculate interest.
      operationId: InquireInterestTable
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: tableNumber
        in: query
        description: Table Number - Identification number of the Interest table. The
          values are 001–998.
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '001'
      - name: businessUnit
        in: query
        description: Business Unit - Identification number of the business unit associated
          with this Interest table. The values are 000–998.
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '600'
      - name: productNumber
        in: path
        description: Product Number - Identification number of the product associated
          with this Interest table. The values are 000–998.
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '0'
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireInterestTableResponseModel'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Inquire Interest Table
      x-group-name: Product Management
  /v1/products/{productNumber}/details:
    get:
      tags:
      - Product Management
      summary: Inquire Product
      description: This service provides the details for a given product
      operationId: InquireProduct
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record, the values are 001–998
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '600'
      - name: productNumber
        in: path
        description: Product - This field is the Identification number of the Logo
          record
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '001'
      responses:
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireProductResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Inquire Product
      x-group-name: Product Management
  /v1/products/{planNumber}/planDetails:
    get:
      tags:
      - Product Management
      summary: Inquire Plan Master
      description: This service provides plan details for a given credit plan.
      operationId: InquirePlanMaster
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record, the values are 001–998
        required: true
        schema:
          maxLength: 3
          type: integer
          example: '600'
      - name: planNumber
        in: path
        description: Plan Number - Identification number of the Credit Plan Master
          record. The values are 00001–99998. You can establish as many as 99,998
          Credit Plan Master records for each organization
        required: true
        schema:
          maxLength: 5
          type: integer
          example: '10002'
      responses:
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquirePlanMasterResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Inquire Plan Master
      x-group-name: Product Management
components:
  schemas:
    CardControlFieldsReq:
      type: object
      properties:
        maximumAuthorizationLimitFrequency:
          maxLength: 1
          type: string
          description: Maximum Authorization Limit Frequency - This is a flag which
            indicates the frequency for the maximum authorization parameters. This
            frequency applies to the RETAIL PURCHASE AMOUNT to TRANSACTION LIMIT RETAIL
            fields
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        atmCashAmount:
          maxLength: 17
          type: string
          description: ATM Cash Amount - Maximum amount in monetary units and subunits
            of ATM cash authorizations allowed for the frequency defined in the FREQ
            field
          example: '2000.0'
        atmCashNumber:
          maxLength: 9
          type: integer
          description: ATM Cash Number - Maximum number of ATM cash authorizations
            allowed for the frequency defined in the FREQ field
          format: int32
          example: '5'
        transactionLimitAtm:
          maxLength: 17
          type: string
          description: Transaction Limit ATM - This is the Maximum authorization amount
            in monetary units and subunits for a single ATM transaction
          example: '100.0'
        otcCashAmount:
          maxLength: 17
          type: string
          description: OTC Cash Amount - Maximum amount in monetary units and subunits
            of ATM cash authorizations allowed for the frequency defined in the FREQ
            field
          example: '1500.0'
        otcCashNumber:
          maxLength: 9
          type: integer
          description: OTC Cash Number - Maximum number of ATM cash authorizations
            allowed for the frequency defined in the FREQ field
          format: int32
          example: '6'
        transactionLimitOtc:
          maxLength: 17
          type: string
          description: Transaction Limit OTC - This is the Maximum authorization amount
            in monetary units and subunits for a single ATM transaction
          example: '200.0'
        retailPurchaseAmount:
          maxLength: 17
          type: string
          description: Retail Purchase Amount - Maximum amount in monetary units and
            subunits of retail authorizations allowed for the freqency defined in
            the FREQ field
          example: '100000.0'
        retailPurchaseNumber:
          maxLength: 9
          type: integer
          description: Retail Purchase Number - Maximum number of retail authorizations
            allowed for the frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY
            field
          format: int32
          example: '10'
        transactionLimitRetail:
          maxLength: 17
          type: string
          description: Transaction Limit Retail - This is the Maximum amount in monetary
            units and subunits for a single retail authorization
          example: '10000.0'
    CardControlFlagsReq:
      type: object
      properties:
        atmFlag:
          maxLength: 1
          type: string
          description: ATM Flag - Flag indicates ATM transactions are active or not
          example: Y
          enum:
          - Y
          - N
          - ' '
        posFlag:
          maxLength: 1
          type: string
          description: POS Flag - Flag indicates POS transactions are active or not
          example: Y
          enum:
          - Y
          - N
          - ' '
        ecomFlag:
          maxLength: 1
          type: string
          description: ECOM Flag - Flag indicates ECOM transactions are active or
            not
          example: '1'
          enum:
          - '1'
          - '0'
          - ' '
        motoFlag:
          maxLength: 1
          type: string
          description: MOTO Flag - Flag indicates MOTO transactions are active or
            not
          example: N
          enum:
          - Y
          - N
        intAtmPosFlag:
          maxLength: 1
          type: string
          description: International ATM POS Flag - Flag indicates International ATM,
            POS transactions are active or not
          example: N
          enum:
          - Y
          - N
    UpdateLogoCardControlReqModel:
      type: object
      properties:
        cardControlFieldsReq:
          $ref: '#/components/schemas/CardControlFieldsReq'
        cardControlFlagsReq:
          $ref: '#/components/schemas/CardControlFlagsReq'
        yearToDateCountryRiskSpendLimitsReq:
          $ref: '#/components/schemas/YearToDateCountryRiskSpendLimitsReq'
    YearToDateCountryRiskSpendLimitsReq:
      type: object
      properties:
        yearToDateCountryRiskSpendLimitActive:
          maxLength: 1
          type: string
          description: Year-To-Date Country Risk Spending Limit Active - This is a
            flag that indicates whether a year-to-date spending limit for accounts
            initiating transactions in high-risk and non-high-risk countries is active
          example: '1'
          enum:
          - '0'
          - '1'
        yearToDateMaxAuthAmountHighRiskCountry:
          maxLength: 17
          type: string
          description: Year-To-Date Max Auth Amount High Risk Country - Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in high-risk countries. Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in high-risk countries
          example: '10000.0'
        yearToDateMaxAuthAmountOtherRiskCountry:
          maxLength: 17
          type: string
          description: Year-To-Date Max Auth Amount Other Risk Country - Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in non-high-risk countries. Risk is
            designated by country code in the Financial Authorization System (FAS)
          example: '15000.0'
    ResponseErrorMessageInfo:
      type: object
      properties:
        status:
          type: string
          example: ''
        errorMessage:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
    CardControlFieldsRes:
      type: object
      properties:
        maximumAuthorizationLimitFrequency:
          maxLength: 1
          type: string
          description: Maximum Authorization Limit Frequency - This is a flag which
            indicates the frequency for the maximum authorization parameters. This
            frequency applies to the RETAIL PURCHASE AMOUNT to TRANSACTION LIMIT RETAIL
            fields
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        atmCashAmount:
          maxLength: 17
          type: string
          description: ATM Cash Amount - Maximum amount in monetary units and subunits
            of ATM cash authorizations allowed for the frequency defined in the FREQ
            field
          example: '2000.0'
        atmCashNumber:
          maxLength: 9
          type: integer
          description: ATM Cash Number - Maximum number of ATM cash authorizations
            allowed for the frequency defined in the FREQ field
          format: int32
          example: '5'
        transactionLimitAtm:
          maxLength: 17
          type: string
          description: Transaction Limit ATM - This is the Maximum authorization amount
            in monetary units and subunits for a single ATM transaction
          example: '100.0'
        otcCashAmount:
          maxLength: 17
          type: string
          description: OTC Cash Amount - Maximum amount in monetary units and subunits
            of ATM cash authorizations allowed for the frequency defined in the FREQ
            field
          example: '1500.0'
        otcCashNumber:
          maxLength: 9
          type: integer
          description: OTC Cash Number - Maximum number of ATM cash authorizations
            allowed for the frequency defined in the FREQ field
          format: int32
          example: '6'
        transactionLimitOtc:
          maxLength: 17
          type: string
          description: Transaction Limit OTC - This is the Maximum authorization amount
            in monetary units and subunits for a single ATM transaction
          example: '200.0'
        retailPurchaseAmount:
          maxLength: 17
          type: string
          description: Retail Purchase Amount - Maximum amount in monetary units and
            subunits of retail authorizations allowed for the freqency defined in
            the FREQ field
          example: '100000.0'
        retailPurchaseNumber:
          maxLength: 9
          type: integer
          description: Retail Purchase Number - Maximum number of retail authorizations
            allowed for the frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY
            field
          format: int32
          example: '10'
        transactionLimitRetail:
          maxLength: 17
          type: string
          description: Transaction Limit Retail - This is the Maximum amount in monetary
            units and subunits for a single retail authorization
          example: '10000.0'
    CardControlFlagsRes:
      type: object
      properties:
        atmFlag:
          maxLength: 1
          type: string
          description: ATM Flag - Flag indicates ATM transactions are active or not
          example: Y
          enum:
          - Y
          - N
          - ' '
        posFlag:
          maxLength: 1
          type: string
          description: POS Flag - Flag indicates POS transactions are active or not
          example: Y
          enum:
          - Y
          - N
          - ' '
        ecomFlag:
          maxLength: 1
          type: string
          description: ECOM Flag - Flag indicates ECOM transactions are active or
            not
          example: '1'
          enum:
          - '1'
          - '0'
          - ' '
        motoFlag:
          maxLength: 1
          type: string
          description: MOTO Flag - Flag indicates MOTO transactions are active or
            not
          example: N
          enum:
          - Y
          - N
        intAtmPosFlag:
          maxLength: 1
          type: string
          description: International ATM POS Flag - Flag indicates International ATM,
            POS transactions are active or not
          example: N
          enum:
          - Y
          - N
    UpdateLogoCardControlResponseModel:
      required:
      - businessUnit
      - productNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number associated with this
            Account Base Segment record, the values are 001–998
          format: int32
          example: '600'
        productNumber:
          maxLength: 3
          type: integer
          description: Product - This field is the Identification number of the Logo
            record
          format: int32
          example: '1'
        cardControlFieldsRes:
          $ref: '#/components/schemas/CardControlFieldsRes'
        cardControlFlagsRes:
          $ref: '#/components/schemas/CardControlFlagsRes'
        yearToDateCountryRiskSpendLimitsRes:
          $ref: '#/components/schemas/YearToDateCountryRiskSpendLimitsRes'
    YearToDateCountryRiskSpendLimitsRes:
      type: object
      properties:
        yearToDateCountryRiskSpendLimitActive:
          maxLength: 1
          type: string
          description: Year-To-Date Country Risk Spending Limit Active - This is a
            flag that indicates whether a year-to-date spending limit for accounts
            initiating transactions in high-risk and non-high-risk countries is active
          example: '1'
          enum:
          - '0'
          - '1'
        yearToDateMaxAuthAmountHighRiskCountry:
          maxLength: 17
          type: string
          description: Year-To-Date Max Auth Amount High Risk Country - Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in high-risk countries. Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in high-risk countries
          example: '10000.0'
        yearToDateMaxAuthAmountOtherRiskCountry:
          maxLength: 17
          type: string
          description: Year-To-Date Max Auth Amount Other Risk Country - Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in non-high-risk countries. Risk is
            designated by country code in the Financial Authorization System (FAS)
          example: '15000.0'
    InquireServiceChargeTableResponseModel:
      required:
      - businessUnit
      - productNumber
      - tableNumber
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the business unit
            associated with this Service Charge/Fee table. The values are 000–998.
          format: int32
          example: '600'
        productNumber:
          maximum: 999
          maxLength: 3
          type: integer
          description: Product Number - Identification number of the product associated
            with this Service Charge/Fee table. The values are 000–998.
          format: int32
          example: '0'
        tableNumber:
          maximum: 999
          maxLength: 3
          type: integer
          description: Table Number - Identification number of the Service Charge/Fee
            table. The values are 001–998.
          format: int32
          example: '3'
        maximumCycleServiceFees:
          maxLength: 17
          minLength: 0
          type: string
          description: Maximum Cycle Service Fees - Maximum amount, in monetary units
            and subunits, of service charges to assess in one cycle. CMS will not
            assess a service charge unless this field is greater than zero.
          example: $99999.00
        serviceChargeDetailsRes:
          type: array
          items:
            $ref: '#/components/schemas/ServiceChargeDetailsRes'
    ServiceChargeDetailsRes:
      type: object
      properties:
        initiatingTransactionCode:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Initiating Transaction Code - Monetary transaction code that
            will trigger CMS to generate the service charge. The service charge posts
            to each plan that has activity identified by this transaction code.
          format: int32
          example: '1301'
        transactionLimitFrequency:
          maxLength: 1
          minLength: 0
          type: string
          description: Transaction Limit Frequency - Code that determines whether
            the TRANSACTION LIMIT number is a daily limit or cycle limit for the number
            of transactions assessed service charges by TIER 1 FEE AMOUNT.
          example: '1'
        transactionLimit:
          maximum: 99
          maxLength: 2
          type: integer
          description: Transaction Limit - Number of transactions to assess the service
            fee defined by FEE AMOUNT per day or cycle based on the TRANSACTION LIMIT
            FREQUENCY value. The values are 00–99.
          format: int32
          example: '3'
        tier1Fee:
          maxLength: 17
          minLength: 0
          type: string
          description: Tier1 Fee - Fixed amount in monetary units and subunits or
            percentage of the transaction amount to assess for the service charge
            up to the number of transactions in the TRANSACTION LIMIT field, inclusive.
            If METHOD is 1, enter a fixed amount. If METHOD is 2, enter a percentage.
            For a percentage, the first two positions must be zero.
          example: '100'
        tier2Fee:
          maxLength: 17
          minLength: 0
          type: string
          description: Tier2 Fee -  Fixed amount in monetary units and subunits or
            percentage of the transaction amount to assess for the service charge
            for transactions in excess of the number in the TRANSACTION LIMIT field.
            For a percentage, the first two positions must be zero.
          example: '500'
        method:
          maxLength: 1
          minLength: 0
          type: string
          description: Method - Code that indicates how CMS calculates the service
            charge (Amount or Percentage).
          example: '1'
        singleFeeMinimum:
          maximum: 999999999
          maxLength: 9
          type: integer
          description: Single Fee Minimum - Minimum amount, in monetary units and
            subunits, of the service charge to assess. This amount must be less than
            the SINGLE FEE MAXIMUM amount.
          format: int32
          example: '0'
        singleFeeMaximum:
          maximum: 999999999
          maxLength: 9
          type: integer
          description: Single Fee Maximum - Maximum amount, in monetary units and
            subunits, of the service charge to assess. This amount must be greater
            than the SINGLE FEE MINIMUM amount.
          format: int32
          example: '999999999'
        feePostingFrequency:
          maxLength: 1
          minLength: 0
          type: string
          description: Fee Posting Frequency - Code that indicates the frequency CMS
            posts the service charge to the account.
          example: '1'
        feeReverseTransactionCode:
          maximum: 9999
          maxLength: 4
          type: integer
          description: Fee Reverse Transaction Code - Monetary transaction code that
            will trigger CMS to generate a service charge fee reversal. If this value
            is zeroes, CMS does not automatically generate a service charge reversal
            transaction for a reversal transaction.
          format: int32
          example: '7474'
        feePlan:
          maxLength: 1
          minLength: 0
          type: string
          description: Fee Plan - Code that indicates the plan to which the service
            fee is posted.
          example: '0'
        dailyFeeDescription:
          maxLength: 40
          minLength: 0
          type: string
          description: Daily Fee Description - Description of the transaction code.
            If FEE POSTING FREQUENCY is 0 (daily), this field is the description of
            the service charge that prints on account statements. If FEE POSTING FREQUENCY
            1 (cycle), this field must be blank, CMS uses the universal service charge
            fee transaction code on Monetary Transaction controls and the description
            defined for the universal service charge fee transaction code on Monetary
            Transaction controls
          example: Service Fees
        maximumIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Maximum Indicator - Code that indicates whether the maximum
            amount (SINGLE FEE MAXIMUM) is applied as the daily fee maximum that can
            be assessed for the transaction code or as the maximum fee that any individual
            transaction can be assessed for the transaction code.
          example: '1'
    CeilingLimitsRes:
      type: object
      properties:
        floorRate1:
          maxLength: 7
          minLength: 0
          type: string
          description: Floor Rate1 - Minimum allowable interest rate for credit plans
            using this Interest table. CMS uses this rate if the plan balance is less
            than or equal to the value in the LMT 1 field.
          example: 0.00000%
        ceilingRate1:
          maxLength: 7
          minLength: 0
          type: string
          description: Ceiling Rate1 - Maximum allowable interest rate for credit
            plans using this Interest table if the plan balance is less than or equal
            to the balance limit.
          example: 99.99999%
        floorRate2:
          maxLength: 7
          minLength: 0
          type: string
          description: Floor Rate2 - Maximum allowable interest rate for credit plans
            using this Interest table if the plan balance is greater than the balance
            limit (BALANCE LIMIT).
          example: 0.00000%
        ceilingRate2:
          maxLength: 7
          minLength: 0
          type: string
          description: Ceiling Rate2 - Minimum allowable interest rate for credit
            plans using this Interest table. Regardless of the value of the rate index,
            adjusted by the variance, the actual interest rate assessed for credit
            plans using this Interest table will not fall below this percentage.
          example: 99.99999%
        balanceLimit:
          maxLength: 17
          minLength: 0
          type: string
          description: Balance Limit - Balance limit for FLOOR RATE 1 and CEILING
            RATE 1 in whole monetary amounts. If you are using both FLOOR RATE 1-2
            and CEILING RATE 1–2, the value of this field must be greater than zero.
          example: $0.00
    IncludeBalanceFlagsForInterestCalculationRes:
      type: object
      properties:
        interestOnMembership:
          maxLength: 1
          minLength: 0
          type: string
          description: Charge Interest On Membership - Code that indicates whether
            to charge interest on membership fees (also referred to as annual fees).
          example: '1'
          enum:
          - '1'
          - '0'
        interestOnInterest:
          maxLength: 1
          minLength: 0
          type: string
          description: Charge Interest On Interest - Code that indicates whether to
            charge interest on interest (finance charge compounding).
          example: '0'
          enum:
          - '1'
          - '0'
        interestOnService:
          maxLength: 1
          minLength: 0
          type: string
          description: Charge Interest On Service - Code that indicates whether to
            charge interest on service charges.
          example: '1'
          enum:
          - '1'
          - '0'
        interestOnNsfFee:
          maxLength: 1
          minLength: 0
          type: string
          description: Interest On NSF Fee - Code that indicates whether to charge
            interest on fees assessed for items returned due to nonsufficient funds.
          example: '0'
          enum:
          - '1'
          - '0'
        interestOnOverLimit:
          maxLength: 1
          minLength: 0
          type: string
          description: Charge Interest On Over Limit - Code that indicates whether
            to charge interest on over limit fees.
          example: '1'
          enum:
          - '1'
          - '0'
        interestOnInsurance:
          maxLength: 1
          minLength: 0
          type: string
          description: Charge Interest On Insurance - Code that indicates whether
            to charge interest on insurance premiums.
          example: '0'
          enum:
          - '1'
          - '0'
        interestOnLateCharge:
          maxLength: 1
          minLength: 0
          type: string
          description: Interest On Late Charge - Code that indicates whether to charge
            interest on late fees.
          example: '1'
          enum:
          - '1'
          - '0'
        interestOnCollectionFees:
          maxLength: 1
          minLength: 0
          type: string
          description: Interest On Collection Fees - Code that indicates whether to
            charge interest on collection fees.
          example: '0'
          enum:
          - '1'
          - '0'
        interestOnRecoveryFees:
          maxLength: 1
          minLength: 0
          type: string
          description: Interest On Recovery Fees - Code that indicates whether to
            charge interest on recovery fees.
          example: '0'
          enum:
          - '1'
          - '0'
        interestOnUserFee1:
          maxLength: 1
          minLength: 0
          type: string
          description: Charge Interest On User Fee 1 - Code that indicates whether
            to charge interest on user-defined fees 1.
          example: '0'
          enum:
          - '1'
          - '0'
        interestOnUserFee2:
          maxLength: 1
          minLength: 0
          type: string
          description: Charge Interest On User Fee 2 - Code that indicates whether
            to charge interest on user-defined fees 2.
          example: '0'
          enum:
          - '1'
          - '0'
        interestOnUserFee3:
          maxLength: 1
          minLength: 0
          type: string
          description: Charge Interest On User Fee 3 - Code that indicates whether
            to charge interest on user-defined fees 3.
          example: '0'
          enum:
          - '1'
          - '0'
        interestOnUserFee4:
          maxLength: 1
          minLength: 0
          type: string
          description: Charge Interest On User Fee 4 - Code that indicates whether
            to charge interest on user-defined fees 4.
          example: '0'
          enum:
          - '1'
          - '0'
        interestOnUserFee5:
          maxLength: 1
          minLength: 0
          type: string
          description: Charge Interest On User Fee 5 - Code that indicates whether
            to charge interest on user-defined fees 5.
          example: '0'
          enum:
          - '1'
          - '0'
        interestOnUserFee6:
          maxLength: 1
          minLength: 0
          type: string
          description: Charge Interest On User Fee 6 - Code that indicates whether
            to charge interest on user-defined fees 6.
          example: '0'
          enum:
          - '1'
          - '0'
    InquireInterestTableResponseModel:
      required:
      - businessUnit
      - productNumber
      - tableNumber
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Business Unit - Identification number of the business unit
            associated with this Interest table. The values are 000–998.
          format: int32
          example: '600'
        productNumber:
          maximum: 999
          maxLength: 3
          type: integer
          description: Product Number - Identification number of the product associated
            with this Interest table. The values are 000–998.
          format: int32
          example: '0'
        tableNumber:
          maximum: 999
          maxLength: 3
          type: integer
          description: Table Number - Identification number of the Interest table.
            The values are 001–998.
          format: int32
          example: '1'
        tableName:
          maxLength: 40
          minLength: 0
          type: string
          description: Table Name - This field indicates the Description of the Interest
            table.
          example: INTEREST RATE TABLE FOR CASH PLAN
        interestControlsRes:
          $ref: '#/components/schemas/InterestControlsRes'
        interestCalculationOptionsRes:
          $ref: '#/components/schemas/InterestCalculationOptionsRes'
        interestRatesRes:
          $ref: '#/components/schemas/InterestRatesRes'
        includeBalanceFlagsForInterestCalculationRes:
          $ref: '#/components/schemas/IncludeBalanceFlagsForInterestCalculationRes'
        interestParametersForCombinedGraceAndCycleOptionsRes:
          $ref: '#/components/schemas/InterestParametersForCombinedGraceAndCycleOptionsRes'
    InterestCalculationOptionsRes:
      type: object
      properties:
        accrualMethod:
          maxLength: 1
          minLength: 0
          type: string
          description: Accrual Method - Code that indicates the accrual method CMS
            uses for interest calculations.
          example: D
          enum:
          - D
          - B
          - A
          - E
        yearBase:
          maxLength: 1
          minLength: 0
          type: string
          description: Year Base - Code that indicates the year base CMS uses for
            interest calculations.
          example: '0'
          enum:
          - ZERO
          - '1'
          - '2'
        startInterestOnDebitTransaction:
          maxLength: 1
          minLength: 0
          type: string
          description: Start Interest On Debit Transaction - Code that indicates when
            interest calculations begin on debit transactions.
          example: P
          enum:
          - S
          - P
          - T
          - G
          - D
        startInterestOnCreditTransaction:
          maxLength: 1
          minLength: 0
          type: string
          description: Start Interest On Credit Transaction - Code that indicates
            when credit transactions affect the calculation of interest.
          example: T
          enum:
          - P
          - T
        interestNextStatement:
          maxLength: 1
          minLength: 0
          type: string
          description: Interest Next Statement - Code that indicates how CMS charges
            interest on new transactions posted in the current billing cycle.
          example: C
          enum:
          - N
          - G
          - R
          - L
          - M
          - Y
          - D
          - A
          - P
          - S
          - T
          - Z
          - B
          - Q
          - U
          - C
    InterestControlsRes:
      type: object
      properties:
        interestRounding:
          maxLength: 1
          minLength: 0
          type: string
          description: Interest Rounding - Code that indicates the rounding method
            CMS uses to round or truncate interest calculations.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        examineCycleInterestVariance:
          maxLength: 1
          minLength: 0
          type: string
          description: Examine Cycle Interest Variance - Code that indicates whether
            CMS examines the cycle interest variance field on the Logo record (EXAMINE
            CYCLE INTEREST VARIANCE on Products -> 14-Product Processing Additional)
            during disposition of interest at cycle.
          example: '0'
          enum:
          - '0'
          - '1'
        allowNsfPaymentReversal:
          maxLength: 1
          minLength: 0
          type: string
          description: Allow NSF Payment Reversal - Code that indicates whether an
            NSF payment reversal should be considered in the interest waive decision.
          example: '0'
          enum:
          - '0'
          - '1'
        ceilingLimitsRes:
          $ref: '#/components/schemas/CeilingLimitsRes'
    InterestParametersForCombinedGraceAndCycleOptionsRes:
      type: object
      properties:
        transactionQualification:
          maxLength: 1
          minLength: 0
          type: string
          description: Transactions That Qualify - Code that identifies the type of
            transactions that qualify an account or plan balance as paid in full.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
        waivePriorDeferredInterest:
          maxLength: 1
          minLength: 0
          type: string
          description: Waive Prior Deferred Interest - Code that indicates whether
            interest deferred in the prior cycle should be waived if specific account
            conditions are met.
          example: '0'
          enum:
          - '0'
          - '1'
        usePriorDeferredNsfPaymentReversal:
          maxLength: 1
          minLength: 0
          type: string
          description: Use Prior Deferred NSF Payment Reversal - Code that indicates
            whether an NSF payment reversal should be considered in the interest waive
            decision for prior deferred interest.
          example: '0'
          enum:
          - '0'
          - '1'
        priorDeferredInterestBalanceIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Prior Deferred Interest Balance Indicator - Code that indicates
            whether an account or plan beginning balance is used in the interest disposition
            decisions.
          example: '0'
          enum:
          - '0'
          - '1'
        usePriorDeferredBeginBalance:
          maxLength: 1
          minLength: 0
          type: string
          description: Use Prior Deferred Begin Balance - This field identifies whether
            the beginning balance is considered in the waive decision.
          example: '0'
          enum:
          - '0'
          - '1'
        priorDeferredBeginBalanceThreshold:
          maxLength: 17
          minLength: 0
          type: string
          description: Prior Deferred Begin Balance Threshold - This field indicates
            the balance threshold that the beginning balance must be less than or
            equal to before interest is waived.
          example: $0.00
        usePriorDeferredEndingBalance:
          maxLength: 1
          minLength: 0
          type: string
          description: Use Prior Deferred Ending Balance - This field identifies whether
            the ending balance is considered in the waive decision.
          example: '0'
          enum:
          - '0'
          - '1'
        priorDeferredEndBalanceThreshold:
          maxLength: 17
          minLength: 0
          type: string
          description: Prior Deferred End Balance Threshold - This field identifies
            the balance threshold that the ending balance must be less than or equal
            to before interest is waived.
          example: $0.00
        priorDeferredPaidDateQualification:
          maxLength: 1
          minLength: 0
          type: string
          description: Prior Deferred Paid Date Qualification - Code that indicates
            whether the date when the account or plan beginning balance is paid is
            used to qualify the account or plan to waive interest.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        waiveCurrentCycleInterest:
          maxLength: 1
          minLength: 0
          type: string
          description: Waive Current Cycle Interest - Code that indicates whether
            current cycle interest should be waived or deferred if specific account
            conditions are met.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        useCurrentCycleNsfPaymentReversal:
          maxLength: 1
          minLength: 0
          type: string
          description: Use Current Cycle NSF Payment Reversal - Code that indicates
            whether an NSF payment reversal should be considered in the decision to
            waive or defer interest for the current cycle.
          example: '0'
          enum:
          - '0'
          - '1'
        currentCycleInterestBalanceIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Current Cycle Interest Balance Indicator - Code that indicates
            whether an account or plan beginning balance is used in the interest disposition
            decisions.
          example: '0'
          enum:
          - '0'
          - '1'
        useCurrentCycleBeginBalance:
          maxLength: 1
          minLength: 0
          type: string
          description: Use Current Cycle Begin Balance - This field identifies whether
            the beginning balance is considered in the decision to waive or defer
            interest.
          example: '0'
          enum:
          - '0'
          - '1'
        currentCycleBeginBalanceThreshold:
          maxLength: 17
          minLength: 0
          type: string
          description: Current Cycle Begin Balance Threshold - This field identifies
            balance threshold that the beginning balance must be less than or equal
            to before interest is waived or deferred.
          example: $0.00
        useCurrentCycleEndingBalance:
          maxLength: 1
          minLength: 0
          type: string
          description: Use Current Cycle Ending Balance - This field identifies whether
            the ending balance is considered in the decision to waive or defer interest.
          example: '0'
          enum:
          - '0'
          - '1'
        currentCycleEndBalanceThreshold:
          maxLength: 17
          minLength: 0
          type: string
          description: Current Cycle End Balance Threshold - This field identifies
            the balance threshold that the ending balance must be less than or equal
            to before interest is deferred or waived.
          example: $0.00
        currentCyclePaidDateQualification:
          maxLength: 1
          minLength: 0
          type: string
          description: Current Cycle Paid Date Qualification - Code that indicates
            whether the date when the account or plan beginning balance is paid is
            used to qualify the account or plan to waive or defer current cycle interest.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        waivePriorCycleInterest:
          maxLength: 1
          minLength: 0
          type: string
          description: Waive Prior Cycle Interest - Code that indicates whether prior
            cycle interest should be waived if specific account conditions are met.
          example: '0'
          enum:
          - '0'
          - '1'
        usePriorCycleNsfPaymentReversal:
          maxLength: 1
          minLength: 0
          type: string
          description: Use Prior Cycle NSF Payment Reversal - Code that indicates
            whether an NSF payment reversal should be considered in the decision to
            waive interest for the prior cycle.
          example: '0'
          enum:
          - '0'
          - '1'
        priorCycleInterestBalanceIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Prior Cycle Interest Balance Indicator - Code that indicates
            whether an account or plan beginning balance is used in the interest disposition
            decisions.
          example: '0'
          enum:
          - '0'
          - '1'
        usePriorCycleBeginBalance:
          maxLength: 1
          minLength: 0
          type: string
          description: Use Prior Cycle Begin Balance - This field identifies whether
            the beginning balance is considered in the decision to waive interest.
          example: '0'
          enum:
          - '0'
          - '1'
        priorCycleBeginBalanceThreshold:
          maxLength: 17
          minLength: 0
          type: string
          description: Prior Cycle Begin Balance Threshold -  This field identifies
            the balance threshold that the beginning balance must be less than or
            equal to before interest is waived.
          example: $0.00
        usePriorCycleEndingBalance:
          maxLength: 1
          minLength: 0
          type: string
          description: Use Prior Cycle Ending Balance - This field identifies whether
            the ending balance is considered in the decision to waive interest.
          example: '0'
          enum:
          - '0'
          - '1'
        priorCycleEndBalanceThreshold:
          maxLength: 17
          minLength: 0
          type: string
          description: Prior Cycle End Balance Threshold - The second part of the
            field is the balance threshold that the ending balance must be less than
            or equal to before interest is waived.
          example: $0.00
        priorCyclePaidDateQualification:
          type: string
          description: Prior Cycle Paid Date Qualification - Code that indicates whether
            the date when the account or plan beginning balance is paid is used to
            qualify the account or plan to waive prior cycle interest.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        waiveResidualInterest:
          maxLength: 1
          minLength: 0
          type: string
          description: Waive Residual Interest - Code that indicates whether residual
            interest should be waived if specific account conditions are met.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        useResidualInterestNsfPaymentReversal:
          maxLength: 1
          minLength: 0
          type: string
          description: Use Residual Interest NSF Payment Reversal - Code that indicates
            whether an NSF payment reversal should be considered in the decision to
            waive residual interest.
          example: '0'
          enum:
          - '0'
          - '1'
        residualInterestBalanceIndicator:
          maximum: 9
          maxLength: 1
          type: integer
          description: Residual Interest Balance Indicator - Code that indicates whether
            an account or plan beginning balance is used in the interest disposition
            decisions.
          format: int32
          example: '0'
        useResidualInterestBeginBalance:
          maxLength: 1
          minLength: 0
          type: string
          description: Use Residual Interest Begin Balance - This field identifies
            whether the beginning balance is considered in the decision to waive interest.
          example: '0'
          enum:
          - '0'
          - '1'
        residualInterestBeginBalanceThreshold:
          maxLength: 17
          minLength: 0
          type: string
          description: Residual Interest Begin Balance Threshold - This field identifies
            balance threshold that the beginning balance must be less than or equal
            to before interest is waived.
          example: $0.00
        useResidualInterestEndingBalance:
          maxLength: 1
          minLength: 0
          type: string
          description: Use Residual Interest Ending Balance - This field identifies
            whether the ending balance is considered in the decision to waive interest.
          example: '0'
          enum:
          - '0'
          - '1'
        residualInterestEndBalanceThreshold:
          maxLength: 17
          minLength: 0
          type: string
          description: Residual Interest End Balance Threshold - This field identifies
            balance threshold that the ending balance must be less than or equal to
            before interest is waived.
          example: $0.00
        residualInterestPaidDateQualification:
          maxLength: 1
          minLength: 0
          type: string
          description: Residual Interest Paid Date Qualification - Code that indicates
            whether the date when the account or plan beginning balance is paid is
            used to qualify the account or plan to waive residual interest.
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
    InterestRatesRes:
      type: object
      properties:
        tierLimitIndicator:
          maxLength: 1
          minLength: 0
          type: string
          description: Tier Limit Indicator - Code that indicates how to handle tier
            limits.
          example: '0'
          enum:
          - '1'
          - '0'
        rateType:
          maxLength: 1
          minLength: 0
          type: string
          description: Rate Type - Code that indicates the type of interest rate.
          example: F
          enum:
          - F
          - T
          - V
          - U
          - Z
        rateIndexTable:
          maximum: 999
          maxLength: 3
          type: integer
          description: Rate Index Table - Code that identifies the rate index within
            the associated Rate Index Table that determines the base rate.
          format: int32
          example: '6'
        rate7:
          maxLength: 7
          minLength: 0
          type: string
          description: Rate 7 - Interest rate that CMS charges on account balances
            not greater than the amount in the LIMIT7 field. Interest rate must be
            within the floor rate and the ceiling rate assigned to the Interest table.
          example: 0.00000%
        variance7:
          maxLength: 7
          minLength: 0
          type: string
          description: Variance 7 - Variance rate that CMS adds to or subtracts from
            the base rate to determine the interest rate charged. The corresponding
            +/– field determines whether the variance rate is added to or subtracted
            from the base rate. The base rate is determined by the index rate assigned
            to the Interest table.
          example: 0.00000%
        limit7:
          maxLength: 17
          minLength: 0
          type: string
          description: Limit 7 - Account balance limit for interest rates in the RATE
            7 field or for each of the corresponding variance rates in the VARIANCE
            fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
            to the Interest table.
          example: $0.00
        rate8:
          maxLength: 7
          minLength: 0
          type: string
          description: Rate 8 - Interest rate that CMS charges on account balances
            not greater than the amount in the LIMIT8 field. Interest rate must be
            within the floor rate and the ceiling rate assigned to the Interest table.
          example: 0.00000%
        variance8:
          maxLength: 7
          minLength: 0
          type: string
          description: Variance 8 - Variance rate that CMS adds to or subtracts from
            the base rate to determine the interest rate charged. The corresponding
            +/– field determines whether the variance rate is added to or subtracted
            from the base rate. The base rate is determined by the index rate assigned
            to the Interest table.
          example: 0.00000%
        limit8:
          maxLength: 17
          minLength: 0
          type: string
          description: Limit 8 - Account balance limit for interest rates in the RATE
            8 field or for each of the corresponding variance rates in the VARIANCE
            fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
            to the Interest table.
          example: $0.00
        rate9:
          maxLength: 7
          minLength: 0
          type: string
          description: Rate 9 - Interest rate that CMS charges on account balances
            not greater than the amount in the LIMIT9 field. Interest rate must be
            within the floor rate and the ceiling rate assigned to the Interest table.
          example: 0.00000%
        variance9:
          maxLength: 7
          minLength: 0
          type: string
          description: Variance 9 - Variance rate that CMS adds to or subtracts from
            the base rate to determine the interest rate charged. The corresponding
            +/– field determines whether the variance rate is added to or subtracted
            from the base rate. The base rate is determined by the index rate assigned
            to the Interest table.
          example: 0.00000%
        rate1:
          maxLength: 7
          minLength: 0
          type: string
          description: Rate 1 - Interest rate that CMS charges on account balances
            not greater than the amount in the LIMIT1 field. Interest rate must be
            within the floor rate and the ceiling rate assigned to the Interest table.
          example: 0.00000%
        variance1:
          maxLength: 7
          minLength: 0
          type: string
          description: Variance 1 - Variance rate that CMS adds to or subtracts from
            the base rate to determine the interest rate charged. The corresponding
            +/– field determines whether the variance rate is added to or subtracted
            from the base rate. The base rate is determined by the index rate assigned
            to the Interest table.
          example: 8.99000%
        limit1:
          maxLength: 17
          minLength: 0
          type: string
          description: Limit 1 - Account balance limit for interest rates in the RATE
            1 field or for each of the corresponding variance rates in the VARIANCE
            fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
            to the Interest table.
          example: $999,999,999,999,999.00
        rate2:
          maxLength: 7
          minLength: 0
          type: string
          description: Rate 2 - Interest rate that CMS charges on account balances
            not greater than the amount in the LIMIT2 field. Interest rate must be
            within the floor rate and the ceiling rate assigned to the Interest table.
          example: 0.00000%
        variance2:
          maxLength: 7
          minLength: 0
          type: string
          description: Variance 2 - Variance rate that CMS adds to or subtracts from
            the base rate to determine the interest rate charged. The corresponding
            +/– field determines whether the variance rate is added to or subtracted
            from the base rate. The base rate is determined by the index rate assigned
            to the Interest table.
          example: 0.00000%
        limit2:
          maxLength: 17
          minLength: 0
          type: string
          description: Limit 2 - Account balance limit for interest rates in the RATE
            2 field or for each of the corresponding variance rates in the VARIANCE
            fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
            to the Interest table.
          example: $0.00
        rate3:
          maxLength: 7
          minLength: 0
          type: string
          description: Rate 3 - Interest rate that CMS charges on account balances
            not greater than the amount in the LIMIT3 field. Interest rate must be
            within the floor rate and the ceiling rate assigned to the Interest table.
          example: 0.00000%
        variance3:
          maxLength: 7
          minLength: 0
          type: string
          description: Variance 3 - Variance rate that CMS adds to or subtracts from
            the base rate to determine the interest rate charged. The corresponding
            +/– field determines whether the variance rate is added to or subtracted
            from the base rate. The base rate is determined by the index rate assigned
            to the Interest table.
          example: 0.00000%
        limit3:
          maxLength: 17
          minLength: 0
          type: string
          description: Limit 3 - Account balance limit for interest rates in the RATE
            3 field or for each of the corresponding variance rates in the VARIANCE
            fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
            to the Interest table.
          example: $0.00
        rate4:
          maxLength: 7
          minLength: 0
          type: string
          description: Rate 4 - Interest rate that CMS charges on account balances
            not greater than the amount in the LIMIT4 field. Interest rate must be
            within the floor rate and the ceiling rate assigned to the Interest table.
          example: 0.00000%
        variance4:
          maxLength: 7
          minLength: 0
          type: string
          description: Variance 4 - Variance rate that CMS adds to or subtracts from
            the base rate to determine the interest rate charged. The corresponding
            +/– field determines whether the variance rate is added to or subtracted
            from the base rate. The base rate is determined by the index rate assigned
            to the Interest table.
          example: 0.00000%
        limit4:
          maxLength: 17
          minLength: 0
          type: string
          description: Limit 4 - Account balance limit for interest rates in the RATE
            4 field or for each of the corresponding variance rates in the VARIANCE
            fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
            to the Interest table.
          example: $0.00
        rate5:
          maxLength: 7
          minLength: 0
          type: string
          description: Rate 5 - Interest rate that CMS charges on account balances
            not greater than the amount in the LIMIT5 field. Interest rate must be
            within the floor rate and the ceiling rate assigned to the Interest table.
          example: 0.00000%
        variance5:
          maxLength: 7
          minLength: 0
          type: string
          description: Variance 5 - Variance rate that CMS adds to or subtracts from
            the base rate to determine the interest rate charged. The corresponding
            +/– field determines whether the variance rate is added to or subtracted
            from the base rate. The base rate is determined by the index rate assigned
            to the Interest table.
          example: 0.00000%
        limit5:
          maxLength: 17
          minLength: 0
          type: string
          description: Limit 5 - Account balance limit for interest rates in the RATE
            5 field or for each of the corresponding variance rates in the VARIANCE
            fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
            to the Interest table.
          example: $0.00
        rate6:
          maxLength: 7
          minLength: 0
          type: string
          description: Rate 6 - Interest rate that CMS charges on account balances
            not greater than the amount in the LIMIT6 field. Interest rate must be
            within the floor rate and the ceiling rate assigned to the Interest table.
          example: 0.00000%
        variance6:
          maxLength: 7
          minLength: 0
          type: string
          description: Variance 6 - Variance rate that CMS adds to or subtracts from
            the base rate to determine the interest rate charged. The corresponding
            +/– field determines whether the variance rate is added to or subtracted
            from the base rate. The base rate is determined by the index rate assigned
            to the Interest table.
          example: 0.00000%
        limit6:
          maxLength: 17
          minLength: 0
          type: string
          description: Limit 6 - Account balance limit for interest rates in the RATE
            6 field or for each of the corresponding variance rates in the VARIANCE
            fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
            to the Interest table.
          example: $0.00
    CardActivationControlsRes:
      type: object
      properties:
        newCardActivation:
          maxLength: 1
          type: string
          description: New Card Activation - This flag indicates whether to use card
            activation for new cards
          example: Y
        additionalCardActivation:
          maxLength: 1
          type: string
          description: Addtional Card Activation - This flag indicates whether to
            use card activation for additional cards
          example: Y
        reissueCardActivation:
          maxLength: 1
          type: string
          description: Reissue Card Activation - This flag indicates whether to use
            card activation for reissued cards
          example: Y
        replacementCardActivation:
          maxLength: 1
          type: string
          description: Replacement Card Activation - This flag indicates whether to
            use card activation for replacement cards
          example: Y
    InquireProductResponseModel:
      required:
      - businessUnit
      - productNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number associated with this
            Account Base Segment record, the values are 001–998
          format: int32
          example: '600'
        productNumber:
          maxLength: 3
          type: integer
          description: Product - This field is the Identification number of the Logo
            record
          format: int32
          example: '1'
        productDescription:
          maxLength: 30
          type: string
          description: Product Description - This filed is the description of the
            Logo record. This description enables you to identify the kind of accounts
            processed by this product
          example: VISA CREDIT CONSUMER
        cardProductDisplay:
          maxLength: 1
          type: string
          description: Card Product Display - Flag that indicates whether cards in
            this logo display a logo symbol for PLUS, Cirrus, or Maestro
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        quarterlyAffiliateCardProduct:
          maxLength: 3
          type: string
          description: Quaterly Affilicate Card Product - Code that indicates the
            card association card product. This field is required if the Logo record
            processes bankcard accounts (TYPE OF ACCOUNTS PROCESSED field is D, X,
            or Y) to identify the quarterly reporting classification or card product
          example: V1
        loanFeatureActive:
          maxLength: 1
          type: string
          description: Loan Feature Active - Flag that indicates whether the loans
            feature is active for the product
          example: '1'
          enum:
          - '0'
          - '1'
        paymentHolidaysAllowed:
          maxLength: 1
          type: string
          description: Payment Holidays Allowed - Code that indicates whether manual
            skip payments are allowed for accounts in this product
          example: Y
          enum:
          - N
          - Y
        sameDayEmbossingAllowed:
          maxLength: 1
          type: string
          description: Same Day Embossing Allowed -  This flag indicates whether same-day
            embossing is allowed for accounts within this product
          example: '1'
          enum:
          - '0'
          - '1'
        chipPinCardAllowed:
          maxLength: 1
          type: string
          description: CHIP or PIN Card Allowed - This flag identifies whether smart
            cards can be issued for cards in this product
          example: '1'
          enum:
          - '0'
          - '1'
        delinquencyAgeing:
          maxLength: 1
          type: string
          description: Delinquency Ageing - Code that specifies whethre delinquency
            aging occurs on payment due date or cycle date
          example: D
          enum:
          - D
          - S
        processingControlLevel:
          maxLength: 1
          type: string
          description: Processing Control Level - This is a flag which indicates the
            processing control level for accounts in this product
          example: O
          enum:
          - S
          - O
          - L
        collectionsActive:
          maxLength: 1
          type: string
          description: Collections Active - This flag indicates whether CTA is active
          example: Y
          enum:
          - N
          - Y
        automaticAccountNumberGeneration:
          maxLength: 1
          type: string
          description: Automatic Account Number Generation - This flag indicates whether
            this product uses automatic account number and card number generation
          example: I
          enum:
          - Y
          - I
          - N
        authAlerts:
          maxLength: 1
          type: string
          description: Auth Alerts - This flag indicates whether transaction authorization-based
            alerts functionality is active for the product and whether the cardholder
            is automatically enrolled for the alert
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        falcon6Active:
          maxLength: 1
          type: string
          description: Falcon 6 Active - This is the flag that indicates whether the
            Falcon 6 interface is active for this product
          example: '0'
          enum:
          - '0'
          - '1'
        vipOverrideFlag:
          maxLength: 1
          type: string
          description: VIP override Flag - This flag indicates if VIP override is
            active or not
          example: N
          enum:
          - Y
          - N
        secureCodeActive:
          maxLength: 1
          type: string
          description: Secure Code Active - Flag that indicates whether the Connection
            Management System (CCM) is active
          example: '0'
          enum:
          - '0'
          - '1'
        loyaltyManagementActive:
          maxLength: 1
          type: string
          description: Loyalty Management Active - This flag indicates if the Loyalty
            Management System (LMS) is active for this product
          example: '1'
          enum:
          - '1'
          - '0'
        debitCardProcessActive:
          maxLength: 1
          type: string
          description: Debit Card Process Active - This flag indicates whether the
            online debit card processing feature is active for this product
          example: '0'
          enum:
          - '0'
          - '1'
        tokenizationServiceActive:
          maxLength: 1
          type: string
          description: Tokenization Service Active - This flag indicates whether the
            tokenization functionality is active for the product
          example: '1'
          enum:
          - '0'
          - '1'
        sameDayEmboss:
          maxLength: 1
          type: string
          description: Same Day Embossing - This flag indicates whether same-day embossing
            is allowed for the accounts within the product.
          example: '0'
          enum:
          - '0'
          - '1'
        manualPinResetAllowed:
          maxLength: 1
          type: string
          description: Manual PIN Reset Allowed - Flag that indicates whether the
            PIN try counter field on the Embosser record is allowed to be manually
            reset for accounts in this product
          example: '1'
          enum:
          - '0'
          - '1'
        cardActionTableActive:
          maxLength: 1
          type: string
          description: Card Action Table Active - This flag indicates whether the
            enhanced PIN and card warehousing functionality provided by the card action
            table is enabled
          example: '0'
          enum:
          - '0'
          - '1'
        defaultCardTechnology:
          maxLength: 1
          type: string
          description: Default Card Technology - Default Card Technology to be used
            during new account setup
          example: '3'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        scriptingActive:
          maxLength: 1
          type: string
          description: Scripting Active - This is a flag which indicates whether the
            smart card scripting functionality provided by CMS, FAS (Financial Authorization
            System), ESS (EMV Scripting System), and RIS is active for this product.
          example: '0'
          enum:
          - '0'
          - '1'
        sweepOptionAllowed:
          maxLength: 1
          type: string
          description: Sweep Option Allowed - This flag indicates whether sweep processing
            is allowed for this product
          example: '0'
          enum:
          - '0'
          - '1'
        crossBorder:
          maxLength: 1
          type: string
          description: Cross Border - This is the flag that indicates the alert setting
            for cross border transactions at the cardholder level
          example: '0'
          enum:
          - '0'
          - '1'
        creditLimitBypass:
          maxLength: 1
          type: string
          description: Credit Limit Bypass - This is the field that determines whether
            accounts belonging to this product will be excluded from an adaptive control
            system (ACS) credit limit review
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        approvedCardUse:
          maxLength: 1
          type: string
          description: Approved Card Use - This flag indicates if the cards that are
            assigned to accounts in this product are approved for local use only or
            international use
          example: '0'
          enum:
          - '0'
          - '1'
        newCardDefaultActive:
          maxLength: 1
          type: string
          description: New Card Default Active - Code that indicates whether the value
            in the ENHANCED PRODUCT field defaults to the Embosser records for new
            cards in this product
          example: '0'
          enum:
          - '0'
          - '1'
        enhancedProductsEligible:
          maxLength: 1
          type: string
          description: Enhanced Products Eligible - This flag indicates whether accounts
            in the product are eligible for an enhanced product
          example: '0'
          enum:
          - '0'
          - '1'
          - '4'
        virtualCardEdits:
          maxLength: 1
          type: string
          description: Virtual Card Edits - This flag indicates whether virtual card
            accounts are allowed for the product and whether FAS restricts card-present
            transactions for virtual card accounts
          example: ''
          enum:
          - X
          - Y
          - ' '
        newCardPlastics:
          maxLength: 1
          type: string
          description: New Card Plastics - This flag indicates whether CMS generates
            a tape for embossing plastics for new accounts
          example: Y
          enum:
          - N
          - Y
          - B
          - F
        embossingFilesKeyType:
          maxLength: 1
          type: string
          description: Embosser Key Type - Key type for Embosser Files
          example: B
          enum:
          - B
          - E
          - F
          - G
          - H
          - ' '
        keyTypeForPinMailerFiles:
          maxLength: 1
          type: string
          description: PIN Mailer Key Type - Key type for PIN mailer
          example: B
          enum:
          - B
          - E
          - F
          - G
          - H
          - ' '
        pinMailerNameaddress:
          maxLength: 1
          type: string
          description: PIN Mailer Name/Address - determines the name and address to
            print on PIN mailer wthe PIN and card mailer
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        cardMailerNameaddress:
          maxLength: 1
          type: string
          description: Card Mailer Name/Address - determines the name and address
            to print on Card mailer
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        cardBureauFeedbackActive:
          maxLength: 1
          type: string
          description: Card Bureau Feedback Active - This flag indicates whether CMS
            uses the Card Bureau Feedback (ATAD) file to update the MAILER DATE field
            on the Embosser record
          example: '0'
          enum:
          - '0'
          - '1'
        pinMailerForCardActionRes:
          type: array
          items:
            $ref: '#/components/schemas/PinMailerForCardActionRes'
        directDebitcreditActive:
          maxLength: 1
          type: string
          description: Direct Debit/Credit Active - Code that indicates whether direct
            debit and direct credit processing is active for accounts in this product
          example: N
          enum:
          - N
          - Y
          - A
        overlimitProcessingOptinIndicator:
          maxLength: 1
          type: string
          description: Overlimit Processing Opt-in Indicator - This field is a code
            that indicates whether the product participates in overlimit opt-in processing
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        openToBuyCreditBalance:
          maxLength: 1
          type: string
          description: Open to Buy Credit Balance - This field indicates whether CMS
            includes the credit balance, disputed amounts, and original loan amount
            when calculating the open-to-buy amount
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        includeDisputedAmounts:
          maxLength: 1
          type: string
          description: Include Disputed Amount - Code that indicates whether CMS includes
            disputed amounts in the open-to-buy (OTB) calculation of accounts
          example: '0'
          enum:
          - ZERO
          - '1'
        stateOfResidenceId:
          maxLength: 3
          type: string
          description: Sate of Residence ID - Default Residence ID that identifies
            the state, province, or country in which the account holder resides
          example: SX1
        stateOfIssueId:
          maxLength: 3
          type: string
          description: State of Residence ID - This field identifies the state, province,
            or country where the account was issued
          example: SX1
        wspTokenEligible:
          maxLength: 1
          type: string
          description: 'WSP token Eligibility - This field is used to determine if
            a particular logo allows tokenization '
          example: '1'
          enum:
          - '0'
          - '1'
        typeOfAccountsProcessed:
          maxLength: 1
          type: string
          description: Type of Accounts Processed - This flag identifies the type
            of accounts processed by the product
          example: X
          enum:
          - R
          - L
          - P
          - B
          - C
          - D
          - Y
          - X
          - Z
        markUpFeeControlsRes:
          $ref: '#/components/schemas/MarkUpFeeControlsRes'
        cardActivationControlsRes:
          $ref: '#/components/schemas/CardActivationControlsRes'
        paymentProcessingControlsRes:
          $ref: '#/components/schemas/PaymentProcessingControlsRes'
    MarkUpFeeControlsRes:
      type: object
      properties:
        markupIssuerActive:
          maxLength: 1
          type: string
          description: Markup Issuer Active - This is a flag that indicates whether
            the issuer-markup fee option is active for this product
          example: '0'
          enum:
          - '1'
          - '0'
        markupSchemeActive:
          maxLength: 1
          type: string
          description: Markup Scheme Active - This is a flag which indicates whether
            the scheme-markup fee option is active for this product
          example: '0'
          enum:
          - '1'
          - '0'
        markupUserDefinedActive:
          maxLength: 1
          type: string
          description: Markup User Defined Active - This is a flag which indicates
            whether the user-defined markup fee option is active for this product.
            When this option is active, CMS assesses user-defined markup fees on first
            presentments and reversals.
          example: '0'
          enum:
          - '1'
          - '0'
        markupActiveCreditFee:
          maxLength: 1
          type: string
          description: Markup Active Credit Fee - This is a flag which indicates whether
            the credit fee option is active for this product. When this option is
            active, the cardholder receives reimbursement for issuer and/or scheme
            fees on credit transactions
          example: '0'
          enum:
          - '1'
          - '0'
    PaymentProcessingControlsRes:
      type: object
      properties:
        applicationMethodForAr:
          maxLength: 1
          type: string
          description: Application Method for A/R - This Field determines the payment
            application method for accounts-receivable accounts which are non-charged-off
            accounts
          example: H
          enum:
          - B
          - C
          - D
          - H
          - P
          - K
          - L
          - U
          - M
          - N
          - O
        applicationMethodForPl:
          maxLength: 1
          type: string
          description: Application Method for P/L - This field determines the payment
            application method for profit-and-loss accounts, which are charged-off
            accounts
          example: D
          enum:
          - B
          - C
          - D
          - H
          - P
          - K
          - L
          - U
          - M
          - N
          - O
        prepaymentsAllowed:
          maxLength: 1
          type: string
          description: Prepayments Allowed - Code that indicates whether prepayments
            are allowed for accounts in this product
          example: '0'
          enum:
          - '0'
          - '2'
          - '1'
        paymentApplicationLevel:
          maxLength: 1
          type: string
          description: Payment Application Level - Code that indicates whether CMS
            applies payments to accounts with multiple credit plan segments by the
            plan priority defined on the Credit Plan Master record or the plan priority
            defined on the Logo record
          example: P
          enum:
          - P
          - L
    PinMailerForCardActionRes:
      type: object
      properties:
        cardActions:
          maxLength: 1
          type: string
          description: Card Actions - This flag indicate the various card actions
            that use the enhanced PIN and card warehousing functionality when the
            card actions are initiated on the Embosser record
          example: '0'
        pinOptions:
          maxLength: 1
          type: string
          description: PIN Options - Code that indicates the action to be taken for
            enhanced PIN and card warehousing when the corresponding card action is
            processed
          example: '0'
    ConsolidatedDetailsRes:
      type: object
      properties:
        controllingCreditPlanMaster:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Controlling Credit Plan Master - Plan number of the Credit
            Plan Master record used for consolidated payment calculations
          format: int32
          example: '10003'
        consolidatedStatement:
          maxLength: 1
          minLength: 0
          type: string
          description: Consolidated Statement - Code that indicates whether CMS consolidates
            statements for credit plans assigned the same plan number
          example: Y
          enum:
          - N
          - Y
        consolidatedPayment:
          maxLength: 1
          minLength: 0
          type: string
          description: Consolidated Payment - Code that indicates whether CMS calculates
            a single (consolidated) payment amount for similar credit plan segments
            on an account
          example: Y
          enum:
          - N
          - R
          - B
          - Y
    InquirePlanMasterResponseModel:
      required:
      - businessUnit
      - planNumber
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Business Unit - Identification number associated with this
            Account Base Segment record, the values are 001–998
          format: int32
          example: '600'
        planNumber:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Plan Number - Identification number of the Credit Plan Master
            record. The values are 00001–99998. You can establish as many as 99,998
            Credit Plan Master records for each organization
          format: int32
          example: '10002'
        description:
          maxLength: 30
          minLength: 0
          type: string
          description: Plan Description - Description of the Credit Plan Master record.
            This description defaults to the Credit Plan Segment records for credit
            plans associated with this Credit Plan Master record
          example: RETAIL PLAN
        planType:
          maxLength: 1
          minLength: 0
          type: string
          description: Plan Type - Code that identifies the type of credit plan. This
            value defaults to the Credit Plan Segment records for credit plans generated
            by the Credit Plan Master record
          example: R
          enum:
          - A
          - B
          - C
          - K
          - R
          - D
          - I
          - Y
          - T
          - L
        multipleSales:
          maxLength: 1
          minLength: 0
          type: string
          description: Multiple Sales Flag - Code that indicates whether each sales
            transaction associated with this Credit Plan Segment record generates
            a new Credit Plan Segment record or is added to an existing Credit Plan
[...]
