openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: User Management
paths:
  /v1/users/updateUser:
    put:
      tags:
      - User Management
      summary: This service is used to update security sign-on records. A User Security
        Sign-on record, also referred to as a sign-on record, holds the details that
        determine a person’s access rights on the system
      description: This service is used to update security sign-on records
      operationId: UpdateUser
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Update User
      x-group-name: User Management
  /v1/users/signOn:
    post:
      tags:
      - User Management
      summary: Signon User
      description: This service is used for user Signon
      operationId: SignonUser
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignonUserReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignonUserResponseModel'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Signon User
      x-group-name: User Management
  /v1/users/boardUser:
    post:
      tags:
      - User Management
      summary: This service is used to add new security sign-on records. A User Security
        Sign-on record, also referred to as a sign-on record, holds the details that
        determine a person’s access rights on the system
      description: This service is used to add new security sign-on records
      operationId: AddUser
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUserReqModel'
        required: true
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Add User
      x-group-name: User Management
components:
  schemas:
    AccountManagementReq:
      type: object
      properties:
        userCode5:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode5:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    ApplicationProcessingReq:
      type: object
      properties:
        userCode13:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode13:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    AuthorizationsReq:
      type: object
      properties:
        userCode7:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode7:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    BusinessMessagingReq:
      type: object
      properties:
        userCode2:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode2:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    BusinessUnitIncludeExcludeFlag10Req:
      type: object
      properties:
        inclusionExclusionFlag10:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit10:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag1Req:
      type: object
      properties:
        inclusionExclusionFlag1:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit1:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag2Req:
      type: object
      properties:
        inclusionExclusionFlag2:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit2:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag3Req:
      type: object
      properties:
        inclusionExclusionFlag3:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit3:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag4Req:
      type: object
      properties:
        inclusionExclusionFlag4:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit4:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag5Req:
      type: object
      properties:
        inclusionExclusionFlag5:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit5:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag6Req:
      type: object
      properties:
        inclusionExclusionFlag6:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit6:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag7Req:
      type: object
      properties:
        inclusionExclusionFlag7:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit7:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag8Req:
      type: object
      properties:
        inclusionExclusionFlag8:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit8:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag9Req:
      type: object
      properties:
        inclusionExclusionFlag9:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit9:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlagReq:
      type: object
      properties:
        businessUnitIncludeExcludeFlag1Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag1Req'
        businessUnitIncludeExcludeFlag2Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag2Req'
        businessUnitIncludeExcludeFlag3Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag3Req'
        businessUnitIncludeExcludeFlag4Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag4Req'
        businessUnitIncludeExcludeFlag5Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag5Req'
        businessUnitIncludeExcludeFlag6Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag6Req'
        businessUnitIncludeExcludeFlag7Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag7Req'
        businessUnitIncludeExcludeFlag8Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag8Req'
        businessUnitIncludeExcludeFlag9Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag9Req'
        businessUnitIncludeExcludeFlag10Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag10Req'
    ClientSupportReq:
      type: object
      properties:
        userCode21:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode21:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    CollectionManagementReq:
      type: object
      properties:
        userCode6:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode6:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    CommercialCardReq:
      type: object
      properties:
        userCode10:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode10:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    ConnectionManagerReq:
      type: object
      properties:
        userCode23:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode23:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    CtryCurrencyCatCodesReq:
      type: object
      properties:
        userCode1:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode1:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    CustomerCommunicationManagementReq:
      type: object
      properties:
        userCode25:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode25:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    CustomerServiceReq:
      type: object
      properties:
        userCode8:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode8:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    DecisionEngineSystemReq:
      type: object
      properties:
        userCode26:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode26:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    EmbScriptingSystemReq:
      type: object
      properties:
        userCode14:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode14:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    ExceptionProcessingReq:
      type: object
      properties:
        userCode4:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode4:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    FutureUse03Req:
      type: object
      properties:
        userCode3:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode3:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    FutureUse16Req:
      type: object
      properties:
        userCode16:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode16:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    FutureUse18Req:
      type: object
      properties:
        userCode18:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode18:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    FutureUse27Req:
      type: object
      properties:
        userCode27:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode27:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    FutureUse28Req:
      type: object
      properties:
        userCode28:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode28:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    FutureUse30Req:
      type: object
      properties:
        userCode30:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode30:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    InternationalLanguageReq:
      type: object
      properties:
        userCode19:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode19:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    KeyManagementSystemReq:
      type: object
      properties:
        userCode15:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode15:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    LetterRequestsReq:
      type: object
      properties:
        userCode17:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode17:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    MerchantSettlementReq:
      type: object
      properties:
        userCode12:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode12:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    OfferManagementReq:
      type: object
      properties:
        userCode11:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode11:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    PosDeviceManagementReq:
      type: object
      properties:
        userCode24:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode24:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    RemoteInterfaceReq:
      type: object
      properties:
        userCode9:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode9:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    RewardManagementReq:
      type: object
      properties:
        userCode20:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode20:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    SecurityReq:
      type: object
      properties:
        userCode22:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode22:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    TransactionManagementReq:
      type: object
      properties:
        userCode29:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode29:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    UpdateUserReqModel:
      required:
      - clientId
      - name
      type: object
      properties:
        clientId:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Client ID - Identification number, referred to as Client ID,
            assigned to your institution by the processor
          format: int32
          example: '1'
        name:
          maxLength: 15
          minLength: 0
          type: string
          description: Name - Sign-on name that the person assigned this User Security
            Signon record will use to sign on to the system. The sign-on name can
            consist of letters (A–Z), numbers (0–9), and embedded spaces, but not
            a leading space. When adding a new sign-on record, the sign-on name must
            be a unique name not already assigned to any existing User Security Sign-on
            records for your institution (client ID)
          example: NABTESKL6
        type:
          maxLength: 1
          minLength: 0
          type: string
          description: Type - Security type of the User Security Sign-on record. The
            security type indicates the type of administrator or user for which the
            sign-on record has been established
          example: '5'
        servicePrivilegeGroupId:
          maxLength: 8
          minLength: 0
          type: string
          description: Service Privilege Group - Name that identifies an existing
            service privilege group assigned to this User Security Sign-on record.
            This service privilege group determines the services that can be accessed
            by the person who signs on with this sign-on record
          example: ''
        status:
          maxLength: 1
          minLength: 0
          type: string
          description: Record Status - Code that indicates the status of the User
            Security Sign-on record
          example: '1'
          enum:
          - '1'
          - '9'
        signonExpiryDate:
          maxLength: 10
          minLength: 0
          type: string
          description: Sign-on Expiry Date - Expiration date of the User Security
            Sign-on record. The default value is zeros. The sign-on record cannot
            be used to sign on unless this field is a valid future date. On the expiration
            date, the system sets this field to zero. When this field is zero, signon
            attempts fail and are reported on the Security Violations Report (T130).
            This date must be changed to a valid future expiration date to enable
            the sign-on record to be used for signing on again, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on System Controls)
          example: ''
        dateToActivate:
          maxLength: 10
          minLength: 0
          type: string
          description: Date to Activate - Activation date of the User Security Sign-on
            record. The default value is zeros. The sign-on record cannot be used
            to sign on unless this field is a valid past or current date. This field
            enables a sign-on record to be added and assigned a future activation
            date so that the record is automatically active on that future date, The
            format is MM/DD/YYYY or DD/MM/YYYY depending on the date format established
            on the System record (DATE FORMAT on System Controls)
          example: ''
        businessUnitPrivilegeId:
          maxLength: 8
          minLength: 0
          type: string
          description: Business Unit Privilege ID - Name that identifies an existing
            organization privilege group assigned to this User Security Sign-on record.
            This organization privilege group determines the organizations that can
            be accessed by the person who signs on with this sign-on record. An organization
            privilege group assigned to a sign-on record must have the same client
            ID and security type as the sign-on record. Access rights to additional
            organizations can be included or excluded using the I/E and ORG fields,
            which are listed on this screen under the ORG INCLUDE/EXCLUDE heading
          example: ''
        supervisorId:
          maxLength: 3
          minLength: 0
          type: string
          description: Supervisor ID
          example: ' '
        customerServiceBusinessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Customer Service Business Unit
          format: int32
          example: '100'
        businessUnitIncludeExcludeFlagReq:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlagReq'
        userApplicationAccessReq:
          $ref: '#/components/schemas/UserApplicationAccessReq'
        userServicePrivilegeReq:
          $ref: '#/components/schemas/UserServicePrivilegeReq'
    UserApplicationAccessReq:
      type: object
      properties:
        ctryCurrencyCatCodesReq:
          $ref: '#/components/schemas/CtryCurrencyCatCodesReq'
        businessMessagingReq:
          $ref: '#/components/schemas/BusinessMessagingReq'
        futureUse03Req:
          $ref: '#/components/schemas/FutureUse03Req'
        exceptionProcessingReq:
          $ref: '#/components/schemas/ExceptionProcessingReq'
        accountManagementReq:
          $ref: '#/components/schemas/AccountManagementReq'
        collectionManagementReq:
          $ref: '#/components/schemas/CollectionManagementReq'
        authorizationsReq:
          $ref: '#/components/schemas/AuthorizationsReq'
        customerServiceReq:
          $ref: '#/components/schemas/CustomerServiceReq'
        remoteInterfaceReq:
          $ref: '#/components/schemas/RemoteInterfaceReq'
        commercialCardReq:
          $ref: '#/components/schemas/CommercialCardReq'
        OfferManagementReq:
          $ref: '#/components/schemas/OfferManagementReq'
        merchantSettlementReq:
          $ref: '#/components/schemas/MerchantSettlementReq'
        applicationProcessingReq:
          $ref: '#/components/schemas/ApplicationProcessingReq'
        embScriptingSystemReq:
          $ref: '#/components/schemas/EmbScriptingSystemReq'
        keyManagementSystemReq:
          $ref: '#/components/schemas/KeyManagementSystemReq'
        futureUse16Req:
          $ref: '#/components/schemas/FutureUse16Req'
        letterRequestsReq:
          $ref: '#/components/schemas/LetterRequestsReq'
        futureUse18Req:
          $ref: '#/components/schemas/FutureUse18Req'
        internationalLanguageReq:
          $ref: '#/components/schemas/InternationalLanguageReq'
        rewardManagementReq:
          $ref: '#/components/schemas/RewardManagementReq'
        clientSupportReq:
          $ref: '#/components/schemas/ClientSupportReq'
        securityReq:
          $ref: '#/components/schemas/SecurityReq'
        connectionManagerReq:
          $ref: '#/components/schemas/ConnectionManagerReq'
        posDeviceManagementReq:
          $ref: '#/components/schemas/PosDeviceManagementReq'
        customerCommunicationManagementReq:
          $ref: '#/components/schemas/CustomerCommunicationManagementReq'
        decisionEngineSystemReq:
          $ref: '#/components/schemas/DecisionEngineSystemReq'
        futureUse27Req:
          $ref: '#/components/schemas/FutureUse27Req'
        futureUse28Req:
          $ref: '#/components/schemas/FutureUse28Req'
        transactionManagementReq:
          $ref: '#/components/schemas/TransactionManagementReq'
        futureUse30Req:
          $ref: '#/components/schemas/FutureUse30Req'
    UserServicePrivilege10Req:
      type: object
      properties:
        serviceInclusionExclusionflag10:
          maxLength: 1
          minLength: 0
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        serviceName10:
          maxLength: 30
          minLength: 0
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ' '
        serviceVersion10:
          maxLength: 6
          minLength: 0
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ' '
    UserServicePrivilege1Req:
      type: object
      properties:
        serviceInclusionExclusionflag1:
          maxLength: 1
          minLength: 0
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        serviceName1:
          maxLength: 30
          minLength: 0
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ' '
        serviceVersion1:
          maxLength: 6
          minLength: 0
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ' '
    UserServicePrivilege2Req:
      type: object
      properties:
        serviceInclusionExclusionflag2:
          maxLength: 1
          minLength: 0
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        serviceName2:
          maxLength: 30
          minLength: 0
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ' '
        serviceVersion2:
          maxLength: 6
          minLength: 0
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ' '
    UserServicePrivilege3Req:
      type: object
      properties:
        serviceInclusionExclusionflag3:
          maxLength: 1
          minLength: 0
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        serviceName3:
          maxLength: 30
          minLength: 0
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ' '
        serviceVersion3:
          maxLength: 6
          minLength: 0
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ' '
    UserServicePrivilege4Req:
      type: object
      properties:
        serviceInclusionExclusionflag4:
          maxLength: 1
          minLength: 0
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        serviceName4:
          maxLength: 30
          minLength: 0
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ' '
        serviceVersion4:
          maxLength: 6
          minLength: 0
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ' '
    UserServicePrivilege5Req:
      type: object
      properties:
        serviceInclusionExclusionflag5:
          maxLength: 1
          minLength: 0
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        serviceName5:
          maxLength: 30
          minLength: 0
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ' '
        serviceVersion5:
          maxLength: 6
          minLength: 0
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ' '
    UserServicePrivilege6Req:
      type: object
      properties:
        serviceInclusionExclusionflag6:
          maxLength: 1
          minLength: 0
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        serviceName6:
          maxLength: 30
          minLength: 0
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ' '
        serviceVersion6:
          maxLength: 6
          minLength: 0
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ' '
    UserServicePrivilege7Req:
      type: object
      properties:
        serviceInclusionExclusionflag7:
          maxLength: 1
          minLength: 0
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        serviceName7:
          maxLength: 30
          minLength: 0
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ' '
        serviceVersion7:
          maxLength: 6
          minLength: 0
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ' '
    UserServicePrivilege8Req:
      type: object
      properties:
        serviceInclusionExclusionflag8:
          maxLength: 1
          minLength: 0
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        serviceName8:
          maxLength: 30
          minLength: 0
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ' '
        serviceVersion8:
          maxLength: 6
          minLength: 0
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ' '
    UserServicePrivilege9Req:
      type: object
      properties:
        serviceInclusionExclusionflag9:
          maxLength: 1
          minLength: 0
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        serviceName9:
          maxLength: 30
          minLength: 0
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ' '
        serviceVersion9:
          maxLength: 6
          minLength: 0
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ' '
    UserServicePrivilegeReq:
      type: object
      properties:
        userServicePrivilege1Req:
          $ref: '#/components/schemas/UserServicePrivilege1Req'
        userServicePrivilege2Req:
          $ref: '#/components/schemas/UserServicePrivilege2Req'
        userServicePrivilege3Req:
          $ref: '#/components/schemas/UserServicePrivilege3Req'
        userServicePrivilege4Req:
          $ref: '#/components/schemas/UserServicePrivilege4Req'
        userServicePrivilege5Req:
          $ref: '#/components/schemas/UserServicePrivilege5Req'
        userServicePrivilege6Req:
          $ref: '#/components/schemas/UserServicePrivilege6Req'
        userServicePrivilege7Req:
          $ref: '#/components/schemas/UserServicePrivilege7Req'
        userServicePrivilege8Req:
          $ref: '#/components/schemas/UserServicePrivilege8Req'
        userServicePrivilege9Req:
          $ref: '#/components/schemas/UserServicePrivilege9Req'
        userServicePrivilege10Req:
          $ref: '#/components/schemas/UserServicePrivilege10Req'
    ResponseErrorMessageInfo:
      type: object
      properties:
        status:
          type: string
          example: ''
        errorMessage:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
    AccountManagementRes:
      type: object
      properties:
        userCode5:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode5:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    ApplicationProcessingRes:
      type: object
      properties:
        userCode13:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode13:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    AuthorizationsRes:
      type: object
      properties:
        userCode7:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode7:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    BusinessMessagingRes:
      type: object
      properties:
        userCode2:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode2:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    BusinessUnitIncludeExcludeFlag10Res:
      type: object
      properties:
        inclusionExclusionFlag10:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit10:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag1Res:
      type: object
      properties:
        inclusionExclusionFlag1:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit1:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag2Res:
      type: object
      properties:
        inclusionExclusionFlag2:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit2:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag3Res:
      type: object
      properties:
        inclusionExclusionFlag3:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit3:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag4Res:
      type: object
      properties:
        inclusionExclusionFlag4:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit4:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag5Res:
      type: object
      properties:
        inclusionExclusionFlag5:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit5:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag6Res:
      type: object
      properties:
        inclusionExclusionFlag6:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit6:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag7Res:
      type: object
      properties:
        inclusionExclusionFlag7:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit7:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag8Res:
      type: object
      properties:
        inclusionExclusionFlag8:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit8:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlag9Res:
      type: object
      properties:
        inclusionExclusionFlag9:
          maxLength: 1
          minLength: 0
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ' '
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit9:
          maxLength: 3
          minLength: 0
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ' '
    BusinessUnitIncludeExcludeFlagRes:
      type: object
      properties:
        businessUnitIncludeExcludeFlag1Res:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag1Res'
        businessUnitIncludeExcludeFlag2Res:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag2Res'
        businessUnitIncludeExcludeFlag3Res:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag3Res'
        businessUnitIncludeExcludeFlag4Res:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag4Res'
        businessUnitIncludeExcludeFlag5Res:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag5Res'
        businessUnitIncludeExcludeFlag6Res:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag6Res'
        businessUnitIncludeExcludeFlag7Res:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag7Res'
        businessUnitIncludeExcludeFlag8Res:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag8Res'
        businessUnitIncludeExcludeFlag9Res:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag9Res'
        businessUnitIncludeExcludeFlag10Res:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag10Res'
    ClientSupportRes:
      type: object
      properties:
        userCode21:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode21:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    CollectionManagementRes:
      type: object
      properties:
        userCode6:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode6:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    CommercialCardRes:
      type: object
      properties:
        userCode10:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode10:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    ConnectionManagerRes:
      type: object
      properties:
        userCode23:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode23:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    CtryCurrencyCatCodesRes:
      type: object
      properties:
        userCode1:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode1:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    CustomerCommunicationManagementRes:
      type: object
      properties:
        userCode25:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode25:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    CustomerServiceRes:
      type: object
      properties:
        userCode8:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode8:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    DecisionEngineSystemRes:
      type: object
      properties:
        userCode26:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode26:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    EmbScriptingSystemRes:
      type: object
      properties:
        userCode14:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode14:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ' '
    ExceptionProcessingRes:
      type: object
      properties:
        userCode4:
          maxLength: 1
          minLength: 0
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ' '
        fieldSecurityCode4:
          maxLength: 1
          minLength: 0
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
[...]
