openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: User Management
paths:
  /v1/users/updateUser:
    put:
      tags:
      - User Management
      summary: This service is used to update security Sign-on entity. A User Security
        Sign-on entity, also referred to as a Sign-on entity, holds the details that
        determine a person’s access rights on the system.
      description: This service is used to update security Sign-on entity.
      operationId: UpdateUser
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAxQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.hrOMnImaiTZW3WUCHMxtNXVlGUwRDuRXZ43sXDD7EvOaFP90Tw1xUnniJ8CGO8ioPuFHrLn4O52T_AaMVxdty32OveDNFoY7nVUqnAE_WjHwV2VJ7p1FkrLSwauKQLjsXh-VWMe7slzRHKjeY5nGhTnWnkyFEJrCVojAyIkfSU5GicOWHGc7EkRqL2Yxlm_5IRHwpEkbpbiguZHS71Sk6dXhwkMgLW4CxTCONsOAao35p5BoUPHEl9OK3vlZiaXFEUlSOf2rmr8C-O_dm-rrmsWw4nYrc6ZzO4wqhUYG77UPPYxkrV1dYbbHIUcyI_HsuS7kyRhzhXe4nsQTd-j8Uw
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserReqModel'
        required: true
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserResponseModel'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update User
      x-group-name: User Management
  /v1/users/access:
    get:
      tags:
      - User Management
      summary: This service is used to inquire additional field for security Sign-on
        entity. A User Security Sign-on entity, also referred to as a Sign-on entity,
        holds the details that determine a person’s access rights on the system
      description: This service is used to inquire business unit and user application
        fields of security Sign-on entity.
      operationId: InquireUserAccess
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAxQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.hrOMnImaiTZW3WUCHMxtNXVlGUwRDuRXZ43sXDD7EvOaFP90Tw1xUnniJ8CGO8ioPuFHrLn4O52T_AaMVxdty32OveDNFoY7nVUqnAE_WjHwV2VJ7p1FkrLSwauKQLjsXh-VWMe7slzRHKjeY5nGhTnWnkyFEJrCVojAyIkfSU5GicOWHGc7EkRqL2Yxlm_5IRHwpEkbpbiguZHS71Sk6dXhwkMgLW4CxTCONsOAao35p5BoUPHEl9OK3vlZiaXFEUlSOf2rmr8C-O_dm-rrmsWw4nYrc6ZzO4wqhUYG77UPPYxkrV1dYbbHIUcyI_HsuS7kyRhzhXe4nsQTd-j8Uw
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: clientId
        in: query
        description: Identification number, referred to as Client ID, assigned to
          your institution by the processor.
        required: true
        schema:
          maximum: 99999
          maxLength: 5
          type: integer
          example: '1'
      - name: name
        in: query
        description: Sign-on name that the person assigned this User Security Signon
          entity will use to sign on to the system. The sign-on name can consist of
          letters (A–Z), numbers (0–9), and embedded spaces, but not a leading space.
          When adding a new Sign-on entity, the sign-on name must be a unique name
          not already assigned to any existing User Security Sign-on entity for your
          institution (client ID).
        required: true
        schema:
          maxLength: 15
          type: string
          example: NABTEST25
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireUserAccessResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire User Access
      x-group-name: User Management
    put:
      tags:
      - User Management
      summary: This service is used to update additional field for security Sign-on
        entity. A User Security Sign-on entity, also referred to as a Sign-on entity,
        holds the details that determine a person’s access rights on the system
      description: This service is used to update business unit and user application
        fields of security Sign-on entity.
      operationId: UpdateUserAccess
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAxQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.hrOMnImaiTZW3WUCHMxtNXVlGUwRDuRXZ43sXDD7EvOaFP90Tw1xUnniJ8CGO8ioPuFHrLn4O52T_AaMVxdty32OveDNFoY7nVUqnAE_WjHwV2VJ7p1FkrLSwauKQLjsXh-VWMe7slzRHKjeY5nGhTnWnkyFEJrCVojAyIkfSU5GicOWHGc7EkRqL2Yxlm_5IRHwpEkbpbiguZHS71Sk6dXhwkMgLW4CxTCONsOAao35p5BoUPHEl9OK3vlZiaXFEUlSOf2rmr8C-O_dm-rrmsWw4nYrc6ZzO4wqhUYG77UPPYxkrV1dYbbHIUcyI_HsuS7kyRhzhXe4nsQTd-j8Uw
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserAccessReqModel'
        required: true
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserAccessResponseModel'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update User Access
      x-group-name: User Management
  /v1/users/signOn:
    post:
      tags:
      - User Management
      summary: Signon User
      description: This service is used for user Signon.
      operationId: SignonUser
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAxQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.hrOMnImaiTZW3WUCHMxtNXVlGUwRDuRXZ43sXDD7EvOaFP90Tw1xUnniJ8CGO8ioPuFHrLn4O52T_AaMVxdty32OveDNFoY7nVUqnAE_WjHwV2VJ7p1FkrLSwauKQLjsXh-VWMe7slzRHKjeY5nGhTnWnkyFEJrCVojAyIkfSU5GicOWHGc7EkRqL2Yxlm_5IRHwpEkbpbiguZHS71Sk6dXhwkMgLW4CxTCONsOAao35p5BoUPHEl9OK3vlZiaXFEUlSOf2rmr8C-O_dm-rrmsWw4nYrc6ZzO4wqhUYG77UPPYxkrV1dYbbHIUcyI_HsuS7kyRhzhXe4nsQTd-j8Uw
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignonUserReqModel'
        required: true
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '201':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignonUserResponseModel'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Signon User
      x-group-name: User Management
  /v1/users/boardUser:
    post:
      tags:
      - User Management
      summary: This service is used to add new security Sign-on entity. A User Security
        Sign-on entity, also referred to as a Sign-on entity, holds the details that
        determine a person’s access rights on the system
      description: This service is used to add new security Sign-on entity.
      operationId: AddUser
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAxQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.hrOMnImaiTZW3WUCHMxtNXVlGUwRDuRXZ43sXDD7EvOaFP90Tw1xUnniJ8CGO8ioPuFHrLn4O52T_AaMVxdty32OveDNFoY7nVUqnAE_WjHwV2VJ7p1FkrLSwauKQLjsXh-VWMe7slzRHKjeY5nGhTnWnkyFEJrCVojAyIkfSU5GicOWHGc7EkRqL2Yxlm_5IRHwpEkbpbiguZHS71Sk6dXhwkMgLW4CxTCONsOAao35p5BoUPHEl9OK3vlZiaXFEUlSOf2rmr8C-O_dm-rrmsWw4nYrc6ZzO4wqhUYG77UPPYxkrV1dYbbHIUcyI_HsuS7kyRhzhXe4nsQTd-j8Uw
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUserReqModel'
        required: true
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '201':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserResponseModel'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Add User
      x-group-name: User Management
  /v1/users/inquireUser:
    get:
      tags:
      - User Management
      summary: This service is used to inquire security Sign-on entity. A User Security
        Sign-on entity, also referred to as a Sign-on entity, holds the details that
        determine a person’s access rights on the system.
      description: This service is used to inquire security Sign-on entity.
      operationId: InquireUser
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAxQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.hrOMnImaiTZW3WUCHMxtNXVlGUwRDuRXZ43sXDD7EvOaFP90Tw1xUnniJ8CGO8ioPuFHrLn4O52T_AaMVxdty32OveDNFoY7nVUqnAE_WjHwV2VJ7p1FkrLSwauKQLjsXh-VWMe7slzRHKjeY5nGhTnWnkyFEJrCVojAyIkfSU5GicOWHGc7EkRqL2Yxlm_5IRHwpEkbpbiguZHS71Sk6dXhwkMgLW4CxTCONsOAao35p5BoUPHEl9OK3vlZiaXFEUlSOf2rmr8C-O_dm-rrmsWw4nYrc6ZzO4wqhUYG77UPPYxkrV1dYbbHIUcyI_HsuS7kyRhzhXe4nsQTd-j8Uw
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: clientId
        in: query
        description: Identification number, referred to as Client ID, assigned to
          your institution by the processor.
        required: true
        schema:
          maximum: 99999
          maxLength: 5
          type: integer
          example: '1'
      - name: name
        in: query
        description: Sign-on name that the person assigned this User Security Signon
          entity will use to sign on to the system. The sign-on name can consist of
          letters (A–Z), numbers (0–9), and embedded spaces, but not a leading space.
          When adding a new Sign-on entity, the sign-on name must be a unique name
          not already assigned to any existing User Security Sign-on entity for your
          institution (client ID).
        required: true
        schema:
          maxLength: 15
          type: string
          example: NABTEST25
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireUserResponseModel'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire User
      x-group-name: User Management
components:
  schemas:
    UpdateUserReqModel:
      required:
      - clientId
      - name
      type: object
      properties:
        clientId:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Identification number, referred to as Client ID, assigned to
            your institution by the processor.
          format: int32
          example: '1'
        name:
          maxLength: 15
          type: string
          description: Sign-on name that the person assigned this User Security Signon
            entity will use to sign on to the system. The sign-on name can consist
            of letters (A–Z), numbers (0–9), and embedded spaces, but not a leading
            space. When adding a new Sign-on entity, the sign-on name must be a unique
            name not already assigned to any existing User Security Sign-on entity
            for your institution (client ID).
          example: NABTEST25
        securityType:
          maxLength: 1
          type: string
          description: Security type of the User Security Sign-on entity. The security
            type indicates the type of administrator or user for which the Sign-on
            entity has been established. <br/>The values are:<br/>&nbsp; '1' - Processor
            Security Administrato<br/>&nbsp; '2' - Processor Administrator <br/>&nbsp;
            '3' - Processor User <br/>&nbsp; '4' - Client Administrator <br/>&nbsp;
            '5' - Client User
          example: '5'
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        servicePrivilegeGroupId:
          maxLength: 8
          type: string
          description: Service Privilege Group - Name that identifies an existing
            service privilege group assigned to this User Security Sign-on entity.
            This service privilege group determines the services that can be accessed
            by the person who signs on with this sign-on entity.
          example: ''
        status:
          maxLength: 1
          type: string
          description: 'Code that indicates the status of the User Security Sign-on
            entity. <br/>The values are: <br/>&nbsp; 1 = Active (Default)<br/>&nbsp;
            9 = To be purged. This sign-on record will be purged during the next reload
            of the WSS master files.'
          example: '1'
          enum:
          - '1'
          - '9'
        signonExpiryDate:
          maxLength: 10
          type: string
          description: Expiration date of the User Security Sign-on entity. The default
            value is zeros. The Sign-on entity cannot be used to sign on unless this
            field is a valid future date. On the expiration date, the system sets
            this field to zero. When this field is zero, signon attempts fail and
            are reported on the Security Violations Report (T130). This date must
            be changed to a valid future expiration date to enable the Sign-on entity
            to be used for signing on again, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: ''
        activationDate:
          maxLength: 10
          type: string
          description: Activation date of the User Security Sign-on entity. The default
            value is zeros. The Sign-on entity cannot be used to sign on unless this
            field is a valid past or current date. This field enables a Sign-on entity
            to be added and assigned a future activation date so that the entity is
            automatically active on that future date, The format is MM/DD/YYYY or
            DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: ''
        businessUnitPrivilegeId:
          maxLength: 8
          type: string
          description: Name that identifies an existing organization privilege group
            assigned to this User Security Sign-on entity. This organization privilege
            group determines the organizations that can be accessed by the person
            who signs on with this Sign-on entity. An organization privilege group
            assigned to a Sign-on entity must have the same client ID and security
            type as the Sign-on entity. Access rights to additional organizations
            can be included or excluded using the I/E and ORG fields, which are listed
            on this screen under the ORG INCLUDE/EXCLUDE heading.
          example: ''
        supervisorId:
          maxLength: 3
          type: string
          description: Supervisor ID of the person who signs on with this User Security
            Sign-on record.
          example: ' '
        customerServiceBusinessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Customer service representative business unit number assigned
            to this administrator or user for reporting purposes in the Account Services
            Management (ASM) application. This field is required for all Client Users
            (type 5) and must be an business unit number (001–998).
          format: int32
          example: '100'
        userServicePrivilege:
          type: object
          properties:
            userServicePrivilege1:
              type: object
              properties:
                serviceInclusionExclusionFlag1:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName1:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion1:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege2:
              type: object
              properties:
                serviceInclusionExclusionFlag2:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName2:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion2:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege3:
              type: object
              properties:
                serviceInclusionExclusionFlag3:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName3:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion3:
                  maxLength: 6
                  type: string
                  description: Service Version - Service version assigned to this
                    User Security Sign-on entity. The service version in this field
                    and the service name in the corresponding SERVICE NAME field must
                    identify an existing service that was previously added by the
                    processor.
                  example: ' '
            userServicePrivilege4:
              type: object
              properties:
                serviceInclusionExclusionFlag4:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName4:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion4:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege5:
              type: object
              properties:
                serviceInclusionExclusionFlag5:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName5:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion5:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege6:
              type: object
              properties:
                serviceInclusionExclusionFlag6:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName6:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion6:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege7:
              type: object
              properties:
                serviceInclusionExclusionFlag7:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName7:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion7:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege8:
              type: object
              properties:
                serviceInclusionExclusionFlag8:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName8:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion8:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege9:
              type: object
              properties:
                serviceInclusionExclusionFlag9:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName9:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion9:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege10:
              type: object
              properties:
                serviceInclusionExclusionFlag10:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName10:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion10:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
    UpdateUserResponseModel:
      required:
      - clientId
      - name
      type: object
      properties:
        clientId:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Identification number, referred to as Client ID, assigned to
            your institution by the processor.
          format: int32
          example: '1'
        name:
          maxLength: 15
          type: string
          description: Sign-on name that the person assigned this User Security Signon
            entity will use to sign on to the system. The sign-on name can consist
            of letters (A–Z), numbers (0–9), and embedded spaces, but not a leading
            space. When adding a new Sign-on entity, the sign-on name must be a unique
            name not already assigned to any existing User Security Sign-on entity
            for your institution (client ID).
          example: NABTEST25
        securityType:
          maxLength: 1
          type: string
          description: Security type of the User Security Sign-on entity. The security
            type indicates the type of administrator or user for which the Sign-on
            entity has been established. <br/>The values are:<br/>&nbsp; '1' - Processor
            Security Administrato<br/>&nbsp; '2' - Processor Administrator <br/>&nbsp;
            '3' - Processor User <br/>&nbsp; '4' - Client Administrator <br/>&nbsp;
            '5' - Client User
          example: '5'
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        servicePrivilegeGroupId:
          maxLength: 8
          type: string
          description: Service Privilege Group - Name that identifies an existing
            service privilege group assigned to this User Security Sign-on entity.
            This service privilege group determines the services that can be accessed
            by the person who signs on with this sign-on entity.
          example: ''
        status:
          maxLength: 1
          type: string
          description: 'Code that indicates the status of the User Security Sign-on
            entity. <br/>The values are: <br/>&nbsp; 1 = Active (Default)<br/>&nbsp;
            9 = To be purged. This sign-on record will be purged during the next reload
            of the WSS master files.'
          example: '1'
          enum:
          - '1'
          - '9'
        signonExpiryDate:
          maxLength: 10
          type: string
          description: Expiration date of the User Security Sign-on entity. The default
            value is zeros. The Sign-on entity cannot be used to sign on unless this
            field is a valid future date. On the expiration date, the system sets
            this field to zero. When this field is zero, signon attempts fail and
            are reported on the Security Violations Report (T130). This date must
            be changed to a valid future expiration date to enable the Sign-on entity
            to be used for signing on again, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: ''
        activationDate:
          maxLength: 10
          type: string
          description: Activation date of the User Security Sign-on entity. The default
            value is zeros. The Sign-on entity cannot be used to sign on unless this
            field is a valid past or current date. This field enables a Sign-on entity
            to be added and assigned a future activation date so that the entity is
            automatically active on that future date, The format is MM/DD/YYYY or
            DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: ''
        businessUnitPrivilegeId:
          maxLength: 8
          type: string
          description: Name that identifies an existing organization privilege group
            assigned to this User Security Sign-on entity. This organization privilege
            group determines the organizations that can be accessed by the person
            who signs on with this Sign-on entity. An organization privilege group
            assigned to a Sign-on entity must have the same client ID and security
            type as the Sign-on entity. Access rights to additional organizations
            can be included or excluded using the I/E and ORG fields, which are listed
            on this screen under the ORG INCLUDE/EXCLUDE heading.
          example: ''
        supervisorId:
          maxLength: 3
          type: string
          description: Supervisor ID of the person who signs on with this User Security
            Sign-on record.
          example: ' '
        customerServiceBusinessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Customer service representative business unit number assigned
            to this administrator or user for reporting purposes in the Account Services
            Management (ASM) application. This field is required for all Client Users
            (type 5) and must be an business unit number (001–998).
          format: int32
          example: '100'
        userServicePrivilege:
          type: object
          properties:
            userServicePrivilege1:
              type: object
              properties:
                serviceInclusionExclusionFlag1:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName1:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion1:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege2:
              type: object
              properties:
                serviceInclusionExclusionFlag2:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName2:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion2:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege3:
              type: object
              properties:
                serviceInclusionExclusionFlag3:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName3:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion3:
                  maxLength: 6
                  type: string
                  description: Service Version - Service version assigned to this
                    User Security Sign-on entity. The service version in this field
                    and the service name in the corresponding SERVICE NAME field must
                    identify an existing service that was previously added by the
                    processor.
                  example: ' '
            userServicePrivilege4:
              type: object
              properties:
                serviceInclusionExclusionFlag4:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName4:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion4:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege5:
              type: object
              properties:
                serviceInclusionExclusionFlag5:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName5:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion5:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege6:
              type: object
              properties:
                serviceInclusionExclusionFlag6:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName6:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion6:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege7:
              type: object
              properties:
                serviceInclusionExclusionFlag7:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName7:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion7:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege8:
              type: object
              properties:
                serviceInclusionExclusionFlag8:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName8:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion8:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege9:
              type: object
              properties:
                serviceInclusionExclusionFlag9:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName9:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion9:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
            userServicePrivilege10:
              type: object
              properties:
                serviceInclusionExclusionFlag10:
                  maxLength: 1
                  type: string
                  description: 'Code that indicates whether to include or exclude
                    access rights to the service listed in the corresponding SERVICE
                    NAME and VERSION fields, or to delete the service name and version
                    from the list on this screen. <br/> The values are: <br/>&nbsp;
                    ''D'' or '' '' - Delete the service name and version in the corresponding
                    SERVICE NAME and SERVICE VERSION fields from the list on this
                    page <br/>&nbsp; ''E'' - Exclude access rights to the service
                    listed in the corresponding SERVICE NAME and SERVICE VERSION fields
                    <br/>&nbsp; ''I'' - Include access rights to the service listed
                    in the corresponding SERVICE NAME and SERVICE VERSION fields'
                  example: ' '
                  enum:
                  - I
                  - E
                  - D
                  - ' '
                serviceName10:
                  maxLength: 30
                  type: string
                  description: Service name assigned to this User Security Sign-on
                    entity. The corresponding I/E field indicates whether to include
                    or exclude access rights to this service. Access rights to this
                    service are in addition to the access rights granted by the service
                    privilege group that is assigned to this Sign-on entity in the
                    SERVICE PRIVILEGE field. The service name in this field and the
                    service version in the corresponding VERSION field must identify
                    an existing service that was previously added by the processor.
                  example: ' '
                serviceVersion10:
                  maxLength: 6
                  type: string
                  description: Service version assigned to this User Security Sign-on
                    entity. The service version in this field and the service name
                    in the corresponding SERVICE NAME field must identify an existing
                    service that was previously added by the processor.
                  example: ' '
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        detail:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
        source:
          type: string
          example: ''
        status:
          type: integer
          format: int32
          example: '0'
        invalid-params:
          type: array
          items:
            type: string
    UpdateUserAccessReqModel:
      required:
      - clientId
      - name
      type: object
      properties:
        clientId:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Identification number, referred to as Client ID, assigned to
            your institution by the processor.
          format: int32
          example: '1'
        name:
          maxLength: 15
          type: string
          description: Sign-on name that the person assigned this User Security Signon
            entity will use to sign on to the system. The sign-on name can consist
            of letters (A–Z), numbers (0–9), and embedded spaces, but not a leading
            space. When adding a new Sign-on entity, the sign-on name must be a unique
            name not already assigned to any existing User Security Sign-on entity
            for your institution (client ID).
          example: NABTEST25
        userApplicationAccess:
          type: object
          properties:
            ctryCurrencyCatCodes:
              type: object
              properties:
                userCode1:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode1:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            businessMessaging:
              type: object
              properties:
                userCode2:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode2:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            futureUse03:
              type: object
              properties:
                userCode3:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode3:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            exceptionProcessing:
              type: object
              properties:
                userCode4:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode4:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            accountManagement:
              type: object
              properties:
                userCode5:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode5:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            collectionManagement:
              type: object
              properties:
                userCode6:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode6:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            authorizations:
              type: object
              properties:
                userCode7:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode7:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            customerService:
              type: object
              properties:
                userCode8:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode8:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            remoteInterface:
              type: object
              properties:
                userCode9:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode9:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            commercialCard:
              type: object
              properties:
                userCode10:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode10:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            OfferManagement:
              type: object
              properties:
                userCode11:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode11:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            merchantSettlement:
              type: object
              properties:
                userCode12:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode12:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            "\tapplicationProcessing":
              type: object
              properties:
                userCode13:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode13:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            embScriptingSystem:
              type: object
              properties:
                userCode14:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode14:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs or that identifies a Field Security entity
                    in the Credit Management System (CMS) and/or Merchant Bankcard
                    System (MBS) applications. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
            keyManagementSystem:
              type: object
              properties:
                userCode15:
                  maxLength: 1
                  type: string
                  description: User-defined code that provides access to custom code
                    features within programs. The values are a letter (A–Z), a number
                    (0–9), or space.
                  example: ' '
                fieldSecurityCode15:
[...]
