openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.5.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Authorization
paths:
  /v1/auth/reverse:
    post:
      tags:
      - Authorization
      summary: This service is used to reverse the Authorization request for a given
        payment instrument id.
      description: This API is used to reverse the authorization for a given payment
        instrument Id or payment card number, authorization code, effective date,
        and transaction amount, if given. Reverse is possible for any authorization
        which is waiting for settlement.
      operationId: ReverseAuthorization
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReverseAuthorizationV1ReqModel'
        required: true
      responses:
        '201':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseAuthorizationV1ResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Reverse Authorization
      x-group-name: Authorization
  /v1/auth/request:
    post:
      tags:
      - Authorization
      summary: Request Authorization
      description: This API is used to make an authorization request for payment instrument
        Id or payment card number.
      operationId: RequestAuthorization
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestAuthorizationV1ReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '201':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestAuthorizationV1ResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Request Authorization
      x-group-name: Authorization
  /v1/auth/{paymentInstrumentOrCardId}/details:
    get:
      tags:
      - Authorization
      summary: Inquire Authorizatoin detail
      description: This API is used to fetch Authorization details for a given payment
        instrument Id or payment card number, authorization code, effective date,
        and transaction amount, if given. This API fetches data for any authorization
        which is waiting for settlement
      operationId: InquireAuthorizationDetails
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - name: paymentInstrumentOrCardId
        in: path
        description: Unique alternate identification number associated with Payment
          Card Number or Unique identification number that appears on the front of
          the card (PAN).
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010274074'
      - name: effectiveDate
        in: query
        description: Effective Date of the transaction. The format is MM/DD/YYYY or
          DD/MM/YYYY depending on the DATE FORMAT on System Control.
        required: true
        schema:
          maxLength: 10
          type: string
          example: 10/01/2022
      - name: authorizationCode
        in: query
        description: Authorization code associated with the transaction.
        required: true
        schema:
          maxLength: 6
          type: string
          example: '055271'
      - name: authorizationAmount
        in: query
        description: Authorized sales amount in the account currency.
        required: false
        schema:
          maxLength: 17
          type: string
          example: '100.00'
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireAuthorizationDetailV1ResponseModel'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Authorization Details
      x-group-name: Authorization
components:
  schemas:
    ReverseAuthorizationV1ReqModel:
      required:
      - authorizationCode
      - effectiveDate
      - paymentInstrumentOrCardId
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '100'
        paymentInstrumentOrCardId:
          maxLength: 19
          type: string
          description: Unique alternate identification number associated with Payment
            Card Number or Unique identification number that appears on the front
            of the card (PAN).
          example: '0009846801010274074'
        effectiveDate:
          maxLength: 10
          type: string
          description: Effective date of the transaction. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 10/01/2022
        authorizationCode:
          maxLength: 6
          type: string
          description: Authorization code associated with the transaction.
          example: '055271'
        authorizationAmount:
          maxLength: 17
          type: string
          description: Authorized sales amount in the account currency.
          example: '100.00'
    ReverseAuthorizationV1ResponseModel:
      type: object
      properties:
        responseCode:
          maxLength: 2
          type: string
          description: Code that indicates the numeric ISO response code for this
            request.
          example: '00'
        authorizationCode:
          maxLength: 6
          type: string
          description: Authorization code associated with the transaction.
          example: '055271'
        finalAction:
          maxLength: 1
          type: string
          description: Code that indicates the action the system returned.
          example: R
        reason:
          maxLength: 20
          type: string
          description: FAS approval or decline code and description for this authorization
            request.
          example: REVESAL
        uniqueTransactionId:
          maxLength: 35
          type: string
          description: This field indicates unique transaction identification for
            the associated transaction.
          example: APP17977700222011344330001112345678
        maskedPaymentCardNumber:
          maxLength: 19
          type: string
          description: Unique identification number that appears on the front of the
            card (PAN) in masked format.
          example: 000484680XXXXXX9405
        openToBuy:
          maxLength: 24
          type: string
          description: Current open-to-buy amount of the account.
          example: $10000.00
        effectiveDate:
          maxLength: 10
          type: string
          description: Effective date of the transaction. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 10/01/2022
        internalReferenceNumber:
          maximum: 1000000000000000000
          maxLength: 18
          type: integer
          description: This field indicate the internal reference number used to identify
            authorization details from log file.
          example: '3239000'
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        detail:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
        source:
          type: string
          example: ''
        status:
          type: integer
          example: '0'
        invalid-params:
          type: array
          items:
            type: string
    RequestAuthorizationV1ReqModel:
      required:
      - CVV2
      - expiryDate
      - merchantBusinessUnit
      - merchantId
      - paymentInstrumentOrCardId
      - planId
      type: object
      properties:
        paymentInstrumentOrCardId:
          maxLength: 19
          type: string
          description: Unique alternate identification number associated with Payment
            Card Number or Unique identification number that appears on the front
            of the card (PAN).
          example: '0009846801010274074'
        merchantBusinessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Field that identifies the business unit to which the store
            is assigned. The values for the business unit are 1–998.
          example: '100'
        merchantId:
          maximum: 999999999
          maxLength: 9
          type: integer
          description: Field that identifies the store identification number.
          example: '999999998'
        authorizationAmount:
          maxLength: 13
          type: string
          description: Authorized sales amount in the currency accepted by the particular
            merchant.
          example: '1.00'
        planId:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Plan number that identifies the Credit Plan Master entity associated
            with the credit plan segment.
          example: '10001'
        expiryDate:
          maximum: 9999
          maxLength: 4
          type: integer
          description: Valid card expire date should be provided which is of 4 character
            with MMYY format.
          example: '424'
        CVV2:
          maximum: 999
          maxLength: 3
          type: integer
          description: Security code(CVV2/CVC2/CAV2/CVN2) assigned to the payment
            Instrument id.
          example: '123'
    RequestAuthorizationV1ResponseModel:
      type: object
      properties:
        authorizationCode:
          maxLength: 6
          type: string
          description: Authorization code associated with the transaction.
          example: '055271'
        responseCode:
          maxLength: 2
          type: string
          description: Code that indicates the numeric ISO response code for this
            request.
          example: '00'
        finalAction:
          maxLength: 1
          type: string
          description: Code that indicates the action the system returned.
          example: A
        reason:
          maxLength: 20
          type: string
          description: FAS approval or decline code and description for this authorization
            request.
          example: APPROVED
        uniqueTransactionId:
          maxLength: 35
          type: string
          description: This field indicates unique transaction identification for
            the associated transaction.
          example: APP17977700222011344330001112345678
        maskedPaymentCardNumber:
          maxLength: 19
          type: string
          description: Unique identification number that appears on the front of the
            card (PAN) in masked format.
          example: 000484680XXXXXX9405
        openToBuy:
          maxLength: 24
          type: string
          description: Current open-to-buy amount of the account.
          example: $10000.00
        effectiveDate:
          maxLength: 10
          type: string
          description: Effective date of the transaction. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 10/01/2022
        internalReferenceNumber:
          maximum: 1000000000000000000
          maxLength: 18
          type: integer
          description: This field indicate the internal reference number used to identify
            authorization details from log file.
          example: '3239000'
    InquireAuthorizationDetailV1ResponseModel:
      type: object
      properties:
        temporaryCreditLimit:
          maxLength: 24
          type: string
          description: Temporary line of credit for the account in whole monetary
            units. This amount overrides the credit limit assigned to the account
          example: $0.00
        creditLimit:
          maxLength: 24
          type: string
          description: Credit limit of the account.
          example: $0.00
        currentBalance:
          maxLength: 24
          type: string
          description: Current monetary balance outstanding on the cardholder’s account.
          example: $0.00
        merchantDetails:
          type: object
          properties:
            merchantId:
              maxLength: 9
              type: string
              description: Field that identifies the store identification number.
              example: '999999998'
            merchantCategoryCode:
              maxLength: 5
              type: string
              description: This field indicates merchant category code for the transaction.
              example: '50367'
            merchantBusinessUnit:
              maximum: 999
              maxLength: 3
              type: integer
              description: Field that identifies the business unit to which the store
                is assigned. The values for the business unit are 1–998.
              example: '100'
        planId:
          maxLength: 5
          type: string
          description: Plan number that identifies the Credit Plan Master entity associated
            with the credit plan segment.
          example: '0'
        accountStatus:
          maxLength: 1
          type: string
          description: Field that identifies the status of the account. <br/>The values
            are:<br/>&nbsp; 'A' - Active<br/>&nbsp; 'B' - Conversion fraud<br/>&nbsp;
            'C' - Conversion transfer<br/>&nbsp; 'D' - Dormant<br/>&nbsp; 'F' - Fraud
            transfer<br/>&nbsp; 'H' - Closed or conversion<br/>&nbsp; 'I' - Inactive<br/>&nbsp;
            'J' - Transfer in, migrated from inactive<br/>&nbsp; 'K' - Transfer out,
            migrated from inactive<br/>&nbsp; 'M' - Migrated<br/>&nbsp; 'N' - New<br/>&nbsp;
            'P' - To be purged in next reload<br/>&nbsp; 'Q' - Transfer in today<br/>&nbsp;
            'R' - Transfer out today<br/>&nbsp; 'T' - Transfer<br/>&nbsp; 'V' - Conversion<br/>&nbsp;
            'X' - Charge-off and conversion<br/>&nbsp; 'Z' - Charge-off<br/>&nbsp;
            '8' - Closed<br/>&nbsp; '9' - To be purged after reload
          example: A
        availableCredit:
          maxLength: 24
          type: string
          description: Available monetary credit for this account.
          example: $9,072.00
        expiryDate:
          maxLength: 10
          type: string
          description: Date on which the most recently issued card expires, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 30/04/2024
        memoDetails:
          type: object
          properties:
            memoDebitCount:
              maximum: 999
              maxLength: 3
              type: integer
              description: Number of memo debits for this account
              example: '40'
            memoDebitAmount:
              maxLength: 24
              type: string
              description: Amount of outstanding memo debits for the account.
              example: $470.00
            memoCreditCount:
              maximum: 999
              maxLength: 3
              type: integer
              description: Number of memo credit for this account.
              example: '0'
            memoCreditAmount:
              maxLength: 24
              type: string
              description: Amount of outstanding memo credit for the account.
              example: $0.00
        disputedItemCount:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Field that identifies the number of disputed items for this
            account.
          example: '0'
        disputedAmount:
          maxLength: 24
          type: string
          description: Field that identifies the monetary amount of disputed items
            for this account.
          example: $0.00
        responseCode:
          maxLength: 2
          type: string
          description: Code that indicates the numeric ISO response code for this
            request.
          example: '00'
        authorizationCode:
          maxLength: 6
          type: string
          description: Authorization code associated with the transaction.
          example: '055271'
        action:
          maxLength: 1
          type: string
          description: Code that indicates the action the system returned. <br/>The
            values are:<br/>&nbsp; 'A' - Approve the transaction <br/>&nbsp; 'D' -
            Decline the transaction <br/>&nbsp; 'S' - Call customer service <br/>&nbsp;
            'P' - Pending (more research is needed) <br/>&nbsp; 'R' - Referral <br/>&nbsp;
            'C' - Call the credit department <br/>&nbsp; 'K' - Pick up the card <br/>&nbsp;
            'X' - Cancelled approval <br/>&nbsp; 'M' - Prior day's approval that was
            matched off (partially) by posting (this is an internal value only)
          example: A
        reason:
          maxLength: 20
          type: string
          description: FAS approval or decline code and description for this authorization
            request.
          example: APPROVED
        accountDetails:
          type: object
          properties:
            customerId:
              maxLength: 19
              type: string
              description: Unique identification number assigned to a customer.
              example: '0001000000000150191'
            creditLimitOverlimitPercentage:
              maxLength: 7
              type: string
              description: Percentage that can be authorized in excess of the customer’s
                credit limit on the CMS product entity.
              example: $1.00
            accountOpenDate:
              maxLength: 10
              type: string
              description: Date on which the account was opened. You can enter a date
                that is earlier than today’s processing date (backdate). However,
                you cannot enter a date that is later than today’s processing date
                (future-date). The format is MM/DD/YYYY or DD/MM/YYYY depending on
                the DATE FORMAT on System Control.
              example: 01/05/2021
            creditClassification:
              maxLength: 2
              type: string
              description: The first part (CR CL) is the credit classification, which
                is based on the values set in the CMS Logo record.The first position
                displays the type of account; the second position displays the performance
                index for which the account qualified. <br/>The values are:<br/>&nbsp;
                'N (1–6)' - New account <br/>&nbsp; 'I (1–6)' - Intermediate account
                <br/>&nbsp; 'E (1–6)' - E-stablished account <br/>&nbsp; 'M (1–6)'
                - Marginal account
              example: N1
            chargeOffStatus:
              maxLength: 1
              type: string
              description: Field indicate the charge-off status of the account. Values
                1–3 indicate charge-offs in progress. Values 5–6 indicate charge-offs
                completed. <br/>The values are:<br/>&nbsp; '0' - Not charged off (Default)
                <br/>&nbsp; '1' - Potential (within 60 days of automatic charge-off)
                <br/>&nbsp; '2' - Pending (within 30 days of automatic charge-off)
                <br/>&nbsp; '3' - Manual <br/>&nbsp; '4' - Blocked <br/>&nbsp; '5'
                - Automatically completed <br/>&nbsp; '6' - Manually completed <br/>&nbsp;
                '9' - Account abandoned
              example: '0'
            lastStatementDate:
              maxLength: 10
              type: string
              description: Date on which the account last cycled. This date is systemgenerated;
                you cannot change it. The format is MM/DD/YYYY or DD/MM/YYYY depending
                on the DATE FORMAT on System Control.
              example: 30/04/2021
            chargeOffReason:
              maxLength: 2
              type: string
              description: 'Code that identifies the charge-off reason for the account.
                <br/> The values are: <br/>&nbsp; '' '' - No reason applied (Default)
                <br/>&nbsp; ''C'' - Credit loss <br/>&nbsp; ''B'' - Bankruptcy <br/>&nbsp;
                ''F'' - Fraud loss <br/>&nbsp; ''T'' - Counterfeit'
              example: ' '
            chargeOffDate:
              maxLength: 10
              type: string
              description: Field that identifies the date of account was charged-off
                as bad debt.
              example: 00/00/0000
            delinquentPaymentDaysCount:
              maxLength: 3
              type: string
              description: field that identifies the number of days the account is
                delinquent.
              example: '0'
            lastDelinquentDate:
              maxLength: 10
              type: string
              description: Field that identifies the date the account was last delinquent.
              example: 00/00/0000
            lastPaymentAmount:
              maxLength: 24
              type: string
              description: Amount of the last payment made on the account.
              example: $0.00
            lastPaymentDate:
              maxLength: 10
              type: string
              description: Date on which the last payment was made on the account.
                The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT
                on System Control.
              example: 00/00/0000
            lastReturnCheckDate:
              maxLength: 10
              type: string
              description: Field that identifies the last date of returned check.
              example: 00/00/0000
            lastReturnCheckCount:
              maximum: 999
              maxLength: 3
              type: integer
              description: Field that identifies the number of returned checks.
              example: '0'
            lastPurchaseAmount:
              maxLength: 24
              type: string
              description: Amount of the last purchase made on the account. This amount
                is the total of all transactions that were made on the same day.
              example: $0.00
            lastPurchaseDate:
              maxLength: 10
              type: string
              description: Effective date of the last purchase that posted to the
                account. The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE
                FORMAT on System Control.
              example: 00/00/0000
            cardFeeDate:
              maxLength: 10
              type: string
              description: Date on which CMS assesses the membership fee (also called
                an annual fee). The format is MM/DD/YYYY or DD/MM/YYYY depending on
                the DATE FORMAT on System Control.
              example: 00/00/0000
        blockAndWarningCodeDetails:
          type: object
          properties:
            blockCode1:
              maxLength: 1
              type: string
              description: This field identifies the block code 1 assigned to this
                account. Block codes control specific processing options at the account
                level. Valid block codes are the letters A to Z and blank (or space).
              example: ' '
            blockCode1Date:
              maxLength: 10
              type: string
              description: Date on which block code 1 was entered. The value in this
                field is system-generated; you cannot change it. The format is MM/DD/YYYY
                or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            blockCode2:
              maxLength: 1
              type: string
              description: This field identifies the block code 2 assigned to this
                account. Block codes control specific processing options at the account
                level. Valid block codes are the letters A to Z and blank (or space).
              example: ' '
            blockCode2Date:
              maxLength: 10
              type: string
              description: Date on which block code 2 was entered. The value in this
                field is system-generated; you cannot change it. The format is MM/DD/YYYY
                or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            warningCode:
              maxLength: 7
              type: string
              description: Seven-part field that identifies warning codes 1 to 7 assigned
                to the account.
              example: ' '
        collectionDetails:
          type: object
          properties:
            collectionReason:
              maximum: 99
              maxLength: 2
              type: integer
              description: Reason that specifies why the account went into collections.
                <br/>The values are:<br/>&nbsp; '1' - First payment default<br/>&nbsp;
                '2' - Overlimit<br/>&nbsp; '3' - Excessive use<br/>&nbsp; '4' - Delinquent<br/>&nbsp;
                '5' - Manual (high priority)<br/>&nbsp; '6' - Delinquent and recency<br/>&nbsp;
                '7' - Manual (low priority)<br/>&nbsp; '8' - Charge-off<br/>&nbsp;
                '9' - Delinquent and overlimit<br/>&nbsp; '99' - Account added by
                collector
              example: '0'
            collectionDate:
              maxLength: 10
              type: string
              description: Date the account went into collections.
              example: 00/00/0000
        delinquentDaysCount:
          maximum: 999
          maxLength: 3
          type: integer
          description: This field identifies the number of days the account is delinquent.
          example: '0'
        maskedPaymentCardNumber:
          maxLength: 19
          type: string
          description: Unique identification number that appears on the front of the
            card (PAN) in masked format.
          example: 000484680XXXXXX9405
        uniqueTransactionId:
          maxLength: 35
          type: string
          description: This field indicates unique transaction identification for
            the associated transaction.
          example: APP17977700222011344330001112345678
        currentCycleDue:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that identifies the level of contractual delinquency.
            The contractual delinquency (also called the cycle due code), indicates
            the number of cycles for which payments are due. <br/>The values are:<br/>
            &nbsp; '0' - No amount is due; account is current <br/> &nbsp; '1' - Current
            amount due; not past due <br/> &nbsp; '2' - Amount past due 1–29 days
            (or X days) <br/> &nbsp; '3' - Amount past due 30–59 days <br/> &nbsp;
            '4' - Amount past due 60–89 days <br/> &nbsp; '5' - Amount past due 90–119
            days <br/> &nbsp; '6' - Amount past due 120–149 days <br/> &nbsp; '7'
            - Amount past due 150–179 days <br/> &nbsp; '8' - Amount past due 180–209
            days <br/> &nbsp; '9' - Amount past due 210 or more days
          example: '1'
        totalDueAmount:
          maxLength: 24
          type: string
          description: Total amount due for the account.
          example: $0.00
        effectiveDate:
          maxLength: 10
          type: string
          description: Effective date of the transaction. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 10/01/2022
        authorizationAmount:
          maxLength: 24
          type: string
          description: Monetary amount of the current transaction for this account.
          example: $1.00
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
