openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.5.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: User Management
paths:
  /v1/users/updateUser:
    put:
      tags:
      - User Management
      summary: This service is used to update security Sign-on entity. A User Security
        Sign-on entity, also referred to as a Sign-on entity, holds the details that
        determine a person’s access rights on the system.
      description: This API is used to update generic details like status, expiry
        date etc. and service privileged details for a given security sign-on details.
      operationId: UpdateUser
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMUFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.PE6pl2aXjwvBZMXN-iJuktDRAzzZWsQgfNdJNeNXxDocG-0npHbACrl17h7wpnYxiXv1jBHa6XT19Vo_UXItel2pYIBXR8IC5LiNgnVus5BxgZNaOtUtP6zLmoc8ohUUUkim5UE663AJDzO6yCpdwDkHxrmPhiWzNXTZcLxErZDXlUqz6isSUxGREwQkZ5EqF4DbZD4SKuqj-mo7g_QExlae9zjilZGeECTGIxeG8AYsmv7EugATOB6ROBGmFR3STViEUAWFBZqd6M48yt_FLYNxWCT6-SdXSlpUk2q-AWv2_CNxHq3NSjPQrxet71I4Uzu9DZEKoPyZOMMTPvkx1g
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: clientId
        in: query
        description: Identification number, referred to as Client ID, assigned to
          your institution by the processor.
        required: true
        schema:
          maximum: 99999
          maxLength: 5
          type: integer
          example: '1'
      - name: name
        in: query
        description: Sign-on name that the person assigned this User Security Signon
          entity will use to sign on to the system. The sign-on name can consist of
          letters (A–Z), numbers (0–9), and embedded spaces, but not a leading space.
          When adding a new Sign-on entity, the sign-on name must be a unique name
          not already assigned to any existing User Security Sign-on entity for your
          institution (client ID).
        required: true
        schema:
          maxLength: 15
          type: string
          example: NABTEST25
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserV1ReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserV1ResponseModel'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update User
      x-group-name: User Management
  /v1/users/access:
    get:
      tags:
      - User Management
      summary: This service is used to inquire additional field for security Sign-on
        entity. A User Security Sign-on entity, also referred to as a Sign-on entity,
        holds the details that determine a person’s access rights on the system
      description: This API is used to fetch sign-on data like business unit include/exclude
        flags and user application access options for a given security sign-on details.
      operationId: InquireUserAccess
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMUFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.PE6pl2aXjwvBZMXN-iJuktDRAzzZWsQgfNdJNeNXxDocG-0npHbACrl17h7wpnYxiXv1jBHa6XT19Vo_UXItel2pYIBXR8IC5LiNgnVus5BxgZNaOtUtP6zLmoc8ohUUUkim5UE663AJDzO6yCpdwDkHxrmPhiWzNXTZcLxErZDXlUqz6isSUxGREwQkZ5EqF4DbZD4SKuqj-mo7g_QExlae9zjilZGeECTGIxeG8AYsmv7EugATOB6ROBGmFR3STViEUAWFBZqd6M48yt_FLYNxWCT6-SdXSlpUk2q-AWv2_CNxHq3NSjPQrxet71I4Uzu9DZEKoPyZOMMTPvkx1g
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: clientId
        in: query
        description: Identification number, referred to as Client ID, assigned to
          your institution by the processor.
        required: true
        schema:
          maximum: 99999
          maxLength: 5
          type: integer
          example: '1'
      - name: name
        in: query
        description: Sign-on name that the person assigned this User Security Signon
          entity will use to sign on to the system. The sign-on name can consist of
          letters (A–Z), numbers (0–9), and embedded spaces, but not a leading space.
          When adding a new Sign-on entity, the sign-on name must be a unique name
          not already assigned to any existing User Security Sign-on entity for your
          institution (client ID).
        required: true
        schema:
          maxLength: 15
          type: string
          example: NABTEST25
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireUserAccessV1ResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire User Access
      x-group-name: User Management
    put:
      tags:
      - User Management
      summary: This service is used to update additional field for security Sign-on
        entity. A User Security Sign-on entity, also referred to as a Sign-on entity,
        holds the details that determine a person’s access rights on the system
      description: This API is used to update sign-on data like business unit include/exclude
        flags and user application access options for a given security sign-on details.
      operationId: UpdateUserAccess
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMUFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.PE6pl2aXjwvBZMXN-iJuktDRAzzZWsQgfNdJNeNXxDocG-0npHbACrl17h7wpnYxiXv1jBHa6XT19Vo_UXItel2pYIBXR8IC5LiNgnVus5BxgZNaOtUtP6zLmoc8ohUUUkim5UE663AJDzO6yCpdwDkHxrmPhiWzNXTZcLxErZDXlUqz6isSUxGREwQkZ5EqF4DbZD4SKuqj-mo7g_QExlae9zjilZGeECTGIxeG8AYsmv7EugATOB6ROBGmFR3STViEUAWFBZqd6M48yt_FLYNxWCT6-SdXSlpUk2q-AWv2_CNxHq3NSjPQrxet71I4Uzu9DZEKoPyZOMMTPvkx1g
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserAccessV1ReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserAccessV1ResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update User Access
      x-group-name: User Management
  /v1/users/boardUser:
    post:
      tags:
      - User Management
      summary: This service is used to add new security Sign-on entity. A User Security
        Sign-on entity, also referred to as a Sign-on entity, holds the details that
        determine a person’s access rights on the system
      description: This API is used to add new security sign-on entity. This newly
        created entity determine the person’s access rights on the system. Sign-on
        entity must be setup and active for each person authorized to access the system.
      operationId: AddUser
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMUFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.PE6pl2aXjwvBZMXN-iJuktDRAzzZWsQgfNdJNeNXxDocG-0npHbACrl17h7wpnYxiXv1jBHa6XT19Vo_UXItel2pYIBXR8IC5LiNgnVus5BxgZNaOtUtP6zLmoc8ohUUUkim5UE663AJDzO6yCpdwDkHxrmPhiWzNXTZcLxErZDXlUqz6isSUxGREwQkZ5EqF4DbZD4SKuqj-mo7g_QExlae9zjilZGeECTGIxeG8AYsmv7EugATOB6ROBGmFR3STViEUAWFBZqd6M48yt_FLYNxWCT6-SdXSlpUk2q-AWv2_CNxHq3NSjPQrxet71I4Uzu9DZEKoPyZOMMTPvkx1g
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUserV1ReqModel'
        required: true
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '201':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserV1ResponseModel'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Add User
      x-group-name: User Management
  /v1/users/inquireUser:
    get:
      tags:
      - User Management
      summary: This service is used to inquire security Sign-on entity. A User Security
        Sign-on entity, also referred to as a Sign-on entity, holds the details that
        determine a person’s access rights on the system.
      description: This API is used to fetch generic details like status, expiry date
        etc. and service privileged details for a given security sign-on details.
      operationId: InquireUser
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMUFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.PE6pl2aXjwvBZMXN-iJuktDRAzzZWsQgfNdJNeNXxDocG-0npHbACrl17h7wpnYxiXv1jBHa6XT19Vo_UXItel2pYIBXR8IC5LiNgnVus5BxgZNaOtUtP6zLmoc8ohUUUkim5UE663AJDzO6yCpdwDkHxrmPhiWzNXTZcLxErZDXlUqz6isSUxGREwQkZ5EqF4DbZD4SKuqj-mo7g_QExlae9zjilZGeECTGIxeG8AYsmv7EugATOB6ROBGmFR3STViEUAWFBZqd6M48yt_FLYNxWCT6-SdXSlpUk2q-AWv2_CNxHq3NSjPQrxet71I4Uzu9DZEKoPyZOMMTPvkx1g
      - name: x-client-correlation-id
        in: header
        description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-trace-id
        in: header
        description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - name: x-client-source-channel
        in: header
        description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: x-client-user-id
        in: header
        description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: clientId
        in: query
        description: Identification number, referred to as Client ID, assigned to
          your institution by the processor.
        required: true
        schema:
          maximum: 99999
          maxLength: 5
          type: integer
          example: '1'
      - name: name
        in: query
        description: Sign-on name that the person assigned this User Security Signon
          entity will use to sign on to the system. The sign-on name can consist of
          letters (A–Z), numbers (0–9), and embedded spaces, but not a leading space.
          When adding a new Sign-on entity, the sign-on name must be a unique name
          not already assigned to any existing User Security Sign-on entity for your
          institution (client ID).
        required: true
        schema:
          maxLength: 15
          type: string
          example: NABTEST25
      responses:
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireUserV1ResponseModel'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire User
      x-group-name: User Management
components:
  schemas:
    UpdateUserV1ReqModel:
      type: object
      properties:
        servicePrivilegeGroupId:
          maxLength: 8
          type: string
          description: Service Privilege Group - Name that identifies an existing
            service privilege group assigned to this User Security Sign-on entity.
            This service privilege group determines the services that can be accessed
            by the person who signs on with this sign-on entity.
          example: ''
        status:
          maxLength: 1
          type: string
          description: 'Code that indicates the status of the User Security Sign-on
            entity. <br/>The values are: <br/>&nbsp; 1 = Active (Default)<br/>&nbsp;
            9 = To be purged. This sign-on record will be purged during the next reload
            of the WSS master files.'
          example: '1'
          enum:
          - '1'
          - '9'
        signonExpiryDate:
          maxLength: 10
          type: string
          description: Expiration date of the User Security Sign-on entity. The default
            value is zeros. The Sign-on entity cannot be used to sign on unless this
            field is a valid future date. On the expiration date, the system sets
            this field to zero. When this field is zero, signon attempts fail and
            are reported on the Security Violations Report (T130). This date must
            be changed to a valid future expiration date to enable the Sign-on entity
            to be used for signing on again, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: ''
        activationDate:
          maxLength: 10
          type: string
          description: Activation date of the User Security Sign-on entity. The default
            value is zeros. The Sign-on entity cannot be used to sign on unless this
            field is a valid past or current date. This field enables a Sign-on entity
            to be added and assigned a future activation date so that the entity is
            automatically active on that future date, The format is MM/DD/YYYY or
            DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: ''
        businessUnitPrivilegeId:
          maxLength: 8
          type: string
          description: Name that identifies an existing organization privilege group
            assigned to this User Security Sign-on entity. This organization privilege
            group determines the organizations that can be accessed by the person
            who signs on with this Sign-on entity. An organization privilege group
            assigned to a Sign-on entity must have the same client ID and security
            type as the Sign-on entity. Access rights to additional organizations
            can be included or excluded using the I/E and ORG fields, which are listed
            on this screen under the ORG INCLUDE/EXCLUDE heading.
          example: ''
        supervisorId:
          maxLength: 3
          type: string
          description: Supervisor ID of the person who signs on with this User Security
            Sign-on record.
          example: ' '
        customerServiceBusinessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Customer service representative business unit number assigned
            to this administrator or user for reporting purposes in the Account Services
            Management (ASM) application. This field is required for all Client Users
            (type 5) and must be an business unit number (1–998).
          example: '100'
        userServicePrivilege01:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege02:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege03:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service Version - Service version assigned to this User
                Security Sign-on entity. The service version in this field and the
                service name in the corresponding SERVICE NAME field must identify
                an existing service that was previously added by the processor.
              example: ' '
        userServicePrivilege04:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege05:
          type: object
          properties:
            inclusionexclusionFlag5:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege06:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege07:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege08:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege09:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege10:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        detail:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
        source:
          type: string
          example: ''
        status:
          type: integer
          example: '0'
        invalid-params:
          type: array
          items:
            type: string
    UpdateUserV1ResponseModel:
      type: object
      properties:
        clientId:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Identification number, referred to as Client ID, assigned to
            your institution by the processor.
          example: '1'
        name:
          maxLength: 15
          type: string
          description: Sign-on name that the person assigned this User Security Signon
            entity will use to sign on to the system. The sign-on name can consist
            of letters (A–Z), numbers (0–9), and embedded spaces, but not a leading
            space. When adding a new Sign-on entity, the sign-on name must be a unique
            name not already assigned to any existing User Security Sign-on entity
            for your institution (client ID).
          example: NABTEST25
        servicePrivilegeGroupId:
          maxLength: 8
          type: string
          description: Service Privilege Group - Name that identifies an existing
            service privilege group assigned to this User Security Sign-on entity.
            This service privilege group determines the services that can be accessed
            by the person who signs on with this sign-on entity.
          example: ''
        status:
          maxLength: 1
          type: string
          description: 'Code that indicates the status of the User Security Sign-on
            entity. <br/>The values are: <br/>&nbsp; 1 = Active (Default)<br/>&nbsp;
            9 = To be purged. This sign-on record will be purged during the next reload
            of the WSS master files.'
          example: '1'
        signonExpiryDate:
          maxLength: 10
          type: string
          description: Expiration date of the User Security Sign-on entity. The default
            value is zeros. The Sign-on entity cannot be used to sign on unless this
            field is a valid future date. On the expiration date, the system sets
            this field to zero. When this field is zero, signon attempts fail and
            are reported on the Security Violations Report (T130). This date must
            be changed to a valid future expiration date to enable the Sign-on entity
            to be used for signing on again, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: ''
        activationDate:
          maxLength: 10
          type: string
          description: Activation date of the User Security Sign-on entity. The default
            value is zeros. The Sign-on entity cannot be used to sign on unless this
            field is a valid past or current date. This field enables a Sign-on entity
            to be added and assigned a future activation date so that the entity is
            automatically active on that future date, The format is MM/DD/YYYY or
            DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: ''
        businessUnitPrivilegeId:
          maxLength: 8
          type: string
          description: Name that identifies an existing organization privilege group
            assigned to this User Security Sign-on entity. This organization privilege
            group determines the organizations that can be accessed by the person
            who signs on with this Sign-on entity. An organization privilege group
            assigned to a Sign-on entity must have the same client ID and security
            type as the Sign-on entity. Access rights to additional organizations
            can be included or excluded using the I/E and ORG fields, which are listed
            on this screen under the ORG INCLUDE/EXCLUDE heading.
          example: ''
        supervisorId:
          maxLength: 3
          type: string
          description: Supervisor ID of the person who signs on with this User Security
            Sign-on record.
          example: ' '
        customerServiceBusinessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Customer service representative business unit number assigned
            to this administrator or user for reporting purposes in the Account Services
            Management (ASM) application. This field is required for all Client Users
            (type 5) and must be an business unit number (1–998).
          example: '100'
        userServicePrivilege01:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege02:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege03:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service Version - Service version assigned to this User
                Security Sign-on entity. The service version in this field and the
                service name in the corresponding SERVICE NAME field must identify
                an existing service that was previously added by the processor.
              example: ' '
        userServicePrivilege04:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege05:
          type: object
          properties:
            inclusionexclusionFlag5:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege06:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege07:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege08:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege09:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege10:
          type: object
          properties:
            serviceInclusionExclusionFlag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
    UpdateUserAccessV1ReqModel:
      required:
      - clientId
      - name
      type: object
      properties:
        clientId:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Identification number, referred to as Client ID, assigned to
            your institution by the processor.
          example: '1'
        name:
          maxLength: 15
          type: string
          description: Sign-on name that the person assigned this User Security Signon
            entity will use to sign on to the system. The sign-on name can consist
            of letters (A–Z), numbers (0–9), and embedded spaces, but not a leading
            space. When adding a new Sign-on entity, the sign-on name must be a unique
            name not already assigned to any existing User Security Sign-on entity
            for your institution (client ID).
          example: NABTEST25
        applicationCtryCurrencyCatCodes:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationBusinessMessaging:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationFutureUse03:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationExceptionProcessing:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationAccountManagement:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationCollectionManagement:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationAuthorizations:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationRemoteInterface:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationCommercialCard:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationOfferManagement:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationMerchantSettlement:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationProcessing:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationEmbScriptingSystem:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationKeyManagementSystem:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationFutureUse16:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationLetterRequests:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationInternationalLanguage:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
        applicationRewardManagement:
          type: object
          properties:
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
[...]
