openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Authorization
paths:
  /v1/auth/authRequest:
    post:
      tags:
      - Authorization
      summary: This service is used for Authorization request on payment instrument
        id.
      description: This service is used for Authorization request on payment instrument
        id.
      operationId: RequestAuthorization
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestAuthorizationReqModel'
        required: true
      responses:
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestAuthorizationResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Request Authorization
      x-group-name: Authorization
components:
  schemas:
    RequestAuthorizationReqModel:
      required:
      - expiryDate
      - merchantBusinessUnit
      - merchantId
      - paymentInstrumentOrCardId
      - planId
      - securityCode
      type: object
      properties:
        paymentInstrumentOrCardId:
          maxLength: 19
          type: string
          description: Unique alternate identification number associated with Payment
            Card Number or Unique identification number that appears on the front
            of the card (PAN).
          example: '0009846801010274074'
        merchantBusinessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Field that identifies the business unit to which the store
            is assigned. The values for the business unit are 001–998.
          format: int32
          example: '100'
        merchantId:
          maximum: 999999999
          maxLength: 9
          type: integer
          description: Field that identifies the store identification number.
          format: int32
          example: '999999998'
        transactionAmount:
          maximum: 9999999999999
          maxLength: 13
          type: number
          description: Authorized sales amount in the currency accepted by the particular
            merchant.
          example: '1.0'
        planId:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Plan number that identifies the Credit Plan Master entity associated
            with the credit plan segment.
          format: int32
          example: '10001'
        expiryDate:
          maximum: 9999
          maxLength: 4
          type: integer
          description: Valid card expire date should be provided which is of 4 character
            with MMYY format.
          format: int32
          example: '424'
        securityCode:
          maximum: 999
          maxLength: 3
          type: integer
          description: Security code(CVV2/CVC2/CAV2/CVN2) assigned to the payment
            Instrument id.
          format: int32
          example: '123'
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        detail:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
        source:
          type: string
          example: ''
        status:
          type: integer
          format: int32
          example: '0'
        invalid-params:
          type: array
          items:
            type: string
    RequestAuthorizationResponseModel:
      type: object
      properties:
        responseCode:
          maximum: 99
          maxLength: 2
          type: integer
          description: Code that indicates the numeric ISO response code for this
            request.
          format: int32
          example: '0'
        authorizationCode:
          maxLength: 6
          type: string
          description: Authorization code associated with the transaction.
          example: '055271'
        finalAction:
          maxLength: 1
          type: string
          description: Code that indicates the action the system returned.
          example: A
          enum:
          - A
          - D
          - S
          - P
          - R
          - C
          - K
          - X
          - M
          - F
          - U
        reason:
          maxLength: 20
          type: string
          description: FAS approval or decline code and description for this authorization
            request.
          example: APPROVED
        authReferenceNumber:
          maximum: 999999999
          maxLength: 9
          type: integer
          description: Relative byte address (RBA) of the log record within the log
            file.
          format: int32
          example: '3239000'
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
