openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Customer Management
paths:
  /v1/customers/{customerId}/nameAddress:
    get:
      tags:
      - Customer Management
      summary: Inquire Customer
      description: This service is used to inquire customer's details.
      operationId: InquireCustomer
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImVkaXQiLCJjbGllbnRfaWQiOiJQT0NfTkFCX0RldiIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.DeKHECWfxmqMQPBITESy2Z12KUh8Y_hxwchOFykacjFCOspMk5HJAyWCxASlKTz503YKqLLHK6YF-aAkNCeeikPWpHM8GWCOr-KqhKOkghVPHIbNHOUUiSIiO2KE2VuC3srhYgSMDxd_4rCNtfeGgZ7STgVYkxQAfKwWC0YRSySKckOdz1b0WzcZsAaIGp6BtyMz5js-lGaL5zIBfNfMtuWrlrH2n9Vhd8Qe74VrsR7JP6_GxtKaEONIYbhkDkwSOAaz64hLvpo6e5Z0v_UHuglSWZ2HNRJ2Tk1I0tpHSqvxejiZ_LMv4WUmMOct6vr9rjUMIRG6DqsTVBi5c6Vbng
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values are 001-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '200'
      - name: customerId
        in: path
        description: Unique identification number assigned to a customer.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000065439605'
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCustomerResponseModel'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Customer
      x-group-name: Customer Management
    put:
      tags:
      - Customer Management
      summary: Update Customer
      description: This service will be used to update the customer demographic details
        such as Name / Address / Phone Number / Email ID/ Date of Birth /Employer
        details of the given customer. The customer ID will be passed in the input
        request to retrieve the demographic information.
      operationId: UpdateCustomer
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImVkaXQiLCJjbGllbnRfaWQiOiJQT0NfTkFCX0RldiIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.DeKHECWfxmqMQPBITESy2Z12KUh8Y_hxwchOFykacjFCOspMk5HJAyWCxASlKTz503YKqLLHK6YF-aAkNCeeikPWpHM8GWCOr-KqhKOkghVPHIbNHOUUiSIiO2KE2VuC3srhYgSMDxd_4rCNtfeGgZ7STgVYkxQAfKwWC0YRSySKckOdz1b0WzcZsAaIGp6BtyMz5js-lGaL5zIBfNfMtuWrlrH2n9Vhd8Qe74VrsR7JP6_GxtKaEONIYbhkDkwSOAaz64hLvpo6e5Z0v_UHuglSWZ2HNRJ2Tk1I0tpHSqvxejiZ_LMv4WUmMOct6vr9rjUMIRG6DqsTVBi5c6Vbng
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          minLength: 0
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values are 001-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: 200
      - name: customerId
        in: path
        description: Unique identification number assigned to a customer.
        required: true
        schema:
          maxLength: 19
          minLength: 0
          type: string
          example: '0000020000065439605'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerReqModel'
        required: true
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Customer
      x-group-name: Customer Management
  /v1/customers/searchCustomer:
    post:
      tags:
      - Customer Management
      summary: Search Customers
      description: This service is used to retrieve customer's information based on
        primary and optional search values like Last name, Indentification number,
        Phone number etc.
      operationId: SearchCustomers
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImVkaXQiLCJjbGllbnRfaWQiOiJQT0NfTkFCX0RldiIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.DeKHECWfxmqMQPBITESy2Z12KUh8Y_hxwchOFykacjFCOspMk5HJAyWCxASlKTz503YKqLLHK6YF-aAkNCeeikPWpHM8GWCOr-KqhKOkghVPHIbNHOUUiSIiO2KE2VuC3srhYgSMDxd_4rCNtfeGgZ7STgVYkxQAfKwWC0YRSySKckOdz1b0WzcZsAaIGp6BtyMz5js-lGaL5zIBfNfMtuWrlrH2n9Vhd8Qe74VrsR7JP6_GxtKaEONIYbhkDkwSOAaz64hLvpo6e5Z0v_UHuglSWZ2HNRJ2Tk1I0tpHSqvxejiZ_LMv4WUmMOct6vr9rjUMIRG6DqsTVBi5c6Vbng
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCustomerReqModel'
        required: true
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '201':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCustomerResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Search Customers
      x-group-name: Customer Management
  /v1/customers/boardCustomer:
    post:
      tags:
      - Customer Management
      summary: Board Customer
      description: This service is used to board the new customer.
      operationId: BoardCustomer
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImVkaXQiLCJjbGllbnRfaWQiOiJQT0NfTkFCX0RldiIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.DeKHECWfxmqMQPBITESy2Z12KUh8Y_hxwchOFykacjFCOspMk5HJAyWCxASlKTz503YKqLLHK6YF-aAkNCeeikPWpHM8GWCOr-KqhKOkghVPHIbNHOUUiSIiO2KE2VuC3srhYgSMDxd_4rCNtfeGgZ7STgVYkxQAfKwWC0YRSySKckOdz1b0WzcZsAaIGp6BtyMz5js-lGaL5zIBfNfMtuWrlrH2n9Vhd8Qe74VrsR7JP6_GxtKaEONIYbhkDkwSOAaz64hLvpo6e5Z0v_UHuglSWZ2HNRJ2Tk1I0tpHSqvxejiZ_LMv4WUmMOct6vr9rjUMIRG6DqsTVBi5c6Vbng
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCustomerReqModel'
        required: true
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '201':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCustomerResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Board Customer
      x-group-name: Customer Management
  /v1/customers/{customerId}/listCustomersCardsAndAccounts:
    get:
      tags:
      - Customer Management
      summary: List Customers' Cards And Accounts
      description: This service retrieves the account and card details associated
        with a Customer number along with demographic details.
      operationId: ListCustomersCardsAndAccounts
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImVkaXQiLCJjbGllbnRfaWQiOiJQT0NfTkFCX0RldiIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.DeKHECWfxmqMQPBITESy2Z12KUh8Y_hxwchOFykacjFCOspMk5HJAyWCxASlKTz503YKqLLHK6YF-aAkNCeeikPWpHM8GWCOr-KqhKOkghVPHIbNHOUUiSIiO2KE2VuC3srhYgSMDxd_4rCNtfeGgZ7STgVYkxQAfKwWC0YRSySKckOdz1b0WzcZsAaIGp6BtyMz5js-lGaL5zIBfNfMtuWrlrH2n9Vhd8Qe74VrsR7JP6_GxtKaEONIYbhkDkwSOAaz64hLvpo6e5Z0v_UHuglSWZ2HNRJ2Tk1I0tpHSqvxejiZ_LMv4WUmMOct6vr9rjUMIRG6DqsTVBi5c6Vbng
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: customerId
        in: path
        description: Unique identification number assigned to a customer.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000707'
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 001-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersCardsAndAccountResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: List Customers' Cards And Accounts
      x-group-name: Customer Management
  /v1/customers/{customerId}/cardList:
    get:
      tags:
      - Customer Management
      summary: List Customer's Cards
      description: This service retrieves the card details associated with a Customer
        number along with demographic details.
      operationId: ListCustomersCards
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImVkaXQiLCJjbGllbnRfaWQiOiJQT0NfTkFCX0RldiIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.DeKHECWfxmqMQPBITESy2Z12KUh8Y_hxwchOFykacjFCOspMk5HJAyWCxASlKTz503YKqLLHK6YF-aAkNCeeikPWpHM8GWCOr-KqhKOkghVPHIbNHOUUiSIiO2KE2VuC3srhYgSMDxd_4rCNtfeGgZ7STgVYkxQAfKwWC0YRSySKckOdz1b0WzcZsAaIGp6BtyMz5js-lGaL5zIBfNfMtuWrlrH2n9Vhd8Qe74VrsR7JP6_GxtKaEONIYbhkDkwSOAaz64hLvpo6e5Z0v_UHuglSWZ2HNRJ2Tk1I0tpHSqvxejiZ_LMv4WUmMOct6vr9rjUMIRG6DqsTVBi5c6Vbng
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: customerId
        in: path
        description: Unique identification number assigned to a customer.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000707'
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 001-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersCardResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: List Customers' Cards
      x-group-name: Customer Management
  /v1/customers/{customerId}/accountList:
    get:
      tags:
      - Customer Management
      summary: List Customer's Accounts
      description: This service provides account's details associated with a Customer
        number along with demographic details.
      operationId: ListCustomersAccounts
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImVkaXQiLCJjbGllbnRfaWQiOiJQT0NfTkFCX0RldiIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.DeKHECWfxmqMQPBITESy2Z12KUh8Y_hxwchOFykacjFCOspMk5HJAyWCxASlKTz503YKqLLHK6YF-aAkNCeeikPWpHM8GWCOr-KqhKOkghVPHIbNHOUUiSIiO2KE2VuC3srhYgSMDxd_4rCNtfeGgZ7STgVYkxQAfKwWC0YRSySKckOdz1b0WzcZsAaIGp6BtyMz5js-lGaL5zIBfNfMtuWrlrH2n9Vhd8Qe74VrsR7JP6_GxtKaEONIYbhkDkwSOAaz64hLvpo6e5Z0v_UHuglSWZ2HNRJ2Tk1I0tpHSqvxejiZ_LMv4WUmMOct6vr9rjUMIRG6DqsTVBi5c6Vbng
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: customerId
        in: path
        description: Unique identification number assigned to a customer.
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000707'
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 001-998.
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersAccountResponseModel'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: List Customers' Accounts
      x-group-name: Customer Management
components:
  schemas:
    UpdateCustomerReqModel:
      type: object
      properties:
        namesData:
          type: object
          properties:
            birthName:
              maxLength: 40
              type: string
              description: This field indicates the Last name of the owner.
              example: ''
            givenName:
              maxLength: 40
              type: string
              description: This field indicates the First name of the owner.
              example: ABC
            middleName:
              maxLength: 40
              type: string
              description: This field indicates the Middle name of the owner.
              example: ''
            nameLine1:
              maxLength: 40
              type: string
              description: This field indicates the owner personal name, business
                name, or  a generic name.
              example: M S SWAMY
            nameLine2:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: KK
            nameLine3:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: ' '
        languageIndicator:
          maxLength: 3
          type: string
          description: This is User-defined code that indicates the language spoken
            by the owner.
          example: AUS
        homePhoneNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s home telephone number.
          example: '9241800756'
        homePhoneFlag:
          maxLength: 1
          type: string
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        faxNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s fax number.
          example: '82364782'
        faxPhoneFlag:
          maxLength: 1
          type: string
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        mobileNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s mobile number.
          example: '112233'
        smsFlag:
          maxLength: 1
          type: string
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not send
            <br/> &nbsp; '1' - May be send
          example: '0'
          enum:
          - '0'
          - '1'
        mobilePhoneFlag:
          maxLength: 1
          type: string
          description: This flag indicates that whether you have the owner’s permission
            to use this number.  <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        emailAddress:
          maxLength: 60
          type: string
          description: This field indicates e-mail address of the owner.
          example: SAM@FISERV.COM
        birthDate:
          maxLength: 10
          type: string
          description: Date Of Birth of the owner, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 06/04/1986
        isReturnMailEnabled:
          type: string
          description: User-defined fields to indicates return mail delivery is enabled
            or not. <br/>The values are:<br/> &nbsp; 'Y' - Return mail <br/> &nbsp;
            'N' - No return mail
          example: Y
          enum:
          - Y
          - N
        employerData:
          type: object
          properties:
            nameOfEmployer:
              maxLength: 40
              type: string
              description: This field indicates name of the employer of the owner.
              example: Y
            addressLine1:
              maxLength: 40
              type: string
              description: This field indicates the part of the mailing address of
                the employer of the owner.
              example: Y
            addressLine2:
              maxLength: 40
              type: string
              description: This field indicates the part of the mailing address of
                the employer of the owner.
              example: Y
            phoneNumber:
              maxLength: 20
              type: string
              description: The second part of this field is the work telephone number.
              example: Y
            phoneFlag:
              type: string
              description: This field indicates a flag that indicates whether you
                have the owner’s permission to call this number.<br/>The values are:<br/>
                &nbsp; '0' - No, owner may not be contacted using this number (Default)
                <br/> &nbsp; '1' - Yes, owner may be contacted using this number <br/>
                &nbsp; '2' - Preferred contact method
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
            jobTitle:
              maxLength: 4
              type: string
              description: This is User-defined code to indicate the position or job
                title of the owner.
              example: Y
        addressData:
          type: object
          properties:
            addressLine3:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: CHITRAPURI
            addressLine4:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: DELHI
            addressLine1:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: FLAT NO:404
            addressLine2:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: RAINBOW APTS
            city:
              maxLength: 30
              type: string
              description: This field indicates the City portion of the mailing address
                of  the owner.
              example: DELHI
            stateProvince:
              maxLength: 3
              type: string
              description: This field indicates the City portion of the mailing address
                of  the owner.
              example: DL
            countryCode:
              maxLength: 3
              type: string
              description: The field is the country code. The value entered must be
                a valid country code previously defined in the Security Subsystem
                and Common Routines (SSC) system via the Country Code Definitions
                service.
              example: IND
            postalCode:
              maxLength: 10
              type: string
              description: This is the Postal code portion of the mailing address
                of the owner.
              example: '110004'
            houseNumber:
              maxLength: 20
              type: string
              description: This field indicates the House number of the owner.
              example: ''
    ResponseErrorMessageInfo:
      type: object
      properties:
        status:
          type: string
          example: ''
        detail:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
        source:
          type: string
          example: ''
        invalid-params:
          type: array
          items:
            type: string
    UpdateCustomerResponseModel:
      required:
      - businessUnit
      - customerId
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values are 001-998.
          format: int32
          example: '200'
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0000020000065439605'
        namesData:
          type: object
          properties:
            birthName:
              maxLength: 40
              type: string
              description: This field indicates the Last name of the owner.
              example: ''
            givenName:
              maxLength: 40
              type: string
              description: This field indicates the First name of the owner.
              example: ABC
            middleName:
              maxLength: 40
              type: string
              description: This field indicates the Middle name of the owner.
              example: ''
            nameLine1:
              maxLength: 40
              type: string
              description: This field indicates the owner personal name, business
                name, or  a generic name.
              example: M S SWAMY
            nameLine2:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: KK
            nameLine3:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: ' '
        languageIndicator:
          maxLength: 3
          type: string
          description: This is User-defined code that indicates the language spoken
            by the owner.
          example: AUS
        homePhoneNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s home telephone number.
          example: '9241800756'
        homePhoneFlag:
          maxLength: 1
          type: string
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        faxNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s fax number.
          example: '82364782'
        faxPhoneFlag:
          maxLength: 1
          type: string
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        mobileNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s mobile number.
          example: '112233'
        smsFlag:
          maxLength: 1
          type: string
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not send
            <br/> &nbsp; '1' - May be send
          example: '0'
          enum:
          - '0'
          - '1'
        mobilePhoneFlag:
          maxLength: 1
          type: string
          description: This flag indicates that whether you have the owner’s permission
            to use this number.  <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        emailAddress:
          maxLength: 60
          type: string
          description: This field indicates e-mail address of the owner.
          example: SAM@FISERV.COM
        birthDate:
          maxLength: 10
          type: string
          description: Date Of Birth of the owner, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 06/04/1986
        isReturnMailEnabled:
          type: string
          description: User-defined fields to indicates return mail delivery is enabled
            or not. <br/>The values are:<br/> &nbsp; 'Y' - Return mail <br/> &nbsp;
            'N' - No return mail
          example: Y
          enum:
          - Y
          - N
        employerData:
          type: object
          properties:
            nameOfEmployer:
              maxLength: 40
              type: string
              description: This field indicates name of the employer of the owner.
              example: Y
            addressLine1:
              maxLength: 40
              type: string
              description: This field indicates the part of the mailing address of
                the employer of the owner.
              example: Y
            addressLine2:
              maxLength: 40
              type: string
              description: This field indicates the part of the mailing address of
                the employer of the owner.
              example: Y
            phoneNumber:
              maxLength: 20
              type: string
              description: The second part of this field is the work telephone number.
              example: Y
            phoneFlag:
              type: string
              description: This field indicates a flag that indicates whether you
                have the owner’s permission to call this number.<br/>The values are:<br/>
                &nbsp; '0' - No, owner may not be contacted using this number (Default)
                <br/> &nbsp; '1' - Yes, owner may be contacted using this number <br/>
                &nbsp; '2' - Preferred contact method
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
            jobTitle:
              maxLength: 4
              type: string
              description: This is User-defined code to indicate the position or job
                title of the owner.
              example: Y
        addressData:
          type: object
          properties:
            addressLine3:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: CHITRAPURI
            addressLine4:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: DELHI
            addressLine1:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: FLAT NO:404
            addressLine2:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: RAINBOW APTS
            city:
              maxLength: 30
              type: string
              description: This field indicates the City portion of the mailing address
                of  the owner.
              example: DELHI
            stateProvince:
              maxLength: 3
              type: string
              description: This field indicates the City portion of the mailing address
                of  the owner.
              example: DL
            countryCode:
              maxLength: 3
              type: string
              description: The field is the country code. The value entered must be
                a valid country code previously defined in the Security Subsystem
                and Common Routines (SSC) system via the Country Code Definitions
                service.
              example: IND
            postalCode:
              maxLength: 10
              type: string
              description: This is the Postal code portion of the mailing address
                of the owner.
              example: '110004'
            houseNumber:
              maxLength: 20
              type: string
              description: This field indicates the House number of the owner.
              example: ''
    SearchCustomerReqModel:
      type: object
      properties:
        customerSearch:
          required:
          - optionalDataMatch
          - primaryData
          - primaryDataSwitch
          type: object
          properties:
            primaryDataSwitch:
              maxLength: 1
              type: string
              description: A primary search value must be supplied. <br/>The values
                are:<br/> &nbsp; '0' - Last/Business/Store/Generic Name <br/> &nbsp;
                '1' - Identification Number <br/> &nbsp; '2' - Phone Number <br/>
                &nbsp; '3' - Postal Code <br/> &nbsp; '4' - Mobile Device ID
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
              - '4'
            primaryData:
              maxLength: 40
              type: string
              description: Search field as per Primary data switch
              example: Test*
            optionalDataMatch:
              maxLength: 1
              type: string
              description: 'Code that indicates the degree of matching required for
                optional data fields. When an optional field contains a value greater
                than spaces, this field defines whether the resulting search data
                should match on all optional fields or on any optional field. The
                values are: 0 = Display any optional field match (Default) 1 = Display
                only those entitys that match all requested optional fields. '
              example: '1'
              enum:
              - '1'
              - '0'
        optionalData:
          type: object
          properties:
            givenName:
              maxLength: 40
              type: string
              description: First name of the customer
              example: ''
            middleName:
              maxLength: 40
              type: string
              description: Middle name of the customer.
              example: ''
            birthName:
              maxLength: 40
              type: string
              description: 'Last name of the Customer. '
              example: ''
            externalId:
              maxLength: 25
              type: string
              description: This field identifies the Social Security number or tax
                identification number.
              example: ''
            phoneNumber:
              maxLength: 20
              type: string
              description: Phone Number of Customer
              example: ''
            postalcode:
              maxLength: 10
              type: string
              description: Postal code portion of the mailing address of the owner
              example: ''
            mobileDeviceID:
              maxLength: 20
              type: string
              description: 'Identification of a mobile device associated with a mobile
                payment instrument (PI) embosser. CMS does not validate this field;
                it is stored only. '
              example: ''
            birthDate:
              maxLength: 10
              type: string
              description: Date Of Birth of the owner, The format is MM/DD/YYYY or
                DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: '0'
            title:
              maxLength: 20
              type: string
              description: Professional or honorary title of the customer
              example: ''
            suffixName:
              maxLength: 20
              type: string
              description: Suffix for the customer. Examples include Jr., Sr., etc.
              example: ''
            countryCode:
              maxLength: 3
              type: string
              description: Country for the customer. If you use this field, enter
                the exact country code
              example: ''
            user14:
              maxLength: 20
              type: string
              description: User-defined field for the search. This field literal displays
                as User 14 unless changed on the Organization entity.
              example: ''
            user15:
              maxLength: 20
              type: string
              description: User-defined field for the search. This field literal displays
                as USER 15 unless changed on the Organization entity.
              example: ''
            businessUnit:
              maximum: 999
              maxLength: 3
              type: integer
              description: Unique identification number associated with the organization.
                Valid values from 001-998.
              format: int32
              example: '0'
    Customerlist_SearchCustomerResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 001-998.
          format: int32
          example: '200'
        cust/Store/Merchant:
          maxLength: 19
          type: string
          description: Number of the customer, store, or merchant entity that was
            found to contain the name information.
          example: '0002000000050623496'
        last/Business/Store/GenericName:
          maxLength: 40
          type: string
          description: Last/Busines/Store/Genric Name.
          example: Test 01
        postalCode:
          maxLength: 10
          type: string
          description: Postal code portion of the mailing address of the owner.
          example: '6430'
        user14:
          maxLength: 20
          type: string
          description: User-defined field for the search. This field literal displays
            as User 14 unless changed on the Organization entity.
          example: ''
        user15:
          maxLength: 20
          type: string
          description: User-defined field for the search. This field literal displays
            as USER 15 unless changed on the Organization entity.
          example: ''
        givenName:
          maxLength: 40
          type: string
          description: First name of the customer.
          example: CMS Fiserv
        middleName:
          maxLength: 40
          type: string
          description: Middle name of the customer.
          example: ' '
        identificationNumber:
          maxLength: 25
          type: string
          description: Code that indicates if this number is a Social Security number
            or other tax identification number.
          example: '0050623496'
        phoneNumber:
          maxLength: 20
          type: string
          description: Phone Number of Customer
          example: '0000000000000'
        birthDate:
          maxLength: 10
          type: string
          description: The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE
            FORMAT on System Control.
          example: '09011985'
        suffix:
          maxLength: 20
          type: string
          description: Suffix for the customer. Examples include Jr., Sr., etc.
          example: ' '
        country:
          maxLength: 3
          type: string
          description: The value entered must be a valid country code previously definedin
            the Security Subsystem and Common Routines (SSC) system.
          example: ' '
        title:
          maxLength: 20
          type: string
          description: Professional or honorary title of the customer.
          example: ' '
        sourceCode:
          maxLength: 2
          type: string
          description: Source Code.
          example: O1
        nameField:
          maxLength: 30
          type: string
          description: 'Name Field '
          example: Ms CMS Test 01
        nameAndOtherDetails:
          maxLength: 76
          type: string
          description: Name and Other Details
          example: Test/CMS//0050623496/             /9011985 ////6430///
    SearchCustomerResponseModel:
      type: object
      properties:
        customerlist:
          type: array
          items:
            $ref: '#/components/schemas/Customerlist_SearchCustomerResponseModel'
    BoardCustomerReqModel:
      required:
      - businessUnit
      - productId
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 001-998.
          format: int32
          example: '600'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 001-998.
          format: int32
          example: '2'
        dualFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: 'This field indicates whether CMS adds a duplicate customer
            entity in the associated business unit for dual currency processing. <br/>The
            values are: <br/> &nbsp; ''0'' - Do not duplicate the customer entity
            in the associated business unit (Default) <br/> &nbsp; ''1'' - Duplicate
            the customer entity in the associated business unit'
          format: int32
          example: '0'
        title:
          maxLength: 20
          type: string
          description: Professional or honorary title associated with the owner name
            entered in the NAME LINE 1 field.
          example: Mr
        nameTypeIndicator1:
          maxLength: 1
          type: string
          description: This field identifies the type of the customer. <br/>The values
            are:<br/> &nbsp; '0' - Customer entity Associated With Personal Account
            (Default) <br/> &nbsp; '1' - Customer entity Is Associated With Business<br/>
            &nbsp; '3' - Customer entity Is A Generic Customer
          example: '0'
          enum:
          - '0'
          - '1'
          - '3'
        nameTypeIndicator2:
          maxLength: 1
          type: string
          description: This field identifies the type of the customer. <br/>The values
            are:<br/> &nbsp; '0' - Customer entity Associated With Personal Account
            (Default) <br/> &nbsp; '1' - Customer entity Is Associated With Business<br/>
            &nbsp; '3' - Customer entity Is A Generic Customer
          example: '0'
          enum:
          - '0'
          - '1'
          - '3'
        nameTypeIndicator3:
          maxLength: 1
          type: string
          description: This field identifies the type of the customer. <br/>The values
            are:<br/> &nbsp; '0' - Customer entity Associated With Personal Account
            (Default) <br/> &nbsp; '1' - Customer entity Is Associated With Business<br/>
            &nbsp; '3' - Customer entity Is A Generic Customer
          example: '0'
          enum:
          - '0'
          - '1'
          - '3'
        residentialFlag:
          maxLength: 1
          type: string
          description: This code indicates whether the owner owns or rents their primary
            residence. <br/>The values are:<br/> &nbsp; '0' - Unknown or unused (Default)
            <br/> &nbsp; '1' - Owns or is buying a home <br/> &nbsp; '2' - Rents or
            leases a home <br/> &nbsp; '3' - Neither owns nor rents primary residence
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        homePhone:
          maxLength: 20
          type: string
          description: This field is the owner’s home telephone number.
          example: '11230342'
        employeePhone:
          maxLength: 20
          type: string
          description: This field is the work telephone number.
          example: '67894'
        birthDate:
          maxLength: 10
          type: string
          description: Date Of Birth of the owner, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 01/02/2010
        externalId:
          maxLength: 25
          type: string
          description: This field identifies the Social Security number or tax identification
            number.
          example: 2363-12-2839-1
        gender:
          maxLength: 1
          type: string
          description: This flag indicates the onwer's gender. <br/>The values are:<br/>
            &nbsp; '0' - Unspecified (Default) <br/> &nbsp; '1' - Male <br/> &nbsp;
            '2' - Female
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
        emailAddress:
          maxLength: 60
          type: string
          description: This field indicates e-mail address of the owner.
          example: abc@goole.com
        alternateEmailAddress:
          maxLength: 50
          type: string
          description: This field indicates alternate e-mail address of the owner.
          example: abc1@google.com
        mobileNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s mobile number.
          example: '11231232'
        emailAddressFlag:
          maxLength: 1
          type: string
          description: This field indicates whether you have the owner’s permission
            to use this e-mail address. <br/>The values are:<br/> &nbsp; '0' - No,
            owner may not be contacted using this e-mail address (Default) <br/> &nbsp;
            '1' - Yes, owner may be contacted using this e-mail address <br/> &nbsp;
            '2' - Preferred contact method
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
        addressData:
          type: object
          properties:
            addressLine1:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: House No. 12
            addressLine2:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: S.H. Qo
            addressLine3:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: California
            addressLine4:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: USA
            city:
              maxLength: 30
              type: string
              description: City portion of the mailing address of the owner.
              example: La Vegas
            state:
              maxLength: 3
              type: string
              description: Name of state portion of the mailinga ddress of the owner.
              example: CL
            postalCode:
              maxLength: 10
              type: string
              description: Postal code portion of the mailing address of the owner.
              example: '112345'
            countryCode:
              maxLength: 3
              type: string
              description: The value entered must be a valid country code previously
                defined in the Security Subsystem and Common Routines (SSC) system.
              example: USA
        namesData:
          required:
          - givenName
          type: object
          properties:
            nameLine1:
              maxLength: 40
              type: string
              description: This field indicates the owner personal name, business
                name, or a generic name.
              example: John
            nameLine2:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: 'Jacob '
            nameLine3:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: Samuel
            birthName:
              maxLength: 40
              type: string
              description: This field indicates the last name of the owner.
              example: Christopher
            middleName:
              maxLength: 40
              type: string
              description: This field indicates the middle name of the owner.
              example: ' '
            givenName:
              maxLength: 40
              type: string
              description: This field indicates the first name of the owner.
              example: Samuel
    BoardCustomerResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 001-998.
          format: int32
          example: '600'
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0000000001000000007'
    InquireCustomerResponseModel:
      required:
      - businessUnit
      - customerId
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values are 001-998.
          format: int32
          example: '200'
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0000020000065439605'
        namesDetails:
          type: object
          properties:
            birthName:
              maxLength: 40
              type: string
              description: This field indicates the Last name of the owner.
              example: ''
            givenName:
              maxLength: 40
              type: string
              description: This field indicates the First name of the owner.
              example: ABC
            middleName:
              maxLength: 40
              type: string
              description: This field indicates the Middle name of the owner.
              example: ''
            nameLine1:
              maxLength: 40
              type: string
              description: This field indicates the owner personal name, business
                name, or  a generic name.
              example: M S SWAMY
            nameLine2:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: KK
            nameLine3:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: ' '
        languageIndicator:
          maxLength: 3
          type: string
          description: This is User-defined code that indicates the language spoken
            by the owner.
          example: AUS
        homePhoneNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s home telephone number.
          example: '9241800756'
        homePhoneFlag:
          maxLength: 1
          type: string
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        faxNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s fax number.
          example: '82364782'
        faxPhoneFlag:
          maxLength: 1
          type: string
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        mobileNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s mobile number.
          example: '112233'
        smsFlag:
          maxLength: 1
          type: string
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not send
            <br/> &nbsp; '1' - May be send
          example: '0'
          enum:
          - '0'
          - '1'
        mobilePhoneFlag:
          maxLength: 1
          type: string
          description: This flag indicates that whether you have the owner’s permission
            to use this number. <br/>The values are:<br/> &nbsp; '0' - Do not call
            <br/> &nbsp; '1' - May be called <br/> &nbsp; '2' - Prefer to be called
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        emailAddress:
          maxLength: 60
          type: string
          description: This field indicates e-mail address of the owner.
          example: SAM@FISERV.COM
        birthDate:
          maxLength: 10
          type: string
          description: Date Of Birth of the owner, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 06/04/1986
        isReturnMailEnabled:
          type: string
          description: User-defined fields to indicates return mail delivery is enabled
            or not. <br/>The values are:<br/> &nbsp; 'Y' - Return mail <br/> &nbsp;
            'N' - No return mail
          example: Y
          enum:
          - Y
          - N
        employerDetails:
          type: object
          properties:
            nameOfEmployer:
              maxLength: 40
              type: string
              description: This field indicates name of the employer of the owner.
              example: Y
            addressLine1:
              maxLength: 40
              type: string
              description: This field indicates the part of the mailing address of
                the employer of the owner.
              example: Y
            addressLine2:
              maxLength: 40
              type: string
              description: This field indicates the part of the mailing address of
                the employer of the owner.
              example: Y
            phoneNumber:
              maxLength: 20
              type: string
              description: The second part of this field is the work telephone number.
              example: Y
            phoneFlag:
              type: string
              description: This field indicates a flag that indicates whether you
                have the owner’s permission to call this number.<br/>The values are:<br/>
                &nbsp; '0' - No, owner may not be contacted using this number (Default)
                <br/> &nbsp; '1' - Yes, owner may be contacted using this number <br/>
                &nbsp; '2' - Preferred contact method
              example: Y
              enum:
              - '0'
              - '1'
              - '2'
            jobTitle:
              maxLength: 4
              type: string
              description: This is User-defined code to indicate the position or job
                title of the owner.
              example: Y
        addressDetails:
          type: object
          properties:
            addressLine3:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: CHITRAPURI
            addressLine4:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: DELHI
            addressLine1:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: FLAT NO:404
            addressLine2:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: RAINBOW APTS
            city:
              maxLength: 30
              type: string
              description: This field indicates the City portion of the mailing address
                of  the owner.
              example: DELHI
            stateProvince:
              maxLength: 3
              type: string
              description: This field indicates the City portion of the mailing address
                of  the owner.
              example: DL
            countryCode:
              maxLength: 3
              type: string
              description: The field is the country code. The value entered must be
                a valid country code previously defined in the Security Subsystem
                and Common Routines (SSC) system via the Country Code Definitions
                service.
              example: IND
            postalCode:
              maxLength: 10
              type: string
              description: This is the Postal code portion of the mailing address
                of the owner.
              example: '110004'
            houseNumber:
              maxLength: 20
              type: string
              description: This field indicates the House number of the owner.
              example: ''
    AccountList_ListCustomersCardsAndAccountResponseModel:
      type: object
      properties:
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0001000011000052268'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 001-998.
          format: int32
          example: '1'
        status:
          maxLength: 1
          type: string
          description: Code that identifies the status of the account. This field
            is not editable during add mode; it displays during maintenance mode and
            inquiry mode only.<br/>The values are:<br/>&nbsp; 'A' - Active <br/>&nbsp;
            'B' - Conversion fraud <br/>&nbsp; 'C' - Conversion transfer <br/>&nbsp;
            'D' - Dormant <br/>&nbsp; 'F' - Fraud transfer <br/>&nbsp; 'H' - Closed/conversion
            <br/>&nbsp; 'I' - Inactive <br/>&nbsp; 'J' - Transfer in, migrated from
            inactive <br/>&nbsp; 'K' - Transfer out, migrated from inactive <br/>&nbsp;
            'M' - Migrated <br/>&nbsp; 'N' - New <br/>&nbsp; 'P' - To be purged in
            next reload <br/>&nbsp; 'Q' - Transfer in today <br/>&nbsp; 'R' - Transfer
            out today <br/>&nbsp; 'T' - Transfer <br/>&nbsp; 'V' - Conversion <br/>&nbsp;
            'X' - Charge-off/conversion <br/>&nbsp; 'Z' - Charge-off <br/>&nbsp; '8'
            - Closed <br/>&nbsp; '9' - To be purged after reload
          example: D
        memoDebitAmount:
          maxLength: 17
          type: string
          description: Amount of outstanding memo debits for the account.
          example: $0.00
        memoCreditAmount:
          maxLength: 17
          type: string
          description: Amount of outstanding memo credits for the account.
          example: $0.00
        blockCode1:
          maxLength: 1
          type: string
          description: Field that identifies the block code assigned to the account.
            Block code controls specific processing options at the account level.
            Valid block codes are from A to Z and space.
          example: A
        blockCode2:
          maxLength: 1
          type: string
          description: Field that identifies the block code assigned to the account.
            Block code controls specific processing options at the account level.
            Valid block codes are from A to Z and space.
          example: ''
        blockCode1Date:
          maxLength: 10
          type: string
          description: Date the Block Code 1 is applied on the account, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 19/08/2021
        blockCode2Date:
          maxLength: 10
          type: string
          description: Date the Block Code 2 is applied on the account, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        isSuppressTokenEnabled:
          maxLength: 1
          type: string
          description: Code that indicates whether the account is eligible for tokenization.
            <br/>The values are:<br/> &nbsp; '0' - Suppress token functionality is
            inactive for the account <br/> &nbsp; '1' - Suppress token functionality
            is active for the account
          example: '0'
        reissueControlMethod:
          maxLength: 1
          type: string
          description: Flag that indicates reissue method.
          example: '0'
        noOfTokenizedCards:
          maximum: 99
          maxLength: 2
          type: integer
          description: Number of wallet cards associated with account.
          format: int32
          example: '0'
        ddaAccountId:
          maxLength: 17
          type: string
          description: Demand deposit account (DDA) number associated with direct
            debit processing.
          example: '890005226'
        mailingIndicator:
          maxLength: 1
          type: string
          description: Mailing Indicator indicate the mails to be sent to Office Address
            or Home Address.
          example: ' '
    CardtList_ListCustomersCardsAndAccountResponseModel:
      type: object
      properties:
        paymentInstrumentId:
          maxLength: 19
          type: string
          description: Unique alternate identification number associated with Payment
            card number.
          example: '0009846801010009405'
        nameOnCard:
          maxLength: 26
          type: string
          description: Embossed Name On Card.
          example: U T UATMLNCUST448
        lastWalletUsedDate:
          maxLength: 10
          type: string
          description: Date the last wallet associated with card is used, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: '0'
        lastPlasticSuppressedDate:
          maxLength: 10
          type: string
          description: Date the last plastic usage is suppressed,The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: '0'
        plasticSuppressStatus:
          maxLength: 1
          type: string
          description: Flag for plastic usage suppression.
          example: N
        cardTechnology:
          maxLength: 1
          type: string
          description: This is the flag that identifies the current card technology.
            <br/>The values are:<br/> &nbsp; '0' - Magnetic-stripe card(s) are on
            issue <br/> &nbsp; '1' - Smart card(s) are on issue <br/> &nbsp; '2' -
            Magnetic-stripe contactless card(s) are on issue <br/> &nbsp; '3' - Smart
            contactless card(s) are on issue <br/> &nbsp; '4' - Mobile magnetic-stripe
            contactless payment instruments (PI) are on provision <br/> &nbsp; '5'
            - Mobile smart contactless PIs are on provision
          example: '3'
        isAtmEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a ATM based transaction for a
            cardholder. <br/>The values are:<br/> &nbsp; 'Y' - ATM transactions allowed
            <br/> &nbsp; ' ' or 'N' - ATM transactions not allowed
          example: Y
        cardIssueDate:
          maxLength: 10
          type: string
          description: The date when the most recently issued card was produced, The
            format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
            Control.
          example: 28/09/2020
        isPosEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a POS based transaction for a
            cardholder. <br/>The values are:<br/> &nbsp; 'Y' - POS transactions allowed
            <br/> &nbsp; ' ' or 'N' - POS transactions not allowed
          example: Y
        warningCode1:
          maxLength: 1
          type: string
          description: This field determine whether to authorize or decline authorizations
            for this card. <br/>The values are:<br/> &nbsp; '0' or ' ' - Normal authorizations
            (Default) <br/> &nbsp; '1' - Decline <br/> &nbsp; '2' - Decline and pick
            up <br/> &nbsp; '3' - Decline and pick up for fraud or lost/stolen card
            <br/> &nbsp; '4' - Decline with referral <br/> &nbsp; '6' - Decline for
            suspected fraud <br/> &nbsp; '8' - Decline with a user exit <br/> &nbsp;
            '9' - VIP account, always approve
          example: '0'
        isEcomEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: This is to enable or disable  ECOMM based transaction for a
            cardholder. <br/>The values are:<br/> &nbsp; '1' - ECOMM transactions
            allowed <br/> &nbsp; '0' - ECOMM transactions not allowed
          format: int32
          example: '0'
        lastCardExpirationDate:
          maxLength: 10
          type: string
          description: Date on which the previously issued card expired, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        lastCardNeedActivation:
          maxLength: 1
          type: string
          description: This field indicates whether card activation needs to occur
            for the previously issued card. <br/>The values are:<br/>&nbsp; 'N' -
            No card activation is required or card activation has already occurred<br/>&nbsp;
            'Y' - Card activation needs to occur
          example: Y
        embosserName2:
          maxLength: 26
          type: string
          description: Additional name to be embossed on the second embossing line
            of the card.
          example: ' '
        lastPlasticUsedDate:
          maxLength: 10
          type: string
          description: Date the last plastic is used, The format is MM/DD/YYYY or
            DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 10/02/2021
        blockCodeDate:
          maxLength: 10
          type: string
          description: Date the Block Code was assigned, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        chequeAccountId:
          maxLength: 19
          type: string
          description: Checking Account associated with the card (Debit Card Only).
          example: ' '
        currentCardNeedActivation:
          maxLength: 1
          type: string
          description: This field indicates whether card activation needs to occur
            for the most recently issued card. <br/>The values are:<br/>&nbsp; 'N'
            - No card activation is required or card activation has already occurred<br/>&nbsp;
            'Y' - Card activation needs to occur
          example: Y
        savingsAccountId:
          maxLength: 17
          type: string
          description: Saving Account associated with the card (Debit Card Only).
          example: ' '
        currentCardAction:
          maxLength: 1
          type: string
          description: This field is the card issue action code that determines the
            action system performs during the next run. <br/>The values are:<br/>
            &nbsp; '0' - No action. No cards requested <br/> &nbsp; '1' - Issue new
            card(s). If applicable, also issue a PIN mailer <br/> &nbsp; '2' - Issue
            additional card(s). Value 2 is not valid for smart cards <br/> &nbsp;
            '3' - Issue replacement card(s) <br/> &nbsp; '4' - Returned cards <br/>
            &nbsp; '5' - Produce a new PIN mailer <br/> &nbsp; '6' - Issue emergency
            replacement card(s). Use this value if a card is lost or stolen and the
            replacement card is to be embossed and mailed within 24 hour <br/> &nbsp;
            '7' - Reissue card <br/> &nbsp; '8' - Reissue card with different card
            numbering scheme (CNS) <br/> &nbsp; '9' - Card technology reissue
          example: '0'
        lastCardAction:
          maxLength: 1
          type: string
          description: Last Embossing Action requested on the card. <br/>The values
            are:<br/> &nbsp; '0' - No action. No cards requested <br/> &nbsp; '1'
            - Issue new card(s). If applicable, also issue a PIN mailer <br/> &nbsp;
            '2' - Issue additional card(s). Value 2 is not valid for smart cards <br/>
            &nbsp; '3' - Issue replacement card(s) <br/> &nbsp; '4' - Returned cards
            <br/> &nbsp; '5' - Produce a new PIN mailer <br/> &nbsp; '6' - Issue emergency
            replacement card(s). Use this value if a card is lost or stolen and the
            replacement card is to be embossed and mailed within 24 hour <br/> &nbsp;
            '7' - Reissue card <br/> &nbsp; '8' - Reissue card with different card
            numbering scheme (CNS) <br/> &nbsp; '9' - Card technology reissue
          example: '1'
        expirationDate:
          maxLength: 10
          type: string
          description: Date on which the most recently issued card expires, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 16/09/2023
        cardActivatedDate:
          maxLength: 10
          type: string
          description: Date on which the card is activated, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        mccLimit04:
          maxLength: 11
          type: string
          description: Occurence-4 of the MCC limit applied on the card.
          example: $0.00
        mccLimit05:
          maxLength: 11
          type: string
          description: Occurence-5 of the MCC limit applied on the card.
          example: $0.00
        mccLimit06:
          maxLength: 11
          type: string
          description: Occurence-6 of the MCC limit applied on the card.
          example: $0.00
        mccLimit07:
          maxLength: 11
          type: string
          description: Occurence-7 of the MCC limit applied on the card.
          example: $0.00
        mccLimit08:
          maxLength: 11
          type: string
          description: Occurence-8 of the MCC limit applied on the card.
          example: $0.00
        mccLimit09:
          maxLength: 11
          type: string
          description: Occurence-9 of the MCC limit applied on the card.
          example: $0.00
        mccLimit10:
          maxLength: 11
          type: string
          description: Occurence-10 of the MCC limit applied on the card.
          example: $0.00
        mccLimit02:
          maxLength: 11
          type: string
          description: Occurence-2 of the MCC limit applied on the card.
          example: $0.00
        mccLimit03:
          maxLength: 11
          type: string
          description: Occurence-3 of the MCC limit applied on the card.
          example: $0.00
        lastPlasticIssueDate:
          maximum: 999999
          maxLength: 6
          type: integer
          description: Time when the last plastic was issued.
          format: int32
          example: '131201'
        mccLimit01:
          maxLength: 11
          type: string
          description: Occurence-1 of the MCC limit applied on the card.
          example: $0.01
        numberOfTokens:
          maximum: 99
          maxLength: 2
          type: integer
          description: Number of wallet token associated with card.
          format: int32
          example: '0'
        digitalID:
          maxLength: 10
          type: string
          description: Identification Code that is used in provisioning response.
          example: ' '
        pinOffset:
          maximum: 999999
          maxLength: 6
          type: integer
          description: Current PIN offset of the card.
          format: int32
          example: '329861'
        isMotoEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a Mobile based transaction for
            a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - MOTO transactions
            allowed <br/> &nbsp; 'N' - MOTO transactions not allowed
          example: ' '
        cardOpenedDate:
          maxLength: 10
          type: string
          description: Date the Card is issued, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 17/09/2020
        isPayWaveEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a Contactless or Paywave based
            transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - PayWave
            transactions allowed <br/> &nbsp; 'N' - PayWave transactions not allowed
          example: Y
        statusOfCard:
          maxLength: 1
          type: string
          description: Status of payment instrument identification. <br/>The value
            are:<br/>&nbsp; '0' - Permanent<br/>&nbsp; '1' - Temporary<br/>&nbsp;
            'T' - Transfer<br/>&nbsp; 'P' - Purged<br/>&nbsp; 'F' - Fraud<br/>&nbsp;
            'S' - Chip Exceeded<br/>&nbsp; 'X' - Fraud X
          example: '0'
        isInternationalAtmPosEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable an international ATM or POS  based
            transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - International
            ATM or POS transactions allowed <br/> &nbsp; 'N' - International ATM or
            POS transactions not allowed
          example: Y
        blockCode:
          maxLength: 1
          type: string
          description: Block Code assigned to the cardholder.
          example: ' '
        isCashBackEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable cashback at POS  transaction for
            a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - Cash Back transactions
            allowed <br/> &nbsp; 'N' - Cash Back transactions not allowed
          example: Y
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0001000011000052268'
        maskedPaymentInstrumentId:
          maxLength: 19
          type: string
          description: Masked Card number of the actual card number associated with
            the card Id.
          example: 000984680XXXXXX9405
        productDescription:
          maxLength: 30
          type: string
          description: This field is the description of the Logo record. This description
            enables you to identify the kind of accounts/cards processed by this product.
          example: VISA PLATINUM DEBIT
        cardHolderType:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that indicates whether the cardholder is the primary cardholder
            or an additional cardholder associated with the account.
          format: int32
          example: '1'
    ListCustomersCardsAndAccountResponseModel:
      type: object
      properties:
        customerInformation:
          type: object
          properties:
            businessUnit:
              maximum: 999
              maxLength: 3
              type: integer
              description: Unique identification number associated with the organization.
                Valid values from 001-998.
              format: int32
              example: '600'
            customerId:
              maxLength: 19
              type: string
              description: Unique identification number assigned to a customer.
              example: '0006000011000000707'
            givenName:
              maxLength: 40
              type: string
              description: This field indicates the first name of the owner.
              example: Andre
            externalId:
              maxLength: 25
              type: string
              description: This field identifies the Social Security number or tax
                identification number.
              example: '113902'
            gender:
              maxLength: 1
              type: string
              description: This flag indicates the owner’s gender. <br/>The values
                are:<br/> &nbsp; '0' - Not Specified <br/> &nbsp; '1' - Male <br/>
                &nbsp; '2' - Female
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
            birthDate:
              maxLength: 10
              type: string
              description: Date of birth of the owner, The format is MM/DD/YYYY or
                DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 14/11/1940
            nameLine1:
              maxLength: 40
              type: string
              description: This field indicates the owner personal name, business
                name, or a generic name.
              example: Andre Reichel
            addressLine1:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: 10 4601 Denesik Overpass
            addressLine2:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: Lake Ofelia,QLD
            addressLine3:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: Clayfield QLD
            addressLine4:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: ''
            emailAddress:
              maxLength: 60
              type: string
              description: This field indicates e-mail address of the owner.
              example: Andre.Reichel@company1.com
            homePhoneNumber:
              maxLength: 20
              type: string
              description: This field is the owner’s home telephone number.
              example: ++61430010348
            workPhoneNumber:
              maxLength: 20
              type: string
              description: This field indicates the work telephone number.
              example: ++61430010348
            mobileNumber:
              maxLength: 20
              type: string
              description: This field is the owner’s mobile number.
              example: ++61430010348
            numberOfCards:
              maximum: 999
              maxLength: 3
              type: integer
              description: Number of Cards associated with the Customer.
              format: int32
              example: '1'
            numberOfAccounts:
              maximum: 999
              maxLength: 3
              type: integer
              description: Number of Accounts associated with the customer.
              format: int32
              example: '1'
            isReturnMailEnabled:
              maxLength: 1
              type: string
              description: User-defined fields to indicates return mail delivery is
                enabled or not. <br/>The values are:<br/> &nbsp; 'Y' - Return mail
                <br/> &nbsp; 'N' - No return mail
              example: N
        accountList:
          type: array
          items:
            $ref: '#/components/schemas/AccountList_ListCustomersCardsAndAccountResponseModel'
        cardtList:
          type: array
          items:
            $ref: '#/components/schemas/CardtList_ListCustomersCardsAndAccountResponseModel'
    CardList_ListCustomersCardResponseModel:
      type: object
      properties:
        lastWalletUsedDate:
          maxLength: 10
          type: string
          description: Date the last wallet associated with card is used, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: '0'
        lastPlasticSuppressedDate:
          maxLength: 10
          type: string
          description: Date the last plastic usage is suppressed,The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: '0'
        plasticSuppressStatus:
          maxLength: 1
          type: string
          description: Flag for plastic usage suppression.
          example: N
        cardTechnology:
          maxLength: 1
          type: string
          description: This is the flag that identifies the current card technology.
            <br/>The values are:<br/> &nbsp; '0' - Magnetic-stripe card(s) are on
            issue <br/> &nbsp; '1' - Smart card(s) are on issue <br/> &nbsp; '2' -
            Magnetic-stripe contactless card(s) are on issue <br/> &nbsp; '3' - Smart
            contactless card(s) are on issue <br/> &nbsp; '4' - Mobile magnetic-stripe
            contactless payment instruments (PI) are on provision <br/> &nbsp; '5'
            - Mobile smart contactless PIs are on provision
          example: '3'
        isAtmEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a ATM based transaction for a
            cardholder. <br/>The values are:<br/> &nbsp; 'Y' - ATM transactions allowed
            <br/> &nbsp; 'N' - ATM transactions not allowed
          example: Y
        cardIssueDate:
          maxLength: 10
          type: string
          description: The date when the most recently issued card was produced, The
            format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
            Control.
          example: 28/09/2020
        isPosEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a POS based transaction for a
            cardholder. <br/>The values are:<br/> &nbsp; 'Y' - POS transactions allowed
            <br/> &nbsp; 'N' - POS transactions not allowed
          example: Y
        warningCode1:
          maxLength: 1
          type: string
          description: This field determine whether to authorize or decline authorizations
            for this card. <br/>The values are:<br/> &nbsp; '0' or ' ' - Normal authorizations
            (Default) <br/> &nbsp; '1' - Decline <br/> &nbsp; '2' - Decline and pick
            up <br/> &nbsp; '3' - Decline and pick up for fraud or lost/stolen card
            <br/> &nbsp; '4' - Decline with referral <br/> &nbsp; '6' - Decline for
            suspected fraud <br/> &nbsp; '8' - Decline with a user exit <br/> &nbsp;
            '9' - VIP account, always approve
          example: '0'
        isEcomEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: This is to enable or disable  ECOMM based transaction for a
            cardholder. <br/>The values are:<br/> &nbsp; '1' - ECOMM transactions
            allowed <br/> &nbsp; '0' - ECOMM transactions not allowed
          format: int32
          example: '0'
        lastCardExpirationDate:
          maxLength: 10
          type: string
          description: Date on which the previously issued card expired, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        lastCardNeedActivation:
          maxLength: 1
          type: string
          description: This field indicates whether card activation needs to occur
            for the previously issued card. <br/>The values are:<br/>&nbsp; 'N' -
            No card activation is required or card activation has already occurred<br/>&nbsp;
            'Y' - Card activation needs to occur
          example: Y
        embosserName2:
          maxLength: 26
          type: string
          description: Additional name to be embossed on the second embossing line
            of the card.
          example: ' '
        dateLastPlasticUsed:
          maxLength: 10
          type: string
          description: Date the last plastic is used, The format is MM/DD/YYYY or
            DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 10/02/2021
        blockCodeDate:
          maxLength: 10
          type: string
          description: Date the Block Code was assigned, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        chequeAccountId:
          maxLength: 19
          type: string
          description: Checking Account associated with the card (Debit Card Only).
          example: ' '
        currentCardNeedActivation:
          maxLength: 1
          type: string
          description: This field indicates whether card activation needs to occur
            for the most recently issued card. <br/>The values are:<br/>&nbsp; 'N'
            - No card activation is required or card activation has already occurred<br/>&nbsp;
            'Y' - Card activation needs to occur
          example: Y
        savingsAccountId:
          maxLength: 17
          type: string
          description: Saving Account associated with the card (Debit Card Only).
          example: ' '
        currentCardAction:
          maxLength: 1
          type: string
          description: This field is the card issue action code that determines the
            action system performs during the next run. <br/>The values are:<br/>
            &nbsp; '0' - No action. No cards requested <br/> &nbsp; '1' - Issue new
            card(s). If applicable, also issue a PIN mailer <br/> &nbsp; '2' - Issue
            additional card(s). Value 2 is not valid for smart cards <br/> &nbsp;
            '3' - Issue replacement card(s) <br/> &nbsp; '4' - Returned cards <br/>
            &nbsp; '5' - Produce a new PIN mailer <br/> &nbsp; '6' - Issue emergency
            replacement card(s). Use this value if a card is lost or stolen and the
[...]
