openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Product Management
paths:
  /v1/products/{productId}/cardControls:
    put:
      tags:
      - Product Management
      summary: Update Product Card Controls
      description: This service is used to update the card controls at product level
        for the given product.
      operationId: UpdateProductCardControls
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: correlationId
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: productId
        in: path
        description: Unique identification number of the product associated with the
          organization. Valid values from 1-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductCardControlReqModel'
        required: true
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProductCardControlResponseModel'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Product Card Controls
      x-group-name: Product Management
  /v1/products/{productId}/serviceChargeDetails:
    get:
      tags:
      - Product Management
      summary: Inquire Service Charge Table
      description: This service provides various service fee details available in
        the system for a given Org, Product and table ID combination.
      operationId: InquireServiceChargeTable
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: correlationId
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: productId
        in: path
        description: Unique identification number of the product associated with the
          organization. If the table is defined at organization level, populate this
          field as zeroes. For tables defined at product level, valid values are 0-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '0'
      - name: tableId
        in: query
        description: Identification number of the Service Charge/Fee table. The values
          are 1–998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '3'
      responses:
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireServiceChargeTableResponseModel'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Service Charge Table
      x-group-name: Product Management
  /v1/products/{productId}/interestTable:
    get:
      tags:
      - Product Management
      summary: Inquire Interest Table
      description: This service provides details of Interest Table. An Interest table
        identifies a set of parameters that system uses to calculate interest.
      operationId: InquireInterestTable
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: correlationId
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: tableId
        in: query
        description: Identification number of the Interest table. The values are 1–998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '1'
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: productId
        in: path
        description: Unique identification number of the product associated with the
          organization. If the table is defined at organization level, populate this
          field as zeroes. For tables defined at product level, valid values are 0-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '0'
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireInterestTableResponseModel'
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Interest Table
      x-group-name: Product Management
  /v1/products/{productId}/details:
    get:
      tags:
      - Product Management
      summary: Inquire Product
      description: This service provides the details for a given product.
      operationId: InquireProduct
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: correlationId
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: productId
        in: path
        description: Unique identification number of the product associated with the
          organization. Valid values are 1-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '1'
      responses:
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireProductResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Product
      x-group-name: Product Management
  /v1/products/{planId}/planDetails:
    get:
      tags:
      - Product Management
      summary: Inquire Plan Master
      description: This service provides plan details for a given credit plan.
      operationId: InquirePlanMaster
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: correlationId
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 1-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: planId
        in: path
        description: Identification number of the Credit Plan Master entity. The values
          are 1–99998. You can establish as many as 99,998 Credit Plan Master entity
          for each organization.
        required: true
        schema:
          maximum: 99999
          maxLength: 5
          type: integer
          example: '10002'
      responses:
        '422':
          description: " \nThe request could not be processed"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquirePlanMasterResponseModel'
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Plan Master
      x-group-name: Product Management
components:
  schemas:
    UpdateProductCardControlReqModel:
      type: object
      properties:
        cardControlFields:
          type: object
          properties:
            maximumAuthorizationLimitFrequency:
              maxLength: 1
              type: string
              description: This is a flag which indicates the frequency for the maximum
                authorization parameters. This frequency applies to the RETAIL PURCHASE
                AMOUNT to SINGLE RETAIL TRANSACTION AMOUNT fields. <br/>The values
                are:<br/> &nbsp; '0' - Not used (default) <br/> &nbsp; '1' - Daily
                <br/> &nbsp; '2' - Cycle-to-date <br/> &nbsp; '3' - Year-to-date
              example: '1'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
            maximumAtmCashAuthorizationsAmount:
              maxLength: 17
              type: string
              description: Maximum amount in monetary units and subunits of ATM cash
                authorizations allowed for the frequency defined in the MAXIMUM AUTHORIZATION
                LIMIT FREQUENCY field.
              example: '2000.0'
            maximumAtmCashAuthorizationsCount:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Maximum number of ATM cash authorizations allowed for the
                frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              example: '5'
            maximumSingleAtmTransactionAmount:
              maxLength: 17
              type: string
              description: This is the Maximum authorization amount in monetary units
                and subunits for a single ATM transaction.
              example: '100.0'
            maximumOtcCashAuthorizationsAmount:
              maxLength: 17
              type: string
              description: Maximum amount in monetary units and subunits of over-the
                counter (OTC) cash authorizations allowed for the frequency defined
                in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              example: '1500.0'
            maximumOtcAuthorizationsCount:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Maximum number of OTC authorizations allowed for the frequency
                defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              example: '6'
            maximumSingleOtcCashAuthorizationAmount:
              maxLength: 17
              type: string
              description: This is the Maximum authorization amount in monetary units
                and subunits for a single OTC transaction.
              example: '200.0'
            maximumRetailAuthorizationsAmount:
              maxLength: 17
              type: string
              description: Maximum amount in monetary units and subunits of retail
                authorizations allowed for the freqency defined in the MAXIMUM AUTHORIZATION
                LIMIT FREQUENCY field.
              example: '100000.0'
            maximumRetailAuthorizationsCount:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Maximum number of retail authorizations allowed for the
                frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              example: '10'
            maximumSingleRetailAuthorizationAmount:
              maxLength: 17
              type: string
              description: This is the Maximum amount in monetary units and subunits
                for a single retail authorization.
              example: '10000.0'
        cardControlFlags:
          type: object
          properties:
            isAtmEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a ATM based transactions.
                <br/>The values are:<br/> &nbsp; 'Y' - ATM transactions Allowed <br/>
                &nbsp; 'N' - ATM transactions not Allowed
              example: Y
              enum:
              - N
              - Y
            isPosEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a POS based transaction for
                a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - POS transactions
                Allowed <br/> &nbsp; 'N' - POS transactions not Allowed
              example: Y
              enum:
              - N
              - Y
            isEcomEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable  ECOMM based transaction for
                a cardholder. <br/>The values are:<br/> &nbsp; '1' - ECOMM transactions
                Allowed <br/> &nbsp; '0' - ECOMM transactions not Allowed
              example: '1'
              enum:
              - '0'
              - '1'
            isMotoEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a Mobile based transactions.
                <br/>The values are:<br/> &nbsp; 'Y' - MOTO transactions Allowed <br/>
                &nbsp; 'N' - MOTO transactions not Allowed
              example: N
              enum:
              - Y
              - N
            isInternationalAtmPosEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable an international ATM or POS  based
                transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y'
                - International ATM or POS transactions Allowed <br/> &nbsp; 'N' -
                International ATM or POS transactions not Allowed
              example: N
              enum:
              - Y
              - N
            isCashBackEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable cashback at POS  transaction
                for a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - Cash Back
                transactions Allowed <br/> &nbsp; 'N' - Cash Back transactions not
                Allowed
              example: Y
              enum:
              - Y
              - N
            isPayWaveEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a Contactless or Paywave based
                transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y'
                - PayWave transactions Allowed <br/> &nbsp; 'N' - PayWave transactions
                not Allowed
              example: N
              enum:
              - Y
              - N
        yearToDateCountryRiskSpendLimits:
          type: object
          properties:
            isCountryRiskSpendLimitEnabled:
              maxLength: 1
              type: string
              description: This is a flag that indicates whether a year-to-date spending
                limit for accounts initiating transactions in high-risk and non-high-risk
                countries is active. <br/>The values are:<br/> &nbsp; '0' - Not Active
                <br/> &nbsp; '1' - Active
              example: '1'
              enum:
              - '0'
              - '1'
            highRiskCountryMaximumAuthAmount:
              maxLength: 17
              type: string
              description: Maximum amount of authorizations in monetary units and
                subunits allowed for the cumulative year-to-date spending by an account
                in high-risk countries. Maximum amount of authorizations in monetary
                units and subunits allowed for the cumulative year-to-date spending
                by an account in high-risk countries.
              example: '10000.0'
            otherRiskCountryMaximumAuthAmount:
              maxLength: 17
              type: string
              description: Maximum amount of authorizations in monetary units and
                subunits allowed for the cumulative year-to-date spending by an account
                in non-high-risk countries. Risk is designated by country code in
                the Financial Authorization System (FAS).
              example: '15000.0'
    UpdateProductCardControlResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values from 1-998.
          example: '1'
        cardControlFields:
          type: object
          properties:
            maximumAuthorizationLimitFrequency:
              maxLength: 1
              type: string
              description: This is a flag which indicates the frequency for the maximum
                authorization parameters. This frequency applies to the RETAIL PURCHASE
                AMOUNT to SINGLE RETAIL TRANSACTION AMOUNT fields. <br/>The values
                are:<br/> &nbsp; '0' - Not used (default) <br/> &nbsp; '1' - Daily
                <br/> &nbsp; '2' - Cycle-to-date <br/> &nbsp; '3' - Year-to-date
              example: '1'
            maximumAtmCashAuthorizationsAmount:
              maxLength: 20
              type: string
              description: Maximum amount in monetary units and subunits of ATM cash
                authorizations allowed for the frequency defined in the MAXIMUM AUTHORIZATION
                LIMIT FREQUENCY field.
              example: '2000.0'
            maximumAtmCashAuthorizationsCount:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Maximum number of ATM cash authorizations allowed for the
                frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              example: '5'
            maximumSingleAtmTransactionAmount:
              maxLength: 20
              type: string
              description: This is the Maximum authorization amount in monetary units
                and subunits for a single ATM transaction.
              example: '100.0'
            maximumOtcCashAuthorizationsAmount:
              maxLength: 20
              type: string
              description: Maximum amount in monetary units and subunits of over-the
                counter (OTC) cash authorizations allowed for the frequency defined
                in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              example: '1500.0'
            maximumOtcAuthorizationsCount:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Maximum number of OTC authorizations allowed for the frequency
                defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              example: '6'
            maximumSingleOtcCashAuthorizationAmount:
              maxLength: 20
              type: string
              description: This is the Maximum authorization amount in monetary units
                and subunits for a single OTC transaction.
              example: '200.0'
            maximumRetailAuthorizationsAmount:
              maxLength: 20
              type: string
              description: Maximum amount in monetary units and subunits of retail
                authorizations allowed for the freqency defined in the MAXIMUM AUTHORIZATION
                LIMIT FREQUENCY field.
              example: '100000.0'
            maximumRetailAuthorizationsCount:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Maximum number of retail authorizations allowed for the
                frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              example: '10'
            maximumSingleRetailAuthorizationAmount:
              maxLength: 20
              type: string
              description: This is the Maximum amount in monetary units and subunits
                for a single retail authorization.
              example: '10000.0'
        cardControlFlags:
          type: object
          properties:
            isAtmEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a ATM based transactions.
                <br/>The values are:<br/> &nbsp; 'Y' - ATM transactions Allowed <br/>
                &nbsp; 'N' - ATM transactions not Allowed
              example: Y
            isPosEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a POS based transaction for
                a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - POS transactions
                Allowed <br/> &nbsp; 'N' - POS transactions not Allowed
              example: Y
            isEcomEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable  ECOMM based transaction for
                a cardholder. <br/>The values are:<br/> &nbsp; '1' - ECOMM transactions
                Allowed <br/> &nbsp; '0' - ECOMM transactions not Allowed
              example: '1'
            isMotoEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a Mobile based transactions.
                <br/>The values are:<br/> &nbsp; 'Y' - MOTO transactions Allowed <br/>
                &nbsp; 'N' - MOTO transactions not Allowed
              example: N
            isInternationalAtmPosEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable an international ATM or POS  based
                transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y'
                - International ATM or POS transactions Allowed <br/> &nbsp; 'N' -
                International ATM or POS transactions not Allowed
              example: N
            isCashBackEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable cashback at POS  transaction
                for a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - Cash Back
                transactions Allowed <br/> &nbsp; 'N' - Cash Back transactions not
                Allowed
              example: Y
            isPayWaveEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a Contactless or Paywave based
                transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y'
                - PayWave transactions Allowed <br/> &nbsp; 'N' - PayWave transactions
                not Allowed
              example: N
        yearToDateCountryRiskSpendLimits:
          type: object
          properties:
            isCountryRiskSpendLimitEnabled:
              maxLength: 1
              type: string
              description: This is a flag that indicates whether a year-to-date spending
                limit for accounts initiating transactions in high-risk and non-high-risk
                countries is active. <br/>The values are:<br/> &nbsp; '0' - Not Active
                <br/> &nbsp; '1' - Active
              example: '1'
            highRiskCountryMaximumAuthAmount:
              maxLength: 20
              type: string
              description: Maximum amount of authorizations in monetary units and
                subunits allowed for the cumulative year-to-date spending by an account
                in high-risk countries. Maximum amount of authorizations in monetary
                units and subunits allowed for the cumulative year-to-date spending
                by an account in high-risk countries.
              example: '10000.0'
            otherRiskCountryMaximumAuthAmount:
              maxLength: 20
              type: string
              description: Maximum amount of authorizations in monetary units and
                subunits allowed for the cumulative year-to-date spending by an account
                in non-high-risk countries. Risk is designated by country code in
                the Financial Authorization System (FAS).
              example: '15000.0'
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        detail:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
        source:
          type: string
          example: ''
        status:
          type: integer
          example: '0'
        invalid-params:
          type: array
          items:
            type: string
    InquireServiceChargeTableResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. If the table is defined at organization level, populate
            this field as zeroes. For tables defined at product level, valid values
            are 0-998.
          example: '0'
        tableId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Identification number of the Service Charge/Fee table. The
            values are 1–998.
          example: '3'
        maximumCycleServiceFeeAmount:
          maxLength: 20
          type: string
          description: Maximum amount, in monetary units and subunits, of service
            charges to assess in one cycle. CMS will not assess a service charge unless
            this field is greater than zero.
          example: $99999.00
        serviceChargeDetails:
          type: array
          items:
            $ref: '#/components/schemas/ServiceChargeDetails_InquireServiceChargeTableResponseModel'
    ServiceChargeDetails_InquireServiceChargeTableResponseModel:
      type: object
      properties:
        initiatingTransactionCode:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Monetary transaction code that will trigger CMS to generate
            the service charge. The service charge posts to each plan that has activity
            identified by this transaction code.
          example: '1301'
        transactionLimitFrequency:
          maxLength: 1
          type: string
          description: Code that determines whether the TRANSACTION LIMIT number is
            a daily limit or cycle limit for the number of transactions assessed service
            charges by TIER 1 FEE AMOUNT. <br/>The values are:<br/>&nbsp; '0' - Daily
            limit <br/>&nbsp; '1' - Cycle limit
          example: '1'
        transactionLimit:
          maximum: 99
          maxLength: 2
          type: integer
          description: Number of transactions to assess the service fee defined by
            FEE AMOUNT per day or cycle based on the TRANSACTION LIMIT FREQUENCY value.
            The values are 00–99.
          example: '3'
        tier1Fee:
          maxLength: 17
          type: string
          description: Fixed amount in monetary units and subunits or percentage of
            the transaction amount to assess for the service charge up to the number
            of transactions in the TRANSACTION LIMIT field, inclusive. If METHOD is
            1, enter a fixed amount. If METHOD is 2, enter a percentage. For a percentage,
            the first two positions must be zero.
          example: '100'
        tier2Fee:
          maxLength: 17
          type: string
          description: Fixed amount in monetary units and subunits or percentage of
            the transaction amount to assess for the service charge for transactions
            in excess of the number in the TRANSACTION LIMIT field. For a percentage,
            the first two positions must be zero.
          example: '500'
        method:
          maxLength: 1
          type: string
          description: Code that indicates how CMS calculates the service charge (Amount
            or Percentage). <br/>The values are:<br/>&nbsp; '1' - Amount (Default)
            <br/>&nbsp; '2' - Percentage
          example: '1'
        singleFeeMinimumAmount:
          maximum: 999999999999
          maxLength: 12
          type: integer
          description: Minimum amount in monetary units and subunits, of the service
            charge to assess. This amount must be less than the SINGLE FEE MAXIMUM
            AMOUNT.
          example: '0'
        singleFeeMaximumAmount:
          maximum: 999999999999
          maxLength: 12
          type: integer
          description: Maximum amount in monetary units and subunits, of the service
            charge to assess. This amount must be greater than the SINGLE FEE MINIMUM
            AMOUNT.
          example: '999999999'
        feePostingFrequency:
          maxLength: 1
          type: string
          description: Code that indicates the frequency CMS posts the service charge
            to the account. <br/>The values are:<br/>&nbsp; '0' - Daily (Default)
            <br/>&nbsp; '1' - Cycle
          example: '1'
        feeReverseTransactionCode:
          maximum: 9999
          maxLength: 4
          type: integer
          description: Monetary transaction code that will trigger CMS to generate
            a service charge fee reversal. If this value is zeroes, CMS does not automatically
            generate a service charge reversal transaction for a reversal transaction.
          example: '7474'
        feePlan:
          maxLength: 1
          type: string
          description: Code that indicates the plan to which the service fee is posted.
            <br/>The values are:<br/>&nbsp; '0' - Post fee to the same plan as the
            transaction triggering the fee (Default) <br/>&nbsp; '1' - Post fee to
            the default retail plan corresponding to the account <br/>&nbsp; '2' -
            Post fee to the default cash plan corresponding to the account <br/>&nbsp;
            '3' - Post fee to the default credit plan determined by the Service Charge/Fee
            table corresponding to account
          example: '0'
        dailyFeeDescription:
          maxLength: 40
          type: string
          description: Description of the transaction code. If FEE POSTING FREQUENCY
            is 0 (daily), this field is the description of the service charge that
            prints on account statements. If FEE POSTING FREQUENCY 1 (cycle), this
            field must be blank, CMS uses the universal service charge fee transaction
            code on Monetary Transaction controls and the description defined for
            the universal service charge fee transaction code on Monetary Transaction
            controls
          example: Service Fees
        maximumIndicator:
          maxLength: 1
          type: string
          description: Code that indicates whether the maximum amount (SINGLE FEE
            MAXIMUM AMOUNT) is applied as the daily fee maximum that can be assessed
            for the transaction code or as the maximum fee that any individual transaction
            can be assessed for the transaction code. <br/>The values are:<br/>&nbsp;
            '0' - Daily limit (Default) <br/>&nbsp; '1' - Individual fee limit <br/>&nbsp;
            '2' - Individual fee limit. The fee cannot exceed the amount of the triggering
            transaction
          example: '1'
    InquireInterestTableResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. If the table is defined at organization level, populate
            this field as zeroes. For tables defined at product level, valid values
            are 0-998.
          example: '0'
        tableId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Identification number of the Interest table. The values are
            1–998.
          example: '1'
        tableName:
          maxLength: 40
          type: string
          description: This field indicates the Description of the Interest table.
          example: INTEREST RATE TABLE FOR CASH PLAN
        interestControls:
          type: object
          properties:
            interestRounding:
              maxLength: 1
              type: string
              description: Code that indicates the rounding method CMS uses to round
                or truncate interest calculations. <br/>The values are:<br/>&nbsp;
                '0' - Standard rounding. If the number that follows the last decimal
                in the currency is 1 to 4, CMS rounds down; if the number is 5 to
                9, CMS rounds up (Default) <br/>&nbsp; '1' - Always round up. If the
                number is 1 to 9, CMS rounds up <br/>&nbsp; '2' - Truncate. CMS does
                not round <br/>&nbsp; '3' - Round, no decimal. CMS rounds to the nearest
                whole monetary unit
              example: '0'
            examineCycleInterestVariance:
              maxLength: 1
              type: string
              description: Code that indicates whether CMS examines the cycle interest
                variance field on the Product entity (EXAMINE CYCLE INTEREST VARIANCE
                on Products -> 14-Product Processing Additional) during disposition
                of interest at cycle. <br/>The values are:<br/>&nbsp; '0' - Do not
                use the cycle interest variance on the Product entity (Default) <br/>&nbsp;
                '1' - Verify that the payment is within the cycle interest variance
                defined on the Product entity
              example: '0'
            allowNsfPaymentReversal:
              maxLength: 1
              type: string
              description: Code that indicates whether an NSF payment reversal should
                be considered in the interest waive decision. <br/>The values are:<br/>&nbsp;
                '0' - Do not allow NSF payment reversal; interest will not be waived
                if an NSF payment reversal occurred (Default) <br/>&nbsp; '1' - Allow
                NSF payment reversals if the net payments received satisfy the account
                or plan beginning balance
              example: '0'
            ceilingLimits:
              type: object
              properties:
                floorRate1:
                  maxLength: 7
                  type: string
                  description: Minimum allowable interest rate for credit plans using
                    this Interest table. CMS uses this rate if the plan balance is
                    less than or equal to the value in the LMT 1 field.
                  example: 0.00000%
                ceilingRate1:
                  maxLength: 7
                  type: string
                  description: Maximum allowable interest rate for credit plans using
                    this Interest table if the plan balance is less than or equal
                    to the balance limit.
                  example: 99.99999%
                floorRate2:
                  maxLength: 7
                  type: string
                  description: Maximum allowable interest rate for credit plans using
                    this Interest table if the plan balance is greater than the balance
                    limit (BALANCE LIMIT).
                  example: 0.00000%
                ceilingRate2:
                  maxLength: 7
                  type: string
                  description: Minimum allowable interest rate for credit plans using
                    this Interest table. Regardless of the value of the rate index,
                    adjusted by the variance, the actual interest rate assessed for
                    credit plans using this Interest table will not fall below this
                    percentage.
                  example: 99.99999%
                balanceLimit:
                  maxLength: 17
                  type: string
                  description: Balance Limit - Balance limit for FLOOR RATE 1 and
                    CEILING RATE 1 in whole monetary amounts. If you are using both
                    FLOOR RATE 1-2 and CEILING RATE 1–2, the value of this field must
                    be greater than zero.
                  example: $0.00
        interestCalculationOptions:
          type: object
          properties:
            accrualMethod:
              maxLength: 1
              type: string
              description: Code that indicates the accrual method CMS uses for interest
                calculations. <br/>The values are:<br/>&nbsp; 'A' - Monthly accrual
                <br/>&nbsp; 'B' - Balance at end of cycle <br/>&nbsp; 'D' - Daily
                accrual (Default) <br/>&nbsp; 'E' - Monthly adjusted ending balance
              example: D
            yearBase:
              maxLength: 1
              type: string
              description: Code that indicates the year base CMS uses for interest
                calculations. <br/>The values are:<br/>&nbsp; '0' - Actual 365 or
                366 days (Default) <br/>&nbsp; '1' - Fixed 365 days <br/>&nbsp; '2'
                - Fixed 360 days
              example: '0'
            startInterestOnDebitTransaction:
              maxLength: 1
              type: string
              description: Code that indicates when interest calculations begin on
                debit transactions. <br/>The values are:<br/>&nbsp; 'S' - Cycle date
                (after billing) <br/>&nbsp; 'T' - Transaction date (effective date
                of the transaction) <br/>&nbsp; 'P' - Posting date of the transaction
                (Default) <br/>&nbsp; 'G' - Greater of the transaction date or the
                cycle date <br/>&nbsp; 'D' - Day after the payment due date
              example: P
            startInterestOnCreditTransaction:
              maxLength: 1
              type: string
              description: Code that indicates when credit transactions affect the
                calculation of interest. <br/>The values are:<br/>&nbsp; 'T' - Transaction
                date (from the effective date of the transaction) <br/>&nbsp; 'P'
                - Posting date (from the posting date of the transaction) (Default)
              example: T
            interestNextStatement:
              maxLength: 1
              type: string
              description: 'Code that indicates how CMS charges interest on new transactions
                posted in the current billing cycle. <br/>The values are:<br/>&nbsp;
                ''A'' - Waive all interest based on the account balance <br/>&nbsp;
                ''B'' - Rebate interest at the account level <br/>&nbsp; ''C'' - Use
                combined grace and cycle interest parameters on Interest Table ->
                03- Combined Grace & Cycle Interest Option <br/>&nbsp; ''D'' - Defer
                interest if a payment is posted prior to the cycle date <br/>&nbsp;
                ''G'' - Accrue and defer interest on new purchase transactions <br/>&nbsp;
                ''L'' - Accrue and defer interest on new purchase transactions <br/>&nbsp;
                ''M'' - Residual interest <br/>&nbsp; ''N'' - Do not charge interest
                (Default) <br/>&nbsp; ''P'' - Waive all plan interest based on plan
                balance <br/>&nbsp; ''Q'' - Rebate interest at the plan level <br/>&nbsp;
                ''R'' - Residual interest <br/>&nbsp; ''S'' - Reserved for future
                user <br/>&nbsp; ''T'' - Interest on RECAPT transaction <br/>&nbsp;
                ''U'' - Charge interest unconditionally <br/>&nbsp; ''Y'' - Charge
                interest <br/>&nbsp; ''Z'' - Interest on RECAPT zero balance '
              example: C
        interestRates:
          type: object
          properties:
            tierLimitIndicator:
              maxLength: 1
              type: string
              description: Code that indicates how to handle tier limits. <br/>The
                values are:<br/>&nbsp; '0' - Charge separate rate for balances within
                each limit <br/>&nbsp; '1' - Charge rate at highest limit in which
                balance falls (Default)
              example: '0'
            rateType:
              maxLength: 1
              type: string
              description: Code that indicates the type of interest rate. <br/>The
                values are:<br/>&nbsp; 'F' - Fixed rate. The interest rate is the
                base rate <br/>&nbsp; 'T' - Tiered rate. The rate is determined based
                upon the balance limit <br/>&nbsp; 'U' - Tiered variable rate. The
                interest rate is determined by tiers with a variance applied <br/>&nbsp;
                'V' - Variable rate. The interest rate may have a variance applied
                <br/>&nbsp; 'Z' - Interest free
              example: F
            rateIndexTable:
              maxLength: 3
              type: string
              description: Code that identifies the rate index within the associated
                Rate Index Table that determines the base rate. <br/>The values are:<br/>&nbsp;
                '0' - Do not use a rate index <br/>&nbsp; '1' to '998' - Rate index
                number to use
              example: '6'
            rate7:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT7 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance7:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            limit7:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 7
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            rate8:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT8 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance8:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            limit8:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 8
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            rate9:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT9 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance9:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            rate1:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT1 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance1:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 8.99000%
            limit1:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 1
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $999,999,999,999,999.00
            rate2:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT2 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance2:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            limit2:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 2
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            rate3:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT3 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance3:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            limit3:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 3
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            rate4:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT4 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance4:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            limit4:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 4
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            rate5:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT5 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance5:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            limit5:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 5
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            rate6:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT6 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance6:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            limit6:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 6
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
        includeBalanceFlagsForInterestCalculation:
          type: object
          properties:
            isInterestOnMembershipFeeEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on membership
                fees (also referred to as annual fees). <br/>The values are:<br/>&nbsp;
                '0' - Do not charge interest (Default) <br/>&nbsp; '1' - Charge interest
              example: '1'
            isInterestOnInterestEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on interest
                (finance charge compounding). <br/>The values are:<br/>&nbsp; '0'
                - Do not charge interest (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnServiceFeeEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on service
                charges. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '1'
            isInterestOnNsfFeeEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on fees
                assessed for items returned due to nonsufficient funds. <br/>The values
                are:<br/>&nbsp; '0' - Do not charge interest (Default) <br/>&nbsp;
                '1' - Charge interest
              example: '0'
            isInterestOnOverLimitFeeEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on over
                limit fees. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '1'
            isInterestOnInsuranceEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on insurance
                premiums. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnLateFeeEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on late
                fees. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '1'
            isInterestOnCollectionFeesEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on collection
                fees. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnRecoveryFeeEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on recovery
                fees. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnUserFee1Enabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on user-defined
                fees 1. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnUserFee2Enabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on user-defined
                fees 2. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnUserFee3Enabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on user-defined
                fees 3. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnUserFee4Enabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on user-defined
                fees 4. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnUserFee5Enabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on user-defined
                fees 5. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnUserFee6Enabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to charge interest on user-defined
                fees 6. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
        interestParametersForCombinedGraceAndCycleOptions:
          type: object
          properties:
            transactionQualification:
              maxLength: 1
              type: string
              description: Code that identifies the type of transactions that qualify
                an account or plan balance as paid in full. <br/>The values are:<br/>&nbsp;
                '0' - All credit transaction codes (Default) <br/>&nbsp; '1' - Only
                payment transaction codes <br/>&nbsp; '2' - Net payment transactions
                within grace days <br/>&nbsp; '3' - Net payment transactions within
                a cycle <br/>&nbsp; '4' - Net credit transactions within grace days
              example: '0'
            isWaivePriorDeferredInterestEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether interest deferred in the prior
                cycle should be waived if specific account conditions are met. <br/>The
                values are:<br/>&nbsp; '0' - Always bill deferred interest from prior
                cycle (Default) <br/>&nbsp; '1' - Waive deferred interest from prior
                cycle if waive conditions are met
              example: '0'
            isPriorDeferredNsfPaymentReversalEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether an NSF payment reversal should
                be considered in the interest waive decision for prior deferred interest.
                <br/>The values are:<br/>&nbsp; '0' - Do not allow NSF payment reversal;
                interest is not waived if an NSF payment reversal occurs (Default)
                <br/>&nbsp; '1' - Allow NSF payment reversals
              example: '0'
            priorDeferredInterestBalanceIndicator:
              maxLength: 1
              type: string
              description: Code that indicates whether an account or plan beginning
                balance is used in the interest disposition decisions. <br/>The values
                are:<br/>&nbsp; '0' - Account balance is considered <br/>&nbsp; '1'
                - Plan balance is considered
              example: '0'
            isPriorDeferredBeginBalanceEnabled:
              maxLength: 1
              type: string
              description: This field identifies whether the beginning balance is
                considered in the waive decision. <br/>The values are:<br/>&nbsp;
                '0' - Do not use the beginning balance in the waive decision process
                (Default) <br/>&nbsp; '1' - Use the beginning balance in the waive
                decision process
              example: '0'
            priorDeferredBeginningThresholdAmount:
              maxLength: 20
              type: string
              description: This field indicates the balance threshold that the beginning
                balance must be less than or equal to before interest is waived.
              example: $0.00
            isPriorDeferredEndingBalanceEnabled:
              maxLength: 1
              type: string
              description: This field identifies whether the ending balance is considered
                in the waive decision. <br/>The values are:<br/>&nbsp; '0' - Do not
                use the ending balance in the waive decision process (Default) <br/>&nbsp;
                '1' - Use the ending balance in the waive decision process
              example: '0'
            priorDeferredEndingThresholdAmount:
              maxLength: 20
              type: string
              description: This field identifies the balance threshold that the ending
                balance must be less than or equal to before interest is waived.
              example: $0.00
            priorDeferredPaidDateQualification:
              maxLength: 1
              type: string
              description: Code that indicates whether the date when the account or
                plan beginning balance is paid is used to qualify the account or plan
                to waive interest. <br/>The values are:<br/>&nbsp; '0' - Not used
                (Default) <br/>&nbsp; '1' - Beginning balance must be paid in full,
                or within variance, by grace day in order to waive interest <br/>&nbsp;
                '2' - Beginning balance must be paid in full, or within variance,
                by statement day in order to waive interest
              example: '0'
            isWaiveCurrentCycleInterestEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether current cycle interest should
                be waived or deferred if specific account conditions are met. <br/>The
                values are:<br/>&nbsp; '0' - Always bill deferred interest from the
                current cycle (Default) <br/>&nbsp; '1' - Waive current cycle interest
                if waive conditions are met <br/>&nbsp; '2' - Defer current cycle
                interest if defer conditions are met <br/>&nbsp; '3' - Defer current
                cycle interest unconditionally
              example: '0'
            isCurrentCycleNsfPaymentReversalEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether an NSF payment reversal should
                be considered in the decision to waive or defer interest for the current
                cycle. <br/>The values are:<br/>&nbsp; '0' - Do not allow NSF payment
                reversal; interest is not waived or deferred if an NSF payment reversal
                occurs (Default) <br/>&nbsp; '1' - Allow NSF payment reversals
              example: '0'
            currentCycleInterestBalanceIndicator:
              maxLength: 1
              type: string
              description: Code that indicates whether an account or plan beginning
                balance is used in the interest disposition decisions. <br/>The values
                are:<br/>&nbsp; '0' - Account or plan balance is not considered (Default)
                <br/>&nbsp; '1' - Account balance is considered
              example: '0'
            isCurrentCycleBeginBalanceEnabled:
              maxLength: 1
              type: string
              description: This field identifies whether the beginning balance is
                considered in the decision to waive or defer interest. <br/>The values
                are:<br/>&nbsp; '0' - Do not use the beginning balance in the waive
                or defer decision process (Default) <br/>&nbsp; '1' - Use the beginning
                balance in the waive or defer decision process
              example: '0'
            currentCycleBeginningThresholdAmount:
              maxLength: 20
              type: string
              description: This field identifies balance threshold that the beginning
                balance must be less than or equal to before interest is waived or
                deferred.
              example: $0.00
            isCurrentCycleEndingBalanceEnabled:
              maxLength: 1
              type: string
              description: This field identifies whether the ending balance is considered
                in the decision to waive or defer interest. <br/>The values are:<br/>&nbsp;
                '0' - Do not use the ending balance in the waive or defer decision
                process (Default) <br/>&nbsp; '1' - Use the ending balance in the
                waive or defer decision process
              example: '0'
            currentCycleEndingThresholdAmount:
              maxLength: 20
              type: string
              description: This field identifies the balance threshold that the ending
                balance must be less than or equal to before interest is deferred
                or waived.
              example: $0.00
            currentCyclePaidDateQualification:
              maxLength: 1
              type: string
              description: Code that indicates whether the date when the account or
                plan beginning balance is paid is used to qualify the account or plan
                to waive or defer current cycle interest. <br/>The values are:<br/>&nbsp;
                '0' - Not used (Default) <br/>&nbsp; '1' - Beginning balance must
                be paid in full, or within variance, by grace day in order to waive
                or defer interest <br/>&nbsp; '2' - Beginning balance must be paid
                in full, or within variance, by statement day in order to waive or
                defer interest
              example: '0'
            isWaivePriorCycleInterestEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether prior cycle interest should
                be waived if specific account conditions are met. <br/>The values
                are:<br/>&nbsp; '0' - Always bill prior cycle interest (Default) <br/>&nbsp;
                '1' - Waive prior cycle interest if waive conditions are met
              example: '0'
            isPriorCycleNsfPaymentReversalEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether an NSF payment reversal should
                be considered in the decision to waive interest for the prior cycle.
                <br/>The values are:<br/>&nbsp; '0' - Do not allow NSF payment reversal;
                interest is not waived if an NSF payment reversal occurs (Default)
                <br/>&nbsp; '1' - Allow NSF payment reversals
              example: '0'
            priorCycleInterestBalanceIndicator:
              maxLength: 1
              type: string
              description: 'Code that indicates whether an account or plan beginning
                balance is used in the interest disposition decisions. <br/>The values
                are:<br/>&nbsp; ''0'' - Account or plan balance is not considered
                (Default) <br/>&nbsp; ''1'' - Account balance is considered '
              example: '0'
            isPriorCycleBeginBalanceEnabled:
              maxLength: 1
              type: string
              description: This field identifies whether the beginning balance is
                considered in the decision to waive interest. <br/>The values are:<br/>&nbsp;
                '0' - Do not use the beginning balance in the waive decision process
                (Default) <br/>&nbsp; '1' - Use the beginning balance in the waive
                decision process
              example: '0'
            priorCycleBeginningThresholdAmount:
              maxLength: 20
              type: string
              description: This field identifies the balance threshold that the beginning
                balance must be less than or equal to before interest is waived.
              example: $0.00
            isPriorCycleEndingBalanceEnabled:
              maxLength: 1
              type: string
              description: This field identifies whether the ending balance is considered
                in the decision to waive interest. <br/>The values are:<br/>&nbsp;
                '0' - Do not use the ending balance in the waive decision process
                (Default) <br/>&nbsp; '1' - Use the ending balance in the waive decision
                process
              example: '0'
            priorCycleEndingThresholdAmount:
              maxLength: 20
              type: string
              description: The second part of the field is the balance threshold that
                the ending balance must be less than or equal to before interest is
                waived.
              example: $0.00
            isWaiveResidualInterestEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether residual interest should be
                waived if specific account conditions are met. <br/>The values are:<br/>&nbsp;
                '0' - Always bill residual interest (Default) <br/>&nbsp; '1' - Waive
                residual interest if waive conditions are met <br/>&nbsp; '2' - Defer
                residual interest
              example: '0'
            isResidualInterestNsfPaymentReversalEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether an NSF payment reversal should
                be considered in the decision to waive residual interest. <br/>The
                values are:<br/>&nbsp; '0' - Do not allow NSF payment reversal; interest
                is not waived if an NSF payment reversal occurs (Default) <br/>&nbsp;
                '1' - Allow NSF payment reversals
              example: '0'
            residualInterestBalanceIndicator:
              maxLength: 1
              type: string
              description: Code that indicates whether an account or plan beginning
                balance is used in the interest disposition decisions. <br/>The values
                are:<br/>&nbsp; '0' - Account or plan balance is not considered (Default)
                <br/>&nbsp; '1' - Account balance is considered <br/>&nbsp; '2' -
                Plan balance is considered
              example: '0'
            isResidualInterestBeginBalanceEnabled:
              maxLength: 1
              type: string
              description: This field identifies whether the beginning balance is
                considered in the decision to waive interest. <br/>The values are:<br/>&nbsp;
                '0' - Do not use the beginning balance in the waive decision process
                (Default) <br/>&nbsp; '1' - Use the beginning balance in the waive
                decision process
              example: '0'
            residualInterestBeginningThresholdAmount:
              maxLength: 20
              type: string
              description: This field identifies balance threshold that the beginning
                balance must be less than or equal to before interest is waived.
              example: $0.00
            isResidualInterestEndingBalanceEnabled:
              maxLength: 1
              type: string
              description: This field identifies whether the ending balance is considered
                in the decision to waive interest. <br/>The values are:<br/>&nbsp;
                '0' - Do not use the ending balance in the waive decision process
                (Default) <br/>&nbsp; '1' - Use the ending balance in the waive decision
                process
              example: '0'
            residualInterestEndingThresholdAmount:
              maxLength: 20
              type: string
              description: This field identifies balance threshold that the ending
                balance must be less than or equal to before interest is waived.
              example: $0.00
            priorCyclePaidDateQualification:
              maxLength: 1
              type: string
              description: Code that indicates whether the date when the account or
                plan beginning balance is paid is used to qualify the account or plan
                to waive prior cycle interest. <br/>The values are:<br/>&nbsp; '0'
                - Not used (Default) <br/>&nbsp; '1' - Beginning balance must be paid
                in full, or within variance, by grace day in order to waive interest
                <br/>&nbsp; '2' - Beginning balance must be paid in full, or within
                variance, by statement day in order to waive interest
              example: '0'
            residualInterestPaidDateQualification:
              maxLength: 1
              type: string
              description: Code that indicates whether the date when the account or
                plan beginning balance is paid is used to qualify the account or plan
                to waive residual interest. <br/>The values are:<br/>&nbsp; '0' -
                Not used (Default) <br/>&nbsp; '1' - Beginning balance must be paid
                in full, or within variance, by grace day in order to waive interest
                <br/>&nbsp; '2' - Beginning balance must be paid in full, or within
                variance, by statement day in order to waive interest
              example: '0'
    InquireProductResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 1-998.
          example: '1'
        productDescription:
          maxLength: 30
          type: string
          description: This filed is the description of the Product entity. This description
            enables you to identify the kind of accounts processed by this product.
          example: VISA CREDIT CONSUMER
        cardProductDisplay:
          maxLength: 1
          type: string
          description: Flag that indicates whether cards in this logo display a logo
            symbol for PLUS, Cirrus, or Maestro. <br/>The values are:<br/>&nbsp; '0'
            - No cards in this product display a PLUS, Cirrus, or Maestro product
            (Default) <br/>&nbsp; '1' - Cards in this product display a Cirrus symbol
            <br/>&nbsp; '2' - Cards in this product display a PLUS symbol <br/>&nbsp;
            '3' - Cards in this product display a Maestro symbol <br/>&nbsp; '4' -
            Cards in this product display both Cirrus and Maestro symbols <br/>&nbsp;
            '5' - Cards in this product display a Maestro symbol (chip cards only)
          example: '0'
        quarterlyAffiliateCardProduct:
          maxLength: 3
          type: string
          description: Code that indicates the card association card product. This
            field is required if the Product entity processes bankcard accounts (TYPE
            OF ACCOUNTS PROCESSED field is D, X, or Y) to identify the quarterly reporting
            classification or card product.
          example: V1
        isLoanFeatureEnabled:
          maxLength: 1
          type: string
          description: Flag that indicates whether the loans feature is active for
            the product. <br/>The values are:<br/>&nbsp; '0' - No, the loans feature
            is not active for this product (Default) <br/>&nbsp; '1' - Yes, the loans
            feature is active for this product
          example: '1'
        isPaymentHolidaysEnabled:
          maxLength: 1
          type: string
          description: Code that indicates whether manual skip payments are allowed
            for accounts in this product. <br/>The values are:<br/>&nbsp; 'N' - Skip
            payments are not allowed (Default) <br/>&nbsp; 'Y' - Skip payments are
            allowed
          example: Y
        isSameDayEmbossingEnabled:
          maxLength: 1
          type: string
          description: This flag indicates whether same-day embossing is allowed for
            accounts within this product. <br/>The values are:<br/>&nbsp; '0' - Same-day
            embossing is not allowed (Default) <br/>&nbsp; '1' - Same-day embossing
            is allowed
          example: '1'
        isChipOrPinCardEnabled:
          maxLength: 1
          type: string
          description: This flag identifies whether smart cards can be issued for
            cards in this product. <br/>The values are:<br/>&nbsp; '0' - No, smart
            cards cannot be issued for cards in this product (only magnetic-stripe
            cards allowed) (Default) <br/>&nbsp; '1' - Yes, smart cards can be issued
            for cards in this product (smart and magnetic-stripe cards allowed)
          example: '1'
        delinquencyAgeing:
          maxLength: 1
          type: string
          description: Code that specifies whethre delinquency aging occurs on payment
            due date or cycle date. <br/>The values are:<br/>&nbsp; 'D' - Age delinquency
            on payment due date (Default) <br/>&nbsp; 'S' - Age delinquency on cycle
            date
          example: D
        processingControlLevel:
          maxLength: 1
          type: string
          description: This is a flag which indicates the processing control level
            for accounts in this product. <br/>The values are:<br/>&nbsp; 'L' - Product
            <br/>&nbsp; 'O' - Business unit <br/>&nbsp; 'S' - System
          example: O
        isCollectionsEnabled:
          maxLength: 1
          type: string
          description: This flag indicates whether CTA is active. <br/>The values
            are:<br/>&nbsp; 'N' - CTA is not active <br/>&nbsp; 'Y' - CTA is active
            (Default)
          example: Y
        automaticAccountNumberGeneration:
          maxLength: 1
          type: string
          description: This flag indicates whether this product uses automatic account
            number and card number generation. <br/>The values are:<br/>&nbsp; 'N'
            - No, this product does not allow automatic number generation (Default)
            <br/>&nbsp; 'Y' - Yes, this product allows automatic number generation
            using the number generation table defined on Products  16-Account Generation
            Tables <br/>&nbsp; 'I' - Yes, this product allows automatic number generation
            using the Number Generation tables in SSC. When this field is I, CMS uses
            the ACCOUNT IDENTIFICATION and CARD IDENTIFICATION fields for the Account
            Base Segment number and card number, respectively
          example: I
        authAlerts:
          maxLength: 1
          type: string
          description: This flag indicates whether transaction authorization-based
            alerts functionality is active for the product and whether the cardholder
            is automatically enrolled for the alert. <br/>The values are:<br/>&nbsp;
            '0' - Transaction-based alerts functionality is not active (Default) <br/>&nbsp;
            '1' - Transaction-based alerts functionality is active and the cardholder
            to be manually enrolled <br/>&nbsp; '2' - Transaction-based alerts functionality
            is active and the cardholder to be automatically enrolled
          example: '0'
        isFalcon6Enabled:
          maxLength: 1
          type: string
          description: This is the flag that indicates whether the Falcon 6 interface
            is active for this product. <br/>The values are:<br/>&nbsp; '0' - The
            Falcon 6 interface is not active for this product (Default) <br/>&nbsp;
            '1' - The Falcon 6 interface is active for this product
          example: '0'
        isVipOverrideEnabled:
          maxLength: 1
          type: string
          description: This flag indicates if VIP override is active or not. <br/>The
            values are:<br/>&nbsp; 'Y' - Yes, VIP override active <br/>&nbsp; 'N'
            - No, VIP override not active
          example: N
        isSecureCodeEnabled:
          maxLength: 1
          type: string
          description: Flag that indicates whether the Connection Management System
            (CCM) is active. <br/>The values are:<br/>&nbsp; '0' - Secure Code is
            not active for this product (Default) <br/>&nbsp; '1' - Secure Code is
            active for this product
          example: '0'
        isLoyaltyManagementEnabled:
          maxLength: 1
          type: string
          description: This flag indicates if the Loyalty Management System (LMS)
            is active for this product. <br/>The values are:<br/>&nbsp; '0' - LMS
            is not active for this product (Default) <br/>&nbsp; '1' - LMS is active
            for this product
          example: '1'
        isDebitCardProcessEnabled:
          maxLength: 1
          type: string
          description: This flag indicates whether the online debit card processing
            feature is active for this product. <br/>The values are:<br/>&nbsp; '0'
            - No, debit card processing is not active (Default) <br/>&nbsp; '1' -
            Yes, debit card processing is active
          example: '0'
        isTokenizationServiceEnabled:
          maxLength: 1
          type: string
          description: This flag indicates whether the tokenization functionality
            is active for the product. <br/>The values are:<br/>&nbsp; '0' - No, the
[...]
