openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Product Management
paths:
  /v1/products/{productNumber}/cardControls:
    put:
      tags:
      - Product Management
      summary: Update Logo Card Controls
      description: This service is used to update the card controls at product level
        for the given product
      operationId: UpdateLogoCardControls
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record, the values are 001–998
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: productNumber
        in: path
        description: Product - This field is the Identification number of the Logo
          record
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLogoCardControlReqModel'
        required: true
      responses:
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLogoCardControlResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Logo Card Controls
      x-group-name: Product Management
  /v1/products/{productId}/cardControls:
    put:
      tags:
      - Product Management
      summary: Update Product Card Controls
      description: This service is used to update the card controls at product level
        for the given product.
      operationId: UpdateProductCardControls
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 001-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: productId
        in: path
        description: Unique identification number of the product associated with the
          organization. Valid values are 001-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductCardControlReqModel'
        required: true
      responses:
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProductCardControlResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Update Product Card Controls
      x-group-name: Product Management
  /v1/products/{productNumber}/details:
    get:
      tags:
      - Product Management
      summary: Inquire Product
      description: This service provides the details for a given product
      operationId: InquireProduct
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record, the values are 001–998
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: productNumber
        in: path
        description: Product - This field is the Identification number of the Logo
          record
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '001'
      responses:
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireProductResponseModel'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Product
      x-group-name: Product Management
  /v1/products/{productId}/serviceChargeDetails:
    get:
      tags:
      - Product Management
      summary: Inquire Service Charge Table
      description: This service provides various service fee details available in
        the system for a given Org, Product and table ID combination.
      operationId: InquireServiceChargeTable
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 001-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: productId
        in: path
        description: Unique identification number of the product associated with the
          organization. If the table is defined at organization level, populate this
          field as zeroes. For tables defined at product level, valid values are 001-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '0'
      - name: tableId
        in: query
        description: Identification number of the Service Charge/Fee table. The values
          are 001–998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '3'
      responses:
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireServiceChargeTableResponseModel'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Service Charge Table
      x-group-name: Product Management
  /v1/products/{productId}/interestTable:
    get:
      tags:
      - Product Management
      summary: Inquire Interest Table
      description: This service provides details of Interest Table. An Interest table
        identifies a set of parameters that system uses to calculate interest.
      operationId: InquireInterestTable
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: tableId
        in: query
        description: Identification number of the Interest table. The values are 001–998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '001'
      - name: businessUnit
        in: query
        description: Unique identification number associated with the organization.
          Valid values from 001-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: productId
        in: path
        description: Unique identification number of the product associated with the
          organization. If the table is defined at organization level, populate this
          field as zeroes. For tables defined at product level, valid values are 001-998.
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '0'
      responses:
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireInterestTableResponseModel'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Interest Table
      x-group-name: Product Management
  /v1/products/{planNumber}/planDetails:
    get:
      tags:
      - Product Management
      summary: Inquire Plan Master
      description: This service provides plan details for a given credit plan.
      operationId: InquirePlanMaster
      parameters:
      - name: Authorization
        in: header
        description: Token is used in token-based authentication to allow an application
          to access an API.
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6IlBPQ19OQUJfRGV2IiwiZmlyc3RWaXNpb25JZCI6IjAwMDAwQVVOQUIiLCJleHAiOjE3NTAzNTc4MDB9.qYzJ5krS5F1shsACN3qcVmpF7zOB8uhE28TvjI37aDAP3ZDMONm0947eRxnWo0AkBdmY6JMDtRH-hYpgEiTg_VrjlkimjeSjdJDEzjLoDgNqVV3bCqY-SuAczan2bJs58L3iXgUWKhj7f9ax9-SUfkFRwX4ELWHrnUA926c4Il-ISoH-g-t-yljLxAzg2Yb9n_8LgYGgvC-1g5ntmzLtpxq6JHCsJM7LCOwhE7tSfeqq9ie5FknUuQuCqFd9wTemDe_-BAzYCVzDLLbq_Ath3HTYoKP-hDRuJAVybizYRQ-YIclAz6OGg9JKrDmZHe3HEOb5U-gKLMf_Mpt4UprW4w
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record, the values are 001–998
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - name: planNumber
        in: path
        description: Plan Number - Identification number of the Credit Plan Master
          record. The values are 00001–99998. You can establish as many as 99,998
          Credit Plan Master records for each organization
        required: true
        schema:
          maximum: 99999
          maxLength: 5
          type: integer
          example: '10002'
      responses:
        '403':
          description: " \nThe request resource is forbidden for user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquirePlanMasterResponseModel'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      security:
      - Authorization: [
          ]
      x-proxy-name: Inquire Plan Master
      x-group-name: Product Management
components:
  schemas:
    UpdateLogoCardControlReqModel:
      type: object
      properties:
        OF18:
          type: object
          properties: &id002
            maximumAuthorizationLimitFrequency:
              maxLength: 1
              type: string
              description: Maximum Authorization Limit Frequency - This is a flag
                which indicates the frequency for the maximum authorization parameters.
                This frequency applies to the RETAIL PURCHASE AMOUNT to TRANSACTION
                LIMIT RETAIL fields
              example: '1'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
            atmCashAmount:
              maxLength: 17
              type: string
              description: ATM Cash Amount - Maximum amount in monetary units and
                subunits of ATM cash authorizations allowed for the frequency defined
                in the FREQ field
              example: '2000.0'
            atmCashNumber:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: ATM Cash Number - Maximum number of ATM cash authorizations
                allowed for the frequency defined in the FREQ field
              format: int32
              example: '5'
            transactionLimitAtm:
              maxLength: 17
              type: string
              description: Transaction Limit ATM - This is the Maximum authorization
                amount in monetary units and subunits for a single ATM transaction
              example: '100.0'
            otcCashAmount:
              maxLength: 17
              type: string
              description: OTC Cash Amount - Maximum amount in monetary units and
                subunits of ATM cash authorizations allowed for the frequency defined
                in the FREQ field
              example: '1500.0'
            otcCashNumber:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: OTC Cash Number - Maximum number of ATM cash authorizations
                allowed for the frequency defined in the FREQ field
              format: int32
              example: '6'
            transactionLimitOtc:
              maxLength: 17
              type: string
              description: Transaction Limit OTC - This is the Maximum authorization
                amount in monetary units and subunits for a single ATM transaction
              example: '200.0'
            retailPurchaseAmount:
              maxLength: 17
              type: string
              description: Retail Purchase Amount - Maximum amount in monetary units
                and subunits of retail authorizations allowed for the freqency defined
                in the FREQ field
              example: '100000.0'
            retailPurchaseNumber:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Retail Purchase Number - Maximum number of retail authorizations
                allowed for the frequency defined in the MAXIMUM AUTHORIZATION LIMIT
                FREQUENCY field
              format: int32
              example: '10'
            transactionLimitRetail:
              maxLength: 17
              type: string
              description: Transaction Limit Retail - This is the Maximum amount in
                monetary units and subunits for a single retail authorization
              example: '10000.0'
        OF19:
          type: object
          properties: &id003
            atmFlag:
              maxLength: 1
              type: string
              description: ATM Flag - Flag indicates ATM transactions are active or
                not
              example: Y
              enum:
              - Y
              - N
              - ' '
            posFlag:
              maxLength: 1
              type: string
              description: POS Flag - Flag indicates POS transactions are active or
                not
              example: Y
              enum:
              - Y
              - N
              - ' '
            ecomFlag:
              maxLength: 1
              type: string
              description: ECOM Flag - Flag indicates ECOM transactions are active
                or not
              example: '1'
              enum:
              - '1'
              - '0'
              - ' '
            motoFlag:
              maxLength: 1
              type: string
              description: MOTO Flag - Flag indicates MOTO transactions are active
                or not
              example: N
              enum:
              - Y
              - N
            intAtmPosFlag:
              maxLength: 1
              type: string
              description: International ATM POS Flag - Flag indicates International
                ATM, POS transactions are active or not
              example: N
              enum:
              - Y
              - N
        OF20:
          type: object
          properties: &id004
            yeartodateCountryRiskSpendLimitActive:
              maxLength: 1
              type: string
              description: Year-To-Date Country Risk Spending Limit Active - This
                is a flag that indicates whether a year-to-date spending limit for
                accounts initiating transactions in high-risk and non-high-risk countries
                is active
              example: '1'
              enum:
              - '0'
              - '1'
            yeartodateMaxAuthAmountHighRiskCountry:
              maxLength: 17
              type: string
              description: Year-To-Date Max Auth Amount High Risk Country - Maximum
                amount of authorizations in monetary units and subunits allowed for
                the cumulative year-to-date spending by an account in high-risk countries.
                Maximum amount of authorizations in monetary units and subunits allowed
                for the cumulative year-to-date spending by an account in high-risk
                countries
              example: '10000.0'
            yeartodateMaxAuthAmountOtherRiskCountry:
              maxLength: 17
              type: string
              description: Year-To-Date Max Auth Amount Other Risk Country - Maximum
                amount of authorizations in monetary units and subunits allowed for
                the cumulative year-to-date spending by an account in non-high-risk
                countries. Risk is designated by country code in the Financial Authorization
                System (FAS)
              example: '15000.0'
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        detail:
          type: string
          example: ''
        title:
          type: string
          example: ''
        instance:
          type: string
          example: ''
        source:
          type: string
          example: ''
        status:
          type: integer
          format: int32
          example: '0'
        invalid-params:
          type: array
          items:
            type: string
    UpdateLogoCardControlResponseModel:
      required:
      - businessUnit
      - productNumber
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Business Unit - Identification number associated with this
            Account Base Segment record, the values are 001–998
          format: int32
          example: '600'
        productNumber:
          maximum: 999
          maxLength: 3
          type: integer
          description: Product - This field is the Identification number of the Logo
            record
          format: int32
          example: '1'
        OF18:
          type: object
          properties: *id002
        OF19:
          type: object
          properties: *id003
        OF20:
          type: object
          properties: *id004
    UpdateProductCardControlReqModel:
      type: object
      properties:
        cardControlFields:
          type: object
          properties:
            maximumAuthorizationLimitFrequency:
              maxLength: 1
              type: string
              description: This is a flag which indicates the frequency for the maximum
                authorization parameters. This frequency applies to the RETAIL PURCHASE
                AMOUNT to SINGLE RETAIL TRANSACTION AMOUNT fields. <br/>The values
                are:<br/> &nbsp; '0' - Not used (default) <br/> &nbsp; '1' - Daily
                <br/> &nbsp; '2' - Cycle-to-date <br/> &nbsp; '3' - Year-to-date
              example: '1'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
            maximumAtmCashAuthorizationsAmount:
              maxLength: 17
              type: string
              description: Maximum amount in monetary units and subunits of ATM cash
                authorizations allowed for the frequency defined in the MAXIMUM AUTHORIZATION
                LIMIT FREQUENCY field.
              example: '2000.0'
            maximumAtmCashAuthorizationsCount:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Maximum number of ATM cash authorizations allowed for the
                frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              format: int32
              example: '5'
            maximumSingleAtmTransactionAmount:
              maxLength: 17
              type: string
              description: This is the Maximum authorization amount in monetary units
                and subunits for a single ATM transaction.
              example: '100.0'
            maximumOtcCashAuthorizationsAmount:
              maxLength: 17
              type: string
              description: Maximum amount in monetary units and subunits of over-the
                counter (OTC) cash authorizations allowed for the frequency defined
                in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              example: '1500.0'
            maximumOtcAuthorizationsCount:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Maximum number of OTC authorizations allowed for the frequency
                defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              format: int32
              example: '6'
            maximumSingleOtcCashAuthorizationAmount:
              maxLength: 17
              type: string
              description: This is the Maximum authorization amount in monetary units
                and subunits for a single OTC transaction.
              example: '200.0'
            maximumRetailAuthorizationsAmount:
              maxLength: 17
              type: string
              description: Maximum amount in monetary units and subunits of retail
                authorizations allowed for the freqency defined in the MAXIMUM AUTHORIZATION
                LIMIT FREQUENCY field.
              example: '100000.0'
            maximumRetailAuthorizationsCount:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Maximum number of retail authorizations allowed for the
                frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              format: int32
              example: '10'
            maximumSingleRetailAuthorizationAmount:
              maxLength: 17
              type: string
              description: This is the Maximum amount in monetary units and subunits
                for a single retail authorization.
              example: '10000.0'
        cardControlFlags:
          type: object
          properties:
            isAtmEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a ATM based transactions.
                <br/>The values are:<br/> &nbsp; 'Y' - ATM transactions Allowed <br/>
                &nbsp; 'N' - ATM transactions not Allowed
              example: Y
              enum:
              - N
              - Y
            isPosEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a POS based transaction for
                a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - POS transactions
                Allowed <br/> &nbsp; 'N' - POS transactions not Allowed
              example: Y
              enum:
              - N
              - Y
            isEcomEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable  ECOMM based transaction for
                a cardholder. <br/>The values are:<br/> &nbsp; '1' - ECOMM transactions
                Allowed <br/> &nbsp; '0' - ECOMM transactions not Allowed
              example: '1'
              enum:
              - '0'
              - '1'
            isMotoEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a Mobile based transactions.
                <br/>The values are:<br/> &nbsp; 'Y' - MOTO transactions Allowed <br/>
                &nbsp; 'N' - MOTO transactions not Allowed
              example: N
              enum:
              - Y
              - N
            isInternationalAtmPosEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable an international ATM or POS  based
                transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y'
                - International ATM or POS transactions Allowed <br/> &nbsp; 'N' -
                International ATM or POS transactions not Allowed
              example: N
              enum:
              - Y
              - N
            isCashBackEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable cashback at POS  transaction
                for a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - Cash Back
                transactions Allowed <br/> &nbsp; 'N' - Cash Back transactions not
                Allowed
              example: Y
              enum:
              - Y
              - N
            isPayWaveEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a Contactless or Paywave based
                transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y'
                - PayWave transactions Allowed <br/> &nbsp; 'N' - PayWave transactions
                not Allowed
              example: N
              enum:
              - Y
              - N
        yearToDateCountryRiskSpendLimits:
          type: object
          properties:
            isCountryRiskSpendLimitEnabled:
              maxLength: 1
              type: string
              description: This is a flag that indicates whether a year-to-date spending
                limit for accounts initiating transactions in high-risk and non-high-risk
                countries is active. <br/>The values are:<br/> &nbsp; '0' - Not Active
                <br/> &nbsp; '1' - Active
              example: '1'
              enum:
              - '0'
              - '1'
            highRiskCountryMaximumAuthAmount:
              maxLength: 17
              type: string
              description: Maximum amount of authorizations in monetary units and
                subunits allowed for the cumulative year-to-date spending by an account
                in high-risk countries. Maximum amount of authorizations in monetary
                units and subunits allowed for the cumulative year-to-date spending
                by an account in high-risk countries.
              example: '10000.0'
            otherRiskCountryMaximumAuthAmount:
              maxLength: 17
              type: string
              description: Maximum amount of authorizations in monetary units and
                subunits allowed for the cumulative year-to-date spending by an account
                in non-high-risk countries. Risk is designated by country code in
                the Financial Authorization System (FAS).
              example: '15000.0'
    UpdateProductCardControlResponseModel:
      required:
      - businessUnit
      - productId
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 001-998.
          format: int32
          example: '600'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 001-998.
          format: int32
          example: '1'
        cardControlFields:
          type: object
          properties:
            maximumAuthorizationLimitFrequency:
              maxLength: 1
              type: string
              description: This is a flag which indicates the frequency for the maximum
                authorization parameters. This frequency applies to the RETAIL PURCHASE
                AMOUNT to SINGLE RETAIL TRANSACTION AMOUNT fields. <br/>The values
                are:<br/> &nbsp; '0' - Not used (default) <br/> &nbsp; '1' - Daily
                <br/> &nbsp; '2' - Cycle-to-date <br/> &nbsp; '3' - Year-to-date
              example: '1'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
            maximumAtmCashAuthorizationsAmount:
              maxLength: 17
              type: string
              description: Maximum amount in monetary units and subunits of ATM cash
                authorizations allowed for the frequency defined in the MAXIMUM AUTHORIZATION
                LIMIT FREQUENCY field.
              example: '2000.0'
            maximumAtmCashAuthorizationsCount:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Maximum number of ATM cash authorizations allowed for the
                frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              format: int32
              example: '5'
            maximumSingleAtmTransactionAmount:
              maxLength: 17
              type: string
              description: This is the Maximum authorization amount in monetary units
                and subunits for a single ATM transaction.
              example: '100.0'
            maximumOtcCashAuthorizationsAmount:
              maxLength: 17
              type: string
              description: Maximum amount in monetary units and subunits of over-the
                counter (OTC) cash authorizations allowed for the frequency defined
                in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              example: '1500.0'
            maximumOtcAuthorizationsCount:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Maximum number of OTC authorizations allowed for the frequency
                defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              format: int32
              example: '6'
            maximumSingleOtcCashAuthorizationAmount:
              maxLength: 17
              type: string
              description: This is the Maximum authorization amount in monetary units
                and subunits for a single OTC transaction.
              example: '200.0'
            maximumRetailAuthorizationsAmount:
              maxLength: 17
              type: string
              description: Maximum amount in monetary units and subunits of retail
                authorizations allowed for the freqency defined in the MAXIMUM AUTHORIZATION
                LIMIT FREQUENCY field.
              example: '100000.0'
            maximumRetailAuthorizationsCount:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Maximum number of retail authorizations allowed for the
                frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY field.
              format: int32
              example: '10'
            maximumSingleRetailAuthorizationAmount:
              maxLength: 17
              type: string
              description: This is the Maximum amount in monetary units and subunits
                for a single retail authorization.
              example: '10000.0'
        cardControlFlags:
          type: object
          properties:
            isAtmEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a ATM based transactions.
                <br/>The values are:<br/> &nbsp; 'Y' - ATM transactions Allowed <br/>
                &nbsp; 'N' - ATM transactions not Allowed
              example: Y
              enum:
              - N
              - Y
            isPosEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a POS based transaction for
                a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - POS transactions
                Allowed <br/> &nbsp; 'N' - POS transactions not Allowed
              example: Y
              enum:
              - N
              - Y
            isEcomEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable  ECOMM based transaction for
                a cardholder. <br/>The values are:<br/> &nbsp; '1' - ECOMM transactions
                Allowed <br/> &nbsp; '0' - ECOMM transactions not Allowed
              example: '1'
              enum:
              - '0'
              - '1'
            isMotoEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a Mobile based transactions.
                <br/>The values are:<br/> &nbsp; 'Y' - MOTO transactions Allowed <br/>
                &nbsp; 'N' - MOTO transactions not Allowed
              example: N
              enum:
              - Y
              - N
            isInternationalAtmPosEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable an international ATM or POS  based
                transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y'
                - International ATM or POS transactions Allowed <br/> &nbsp; 'N' -
                International ATM or POS transactions not Allowed
              example: N
              enum:
              - Y
              - N
            isCashBackEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable cashback at POS  transaction
                for a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - Cash Back
                transactions Allowed <br/> &nbsp; 'N' - Cash Back transactions not
                Allowed
              example: Y
              enum:
              - Y
              - N
            isPayWaveEnabled:
              maxLength: 1
              type: string
              description: This is to enable or disable a Contactless or Paywave based
                transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y'
                - PayWave transactions Allowed <br/> &nbsp; 'N' - PayWave transactions
                not Allowed
              example: N
              enum:
              - Y
              - N
        yearToDateCountryRiskSpendLimits:
          type: object
          properties:
            isCountryRiskSpendLimitEnabled:
              maxLength: 1
              type: string
              description: This is a flag that indicates whether a year-to-date spending
                limit for accounts initiating transactions in high-risk and non-high-risk
                countries is active. <br/>The values are:<br/> &nbsp; '0' - Not Active
                <br/> &nbsp; '1' - Active
              example: '1'
              enum:
              - '0'
              - '1'
            highRiskCountryMaximumAuthAmount:
              maxLength: 17
              type: string
              description: Maximum amount of authorizations in monetary units and
                subunits allowed for the cumulative year-to-date spending by an account
                in high-risk countries. Maximum amount of authorizations in monetary
                units and subunits allowed for the cumulative year-to-date spending
                by an account in high-risk countries.
              example: '10000.0'
            otherRiskCountryMaximumAuthAmount:
              maxLength: 17
              type: string
              description: Maximum amount of authorizations in monetary units and
                subunits allowed for the cumulative year-to-date spending by an account
                in non-high-risk countries. Risk is designated by country code in
                the Financial Authorization System (FAS).
              example: '15000.0'
    InquireProductResponseModel:
      required:
      - businessUnit
      - productNumber
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Business Unit - Identification number associated with this
            Account Base Segment record, the values are 001–998
          format: int32
          example: '600'
        productNumber:
          maximum: 999
          maxLength: 3
          type: integer
          description: Product - This field is the Identification number of the Logo
            record
          format: int32
          example: '1'
        productDescription:
          maxLength: 30
          type: string
          description: Product Description - This filed is the description of the
            Logo record. This description enables you to identify the kind of accounts
            processed by this product
          example: VISA CREDIT CONSUMER
        cardProductDisplay:
          maxLength: 1
          type: string
          description: Card Product Display - Flag that indicates whether cards in
            this logo display a logo symbol for PLUS, Cirrus, or Maestro
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        quarterlyAffiliateCardProduct:
          maxLength: 3
          type: string
          description: Quaterly Affilicate Card Product - Code that indicates the
            card association card product. This field is required if the Logo record
            processes bankcard accounts (TYPE OF ACCOUNTS PROCESSED field is D, X,
            or Y) to identify the quarterly reporting classification or card product
          example: V1
        loanFeatureActive:
          maxLength: 1
          type: string
          description: Loan Feature Active - Flag that indicates whether the loans
            feature is active for the product
          example: '1'
          enum:
          - '0'
          - '1'
        paymentHolidaysAllowed:
          maxLength: 1
          type: string
          description: Payment Holidays Allowed - Code that indicates whether manual
            skip payments are allowed for accounts in this product
          example: Y
          enum:
          - N
          - Y
        sameDayEmbossingAllowed:
          maxLength: 1
          type: string
          description: Same Day Embossing Allowed -  This flag indicates whether same-day
            embossing is allowed for accounts within this product
          example: '1'
          enum:
          - '0'
          - '1'
        chipPinCardAllowed:
          maxLength: 1
          type: string
          description: CHIP or PIN Card Allowed - This flag identifies whether smart
            cards can be issued for cards in this product
          example: '1'
          enum:
          - '0'
          - '1'
        delinquencyAgeing:
          maxLength: 1
          type: string
          description: Delinquency Ageing - Code that specifies whethre delinquency
            aging occurs on payment due date or cycle date
          example: D
          enum:
          - D
          - S
        processingControlLevel:
          maxLength: 1
          type: string
          description: Processing Control Level - This is a flag which indicates the
            processing control level for accounts in this product
          example: O
          enum:
          - S
          - O
          - L
        collectionsActive:
          maxLength: 1
          type: string
          description: Collections Active - This flag indicates whether CTA is active
          example: Y
          enum:
          - N
          - Y
        automaticAccountNumberGeneration:
          maxLength: 1
          type: string
          description: Automatic Account Number Generation - This flag indicates whether
            this product uses automatic account number and card number generation
          example: I
          enum:
          - Y
          - I
          - N
        authAlerts:
          maxLength: 1
          type: string
          description: Auth Alerts - This flag indicates whether transaction authorization-based
            alerts functionality is active for the product and whether the cardholder
            is automatically enrolled for the alert
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        falcon6Active:
          maxLength: 1
          type: string
          description: Falcon 6 Active - This is the flag that indicates whether the
            Falcon 6 interface is active for this product
          example: '0'
          enum:
          - '0'
          - '1'
        vipOverrideFlag:
          maxLength: 1
          type: string
          description: VIP override Flag - This flag indicates if VIP override is
            active or not
          example: N
          enum:
          - Y
          - N
        secureCodeActive:
          maxLength: 1
          type: string
          description: Secure Code Active - Flag that indicates whether the Connection
            Management System (CCM) is active
          example: '0'
          enum:
          - '0'
          - '1'
        loyaltyManagementActive:
          maxLength: 1
          type: string
          description: Loyalty Management Active - This flag indicates if the Loyalty
            Management System (LMS) is active for this product
          example: '1'
          enum:
          - '1'
          - '0'
        debitCardProcessActive:
          maxLength: 1
          type: string
          description: Debit Card Process Active - This flag indicates whether the
            online debit card processing feature is active for this product
          example: '0'
          enum:
          - '0'
          - '1'
        tokenizationServiceActive:
          maxLength: 1
          type: string
          description: Tokenization Service Active - This flag indicates whether the
            tokenization functionality is active for the product
          example: '1'
          enum:
          - '0'
          - '1'
        sameDayEmboss:
          maxLength: 1
          type: string
          description: Same Day Embossing - This flag indicates whether same-day embossing
            is allowed for the accounts within the product.
          example: '0'
          enum:
          - '0'
          - '1'
        manualPinResetAllowed:
          maxLength: 1
          type: string
          description: Manual PIN Reset Allowed - Flag that indicates whether the
            PIN try counter field on the Embosser record is allowed to be manually
            reset for accounts in this product
          example: '1'
          enum:
          - '0'
          - '1'
        cardActionTableActive:
          maxLength: 1
          type: string
          description: Card Action Table Active - This flag indicates whether the
            enhanced PIN and card warehousing functionality provided by the card action
            table is enabled
          example: '0'
          enum:
          - '0'
          - '1'
        defaultCardTechnology:
          maxLength: 1
          type: string
          description: Default Card Technology - Default Card Technology to be used
            during new account setup
          example: '3'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        scriptingActive:
          maxLength: 1
          type: string
          description: Scripting Active - This is a flag which indicates whether the
            smart card scripting functionality provided by CMS, FAS (Financial Authorization
            System), ESS (EMV Scripting System), and RIS is active for this product.
          example: '0'
          enum:
          - '0'
          - '1'
        sweepOptionAllowed:
          maxLength: 1
          type: string
          description: Sweep Option Allowed - This flag indicates whether sweep processing
            is allowed for this product
          example: '0'
          enum:
          - '0'
          - '1'
        crossBorder:
          maxLength: 1
          type: string
          description: Cross Border - This is the flag that indicates the alert setting
            for cross border transactions at the cardholder level
          example: '0'
          enum:
          - '0'
          - '1'
        creditLimitBypass:
          maxLength: 1
          type: string
          description: Credit Limit Bypass - This is the field that determines whether
            accounts belonging to this product will be excluded from an adaptive control
            system (ACS) credit limit review
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        approvedCardUse:
          maxLength: 1
          type: string
          description: Approved Card Use - This flag indicates if the cards that are
            assigned to accounts in this product are approved for local use only or
            international use
          example: '0'
          enum:
          - '0'
          - '1'
        newCardDefaultActive:
          maxLength: 1
          type: string
          description: New Card Default Active - Code that indicates whether the value
            in the ENHANCED PRODUCT field defaults to the Embosser records for new
            cards in this product
          example: '0'
          enum:
          - '0'
          - '1'
        enhancedProductsEligible:
          maxLength: 1
          type: string
          description: Enhanced Products Eligible - This flag indicates whether accounts
            in the product are eligible for an enhanced product
          example: '0'
          enum:
          - '0'
          - '1'
          - '4'
        virtualCardEdits:
          maxLength: 1
          type: string
          description: Virtual Card Edits - This flag indicates whether virtual card
            accounts are allowed for the product and whether FAS restricts card-present
            transactions for virtual card accounts
          example: ' '
          enum:
          - X
          - Y
          - ' '
        newCardPlastics:
          maxLength: 1
          type: string
          description: New Card Plastics - This flag indicates whether CMS generates
            a tape for embossing plastics for new accounts
          example: Y
          enum:
          - N
          - Y
          - B
          - F
        embossingFilesKeyType:
          maxLength: 1
          type: string
          description: Embosser Key Type - Key type for Embosser Files
          example: B
          enum:
          - B
          - E
          - F
          - G
          - H
          - ' '
        keyTypeForPinMailerFiles:
          maxLength: 1
          type: string
          description: PIN Mailer Key Type - Key type for PIN mailer
          example: B
          enum:
          - B
          - E
          - F
          - G
          - H
          - ' '
        pinMailerNameaddress:
          maxLength: 1
          type: string
          description: PIN Mailer Name/Address - determines the name and address to
            print on PIN mailer wthe PIN and card mailer
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        cardMailerNameaddress:
          maxLength: 1
          type: string
          description: Card Mailer Name/Address - determines the name and address
            to print on Card mailer
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        cardBureauFeedbackActive:
          maxLength: 1
          type: string
          description: Card Bureau Feedback Active - This flag indicates whether CMS
            uses the Card Bureau Feedback (ATAD) file to update the MAILER DATE field
            on the Embosser record
          example: '0'
          enum:
          - '0'
          - '1'
        pinMailerForCardAction:
          type: array
          items:
            $ref: '#/components/schemas/PinMailerForCardAction_InquireProductResponseModel'
        directDebitcreditActive:
          maxLength: 1
          type: string
          description: Direct Debit/Credit Active - Code that indicates whether direct
            debit and direct credit processing is active for accounts in this product
          example: N
          enum:
          - N
          - Y
          - A
        overlimitProcessingOptinIndicator:
          maxLength: 1
          type: string
          description: Overlimit Processing Opt-in Indicator - This field is a code
            that indicates whether the product participates in overlimit opt-in processing
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        openToBuyCreditBalance:
          maxLength: 1
          type: string
          description: Open to Buy Credit Balance - This field indicates whether CMS
            includes the credit balance, disputed amounts, and original loan amount
            when calculating the open-to-buy amount
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        includeDisputedAmounts:
          maxLength: 1
          type: string
          description: Include Disputed Amount - Code that indicates whether CMS includes
            disputed amounts in the open-to-buy (OTB) calculation of accounts
          example: '0'
          enum:
          - '0'
          - '1'
        stateOfResidenceId:
          maxLength: 3
          type: string
          description: Sate of Residence ID - Default Residence ID that identifies
            the state, province, or country in which the account holder resides
          example: SX1
        stateOfIssueId:
          maxLength: 3
          type: string
          description: State of Residence ID - This field identifies the state, province,
            or country where the account was issued
          example: SX1
        wspTokenEligible:
          maxLength: 1
          type: string
          description: 'WSP token Eligibility - This field is used to determine if
            a particular logo allows tokenization '
          example: '1'
          enum:
          - '0'
          - '1'
        typeOfAccountsProcessed:
          maxLength: 1
          type: string
          description: Type of Accounts Processed - This flag identifies the type
            of accounts processed by the product
          example: X
          enum:
          - R
          - L
          - P
          - B
          - C
          - D
          - Y
          - X
          - Z
        markUpFeeControls:
          type: object
          properties:
            markupIssuerActive:
              maxLength: 1
              type: string
              description: Markup Issuer Active - This is a flag that indicates whether
                the issuer-markup fee option is active for this product
              example: '0'
              enum:
              - '1'
              - '0'
            markupSchemeActive:
              maxLength: 1
              type: string
              description: Markup Scheme Active - This is a flag which indicates whether
                the scheme-markup fee option is active for this product
              example: '0'
              enum:
              - '1'
              - '0'
            markupUserDefinedActive:
              maxLength: 1
              type: string
              description: Markup User Defined Active - This is a flag which indicates
                whether the user-defined markup fee option is active for this product.
                When this option is active, CMS assesses user-defined markup fees
                on first presentments and reversals.
              example: '0'
              enum:
              - '1'
              - '0'
            markupActiveCreditFee:
              maxLength: 1
              type: string
              description: Markup Active Credit Fee - This is a flag which indicates
                whether the credit fee option is active for this product. When this
                option is active, the cardholder receives reimbursement for issuer
                and/or scheme fees on credit transactions
              example: '0'
              enum:
              - '1'
              - '0'
        cardActivationControls:
          type: object
          properties:
            newCardActivation:
              maxLength: 1
              type: string
              description: New Card Activation - This flag indicates whether to use
                card activation for new cards
              example: Y
            additionalCardActivation:
              maxLength: 1
              type: string
              description: Addtional Card Activation - This flag indicates whether
                to use card activation for additional cards
              example: Y
            reissueCardActivation:
              maxLength: 1
              type: string
              description: Reissue Card Activation - This flag indicates whether to
                use card activation for reissued cards
              example: Y
            replacementCardActivation:
              maxLength: 1
              type: string
              description: Replacement Card Activation - This flag indicates whether
                to use card activation for replacement cards
              example: Y
        paymentProcessingControls:
          type: object
          properties:
            applicationMethodForAr:
              maxLength: 1
              type: string
              description: Application Method for A/R - This Field determines the
                payment application method for accounts-receivable accounts which
                are non-charged-off accounts
              example: H
              enum:
              - B
              - C
              - D
              - H
              - P
              - K
              - L
              - U
              - M
              - N
              - O
            applicationMethodForPl:
              maxLength: 1
              type: string
              description: Application Method for P/L - This field determines the
                payment application method for profit-and-loss accounts, which are
                charged-off accounts
              example: D
              enum:
              - B
              - C
              - D
              - H
              - P
              - K
              - L
              - U
              - M
              - N
              - O
            prepaymentsAllowed:
              maxLength: 1
              type: string
              description: Prepayments Allowed - Code that indicates whether prepayments
                are allowed for accounts in this product
              example: '0'
              enum:
              - '0'
              - '2'
              - '1'
            paymentApplicationLevel:
              maxLength: 1
              type: string
              description: Payment Application Level - Code that indicates whether
                CMS applies payments to accounts with multiple credit plan segments
                by the plan priority defined on the Credit Plan Master record or the
                plan priority defined on the Logo record
              example: P
              enum:
              - P
              - L
    PinMailerForCardAction_InquireProductResponseModel:
      type: object
      properties:
        cardActions:
          maxLength: 1
          type: string
          description: Card Actions - This flag indicate the various card actions
            that use the enhanced PIN and card warehousing functionality when the
            card actions are initiated on the Embosser record
          example: '0'
        pinOptions:
          maxLength: 1
          type: string
          description: PIN Options - Code that indicates the action to be taken for
            enhanced PIN and card warehousing when the corresponding card action is
            processed
          example: '0'
    InquireServiceChargeTableResponseModel:
      required:
      - businessUnit
      - productId
      - tableId
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 001-998.
          format: int32
          example: '600'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. If the table is defined at organization level, populate
            this field as zeroes. For tables defined at product level, valid values
            are 001-998.
          format: int32
          example: '0'
        tableId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Identification number of the Service Charge/Fee table. The
            values are 001–998.
          format: int32
          example: '3'
        maximumCycleServiceFeeAmount:
          maxLength: 17
          type: string
          description: Maximum amount, in monetary units and subunits, of service
            charges to assess in one cycle. CMS will not assess a service charge unless
            this field is greater than zero.
          example: $99999.00
        serviceChargeDetails:
          type: array
          items:
            $ref: '#/components/schemas/ServiceChargeDetails_InquireServiceChargeTableResponseModel'
    ServiceChargeDetails_InquireServiceChargeTableResponseModel:
      type: object
      properties:
        initiatingTransactionCode:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Monetary transaction code that will trigger CMS to generate
            the service charge. The service charge posts to each plan that has activity
            identified by this transaction code.
          format: int32
          example: '1301'
        transactionLimitFrequency:
          maxLength: 1
          type: string
          description: Code that determines whether the TRANSACTION LIMIT number is
            a daily limit or cycle limit for the number of transactions assessed service
            charges by TIER 1 FEE AMOUNT. <br/>The values are:<br/>&nbsp; '0' - Daily
            limit <br/>&nbsp; '1' - Cycle limit
          example: '1'
          enum:
          - '0'
          - '1'
        transactionLimit:
          maximum: 99
          maxLength: 2
          type: integer
          description: Number of transactions to assess the service fee defined by
            FEE AMOUNT per day or cycle based on the TRANSACTION LIMIT FREQUENCY value.
            The values are 00–99.
          format: int32
          example: '3'
        tier1Fee:
          maxLength: 17
          type: string
          description: Fixed amount in monetary units and subunits or percentage of
            the transaction amount to assess for the service charge up to the number
            of transactions in the TRANSACTION LIMIT field, inclusive. If METHOD is
            1, enter a fixed amount. If METHOD is 2, enter a percentage. For a percentage,
            the first two positions must be zero.
          example: '100'
        tier2Fee:
          maxLength: 17
          type: string
          description: Fixed amount in monetary units and subunits or percentage of
            the transaction amount to assess for the service charge for transactions
            in excess of the number in the TRANSACTION LIMIT field. For a percentage,
            the first two positions must be zero.
          example: '500'
        method:
          maxLength: 1
          type: string
          description: Code that indicates how CMS calculates the service charge (Amount
            or Percentage). <br/>The values are:<br/>&nbsp; '1' - Amount (Default)
            <br/>&nbsp; '2' - Percentage
          example: '1'
          enum:
          - '1'
          - '2'
        singleFeeMinimumAmount:
          maximum: 999999999
          maxLength: 9
          type: integer
          description: Minimum amount in monetary units and subunits, of the service
            charge to assess. This amount must be less than the SINGLE FEE MAXIMUM
            AMOUNT.
          format: int32
          example: '0'
        singleFeeMaximumAmount:
          maximum: 999999999
          maxLength: 9
          type: integer
          description: Maximum amount in monetary units and subunits, of the service
            charge to assess. This amount must be greater than the SINGLE FEE MINIMUM
            AMOUNT.
          format: int32
          example: '999999999'
        feePostingFrequency:
          maxLength: 1
          type: string
          description: Code that indicates the frequency CMS posts the service charge
            to the account. <br/>The values are:<br/>&nbsp; '0' - Daily (Default)
            <br/>&nbsp; '1' - Cycle
          example: '1'
          enum:
          - '0'
          - '1'
        feeReverseTransactionCode:
          maximum: 9999
          maxLength: 4
          type: integer
          description: Monetary transaction code that will trigger CMS to generate
            a service charge fee reversal. If this value is zeroes, CMS does not automatically
            generate a service charge reversal transaction for a reversal transaction.
          format: int32
          example: '7474'
        feePlan:
          maxLength: 1
          type: string
          description: Code that indicates the plan to which the service fee is posted.
            <br/>The values are:<br/>&nbsp; '0' - Post fee to the same plan as the
            transaction triggering the fee (Default) <br/>&nbsp; '1' - Post fee to
            the default retail plan corresponding to the account <br/>&nbsp; '2' -
            Post fee to the default cash plan corresponding to the account <br/>&nbsp;
            '3' - Post fee to the default credit plan determined by the Service Charge/Fee
            table corresponding to account
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        dailyFeeDescription:
          maxLength: 40
          type: string
          description: Description of the transaction code. If FEE POSTING FREQUENCY
            is 0 (daily), this field is the description of the service charge that
            prints on account statements. If FEE POSTING FREQUENCY 1 (cycle), this
            field must be blank, CMS uses the universal service charge fee transaction
            code on Monetary Transaction controls and the description defined for
            the universal service charge fee transaction code on Monetary Transaction
            controls
          example: Service Fees
        maximumIndicator:
          maxLength: 1
          type: string
          description: Code that indicates whether the maximum amount (SINGLE FEE
            MAXIMUM AMOUNT) is applied as the daily fee maximum that can be assessed
            for the transaction code or as the maximum fee that any individual transaction
            can be assessed for the transaction code. <br/>The values are:<br/>&nbsp;
            '0' - Daily limit (Default) <br/>&nbsp; '1' - Individual fee limit <br/>&nbsp;
            '2' - Individual fee limit. The fee cannot exceed the amount of the triggering
            transaction
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
    InquireInterestTableResponseModel:
      required:
      - businessUnit
      - productId
      - tableId
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 001-998.
          format: int32
          example: '600'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. If the table is defined at organization level, populate
            this field as zeroes. For tables defined at product level, valid values
            are 001-998.
          format: int32
          example: '0'
        tableId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Identification number of the Interest table. The values are
            001–998.
          format: int32
          example: '1'
        tableName:
          maxLength: 40
          type: string
          description: This field indicates the Description of the Interest table.
          example: INTEREST RATE TABLE FOR CASH PLAN
        interestControls:
          type: object
          properties:
            interestRounding:
              maxLength: 1
              type: string
              description: Code that indicates the rounding method CMS uses to round
                or truncate interest calculations. <br/>The values are:<br/>&nbsp;
                '0' - Standard rounding. If the number that follows the last decimal
                in the currency is 1 to 4, CMS rounds down; if the number is 5 to
                9, CMS rounds up (Default) <br/>&nbsp; '1' - Always round up. If the
                number is 1 to 9, CMS rounds up <br/>&nbsp; '2' - Truncate. CMS does
                not round <br/>&nbsp; '3' - Round, no decimal. CMS rounds to the nearest
                whole monetary unit
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
            examineCycleInterestVariance:
              maxLength: 1
              type: string
              description: Code that indicates whether CMS examines the cycle interest
                variance field on the Product entity (EXAMINE CYCLE INTEREST VARIANCE
                on Products -> 14-Product Processing Additional) during disposition
                of interest at cycle. <br/>The values are:<br/>&nbsp; '0' - Do not
                use the cycle interest variance on the Product entity (Default) <br/>&nbsp;
                '1' - Verify that the payment is within the cycle interest variance
                defined on the Product entity
              example: '0'
              enum:
              - '0'
              - '1'
            allowNsfPaymentReversal:
              maxLength: 1
              type: string
              description: Code that indicates whether an NSF payment reversal should
                be considered in the interest waive decision. <br/>The values are:<br/>&nbsp;
                '0' - Do not allow NSF payment reversal; interest will not be waived
                if an NSF payment reversal occurred (Default) <br/>&nbsp; '1' - Allow
                NSF payment reversals if the net payments received satisfy the account
                or plan beginning balance
              example: '0'
              enum:
              - '0'
              - '1'
            ceilingLimits:
              type: object
              properties:
                floorRate1:
                  maxLength: 7
                  type: string
                  description: Minimum allowable interest rate for credit plans using
                    this Interest table. CMS uses this rate if the plan balance is
                    less than or equal to the value in the LMT 1 field.
                  example: 0.00000%
                ceilingRate1:
                  maxLength: 7
                  type: string
                  description: Maximum allowable interest rate for credit plans using
                    this Interest table if the plan balance is less than or equal
                    to the balance limit.
                  example: 99.99999%
                floorRate2:
                  maxLength: 7
                  type: string
                  description: Maximum allowable interest rate for credit plans using
                    this Interest table if the plan balance is greater than the balance
                    limit (BALANCE LIMIT).
                  example: 0.00000%
                ceilingRate2:
                  maxLength: 7
                  type: string
                  description: Minimum allowable interest rate for credit plans using
                    this Interest table. Regardless of the value of the rate index,
                    adjusted by the variance, the actual interest rate assessed for
                    credit plans using this Interest table will not fall below this
                    percentage.
                  example: 99.99999%
                balanceLimit:
                  maxLength: 17
                  type: string
                  description: Balance Limit - Balance limit for FLOOR RATE 1 and
                    CEILING RATE 1 in whole monetary amounts. If you are using both
                    FLOOR RATE 1-2 and CEILING RATE 1–2, the value of this field must
                    be greater than zero.
                  example: $0.00
        interestCalculationOptions:
          type: object
          properties:
            accrualMethod:
              maxLength: 1
              type: string
              description: Code that indicates the accrual method CMS uses for interest
                calculations. <br/>The values are:<br/>&nbsp; 'A' - Monthly accrual
                <br/>&nbsp; 'B' - Balance at end of cycle <br/>&nbsp; 'D' - Daily
                accrual (Default) <br/>&nbsp; 'E' - Monthly adjusted ending balance
              example: D
              enum:
              - D
              - B
              - A
              - E
            yearBase:
              maxLength: 1
              type: string
              description: Code that indicates the year base CMS uses for interest
                calculations. <br/>The values are:<br/>&nbsp; '0' - Actual 365 or
                366 days (Default) <br/>&nbsp; '1' - Fixed 365 days <br/>&nbsp; '2'
                - Fixed 360 days
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
            startInterestOnDebitTransaction:
              maxLength: 1
              type: string
              description: Code that indicates when interest calculations begin on
                debit transactions. <br/>The values are:<br/>&nbsp; 'S' - Cycle date
                (after billing) <br/>&nbsp; 'T' - Transaction date (effective date
                of the transaction) <br/>&nbsp; 'P' - Posting date of the transaction
                (Default) <br/>&nbsp; 'G' - Greater of the transaction date or the
                cycle date <br/>&nbsp; 'D' - Day after the payment due date
              example: P
              enum:
              - S
              - P
              - T
              - G
              - D
            startInterestOnCreditTransaction:
              maxLength: 1
              type: string
              description: Code that indicates when credit transactions affect the
                calculation of interest. <br/>The values are:<br/>&nbsp; 'T' - Transaction
                date (from the effective date of the transaction) <br/>&nbsp; 'P'
                - Posting date (from the posting date of the transaction) (Default)
              example: T
              enum:
              - P
              - T
            interestNextStatement:
              maxLength: 1
              type: string
              description: 'Code that indicates how CMS charges interest on new transactions
                posted in the current billing cycle. <br/>The values are:<br/>&nbsp;
                ''A'' - Waive all interest based on the account balance <br/>&nbsp;
                ''B'' - Rebate interest at the account level <br/>&nbsp; ''C'' - Use
                combined grace and cycle interest parameters on Interest Table ->
                03- Combined Grace & Cycle Interest Option <br/>&nbsp; ''D'' - Defer
                interest if a payment is posted prior to the cycle date <br/>&nbsp;
                ''G'' - Accrue and defer interest on new purchase transactions <br/>&nbsp;
                ''L'' - Accrue and defer interest on new purchase transactions <br/>&nbsp;
                ''M'' - Residual interest <br/>&nbsp; ''N'' - Do not charge interest
                (Default) <br/>&nbsp; ''P'' - Waive all plan interest based on plan
                balance <br/>&nbsp; ''Q'' - Rebate interest at the plan level <br/>&nbsp;
                ''R'' - Residual interest <br/>&nbsp; ''S'' - Reserved for future
                user <br/>&nbsp; ''T'' - Interest on RECAPT transaction <br/>&nbsp;
                ''U'' - Charge interest unconditionally <br/>&nbsp; ''Y'' - Charge
                interest <br/>&nbsp; ''Z'' - Interest on RECAPT zero balance '
              example: C
              enum:
              - N
              - G
              - R
              - L
              - M
              - Y
              - D
              - A
              - P
              - S
              - T
              - Z
              - B
              - Q
              - U
              - C
        interestRates:
          type: object
          properties:
            tierLimitIndicator:
              maxLength: 1
              type: string
              description: Code that indicates how to handle tier limits. <br/>The
                values are:<br/>&nbsp; '0' - Charge separate rate for balances within
                each limit <br/>&nbsp; '1' - Charge rate at highest limit in which
                balance falls (Default)
              example: '0'
              enum:
              - '1'
              - '0'
            rateType:
              maxLength: 1
              type: string
              description: Code that indicates the type of interest rate. <br/>The
                values are:<br/>&nbsp; 'F' - Fixed rate. The interest rate is the
                base rate <br/>&nbsp; 'T' - Tiered rate. The rate is determined based
                upon the balance limit <br/>&nbsp; 'U' - Tiered variable rate. The
                interest rate is determined by tiers with a variance applied <br/>&nbsp;
                'V' - Variable rate. The interest rate may have a variance applied
                <br/>&nbsp; 'Z' - Interest free
              example: F
              enum:
              - F
              - T
              - V
              - U
              - Z
            rateIndexTable:
              maxLength: 3
              type: string
              description: Code that identifies the rate index within the associated
                Rate Index Table that determines the base rate. <br/>The values are:<br/>&nbsp;
                '000' - Do not use a rate index <br/>&nbsp; '001' to '998' - Rate
                index number to use
              example: '006'
              enum:
              - '000'
              - 001 to 998
            rate7:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT7 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance7:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            limit7:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 7
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            rate8:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT8 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance8:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            limit8:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 8
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            rate9:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT9 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance9:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            rate1:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT1 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance1:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 8.99000%
            limit1:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 1
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $999,999,999,999,999.00
            rate2:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT2 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance2:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            limit2:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 2
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            rate3:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT3 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance3:
              maxLength: 7
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            limit3:
              maxLength: 17
              type: string
              description: Account balance limit for interest rates in the RATE 3
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            rate4:
              maxLength: 7
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT4 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            variance4:
              maxLength: 7
[...]
