openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Product Management
paths:
  /v1/products/{productNumber}/cardControls:
    put:
      tags:
      - Product Management
      summary: Update Logo Card Controls
      description: This service is used to update the card controls at product level
        for the given product
      operationId: UpdateLogoCardControls
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record, the values are 001–998
        required: true
        schema:
          maxLength: 3
          type: long
          example: 600
      - name: productNumber
        in: path
        description: Product - This field is the Identification number of the Logo
          record
        required: true
        schema:
          maxLength: 3
          type: long
          example: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLogoCardControlReqModel'
        required: true
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLogoCardControlResponseModel'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Update Logo Card Controls
      x-group-name: Product Management
  /v1/products/{productNumber}/details:
    get:
      tags:
      - Product Management
      summary: Inquire Product
      description: This service provides the details for a given product
      operationId: InquireProduct
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record, the values are 001–998
        required: true
        schema:
          maxLength: 3
          type: long
          example: 600
      - name: productNumber
        in: path
        description: Product - This field is the Identification number of the Logo
          record
        required: true
        schema:
          maxLength: 3
          type: long
          example: '001'
      responses:
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireProductResponseModel'
      x-proxy-name: Inquire Product
      x-group-name: Product Management
  /v1/products/{planNumber}/planDetails:
    get:
      tags:
      - Product Management
      summary: Inquire Plan Master
      description: This service provides plan details for a given credit plan.
      operationId: InquirePlanMaster
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record, the values are 001–998
        required: true
        schema:
          maxLength: 3
          type: long
          example: 600
      - name: planNumber
        in: path
        description: Plan Number - Identification number of the Credit Plan Master
          record. The values are 00001–99998. You can establish as many as 99,998
          Credit Plan Master records for each organization
        required: true
        schema:
          maxLength: 5
          type: long
          example: 10002
      responses:
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquirePlanMasterResponseModel'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Inquire Plan Master
      x-group-name: Product Management
components:
  schemas:
    Of18:
      type: object
      properties:
        maximumAuthorizationLimitFrequency:
          maxLength: 1
          type: string
          description: Maximum Authorization Limit Frequency - This is a flag which
            indicates the frequency for the maximum authorization parameters. This
            frequency applies to the RETAIL PURCHASE AMOUNT to TRANSACTION LIMIT RETAIL
            fields
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        atmCashAmount:
          maxLength: 17
          type: string
          description: ATM Cash Amount - Maximum amount in monetary units and subunits
            of ATM cash authorizations allowed for the frequency defined in the FREQ
            field
          example: '2000.0'
        atmCashNumber:
          maxLength: 9
          type: integer
          description: ATM Cash Number - Maximum number of ATM cash authorizations
            allowed for the frequency defined in the FREQ field
          format: int32
          example: '5'
        transactionLimitAtm:
          maxLength: 17
          type: string
          description: Transaction Limit ATM - This is the Maximum authorization amount
            in monetary units and subunits for a single ATM transaction
          example: '100.0'
        otcCashAmount:
          maxLength: 17
          type: string
          description: OTC Cash Amount - Maximum amount in monetary units and subunits
            of ATM cash authorizations allowed for the frequency defined in the FREQ
            field
          example: '1500.0'
        otcCashNumber:
          maxLength: 9
          type: integer
          description: OTC Cash Number - Maximum number of ATM cash authorizations
            allowed for the frequency defined in the FREQ field
          format: int32
          example: '6'
        transactionLimitOtc:
          maxLength: 17
          type: string
          description: Transaction Limit OTC - This is the Maximum authorization amount
            in monetary units and subunits for a single ATM transaction
          example: '200.0'
        retailPurchaseAmount:
          maxLength: 17
          type: string
          description: Retail Purchase Amount - Maximum amount in monetary units and
            subunits of retail authorizations allowed for the freqency defined in
            the FREQ field
          example: '100000.0'
        retailPurchaseNumber:
          maxLength: 9
          type: integer
          description: Retail Purchase Number - Maximum number of retail authorizations
            allowed for the frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY
            field
          format: int32
          example: '10'
        transactionLimitRetail:
          maxLength: 17
          type: string
          description: Transaction Limit Retail - This is the Maximum amount in monetary
            units and subunits for a single retail authorization
          example: '10000.0'
    Of19:
      type: object
      properties:
        atmFlag:
          maxLength: 1
          type: string
          description: ATM Flag - Flag indicates ATM transactions are active or not
          example: Y
          enum:
          - Y
          - N
          - ' '
        posFlag:
          maxLength: 1
          type: string
          description: POS Flag - Flag indicates POS transactions are active or not
          example: Y
          enum:
          - Y
          - N
          - ' '
        ecomFlag:
          maxLength: 1
          type: string
          description: ECOM Flag - Flag indicates ECOM transactions are active or
            not
          example: '1'
          enum:
          - '1'
          - '0'
          - ' '
        motoFlag:
          maxLength: 1
          type: string
          description: MOTO Flag - Flag indicates MOTO transactions are active or
            not
          example: N
          enum:
          - Y
          - N
        intAtmPosFlag:
          maxLength: 1
          type: string
          description: International ATM POS Flag - Flag indicates International ATM,
            POS transactions are active or not
          example: N
          enum:
          - Y
          - N
    Of20:
      type: object
      properties:
        yeartodateCountryRiskSpendLimitActive:
          maxLength: 1
          type: string
          description: Year-To-Date Country Risk Spending Limit Active - This is a
            flag that indicates whether a year-to-date spending limit for accounts
            initiating transactions in high-risk and non-high-risk countries is active
          example: '1'
          enum:
          - '0'
          - '1'
        yeartodateMaxAuthAmountHighRiskCountry:
          maxLength: 17
          type: string
          description: Year-To-Date Max Auth Amount High Risk Country - Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in high-risk countries. Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in high-risk countries
          example: '10000.0'
        yeartodateMaxAuthAmountOtherRiskCountry:
          maxLength: 17
          type: string
          description: Year-To-Date Max Auth Amount Other Risk Country - Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in non-high-risk countries. Risk is
            designated by country code in the Financial Authorization System (FAS)
          example: '15000.0'
    UpdateLogoCardControlReqModel:
      type: object
      properties:
        OF18:
          $ref: '#/components/schemas/Of18'
        OF19:
          $ref: '#/components/schemas/Of19'
        OF20:
          $ref: '#/components/schemas/Of20'
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        errorMessage:
          type: string
          example: ''
    UpdateLogoCardControlResponseModel:
      required:
      - businessUnit
      - productNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number associated with this
            Account Base Segment record, the values are 001–998
          format: int32
          example: '600'
        productNumber:
          maxLength: 3
          type: integer
          description: Product - This field is the Identification number of the Logo
            record
          format: int32
          example: '1'
        OF18:
          $ref: '#/components/schemas/Of18'
        OF19:
          $ref: '#/components/schemas/Of19'
        OF20:
          $ref: '#/components/schemas/Of20'
    CardActivationControlsRes:
      type: object
      properties:
        newCardActivation:
          maxLength: 1
          type: string
          description: New Card Activation - This flag indicates whether to use card
            activation for new cards
          example: Y
        additionalCardActivation:
          maxLength: 1
          type: string
          description: Addtional Card Activation - This flag indicates whether to
            use card activation for additional cards
          example: Y
        reissueCardActivation:
          maxLength: 1
          type: string
          description: Reissue Card Activation - This flag indicates whether to use
            card activation for reissued cards
          example: Y
        replacementCardActivation:
          maxLength: 1
          type: string
          description: Replacement Card Activation - This flag indicates whether to
            use card activation for replacement cards
          example: Y
    InquireProductResponseModel:
      required:
      - businessUnit
      - productNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number associated with this
            Account Base Segment record, the values are 001–998
          format: int32
          example: '600'
        productNumber:
          maxLength: 3
          type: integer
          description: Product - This field is the Identification number of the Logo
            record
          format: int32
          example: '1'
        productDescription:
          maxLength: 30
          type: string
          description: Product Description - This filed is the description of the
            Logo record. This description enables you to identify the kind of accounts
            processed by this product
          example: VISA CREDIT CONSUMER
        cardProductDisplay:
          maxLength: 1
          type: string
          description: Card Product Display - Flag that indicates whether cards in
            this logo display a logo symbol for PLUS, Cirrus, or Maestro
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        quarterlyAffiliateCardProduct:
          maxLength: 3
          type: string
          description: Quaterly Affilicate Card Product - Code that indicates the
            card association card product. This field is required if the Logo record
            processes bankcard accounts (TYPE OF ACCOUNTS PROCESSED field is D, X,
            or Y) to identify the quarterly reporting classification or card product
          example: V1
        loanFeatureActive:
          maxLength: 1
          type: string
          description: Loan Feature Active - Flag that indicates whether the loans
            feature is active for the product
          example: '1'
          enum:
          - '0'
          - '1'
        paymentHolidaysAllowed:
          maxLength: 1
          type: string
          description: Payment Holidays Allowed - Code that indicates whether manual
            skip payments are allowed for accounts in this product
          example: Y
          enum:
          - N
          - Y
        sameDayEmbossingAllowed:
          maxLength: 1
          type: string
          description: Same Day Embossing Allowed -  This flag indicates whether same-day
            embossing is allowed for accounts within this product
          example: '1'
          enum:
          - '0'
          - '1'
        chipPinCardAllowed:
          maxLength: 1
          type: string
          description: CHIP or PIN Card Allowed - This flag identifies whether smart
            cards can be issued for cards in this product
          example: '1'
          enum:
          - '0'
          - '1'
        delinquencyAgeing:
          maxLength: 1
          type: string
          description: Delinquency Ageing - Code that specifies whethre delinquency
            aging occurs on payment due date or cycle date
          example: D
          enum:
          - D
          - S
        processingControlLevel:
          maxLength: 1
          type: string
          description: Processing Control Level - This is a flag which indicates the
            processing control level for accounts in this product
          example: O
          enum:
          - S
          - O
          - L
        collectionsActive:
          maxLength: 1
          type: string
          description: Collections Active - This flag indicates whether CTA is active
          example: Y
          enum:
          - N
          - Y
        automaticAccountNumberGeneration:
          maxLength: 1
          type: string
          description: Automatic Account Number Generation - This flag indicates whether
            this product uses automatic account number and card number generation
          example: I
          enum:
          - Y
          - I
          - N
        authAlerts:
          maxLength: 1
          type: string
          description: Auth Alerts - This flag indicates whether transaction authorization-based
            alerts functionality is active for the product and whether the cardholder
            is automatically enrolled for the alert
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        falcon6Active:
          maxLength: 1
          type: string
          description: Falcon 6 Active - This is the flag that indicates whether the
            Falcon 6 interface is active for this product
          example: '0'
          enum:
          - '0'
          - '1'
        vipOverrideFlag:
          maxLength: 1
          type: string
          description: VIP override Flag - This flag indicates if VIP override is
            active or not
          example: N
          enum:
          - Y
          - N
        secureCodeActive:
          maxLength: 1
          type: string
          description: Secure Code Active - Flag that indicates whether the Connection
            Management System (CCM) is active
          example: '0'
          enum:
          - '0'
          - '1'
        loyaltyManagementActive:
          maxLength: 1
          type: string
          description: Loyalty Management Active - This flag indicates if the Loyalty
            Management System (LMS) is active for this product
          example: '1'
          enum:
          - '1'
          - '0'
        debitCardProcessActive:
          maxLength: 1
          type: string
          description: Debit Card Process Active - This flag indicates whether the
            online debit card processing feature is active for this product
          example: '0'
          enum:
          - '0'
          - '1'
        tokenizationServiceActive:
          maxLength: 1
          type: string
          description: Tokenization Service Active - This flag indicates whether the
            tokenization functionality is active for the product
          example: '1'
          enum:
          - '0'
          - '1'
        sameDayEmboss:
          maxLength: 1
          type: string
          description: Same Day Embossing - This flag indicates whether same-day embossing
            is allowed for the accounts within the product.
          example: '0'
          enum:
          - '0'
          - '1'
        manualPinResetAllowed:
          maxLength: 1
          type: string
          description: Manual PIN Reset Allowed - Flag that indicates whether the
            PIN try counter field on the Embosser record is allowed to be manually
            reset for accounts in this product
          example: '1'
          enum:
          - '0'
          - '1'
        cardActionTableActive:
          maxLength: 1
          type: string
          description: Card Action Table Active - This flag indicates whether the
            enhanced PIN and card warehousing functionality provided by the card action
            table is enabled
          example: '0'
          enum:
          - '0'
          - '1'
        defaultCardTechnology:
          maxLength: 1
          type: string
          description: Default Card Technology - Default Card Technology to be used
            during new account setup
          example: '3'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        scriptingActive:
          maxLength: 1
          type: string
          description: Scripting Active - This is a flag which indicates whether the
            smart card scripting functionality provided by CMS, FAS (Financial Authorization
            System), ESS (EMV Scripting System), and RIS is active for this product.
          example: '0'
          enum:
          - '0'
          - '1'
        sweepOptionAllowed:
          maxLength: 1
          type: string
          description: Sweep Option Allowed - This flag indicates whether sweep processing
            is allowed for this product
          example: '0'
          enum:
          - '0'
          - '1'
        crossBorder:
          maxLength: 1
          type: string
          description: Cross Border - This is the flag that indicates the alert setting
            for cross border transactions at the cardholder level
          example: '0'
          enum:
          - '0'
          - '1'
        creditLimitBypass:
          maxLength: 1
          type: string
          description: Credit Limit Bypass - This is the field that determines whether
            accounts belonging to this product will be excluded from an adaptive control
            system (ACS) credit limit review
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        approvedCardUse:
          maxLength: 1
          type: string
          description: Approved Card Use - This flag indicates if the cards that are
            assigned to accounts in this product are approved for local use only or
            international use
          example: '0'
          enum:
          - '0'
          - '1'
        newCardDefaultActive:
          maxLength: 1
          type: string
          description: New Card Default Active - Code that indicates whether the value
            in the ENHANCED PRODUCT field defaults to the Embosser records for new
            cards in this product
          example: '0'
          enum:
          - '0'
          - '1'
        enhancedProductsEligible:
          maxLength: 1
          type: string
          description: Enhanced Products Eligible - This flag indicates whether accounts
            in the product are eligible for an enhanced product
          example: '0'
          enum:
          - '0'
          - '1'
          - '4'
        virtualCardEdits:
          maxLength: 1
          type: string
          description: Virtual Card Edits - This flag indicates whether virtual card
            accounts are allowed for the product and whether FAS restricts card-present
            transactions for virtual card accounts
          example: ''
          enum:
          - X
          - Y
          - ' '
        newCardPlastics:
          maxLength: 1
          type: string
          description: New Card Plastics - This flag indicates whether CMS generates
            a tape for embossing plastics for new accounts
          example: Y
          enum:
          - N
          - Y
          - B
          - F
        embossingFilesKeyType:
          maxLength: 1
          type: string
          description: Embosser Key Type - Key type for Embosser Files
          example: B
          enum:
          - B
          - E
          - F
          - G
          - H
          - ' '
        keyTypeForPinMailerFiles:
          maxLength: 1
          type: string
          description: PIN Mailer Key Type - Key type for PIN mailer
          example: B
          enum:
          - B
          - E
          - F
          - G
          - H
          - ' '
        pinMailerNameaddress:
          maxLength: 1
          type: string
          description: PIN Mailer Name/Address - determines the name and address to
            print on PIN mailer wthe PIN and card mailer
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        cardMailerNameaddress:
          maxLength: 1
          type: string
          description: Card Mailer Name/Address - determines the name and address
            to print on Card mailer
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        cardBureauFeedbackActive:
          maxLength: 1
          type: string
          description: Card Bureau Feedback Active - This flag indicates whether CMS
            uses the Card Bureau Feedback (ATAD) file to update the MAILER DATE field
            on the Embosser record
          example: '0'
          enum:
          - '0'
          - '1'
        pinMailerForCardActionRes:
          type: array
          items:
            $ref: '#/components/schemas/PinMailerForCardActionRes'
        directDebitcreditActive:
          maxLength: 1
          type: string
          description: Direct Debit/Credit Active - Code that indicates whether direct
            debit and direct credit processing is active for accounts in this product
          example: N
          enum:
          - N
          - Y
          - A
        overlimitProcessingOptinIndicator:
          maxLength: 1
          type: string
          description: Overlimit Processing Opt-in Indicator - This field is a code
            that indicates whether the product participates in overlimit opt-in processing
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        openToBuyCreditBalance:
          maxLength: 1
          type: string
          description: Open to Buy Credit Balance - This field indicates whether CMS
            includes the credit balance, disputed amounts, and original loan amount
            when calculating the open-to-buy amount
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        includeDisputedAmounts:
          maxLength: 1
          type: string
          description: Include Disputed Amount - Code that indicates whether CMS includes
            disputed amounts in the open-to-buy (OTB) calculation of accounts
          example: '0'
          enum:
          - ZERO
          - '1'
        stateOfResidenceId:
          maxLength: 3
          type: string
          description: Sate of Residence ID - Default Residence ID that identifies
            the state, province, or country in which the account holder resides
          example: SX1
        stateOfIssueId:
          maxLength: 3
          type: string
          description: State of Residence ID - This field identifies the state, province,
            or country where the account was issued
          example: SX1
        wspTokenEligible:
          maxLength: 1
          type: string
          description: 'WSP token Eligibility - This field is used to determine if
            a particular logo allows tokenization '
          example: '1'
          enum:
          - '0'
          - '1'
        typeOfAccountsProcessed:
          maxLength: 1
          type: string
          description: Type of Accounts Processed - This flag identifies the type
            of accounts processed by the product
          example: X
          enum:
          - R
          - L
          - P
          - B
          - C
          - D
          - Y
          - X
          - Z
        markUpFeeControlsRes:
          $ref: '#/components/schemas/MarkUpFeeControlsRes'
        cardActivationControlsRes:
          $ref: '#/components/schemas/CardActivationControlsRes'
        paymentProcessingControlsRes:
          $ref: '#/components/schemas/PaymentProcessingControlsRes'
    MarkUpFeeControlsRes:
      type: object
      properties:
        markupIssuerActive:
          maxLength: 1
          type: string
          description: Markup Issuer Active - This is a flag that indicates whether
            the issuer-markup fee option is active for this product
          example: '0'
          enum:
          - '1'
          - '0'
        markupSchemeActive:
          maxLength: 1
          type: string
          description: Markup Scheme Active - This is a flag which indicates whether
            the scheme-markup fee option is active for this product
          example: '0'
          enum:
          - '1'
          - '0'
        markupUserDefinedActive:
          maxLength: 1
          type: string
          description: Markup User Defined Active - This is a flag which indicates
            whether the user-defined markup fee option is active for this product.
            When this option is active, CMS assesses user-defined markup fees on first
            presentments and reversals.
          example: '0'
          enum:
          - '1'
          - '0'
        markupActiveCreditFee:
          maxLength: 1
          type: string
          description: Markup Active Credit Fee - This is a flag which indicates whether
            the credit fee option is active for this product. When this option is
            active, the cardholder receives reimbursement for issuer and/or scheme
            fees on credit transactions
          example: '0'
          enum:
          - '1'
          - '0'
    PaymentProcessingControlsRes:
      type: object
      properties:
        applicationMethodForAr:
          maxLength: 1
          type: string
          description: Application Method for A/R - This Field determines the payment
            application method for accounts-receivable accounts which are non-charged-off
            accounts
          example: H
          enum:
          - B
          - C
          - D
          - H
          - P
          - K
          - L
          - U
          - M
          - N
          - O
        applicationMethodForPl:
          maxLength: 1
          type: string
          description: Application Method for P/L - This field determines the payment
            application method for profit-and-loss accounts, which are charged-off
            accounts
          example: D
          enum:
          - B
          - C
          - D
          - H
          - P
          - K
          - L
          - U
          - M
          - N
          - O
        prepaymentsAllowed:
          maxLength: 1
          type: string
          description: Prepayments Allowed - Code that indicates whether prepayments
            are allowed for accounts in this product
          example: '0'
          enum:
          - '0'
          - '2'
          - '1'
        paymentApplicationLevel:
          maxLength: 1
          type: string
          description: Payment Application Level - Code that indicates whether CMS
            applies payments to accounts with multiple credit plan segments by the
            plan priority defined on the Credit Plan Master record or the plan priority
            defined on the Logo record
          example: P
          enum:
          - P
          - L
    PinMailerForCardActionRes:
      type: object
      properties:
        cardActions:
          maxLength: 1
          type: string
          description: Card Actions - This flag indicate the various card actions
            that use the enhanced PIN and card warehousing functionality when the
            card actions are initiated on the Embosser record
          example: '0'
        pinOptions:
          maxLength: 1
          type: string
          description: PIN Options - Code that indicates the action to be taken for
            enhanced PIN and card warehousing when the corresponding card action is
            processed
          example: '0'
    ConsolidatedDetailsRes:
      type: object
      properties:
        controllingCreditPlanMaster:
          maxLength: 5
          type: integer
          description: Controlling Credit Plan Master - Plan number of the Credit
            Plan Master record used for consolidated payment calculations
          format: int32
          example: '10003'
        consolidatedStatement:
          maxLength: 1
          type: string
          description: Consolidated Statement - Code that indicates whether CMS consolidates
            statements for credit plans assigned the same plan number
          example: Y
          enum:
          - N
          - Y
        consolidatedPayment:
          maxLength: 1
          type: string
          description: Consolidated Payment - Code that indicates whether CMS calculates
            a single (consolidated) payment amount for similar credit plan segments
            on an account
          example: Y
          enum:
          - N
          - R
          - B
          - Y
    InquirePlanMasterResponseModel:
      required:
      - businessUnit
      - planNumber
      type: object
      properties:
        businessUnit:
          maxLength: 3
          type: integer
          description: Business Unit - Identification number associated with this
            Account Base Segment record, the values are 001–998
          format: int32
          example: '600'
        planNumber:
          maxLength: 5
          type: integer
          description: Plan Number - Identification number of the Credit Plan Master
            record. The values are 00001–99998. You can establish as many as 99,998
            Credit Plan Master records for each organization
          format: int32
          example: '10002'
        description:
          maxLength: 30
          type: string
          description: Plan Description - Description of the Credit Plan Master record.
            This description defaults to the Credit Plan Segment records for credit
            plans associated with this Credit Plan Master record
          example: RETAIL PLAN
        planType:
          maxLength: 1
          type: string
          description: Plan Type - Code that identifies the type of credit plan. This
            value defaults to the Credit Plan Segment records for credit plans generated
            by the Credit Plan Master record
          example: R
          enum:
          - A
          - B
          - C
          - K
          - R
          - D
          - I
          - Y
          - T
          - L
        multipleSales:
          maxLength: 1
          type: string
          description: Multiple Sales Flag - Code that indicates whether each sales
            transaction associated with this Credit Plan Segment record generates
            a new Credit Plan Segment record or is added to an existing Credit Plan
            Segment record. The value in this field defaults to Credit Plan Segment
            records
          example: Y
          enum:
          - Y
          - N
          - I
          - C
        minimumPaymentCalculation:
          maxLength: 1
          type: string
          description: Payment Type - Code that indicates the method to calculate
            the minimum payment due for credit plans generated by this Credit Plan
            Master record
          example: T
          enum:
          - T
          - F
          - H
          - D
          - A
          - P
          - B
          - I
          - S
          - C
          - U
          - L
          - M
          - Q
          - R
          - E
          - G
          - W
          - K
        balanceTransferType:
          maxLength: 1
          type: string
          description: Balance Transfer - Code that indicates whether the Interest
            Table Override (ITO) that sets a special interest rate for balance transfer
            credit plans can be extended, not extended, or is in effect until a specific
            date
          example: N
          enum:
          - E
          - N
          - S
        graceBalanceQualification:
          maxLength: 1
          type: string
          description: Grace Balance Qualification - Field that determines the plan
            balances, or portions of plan balances, that CMS considers when qualifying
            an account for grace processing logic
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
        interestRateTableId:
          maxLength: 2
          type: string
          description: Interest Rate Table ID - Rate table occurrence indicator (RTOI)
            that identifies which one of the 12 interest tables on the Processing
            Control Table to assign to credit plans generated by this Credit Plan
            Master record
          example: '1'
          enum:
          - 01-12
        interestRateTableOverrideRes:
          $ref: '#/components/schemas/InterestRateTableOverrideRes'
        consolidatedDetailsRes:
          $ref: '#/components/schemas/ConsolidatedDetailsRes'
        promotionalPlanDetailsRes:
          $ref: '#/components/schemas/PromotionalPlanDetailsRes'
    InterestRateTableOverrideRes:
      type: object
      properties:
        interestRateTableOverride:
          maxLength: 3
          type: integer
          description: Interest Rate Table Override - Identification number of the
            Interest table used to calculate interest for credit plans generated by
            this Credit Plan Master record
          format: int32
          example: '1'
        itoExpirationDate:
          maxLength: 10
          type: string
          description: Interest Rate Table Oveeride Expiry Date - This field identifies
            a specific expiration date for the ITO, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the date format established on the System record (DATE FORMAT
            on System Controls)
          example: 15/08/2023
    PromotionalPlanDetailsRes:
      type: object
      properties:
        latePaymentCancelRoll:
          maxLength: 1
          type: string
          description: Late Payment Cancel Roll - Code that controls whether credit
            plans generated by this Credit Plan Master record roll over to another
            credit plan for contractual or recency delinquency or when a payment is
            not received by the payment due date or cycle date
          example: '1'
          enum:
          - '0'
          - '2'
          - '4'
          - '1'
          - '3'
          - '5'
          - '6'
        delinquencyLevelToCancel:
          maxLength: 1
          type: string
          description: Delinquency Level To Cancel - Contractual or recency delinquency
            level to cancel a deferred plan or ITO plan
          example: '6'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
        cancellationLetterId:
          maxLength: 3
          type: string
          description: Cancellation Letter ID - Code that identifies the letter in
            the CTA system or LTS system that is sent upon cancellation of a deferment
            or Interest Table Override (ITO)
          example: ''
        rollCancelledPlanToPlanId:
          maxLength: 5
          type: integer
          description: Roll Cancelled Plan To Plan ID - Number that identifies the
            Credit Plan Master record that generates the rollover credit plan upon
            cancellation of a deferment or Interest Table Override (ITO)
          format: int32
          example: '50002'
        cancelledPlanRollMethod:
          maxLength: 1
          type: string
          description: Cancelled Plan Roll Method - Code that indicates the method
            for rolling over a deferred or ITO credit plan that was canceled due to
            delinquency or a payment not received when due
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
        expirationRollover:
          maxLength: 1
          type: string
          description: Expiration Rollover - Code that controls rolling of this plan
            based on expiration of a deferred credit plan or an interest table override
            (ITO)
          example: '1'
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
        expirationLetter:
          maxLength: 3
          type: string
          description: Expiration Letter - Code that identifies the letter in the
            CTA system or LTS system that is sent upon expiration of a deferred credit
            plan
          example: EXP
        rollExpiredPlanToPlanId:
          maxLength: 5
          type: integer
          description: Roll Expired Plan To Plan ID - Number that identifies the Credit
            Plan Master record that generates the rollover credit plan upon expiration
            of a deferred credit plan
          format: int32
          example: '50001'
        expiredPlanRollMethod:
          maxLength: 1
          type: string
          description: Expired Plan Roll Method - Code that indicates the method for
            rolling over a deferred credit plan that has expired
          example: '0'
          enum:
          - '0'
          - '1'
          - '2'
