openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: User Management
paths:
  /v1/users/signOn:
    post:
      tags:
      - User Management
      summary: User Signon
      description: This service is used for user Signon
      operationId: UserSignon
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSignonReqModel'
        required: true
      responses:
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSignonResponseModel'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: User Signon
      x-group-name: User Management
  /v1/users/boardUser:
    post:
      tags:
      - User Management
      summary: This service is used to add new security sign-on records. A User Security
        Sign-on record, also referred to as a sign-on record, holds the details that
        determine a person’s access rights on the system
      description: This service is used to add new security sign-on records
      operationId: AddUser
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        required: true
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - name: X-Name
        in: header
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        required: true
        schema:
          maxLength: 20
          type: string
          example: 00000AUNAB
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUserReqModel'
        required: true
      responses:
        '404':
          description: " \nThe request resource does not exist"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '401':
          description: " \nThe request was unauthorized"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '500':
          description: " \nAn unexpected internal server error occurred"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '200':
          description: " \nSuccess"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserResponseModel'
        '504':
          description: " \nThe request timed out while waiting for a response"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '503':
          description: " \nThe service was unavailable"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
        '400':
          description: " \nThe request cannot be validated"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
      x-proxy-name: Add User
      x-group-name: User Management
components:
  schemas:
    UserSignonReqModel:
      required:
      - secret
      - securityName
      type: object
      properties:
        secret:
          maxLength: 512
          type: string
          description: Encrypted Data 1 - Password for signing on to the system
          example: A3CDCAE523A132FFAE3800958AC12AB7B62E0DA876C4C91A10C9AC4FF7DF18BF6940F5AEAF33BA381522594D03108CB7A8B46FF39BEE944A98DD26201F36ACFA71D15A875947741961188B661123BF507AB6A9D5E82BA5083D0DB98F54E6D857D9A5B4A48D2750A81A405563B656352230D9613D80F3A362867C1C59BBA09FFED3669DE30905631A4DD9DF68CA47F6E58A0987CCDECBEBD72229F8312684F7E3A5DBDB7E1F99690B7AD44A645EBA0D3BC5CD26F411E6FBED3F430BD2BA372118D934350A7BAC7DBD18BFDB54B3DEFCBC24A8C75768C3C9C766FE75AD3032BAFED6F886F02692DD1C38FF6088088069B281CFF12F745606F758932E83301878CA
        securityName:
          maxLength: 128
          type: string
          description: Security Name - Sign-on name assigned to the person signing
            on to the system
          example: 00001NABTEST5
    ResponseErrorMessageInfo:
      type: object
      properties:
        errorCode:
          type: string
          example: ''
        errorMessage:
          type: string
          example: ''
    UserSignonResponseModel:
      type: object
      properties:
        securityContext:
          maxLength: 20
          type: string
          description: Security Context - This field is the security context of the
            person signing on to the system
          example: '00004753153543545'
    AddUserReqModel:
      required:
      - businessUnitPrivilegeId
      - clientId
      - customerServiceBusinessUnit
      - dateToActivate
      - name
      - operatorId
      - servicePrivilegeGroupId
      - signonExpiryDate
      type: object
      properties:
        sourceGroupType:
          maxLength: 1
          type: string
          description: Source Group Type - Code that identifies the source group assigned
            to this User Security Sign-on record. Each source group defines a set
            of security parameters established by the processor in the Client Options
            record for your institution
          example: '2'
        dateToActivate:
          maxLength: 10
          type: string
          description: Date to Activate - Activation date of the User Security Sign-on
            record. The default value is zeros. The sign-on record cannot be used
            to sign on unless this field is a valid past or current date. This field
            enables a sign-on record to be added and assigned a future activation
            date so that the record is automatically active on that future date, The
            format is MMDDYYYY or DDMMYYYY depending on the date format established
            on the System record (DATE FORMAT on System Controls)
          example: 27/02/2022
        servicePrivilegeGroupId:
          maxLength: 8
          type: string
          description: Service Privilege Group - Name that identifies an existing
            service privilege group assigned to this User Security Sign-on record.
            This service privilege group determines the services that can be accessed
            by the person who signs on with this sign-on record
          example: CLTUSER
        customerServiceBusinessUnit:
          maxLength: 3
          type: number
          description: Customer Service Business Unit
          example: 100
        screenPrivilegeTableReq:
          $ref: '#/components/schemas/ScreenPrivilegeTableReq'
        signonExpiryDate:
          maxLength: 10
          type: string
          description: Sign-on Expiry Date - Expiration date of the User Security
            Sign-on record. The default value is zeros. The sign-on record cannot
            be used to sign on unless this field is a valid future date. On the expiration
            date, the system sets this field to zero. When this field is zero, signon
            attempts fail and are reported on the Security Violations Report (T130).
            This date must be changed to a valid future expiration date to enable
            the sign-on record to be used for signing on again, The format is MMDDYYYY
            or DDMMYYYY depending on the date format established on the System record
            (DATE FORMAT on System Controls)
          example: 31/12/2025
        operatorId:
          maxLength: 3
          type: string
          description: Operator ID - Rep id of Operator
          example: ABC
        userApplicationAccessReq:
          $ref: '#/components/schemas/UserApplicationAccessReq'
        clientId:
          maxLength: 5
          type: number
          description: Client ID - Identification number, referred to as Client ID,
            assigned to your institution by the processor
          example: 1
        name:
          maxLength: 15
          type: string
          description: Name - Sign-on name that the person assigned this User Security
            Signon record will use to sign on to the system. The sign-on name can
            consist of letters (A–Z), numbers (0–9), and embedded spaces, but not
            a leading space. When adding a new sign-on record, the sign-on name must
            be a unique name not already assigned to any existing User Security Sign-on
            records for your institution (client ID)
          example: NABTEST25
        businessUnitPrivilegeId:
          maxLength: 8
          type: string
          description: Business Unit Privilege ID - Name that identifies an existing
            organization privilege group assigned to this User Security Sign-on record.
            This organization privilege group determines the organizations that can
            be accessed by the person who signs on with this sign-on record. An organization
            privilege group assigned to a sign-on record must have the same client
            ID and security type as the sign-on record. Access rights to additional
            organizations can be included or excluded using the I/E and ORG fields,
            which are listed on this screen under the ORG INCLUDE/EXCLUDE heading
          example: CTLUSER
        businessUnitIncludeExcludeFlagReq:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlagReq'
        userServicePrivilegeReq:
          $ref: '#/components/schemas/UserServicePrivilegeReq'
        supervisorId:
          maxLength: 3
          type: string
          description: Supervisor ID
          example: ''
    BusinessUnitIncludeExcludeFlag10Req:
      type: object
      properties:
        businessUnit10:
          maxLength: 3
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ''
        inclusionExclusionFlag10:
          maxLength: 1
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    BusinessUnitIncludeExcludeFlag1Req:
      type: object
      properties:
        inclusionExclusionFlag1:
          maxLength: 1
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit1:
          maxLength: 3
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ''
    BusinessUnitIncludeExcludeFlag2Req:
      type: object
      properties:
        inclusionExclusionFlag2:
          maxLength: 1
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit2:
          maxLength: 3
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ''
    BusinessUnitIncludeExcludeFlag3Req:
      type: object
      properties:
        inclusionExclusionFlag3:
          maxLength: 1
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit3:
          maxLength: 3
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ''
    BusinessUnitIncludeExcludeFlag4Req:
      type: object
      properties:
        inclusionExclusionFlag4:
          maxLength: 1
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit4:
          maxLength: 3
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ''
    BusinessUnitIncludeExcludeFlag5Req:
      type: object
      properties:
        businessUnit5:
          maxLength: 3
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ''
        inclusionExclusionFlag5:
          maxLength: 1
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    BusinessUnitIncludeExcludeFlag6Req:
      type: object
      properties:
        businessUnit6:
          maxLength: 3
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ''
        inclusionExclusionFlag6:
          maxLength: 1
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    BusinessUnitIncludeExcludeFlag7Req:
      type: object
      properties:
        businessUnit7:
          maxLength: 3
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ''
        inclusionExclusionFlag7:
          maxLength: 1
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    BusinessUnitIncludeExcludeFlag8Req:
      type: object
      properties:
        businessUnit8:
          maxLength: 3
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ''
        inclusionExclusionFlag8:
          maxLength: 1
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    BusinessUnitIncludeExcludeFlag9Req:
      type: object
      properties:
        inclusionExclusionFlag9:
          maxLength: 1
          type: string
          description: Business Unit Inclusion Exclusion Flag - Code that indicates
            whether to include or exclude access rights to the organization number(s)
            listed in the corresponding ORG field, or to delete the organization number(s)
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        businessUnit9:
          maxLength: 3
          type: string
          description: Business Unit - Organization number assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this organization. Access rights to this organization
            are in addition to the access rights granted by the organization privilege
            group that is assigned to this sign-on record in the ORG PRIVILEGE field
          example: ''
    BusinessUnitIncludeExcludeFlagReq:
      type: object
      properties:
        businessUnitIncludeExcludeFlag4Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag4Req'
        businessUnitIncludeExcludeFlag5Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag5Req'
        businessUnitIncludeExcludeFlag6Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag6Req'
        businessUnitIncludeExcludeFlag7Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag7Req'
        businessUnitIncludeExcludeFlag3Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag3Req'
        businessUnitIncludeExcludeFlag8Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag8Req'
        businessUnitIncludeExcludeFlag9Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag9Req'
        businessUnitIncludeExcludeFlag1Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag1Req'
        businessUnitIncludeExcludeFlag10Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag10Req'
        businessUnitIncludeExcludeFlag2Req:
          $ref: '#/components/schemas/BusinessUnitIncludeExcludeFlag2Req'
    ScreenPrivilegeTable10Req:
      type: object
      properties:
        screenInclusionExclusionFlag10:
          maxLength: 1
          type: string
          description: Inclusion Exclusion Flag - Code that indicates whether to include
            or exclude access rights to the screen listed in the corresponding screen
            field
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        screenID10:
          maxLength: 4
          type: string
          description: Screen ID
          example: ''
        screenPage10:
          maxLength: 2
          type: string
          description: Screen Page
          example: ''
    ScreenPrivilegeTable1Req:
      type: object
      properties:
        screenPage1:
          maxLength: 2
          type: string
          description: Screen Page
          example: ''
        screenID1:
          maxLength: 4
          type: string
          description: Screen ID
          example: ''
        screenInclusionExclusionFlag1:
          maxLength: 1
          type: string
          description: Inclusion Exclusion Flag - Code that indicates whether to include
            or exclude access rights to the screen listed in the corresponding screen
            field
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    ScreenPrivilegeTable2Req:
      type: object
      properties:
        screenPage2:
          maxLength: 2
          type: string
          description: Screen Page
          example: ''
        screenID2:
          maxLength: 4
          type: string
          description: Screen ID
          example: ''
        screenInclusionExclusionFlag2:
          maxLength: 1
          type: string
          description: Inclusion Exclusion Flag - Code that indicates whether to include
            or exclude access rights to the screen listed in the corresponding screen
            field
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    ScreenPrivilegeTable3Req:
      type: object
      properties:
        screenPage3:
          maxLength: 2
          type: string
          description: Screen Page
          example: ''
        screenID3:
          maxLength: 4
          type: string
          description: Screen ID
          example: ''
        screenInclusionExclusionFlag3:
          maxLength: 1
          type: string
          description: Inclusion Exclusion Flag - Code that indicates whether to include
            or exclude access rights to the screen listed in the corresponding screen
            field
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    ScreenPrivilegeTable4Req:
      type: object
      properties:
        screenPage4:
          maxLength: 2
          type: string
          description: Screen Page
          example: ''
        screenID4:
          maxLength: 4
          type: string
          description: Screen ID
          example: ''
        screenInclusionExclusionFlag4:
          maxLength: 1
          type: string
          description: Inclusion Exclusion Flag - Code that indicates whether to include
            or exclude access rights to the screen listed in the corresponding screen
            field
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    ScreenPrivilegeTable5Req:
      type: object
      properties:
        screenPage5:
          maxLength: 2
          type: string
          description: Screen Page
          example: ''
        screenID5:
          maxLength: 4
          type: string
          description: Screen ID
          example: ''
        screenInclusionExclusionFlag5:
          maxLength: 1
          type: string
          description: Inclusion Exclusion Flag - Code that indicates whether to include
            or exclude access rights to the screen listed in the corresponding screen
            field
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    ScreenPrivilegeTable6Req:
      type: object
      properties:
        screenID6:
          maxLength: 4
          type: string
          description: Screen ID
          example: ''
        screenInclusionExclusionFlag6:
          maxLength: 1
          type: string
          description: Inclusion Exclusion Flag - Code that indicates whether to include
            or exclude access rights to the screen listed in the corresponding screen
            field
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        screenPage6:
          maxLength: 2
          type: string
          description: Screen Page
          example: ''
    ScreenPrivilegeTable7Req:
      type: object
      properties:
        screenInclusionExclusionFlag7:
          maxLength: 1
          type: string
          description: Inclusion Exclusion Flag - Code that indicates whether to include
            or exclude access rights to the screen listed in the corresponding screen
            field
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        screenPage7:
          maxLength: 2
          type: string
          description: Screen Page
          example: ''
        screenID7:
          maxLength: 4
          type: string
          description: Screen ID
          example: ''
    ScreenPrivilegeTable8Req:
      type: object
      properties:
        screenInclusionExclusionFlag8:
          maxLength: 1
          type: string
          description: Inclusion Exclusion Flag - Code that indicates whether to include
            or exclude access rights to the screen listed in the corresponding screen
            field
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        screenPage8:
          maxLength: 2
          type: string
          description: Screen Page
          example: ''
        screenID8:
          maxLength: 4
          type: string
          description: Screen ID
          example: ''
    ScreenPrivilegeTable9Req:
      type: object
      properties:
        screenPage9:
          maxLength: 2
          type: string
          description: Screen Page
          example: ''
        screenID9:
          maxLength: 4
          type: string
          description: Screen ID
          example: ''
        screenInclusionExclusionFlag9:
          maxLength: 1
          type: string
          description: Inclusion Exclusion Flag - Code that indicates whether to include
            or exclude access rights to the screen listed in the corresponding screen
            field
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    ScreenPrivilegeTableReq:
      type: object
      properties:
        screenPrivilegeTable8Req:
          $ref: '#/components/schemas/ScreenPrivilegeTable8Req'
        screenPrivilegeTable9Req:
          $ref: '#/components/schemas/ScreenPrivilegeTable9Req'
        screenPrivilegeTable10Req:
          $ref: '#/components/schemas/ScreenPrivilegeTable10Req'
        screenPrivilegeTable3Req:
          $ref: '#/components/schemas/ScreenPrivilegeTable3Req'
        screenPrivilegeTable4Req:
          $ref: '#/components/schemas/ScreenPrivilegeTable4Req'
        screenPrivilegeTable5Req:
          $ref: '#/components/schemas/ScreenPrivilegeTable5Req'
        screenPrivilegeTable7Req:
          $ref: '#/components/schemas/ScreenPrivilegeTable7Req'
        screenPrivilegeTable6Req:
          $ref: '#/components/schemas/ScreenPrivilegeTable6Req'
        screenPrivilegeTable1Req:
          $ref: '#/components/schemas/ScreenPrivilegeTable1Req'
        screenPrivilegeTable2Req:
          $ref: '#/components/schemas/ScreenPrivilegeTable2Req'
    UserApplicationAccess10Req:
      type: object
      properties:
        userCode10:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode10:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess11Req:
      type: object
      properties:
        userCode11:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode11:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess12Req:
      type: object
      properties:
        fieldSecurityCode12:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode12:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess13Req:
      type: object
      properties:
        userCode13:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode13:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess14Req:
      type: object
      properties:
        userCode14:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode14:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess15Req:
      type: object
      properties:
        userCode15:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode15:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess16Req:
      type: object
      properties:
        fieldSecurityCode16:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode16:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess17Req:
      type: object
      properties:
        fieldSecurityCode17:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode17:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess18Req:
      type: object
      properties:
        userCode18:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode18:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess19Req:
      type: object
      properties:
        userCode19:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode19:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess1Req:
      type: object
      properties:
        fieldSecurityCode1:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode1:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess20Req:
      type: object
      properties:
        userCode20:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode20:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess21Req:
      type: object
      properties:
        userCode21:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode21:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess22Req:
      type: object
      properties:
        userCode22:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode22:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess23Req:
      type: object
      properties:
        fieldSecurityCode23:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode23:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess24Req:
      type: object
      properties:
        userCode24:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode24:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess25Req:
      type: object
      properties:
        userCode25:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode25:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess26Req:
      type: object
      properties:
        userCode26:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode26:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess27Req:
      type: object
      properties:
        fieldSecurityCode27:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode27:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess28Req:
      type: object
      properties:
        fieldSecurityCode28:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode28:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess29Req:
      type: object
      properties:
        userCode29:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode29:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccess2Req:
      type: object
      properties:
        fieldSecurityCode2:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode2:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess30Req:
      type: object
      properties:
        fieldSecurityCode30:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode30:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess3Req:
      type: object
      properties:
        fieldSecurityCode3:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode3:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess4Req:
      type: object
      properties:
        fieldSecurityCode4:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode4:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess5Req:
      type: object
      properties:
        fieldSecurityCode5:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode5:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess6Req:
      type: object
      properties:
        fieldSecurityCode6:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode6:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess7Req:
      type: object
      properties:
        fieldSecurityCode7:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode7:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess8Req:
      type: object
      properties:
        fieldSecurityCode8:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
        userCode8:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
    UserApplicationAccess9Req:
      type: object
      properties:
        userCode9:
          maxLength: 1
          type: string
          description: User Code - User-defined code that provides access to custom
            code features within programs. The values are a letter (A–Z), a number
            (0–9), or space
          example: ''
        fieldSecurityCode9:
          maxLength: 1
          type: string
          description: Field Security Code - User-defined code that provides access
            to custom code features within programs or that identifies a Field Security
            record in the Credit Management System (CMS) and/or Merchant Bankcard
            System (MBS) applications. The values are a letter (A–Z), a number (0–9),
            or space
          example: ''
    UserApplicationAccessReq:
      type: object
      properties:
        userApplicationAccess15Req:
          $ref: '#/components/schemas/UserApplicationAccess15Req'
        userApplicationAccess16Req:
          $ref: '#/components/schemas/UserApplicationAccess16Req'
        userApplicationAccess17Req:
          $ref: '#/components/schemas/UserApplicationAccess17Req'
        userApplicationAccess18Req:
          $ref: '#/components/schemas/UserApplicationAccess18Req'
        userApplicationAccess13Req:
          $ref: '#/components/schemas/UserApplicationAccess13Req'
        userApplicationAccess14Req:
          $ref: '#/components/schemas/UserApplicationAccess14Req'
        userApplicationAccess1Req:
          $ref: '#/components/schemas/UserApplicationAccess1Req'
        userApplicationAccess2Req:
          $ref: '#/components/schemas/UserApplicationAccess2Req'
        userApplicationAccess19Req:
          $ref: '#/components/schemas/UserApplicationAccess19Req'
        userApplicationAccess20Req:
          $ref: '#/components/schemas/UserApplicationAccess20Req'
        userApplicationAccess21Req:
          $ref: '#/components/schemas/UserApplicationAccess21Req'
        userApplicationAccess22Req:
          $ref: '#/components/schemas/UserApplicationAccess22Req'
        userApplicationAccess4Req:
          $ref: '#/components/schemas/UserApplicationAccess4Req'
        userApplicationAccess26Req:
          $ref: '#/components/schemas/UserApplicationAccess26Req'
        userApplicationAccess5Req:
          $ref: '#/components/schemas/UserApplicationAccess5Req'
        userApplicationAccess27Req:
          $ref: '#/components/schemas/UserApplicationAccess27Req'
        userApplicationAccess6Req:
          $ref: '#/components/schemas/UserApplicationAccess6Req'
        userApplicationAccess28Req:
          $ref: '#/components/schemas/UserApplicationAccess28Req'
        userApplicationAccess7Req:
          $ref: '#/components/schemas/UserApplicationAccess7Req'
        userApplicationAccess29Req:
          $ref: '#/components/schemas/UserApplicationAccess29Req'
        userApplicationAccess23Req:
          $ref: '#/components/schemas/UserApplicationAccess23Req'
        userApplicationAccess24Req:
          $ref: '#/components/schemas/UserApplicationAccess24Req'
        userApplicationAccess3Req:
          $ref: '#/components/schemas/UserApplicationAccess3Req'
        userApplicationAccess25Req:
          $ref: '#/components/schemas/UserApplicationAccess25Req'
        userApplicationAccess12Req:
          $ref: '#/components/schemas/UserApplicationAccess12Req'
        userApplicationAccess8Req:
          $ref: '#/components/schemas/UserApplicationAccess8Req'
        userApplicationAccess30Req:
          $ref: '#/components/schemas/UserApplicationAccess30Req'
        userApplicationAccess9Req:
          $ref: '#/components/schemas/UserApplicationAccess9Req'
        userApplicationAccess10Req:
          $ref: '#/components/schemas/UserApplicationAccess10Req'
        userApplicationAccess11Req:
          $ref: '#/components/schemas/UserApplicationAccess11Req'
    UserServicePrivilege10Req:
      type: object
      properties:
        serviceInclusionExclusionflag10:
          maxLength: 1
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        serviceName10:
          maxLength: 30
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ''
        serviceVersion10:
          maxLength: 6
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ''
    UserServicePrivilege1Req:
      type: object
      properties:
        serviceVersion1:
          maxLength: 6
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ''
        serviceName1:
          maxLength: 30
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ''
        serviceInclusionExclusionflag1:
          maxLength: 1
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    UserServicePrivilege2Req:
      type: object
      properties:
        serviceName2:
          maxLength: 30
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ''
        serviceInclusionExclusionflag2:
          maxLength: 1
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        serviceVersion2:
          maxLength: 6
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ''
    UserServicePrivilege3Req:
      type: object
      properties:
        serviceInclusionExclusionflag3:
          maxLength: 1
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        serviceVersion3:
          maxLength: 6
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ''
        serviceName3:
          maxLength: 30
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ''
    UserServicePrivilege4Req:
      type: object
      properties:
        serviceVersion4:
          maxLength: 6
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ''
        serviceName4:
          maxLength: 30
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ''
        serviceInclusionExclusionflag4:
          maxLength: 1
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    UserServicePrivilege5Req:
      type: object
      properties:
        serviceVersion5:
          maxLength: 6
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ''
        serviceName5:
          maxLength: 30
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ''
        serviceInclusionExclusionflag5:
          maxLength: 1
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
    UserServicePrivilege6Req:
      type: object
      properties:
        serviceName6:
          maxLength: 30
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ''
        serviceInclusionExclusionflag6:
          maxLength: 1
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        serviceVersion6:
          maxLength: 6
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ''
    UserServicePrivilege7Req:
      type: object
      properties:
        serviceInclusionExclusionflag7:
          maxLength: 1
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        serviceVersion7:
          maxLength: 6
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ''
        serviceName7:
          maxLength: 30
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ''
    UserServicePrivilege8Req:
      type: object
      properties:
        serviceName8:
          maxLength: 30
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ''
        serviceInclusionExclusionflag8:
          maxLength: 1
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        serviceVersion8:
          maxLength: 6
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ''
    UserServicePrivilege9Req:
      type: object
      properties:
        serviceInclusionExclusionflag9:
          maxLength: 1
          type: string
          description: Service Inclusion Exclusion Flag - Code that indicates whether
            to include or exclude access rights to the service listed in the corresponding
            SERVICE NAME and VERSION fields, or to delete the service name and version
            from the list on this screen
          example: ''
          enum:
          - I
          - E
          - D
          - ' '
        serviceVersion9:
          maxLength: 6
          type: string
          description: Service Version - Service version assigned to this User Security
            Sign-on record. The service version in this field and the service name
            in the corresponding SERVICE NAME field must identify an existing service
            that was previously added by the processor
          example: ''
        serviceName9:
          maxLength: 30
          type: string
          description: Service Name - Service name assigned to this User Security
            Sign-on record. The corresponding I/E field indicates whether to include
            or exclude access rights to this service. Access rights to this service
            are in addition to the access rights granted by the service privilege
            group that is assigned to this sign-on record in the SERVICE PRIVILEGE
            field. The service name in this field and the service version in the corresponding
            VERSION field must identify an existing service that was previously added
            by the processor
          example: ''
    UserServicePrivilegeReq:
      type: object
      properties:
        userServicePrivilege6Req:
          $ref: '#/components/schemas/UserServicePrivilege6Req'
        userServicePrivilege7Req:
          $ref: '#/components/schemas/UserServicePrivilege7Req'
        userServicePrivilege8Req:
          $ref: '#/components/schemas/UserServicePrivilege8Req'
        userServicePrivilege9Req:
          $ref: '#/components/schemas/UserServicePrivilege9Req'
        userServicePrivilege1Req:
          $ref: '#/components/schemas/UserServicePrivilege1Req'
        userServicePrivilege3Req:
          $ref: '#/components/schemas/UserServicePrivilege3Req'
        userServicePrivilege4Req:
          $ref: '#/components/schemas/UserServicePrivilege4Req'
        userServicePrivilege5Req:
          $ref: '#/components/schemas/UserServicePrivilege5Req'
        userServicePrivilege10Req:
          $ref: '#/components/schemas/UserServicePrivilege10Req'
        userServicePrivilege2Req:
          $ref: '#/components/schemas/UserServicePrivilege2Req'
    AddUserResponseModel:
      type: object
